<!-- Files CSS -->
<style>
.container-fluid-files{
    background-color: #fff;
    margin: 2%;
    padding: 2%;
    outline: 2px dashed #9E9E9E;
    outline-offset:-20px;
}
.upload{
    margin-top: 0%;
    margin-bottom: 13%;
}
.success{
    visibility: hidden;
    margin-top: 15%;
}
.visible{
    visibility: visible;
    float: none !important;
     margin-left: 0% !important; 
}
.dragover{
    background-color: #5F7FAB;
    margin: 2%;
    padding: 2%;
    padding-bottom: 55%;
}
@media only screen and (min-width: 900px) {
    .dragover{
        padding-bottom: 40%;       
    }
}
.drop .info{
    display: none;
}
.drop .success{
    display: none;
}
.container-fluid-files .drop{
    outline: none;
    border: 2px;
}
.here{
    display: none;
    color: #fff;
    font-size: 20px;
    margin-top: 19%;
}
.drop .here{
    display: inline-block;
}
.progress1{
    margin-top: 3%;
}
.outline_none{
    outline: none;
}
.mt-2{
    margin-top: -0.5%;
}
#fileinput {
 display:none;
}
</style>
<!-- BEGIN PAGE HEADER-->
<div class="breadCrumb" ng-controller="activeController">
  <div class="row">
    <div class="col-md-6 ">
     <ul class="page-breadcrumb">
      <li>
        <i class="fa fa-file"></i>
        <a href="javascript:void(0);" tabindex="1" aria-label="bps ui"  translate class="removeCursor">Sidebar.bpsui</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <span translate class="removeCursor" tabindex="1" aria-label="files">Sidebar.upload</span>
      </li>
     </ul> 
    </div>
    <div class="col-md-6 headerVals">
      <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
    </div>
  </div>   
</div>
<div class="contentContainer">
    <div class="pageTitle">
        <div class="row">
            <div class="col-sm-12">
                <div class="title__container">
                    <h2 tabindex="1" aria-label="Upload" translate>Upload</h2> 
                </div>
            </div>
        </div>
    </div>
    <div class="row tab-content" style="margin:0;">
       <div style=" font-size: 14px;"  ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class="autoAdjustAlert bold animated bounce" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" ng-repeat="alert in alerts">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{alert.msg}}
        </div>
    </div>
    <!-- File Upload -->
    <div class="container-fluid-files text-center" ngf-drop="upload($file, $invalidFiles)"  ngf-drag-over-class="'dragover drop '" ngf-max-size="35MB" ng-class="{'outline_none': options === false}" >
        <!-- Upload success -->
        <div class="text-center success"  ng-class="{'visible' : success }" tabindex="1" aria-label="file uploaded successfully">
            File uploaded successfully!
        </div>
        <!-- Upload options -->
        <div class="upload text-center" ng-show="options" >
            <span class="here" tabindex="1" aria-label="drop file to upload">
                Drop file to upload
            </span>
            <span class="info">
                <h5 tabindex="1" aria-label="drop file here"><b>Drop file here</b></h5><br>
                or<br><br>
                <button type="file" class="btn btnStyle btn-sm" tabindex="1" aria-label="Select file" ngf-select="upload($file, $invalidFiles)" ngf-max-size="35MB"  ng-model="file2" ngf-model-invalid="errorFile" >
                    Select File
                </button>
            </span>
        </div>
        <!-- Upload progess -->
        <div class="upload text-center" ng-hide="options" tabindex="1" aria-label="uploading">
            Uploading <b>{{f.name}}</b><br>
            <div class="row progress1 text-center">
                <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-5 col-sm-offset-3 col-xs-5 col-xs-offset-3">
                    <div class="progress" ng-show="f.progress >= 0">
                        <div class="progress-bar outerCrcle " role="progressbar" tabindex="1" aria-valuenow="{{f.progress}}"    aria-valuemin="0" aria-valuemax="100" style="width:{{f.progress}}%" ngf-model-invalid="errorFile">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-2 col-xs-2 text-left mt-2">
                    <button ng-hide="cancelbtn"  tabindex="1" aria-label="cancel" class="btn btnStyle btn-sm" ng-click="cancel()">Cancel</button>
                </div>
            </div>
            <span ng-if="tfileK">{{tfileK}} KB</span>
            <span ng-if="tfileM">{{tfileM}} MB</span>
        </div>
    </div>
</div>