<style>
  .titlebox-w{
    width:100%;
    margin-bottom:0
  }
  .wid-30{
    width:30%;
  }
   .highlighted { font-weight: bold }
@media only screen and (max-width: 600px) {
 .sug-sty{
    background-color:white;
    min-width: 42%;
    cursor:pointer;
    max-height: 25%;
    overflow: auto;
     position: absolute;
  }
}
@media all and (max-width: 760px) and (min-width: 600px) {
 .sug-sty{
    background-color:white;
    min-width: 43%;
    cursor:pointer;
    max-height: 25%;
    overflow: auto;
     position: absolute;
  }
}
@media all and (max-width: 1100px) and (min-width: 760px) {
 .sug-sty{
    background-color:white;
    min-width: 30%;
    cursor:pointer;
    max-height: 25%;
    overflow: auto;
     position: absolute;
  }
}

.sug-sty{
    background-color:white;
    width: 19%;
    cursor:pointer;
    max-height: 25%;
    overflow: auto;
     position: absolute;
  }
 
  .sty-li{

    border:1px solid lightgray;
    padding:10px;
  }
  .pg-range{
    border-bottom:3px solid lightgray;
    padding:10px 10px 10px 10px;
    color:black !important;
  }
  .div-table{
    margin:0;
    overflow:auto;
    max-height:350px;
    padding-top:10px;
  }
  .margin-2{
    margin-top:2%;
  }
  .msg-sty{
    margin:0;
    text-align:center;
  }
  .padd-rl{
    padding-right:0%;
    padding-left:0%;
  }
  .marginzero{
    margin:0;
  }
  .paddzero{
    padding:0%
  }
  .clrblk{
    color:black !important
  }
  .bottom-10{
    padding-bottom:10%;
  }
  a{
    color:black;
    font-size: 14px;
  }
</style>
<div class="breadCrumb" ng-controller="activeController">
  <div class="row">
    <div class="col-md-6 ">
     <ul class="page-breadcrumb">
       <li>
         <i class="fa fa-file"></i>
         <a href="javascript:void(0);" tabindex="1" aria-label="bps ui"  translate class="removeCursor">Sidebar.bpsui</a>
         <i class="fa fa-angle-right"></i>
       </li>
       <li>
        <span translate class="removeCursor" tabindex="1" aria-label="report download">Sidebar.Reports</span>
      </li>
    </ul> 
  </div>
  <div class="col-md-6 headerVals">
    <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
  </div>
</div>   
</div>
<div class="contentContainer bottom-10">
  <div class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alert.msg}}
  </div>
 
  <div class="pageTitle alertWidthonResize">
   <div class="row">
    <div class="col-md-12">
      <div class="title__container">
       <h2 translate tabindex="1" aria-label="Report Download">Sidebar.Reports</h2>  
       <p translate></p>
        <h6 ng-if="searchEmpty" tabindex="1" aria-label="Back to all reports" ng-click="initial()"  class="cursorPointer">< Back to all reports</h6>
     </div>
   </div>
 </div>
</div>
<div>
</div>
<br/><br/>
<div class="portlet-title titlebox-w" >
  <div class="caption caption-md ProfileHeaderStyles">
    <i class="fa fa-file-pdf-o"></i>
    <span class="caption-subject bold" tabindex="1" aria-label="reports" translate>Reports</span>
  </div>
</div>
<div class="portlet-body">
  <div class="portlet-inner-box">
  <div class="col-lg-3 col-md-5 col-sm-6 col-xs-6 input-group">
    
    <input tabindex="1" aria-label="Search reports title" autocomplete="off" type="text"   ng-model="search" class="form-control" name="Search" placeholder="Search reports title" ng-keyup="searchTitle(search)">
    <span class="input-group-addon cursorPointer"  ng-click="searchReports(search)"><i class="glyphicon glyphicon-search"></i></span>
    
    </div>
      <ul ng-show="sugges&&search"   class="sug-sty" >
       <li class="sty-li" tabindex="1" aria-label="{{val.value}}"   ng-repeat="val in value" ng-click="selectValue(val.value)" ng-bind-html="val.value | highlight:search"></li>
     </ul>
  
  
      
  
  <div class="alert alert-warning margin-2" ng-if="!items.length" >
    <strong><h4 class="msg-sty" tabindex="1" aria-label="No Result were found on {{search}}" >No Result were found on <b>{{search}}</b></h4></strong>
  </div>
  <div class="row scrollableDiv table-responsivve div-table"  ng-if="items.length">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th class="cursorPointer" ng-repeat="thead in tableHead" ng-click="sorting(thead.FieldName)" tabindex="1" aria-label="{{thead.Label}} ">
          {{thead.Label}}   
          <span id="{{thead.FieldName}}_Icon" class=""></span>                  
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reports in items | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
        <td ng-repeat="thead in tableHead" ng-if="thead.FieldName!=''">
          <span  tabindex="1" aria-label="{{reports[thead.FieldName]}}">{{reports[thead.FieldName]}}</span>
        </td>
        <td>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padd-rl" >
           <form accept-charset="UTF-8" role="form" method="POST" action="{{BASEURL}}">
            <div class="form-group marginzero">
              <input class="form-control" name="FolioID" type="hidden" value="{{reports.FolioID +',pdf' }}">
            </div>
            <button tabindex="1" ng-disabled="!enablebtn" ng-style="!enablebtn ?{'opacity':'0.7','cursor': 'not-allowed'}: {'opacity':'','cursor': 'pointer'}" aria-label="pdf download" type="submit" class="cursorPointer" ng-click="refetch()"><i class="fa fa-download " aria-hidden="true"></i> <span >PDF</span></button>
          </form>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 paddzero" >
          <form accept-charset="UTF-8" role="form" method="POST" action="{{BASEURL}}">
            <div class="form-group marginzero">
              <input class="form-control" name="FolioID" type="hidden" value="{{reports.FolioID +',csv' }}">
            </div>
            <button ng-disabled="!enablebtn" ng-style="!enablebtn ? {'opacity':'0.7','cursor': 'not-allowed'}:{'opacity':'','cursor': 'pointer'}"   tabindex="1" aria-label="csv download" type="submit" class="cursorPointer" ng-click="refetch()" ><i class="fa fa-download " aria-hidden="true"></i> <span >CSV</span></button>
          </form>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-center clrblk" >
  <div class="pagination">
    <span ng-class="prevRangeDisabled()">
      <a href class="" tabindex="1" aria-label="previous page range" ng-click="prevRange()"><<</a>
    </span>
    <span ng-class="prevPageDisabled()">
      <a href class="" tabindex="1" aria-label="previous page" ng-click="prevPage()"><</a>
    </span>
    <span ng-repeat="n in range()"  class="pg-range"  ng-class="{active: n == currentPage}" ng-click="setPage(n)" ng-hide="n<0">
      <a href="" tabindex="1" aria-label="current page" ng-click="navigate(n+1)">{{n+1}}</a>
    </span>
    <span>
    </span>
    <span  ng-class="nextPageDisabled()">
      <a tabindex="1" aria-label="next page" ng-if="!hide" href class="" ng-click="nextPage()">></a>
    </span>
    <span ng-click="nextPageDisabled()">
      <a tabindex="1" aria-label="next page" ng-if="hide" href class="" ng-click="getmore();nextPage()">>
      </a>
    </span>
    <span ng-class="nextRangeDisabled()">
      <a href class="" tabindex="1" aria-label="next page range" ng-click="nextRange()">>></a>
    </span>
  </div>
</div>
</div>
</div>
</div>
</div>