<style type="text/css">
.clearBoth{
  clear:both;
}
  
input[type="checkbox"]{
    size: 200%;
}

.pad0{
    padding: 0% !important;
  }

.pad1{
    padding: 1% !important;
  }

.pad2{
    padding: 2% !important;
  }

.padtop1{
 padding-top: 1% !important;
}

.padrt0{
  padding-right: 0% !important;
}
  
.padtop2{
padding-top: 2% !important;
  }

.padbt1{
 padding-bottom:  1% !important;
}
.padbt2{
  padding-bottom: 2% !important;
}

.padleft3{
  padding-left:3%
}
.dbpad{
  padding-bottom: 7%;
}
.margin2{
  margin:2% !important;
}

.marginbt0{
  margin-bottom: 0% !important;
}

.mandatstar{
  color:#e02222;font-size:12px;
}
</style>

    <div class="breadCrumb" ng-controller="activeController">
      <div class="row">
        <div class="col-lg-6 col-md-6  ">
         <ul class="page-breadcrumb">     
           <li>
             <i class="fa fa-file"></i>
             <a href="javascript:void(0);" translate class="removeCursor" tabindex="1" aria-label="">Sidebar.bpsui</a>
             <i class="fa fa-angle-right"></i>
           </li>
           <li>
            <span translate class="removeCursor" tabindex="1" aria-label="">Sidebar.CreateRole</span>
          </li>
        </ul> 
      </div>
      <!--<div style="clear:both">    </div>-->
      <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
      </div>
    </div>   
  </div>
  <!-- create role -->
  <div ng-controller="createRoleCtrl">
    <div class="contentContainer" >
     <div class="pageTitle">
      <div class="col-sm-12 pad0" >
        <div class="title__container">
          <h2 translate  tabindex="1" aria-label="page title"> CreateRole.PageTitle</h2> 
          <p translate  tabindex="1" aria-label="page sub-title">CreateRole.SubTitle</p>
        </div>
      </div>
      <div class="clearBoth">
      </div>
    </div>
    <div class ="animated bounce  bold" ng-repeat="alert in alerts" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{alert.msg}}
    </div>
    <form ng-submit="saveRole(request)" >
      <div class="row">
        <div class="col-lg-12">
          <div class="portlet-title marginbt0" >
            <div class="caption caption-md ProfileHeaderStyles">
              <span class="caption-subject bold" translate  tabindex="1" aria-label="Role Name section">Role Name</span>
            </div>
          </div>
          <div class="portlet-body" >
            <div class="portlet-inner-box pad2" >
              <div class="row">
                <div class="col-lg-2 padtop1" >
                 <label class="control-label bold "  tabindex="1" aria-label="Role Name input label">Role Name <span class="mandatstar" aria-required="true">*</span></label>
               </div>
               <div class="col-lg-4">
                <input type="text" autocomplete="off" class="form-control"  placeholder="Enter Role " name="RoleName" ng-model="request.RoleName" required ng-disabled="(getOprtion != 'Edit')?false : true"  tabindex="1" aria-label="Enter role name">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div >
    <!-- Dashboard section -->
    <div class="row" >
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 padtop2">
       <div class="portlet-title" >
        <div class="caption caption-md ProfileHeaderStyles">
          <span class="caption-subject bold" translate  tabindex="1" aria-label="{{blocknames.Dashboard[0].label}} section heading">{{blocknames.Dashboard[0].label}}</span>
        </div>
        <div class="checkbox checkbox-primary pull-right">
         <input type="checkbox" id="dashboard" name="blocknames.Dashboard[0].FieldName" ng-model="blocknames.Dashboard[0].checked" ng-click="selectAll('Dashboard',blocknames.Dashboard[0].checked)"  >
         <label for="dashboard" tabindex="1" aria-label="blocknames.Dashboard[0].FieldName checkbox"></label>
       </div>
     </div>
     <div class="portlet-body" >
      <div class="portlet-inner-box dbpad" >
       <div class="row margin2" >
         <div class="col-lg-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 padbt2"   ng-repeat="dashboard in keys.Dashboard">
           <div class="checkbox checkbox-primary "  >
            <input type="checkbox" id="dashboard{{$index}}" name="dashboard.FieldName" ng-click="selectAllChild('Dashbaord',request.Dashboard[dashboard.FieldName])" ng-model="request.Dashboard[dashboard.FieldName]" ng-checked="{{request.Dashboard[dashboard.FieldName]}}"  >
            <label for="dashboard{{$index}}" tabindex="1" aria-label="{{dashboard.label}} checkbox" >{{dashboard.label}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- File Management-->
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 padtop2" >
 <div class="portlet-title" >
  <div class="caption caption-md ProfileHeaderStyles">
    <span class="caption-subject bold" translate tabindex="1" aria-label="{{blocknames.FileManagement[0].label}} section heading">{{blocknames.FileManagement[0].label}}</span>
  </div>
  <div class="checkbox checkbox-primary pull-right">
   <input type="checkbox" id="fileManagement" name="blocknames.FileManagement[0].FieldName" ng-model="blocknames.FileManagement[0].checked" ng-click="selectAll('FileManagement',blocknames.FileManagement[0].checked)">
   <label for="fileManagement" tabindex="1" aria-label="{{blocknames.FileManagement[0].label}} checkbox"></label>
 </div>
</div>
<div class="portlet-body"   >
  <div class="portlet-inner-box padbt1" >
    <div class="row margin2"  >
      <div class=" padbt2 col-lg-6 col-md-6 col-sm-6 col-xs-12 padleft3" ng-repeat="fileManagement in keys.FileManagement" >
       <div class="checkbox checkbox-primary "  >
        <input type="checkbox" id="fileMangchild{{$index}}" name="fileManagement.FieldName" ng-click="selectAllChild('FileManagement',request.FileManagement[fileManagement.FieldName])" ng-model="request.FileManagement[fileManagement.FieldName]"   >
        <label for="fileMangchild{{$index}}" tabindex="1" aria-label="{{fileManagement.label}} checkbox">{{fileManagement.label}} </label>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- Report access section -->
<div class="row " >
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 padtop2">
   <div class="portlet-title" >
    <div class="caption caption-md ProfileHeaderStyles">
      <span class="caption-subject bold" translate tabindex="1" aria-label="{{blocknames.ReportsAccess[0].label}}  section heading">{{blocknames.ReportsAccess[0].label}}</span>
    </div>
    <div class="checkbox checkbox-primary pull-right">
      <input type="checkbox" id="reportaccess" name="blocknames.ReportAccess[0].FieldName" ng-model="blocknames.ReportsAccess[0].checked" ng-click="selectAll('ReportsAccess',blocknames.ReportsAccess[0].checked)" >
      <label for="reportaccess" tabindex="1" aria-label="{{blocknames.ReportsAccess[0].label}} checkbox  section heading"></label>
    </div>
  </div>
  <div class="portlet-body">
    <div class="portlet-inner-box padbt2">
     <div class="row margin2">
      <div class="padbt2 col-lg-6 col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-repeat="reportAccess in keys.ReportsAccess">
       <div class="checkbox checkbox-primary "  >
        <input type="checkbox" id="rachild{{$index}}" name="reportAccess.FieldName" ng-model="request.ReportsAccess[reportAccess.FieldName]" ng-checked="request.ReportsAccess[reportAccess.FieldName]" ng-click="selectAllChild('ReportsAccess',request.ReportsAccess[reportAccess.FieldName])"  >
        <label for="rachild{{$index}}" tabindex="1" aria-label="{{reportAccess.label}} checkbox" >{{reportAccess.label}}</label>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- Search -->
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 padtop2">
 <div class="portlet-title" >
  <div class="caption caption-md ProfileHeaderStyles">
    <span class="caption-subject bold" translate>{{blocknames.Search[0].label}}</span>
  </div>
  <div class="checkbox checkbox-primary pull-right">
    <input type="checkbox" id="search" name="blocknames.Search[0].FieldName" ng-model="blocknames.Search[0].checked" ng-click="selectAll('Search',blocknames.Search[0].checked)"   >
    <label for="search"></label>
  </div>
</div>
<div class="portlet-body">
  <div class="portlet-inner-box padbt2" >
    <div class="row margin2" >
      <div class="padbt2 col-lg-6 col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-repeat="search in keys.Search" >
       <div class="checkbox checkbox-primary "  >
        <input type="checkbox" id="search{{$index}}" name="search.FieldName" ng-model="request.Search[search.FieldName]" ng-checked="{{request.Search[search.FieldName]}}" ng-click="selectAllChild('Search',request.Search[search.FieldName])"  >
        <label for="search{{$index}}" tabindex="1" aria-label="{{search.label}} checkbox">{{search.label}}</label>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div  class="pull-right pad1" >
  <button class="btn btnStyle" type="submit"  tabindex="1" aria-label="save Role button" >Save Role</button>
  <button class="btn btnStyle " ng-click="cancel()" tabindex="1" aria-label="reset button">Cancel</button>
</div>
</div>
</div>
</form>
<!-- End of content Container -->
</div>
</div>

