<style type="text/css">
  .mainBlock{
    padding: 0%;
  }

  .BackToAll {
    font-size: 14px;
  }

  .buttonSection{
    padding: 1%;
  }

  .clearBoth{
    clear:both;
  }

  .featuresDisplay{
    height:300px;
    max-height:400px;
    background-color:white;
    padding-left:0%;
  }

  .vertical-menu-block{
    padding-right: 0%;
  }
  .vertical-menu {
    font-weight: bold;
    width: 200px;
    padding-top: 4% !important;
  }

  .vertical-menu li {
    text-align: right;
    color: black;
    display: block;
    text-decoration: none;
    padding: 4% !important;
  }

  .vertical-menu li:hover {
    background-color: #ccc;
    margin-left:30%;
  }

  .vertical-menu li.active {
    background-color: white;
    color: black;
    margin-left:30%; 
  }

  table td,th,tr {
    border: none !important;
  }

  .table{
    border-collapse: separate;
    padding-left: 2% !important;
    padding-top:1% !important;
  }
  .userRole:hover{
    background-color: transparent !important;
    cursor: initial;
  }
  .vertical-menu{
    cursor: pointer;
  }

  .glyphicon-ok{
    color: green;
    font-size:150%;
  }

  .glyphicon-remove{
    color: red;
    font-size:150%;
  }
  a{
    color: black;
  }
</style>

<div class="breadCrumb" ng-controller="activeController">
  <div class="row">
    <div class="col-lg-6 col-md-6  ">
     <ul class="page-breadcrumb">     
       <li>
         <i class="fa fa-file"></i>
         <a href="javascript:void(0);" translate class="removeCursor" tabindex="1" aria-label="BpsRoles">Sidebar.bpsui</a>
         <i class="fa fa-angle-right"></i>
       </li>
       <li>
        <span translate class="removeCursor" tabindex="1" aria-label="ViewRole">Sidebar.ViewRole</span>
      </li>
    </ul> 
  </div>
  <!--<div style="clear:both">    </div>-->
  <div class="col-md-6 headerVals">
    <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
  </div>
</div>   
</div>
<!-- create role -->
<div ng-controller="viewRoleCtrl">
<div class="contentContainer" >
 <div class="pageTitle row">
  <div  class="mainBlock">
    <div class="title__container col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h2 translate tabindex="1" aria-label=""> {{roleName}}</h2> 
      <a translate  href="/VolPayHubUI/#/app/BPSroles" class="BackToAll" tabindex="1" aria-label="Back to reports"> &lt Back to Roles</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div  class="pull-right" buttonSection">
        <button class="btn btnStyle" tabindex="1" aria-label="Edit button">Edit</button>
        <a href="/VolPayHubUI/#/app/BPSroles"><button class="btn btnStyle " type="reset"  tabindex="1" aria-label="cancel button">Cancel</button></a>
      </div>
    </div>
  </div>
  <div class="clearBoth">
  </div>
</div> 
<!-- Table View of roles features -->
<div >
  <div class="row">
    <!-- vertical nav bar -->
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 vertical-menu-block" >
      <ul class="vertical-menu pull-right" >
        <li class="userRole"></li>
        <li ng-class="{active: selected=='Dashboard'}" ng-click="roleMenu('Dashboard')"  tabindex="1" aria-label="Dashboard Option on menu">Dashboard</li>
        <li ng-class="{active: selected=='File Management'}" ng-click="roleMenu('File Management')"  tabindex="1" aria-label="File Management on menu">File Management</li>
        <li ng-class="{active: selected=='Report Access'}" ng-click="roleMenu('Report Access')"  tabindex="1" aria-label="Report Access on menu">Report Access</li> 
        <li ng-class="{active: selected=='Search'}" ng-click="roleMenu('Search')"  tabindex="1" aria-label="Search role on menu ">Search</li> 
      </ul>
    </div>
    <!-- display values wrt nav bar -->
    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-7 featuresDisplay" >
      <div >
        <!-- table of the details -->
        <div>
          <table class="table" >
           <tr>
            <td class="col-lg-1 col-md-1 col-sm-4 col-xs-4"  tabindex="1" aria-label="{{label}}">{{label}}</td>
          </tr>
          <tbody ng-repeat="rolevalue in features">
            <tr>
              <td class="col-md-1 col-lg-1 col-sm-4 col-xs-4   "  tabindex="1" aria-label="{{rolevalue.FieldName}}" >{{rolevalue.label}}</td>
              <td class="  col-md-3 col-lg-3 col-sm-3 col-xs-1"  ng-class="RoleDetail[rolevalue.parent][rolevalue.FieldName] ? 'glyphicon glyphicon-ok':'glyphicon glyphicon-remove'" tabindex="1" aria-label="{{rolevalue.FieldName}} available"></td>
          <!--     <td class=" col-md-3 col-lg-3 col-sm-3 col-xs-1 glyphicon glyphicon-remove" ng-if="!rolevalue.checked" tabindex="1" aria-label="{{rolevalue.FieldName}} unaavailable"></td> -->
                  {{RoleDetail[rolevalue.parent][rolevalue.FieldName]}}
            </tr>
          </tbody>  
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<!-- End of content Container -->
</div>
</div>


