<style>
.has-error{
    border:1px solid red !important;
}
.abs{
    position: absolute;
}
.container-fluid{
    background-color: #fff;
    margin: 2%;
    padding: 2%;
}
.currency{
    padding-right: 2%;
    padding-left: 0%;
}
.daterangepicker.ltr .drp-calendar.right {
    display:none !important;
}
.daterangepicker .calendar-table .prev span {
    display: none !important;
}
.daterangepicker .calendar-table .next  {
    display: none !important;
}
.daterangepicker select {
    background-color: #fff !important;
    border:none !important;
}
.daterangepicker.ltr .drp-calendar {
    float: unset !important; 
}
.table-condensed thead tr .month{
    text-align: center !important;
}
a{
    color:black;
    font-size: 14px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    z-index: 3;

    color: #1d2e50;

    cursor: default;

    padding:0px 4px 10px 4px;

    background-color: transparent;

    border-bottom: 3px solid #1d2e50;
}
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover
.borderless td, .borderless th {
    background-color: transparent;
}
.stickythead{
    position: -webkit-sticky !important;
    position: -moz-sticky !important;
    position: -ms-sticky !important;
    position: -o-sticky !important;
    position: sticky !important;
    top: 0;
}
.test{
    background-color: white !important;
}
text {
    font: 12px sans-serif
}
.fc-black{
    color:black !important;
}
.fc-black a{
    color: black !important;
}
.testBlock {
    display: block
}
.view-hide{
    color: #6585B0;
    cursor: pointer;
}
.search_results{
    margin-top: 2%;
}
hr{
    background-color: dimgrey !important;
    color: dimgrey !important;
    border: solid 0.2px dimgrey !important;
    height: 0.2px !important;
}
.p-10{
    padding-top: 7px;
}
.border-none{
    border:none;
}
.bg-white{
    background-color:white !important
}
tr.active {color: white !important}
.pgn{
    border-bottom:3px solid lightgray; 
    padding:10px 10px 10px 10px;
    color:black !important;
}
  .tablesize{
    height:260px;
    overflow:auto;
    padding-left:20px;
    padding-right:20px
}
.minheight{
    min-height:100vh;
}
.b-n{
        border:none;
}
.form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
}
</style>
<!-- UI -->
<div class="ui-wrapper minheight">
    <div class="page-bar breadCrumb zindex" ng-controller="activeController" >
        <div class="row">
             <div class="col-md-6 ">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa fa-cog"></i>
                        <a href="javascript:void(0);" tabindex="1" aria-label="click go to bps ui" translate class="removeCursor">Sidebar.bpsui</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <span class="removeCursor" translate>Sidebar.transactionSearch</span>
                    </li>

                </ul>
            </div>
            <div class="col-md-6 headerVals">
                <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
            </div>
        </div>
    </div>
    <div class="contentContainer" id="container">
        <div class="pageTitle  alertWidthonResize">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <div class="title__container">

                        <h2 tabindex="1" aria-label="Transaction Search" translate>Sidebar.transactionSearch</h2>
                    </div>
                </div>
            </div>
        </div>
            <!-- Begin Transaction search -->
        <div class="portlet-title schewd"    >
            <div class="caption caption-md ProfileHeaderStyles">
                <i class="fa fa-search"></i>
                <span tabindex="1" aria-label="Search" class="caption-subject bold"  translate>Search</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="portlet-inner-box">
                <!-- Transaction details form -->
                <form name="searchForm" ng-submit="submitForm()" novalidate>
                    <div class="row">
                        <div ng-repeat="item in Transaction_data.transaction_details" class=" form-group col-md-6 col-lg-4 col-xs-12 col-sm-6" >
                            <label for="{{item.field_name}}">{{item.label}}</label>
                            <input ng-if="!item.select && !(item.field_name==='CreditCardNumber') && !(item.field_name==='TransactionDate')" ng-model="value[item.field_name]"   type="{{item.type}}" id="{{item.field_name}}" class="form-control {{item.field_name}} " placeholder="{{item.placeholder}}" name="{{item.field_name}}" ng-pattern="{{item.regex}}" ng-class="{'has-error': searchForm['{{item.field_name}}'].$invalid === true}"" tabindex="1" aria-label="{{item.placeholder}}" autocomplete="off" >
                            <div class="input-group">
                            <input readonly="true" ng-if="item.field_name==='TransactionDate'" ng-model="value[item.field_name]"   type="{{item.type}}" id="{{item.field_name}}" class="form-control {{item.field_name}} DatePicker" placeholder="{{item.placeholder}}"  name="{{item.field_name}}"  tabindex="1" aria-label="{{item.placeholder}}" autocomplete="off" 
                             >
                              <span ng-show="item.field_name==='TransactionDate' " class="input-group-addon" ng-click="removeDate()"><span class="glyphicon glyphicon-remove"></span></span>
                             </div>
                            <input ng-if="item.field_name==='CreditCardNumber'" ng-model="modelssn" ng-keyup="getccv()" type="{{item.type}}" id="{{item.field_name}}" class="form-control {{item.field_name}}" placeholder="{{item.placeholder}}" name="{{item.field_name}}" ng-pattern="{{item.regex}}"  ssn-input ng-disabled = "( value.Scheme == 'Cheque') ? true : false" tabindex="1" aria-label="{{item.placeholder}}" autocomplete="off">
                                <span ng-if="item.field_name!='CreditCardNumber' && item.field_name!='TransactionDate'" ng-show=" !item.select && searchForm['{{item.field_name}}'].$invalid"  class="abs text-danger">
                                    {{num_and_text}}
                                </span>
                            <select tabindex="1" aria-label="value for scheme {{value[item.field_name]}}"  ng-show="item.field_name=='Scheme'" ng-model="value[item.field_name]" class="form-control {{item.field_name}}">
                                <option value="" selected>Please Select</option>
                                <option ng-repeat="item1 in item.options">{{item1}}</option>
                            </select>
                            <select tabindex="1" aria-label="value for transaction type {{value[item.field_name]}}"  ng-show="item.field_name=='TransactionType'" ng-model="value[item.field_name]" class="form-control {{item.field_name}}" 
                                ng-options="item2 as item2.displayvalue for item2 in {{item.field_name}} track by item2.actualvalue" ng-disabled = "( value.Scheme == 'Cheque') ? true : false">
                                <option value="" selected>Please Select</option>
                            </select>
                            <select tabindex="1" aria-label="value for schedule {{value[item.field_name]}}"  ng-show="item.field_name=='Schedule'" ng-model="value[item.field_name]" class="form-control {{item.field_name}}" 
                                ng-options="item2 as item2.displayvalue for item2 in {{item.field_name}} track by item2.actualvalue" ng-disabled = "( value.Scheme == 'Cheque') ? true : false">
                                <option value="" selected>Please Select</option>
                            </select> 
                            <select tabindex="1" aria-label="value for session {{value[item.field_name]}}"  ng-show="item.field_name=='Session'" ng-model="value[item.field_name]" class="form-control {{item.field_name}}" 
                                ng-options="item2 as item2.displayvalue for item2 in {{item.field_name}} track by item2.actualvalue" ng-disabled = "(  value.Scheme == 'Bulk') ? true : false">
                                <option value="" selected>Please Select</option>
                            </select> 
                        </div>
                    </div>
                    <div class="row">           
                        <div class="col-md-6">
                            <div ng-repeat="item in Transaction_data.currency" class="form-group col-sm-3 col-xs-4 col-md-6 col-lg-4 currency">
                                <label for="{{item.field_name}}">{{item.label}}</label>
                                <input ng-hide={{item.select}} ng-model="value[item.field_name]" type="text" id="{{item.field_name}}" class="form-control" placeholder="{{item.placeholder}}" name="{{item.field_name}}" ng-pattern="{{item.regex}}" tabindex="1" aria-label="{{item.placeholder}}"  autocomplete="off">            
                                <span  ng-show=" !item.select && searchForm['{{item.field_name}}'].$invalid"  class="abs text-danger">
                                    Only numbers are valid
                                </span>
                                <select ng-show={{item.select}} tabindex="1" aria-label="value for currency {{value[item.field_name]}}"  class="form-control" ng-model="value[item.field_name]">
                                    <option value="" selected>Select</option>
                                    <option ng-repeat="item1 in item.options">{{item1}}</option>
                                </select>
                            </div>  
                        </div>
                        <div class="col-md-7"></div>
                    </div>
                    <!-- Search button -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" tabindex="1" aria-label="search" ng-click="searchfn()" class="btn btnStyle btn-sm pull-right">{{search}}</button> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Search results -->
        <div  class="search_results" ng-if="resultTable">
            <div class="portlet-title schewd"    >
                {{resultMsg}}
            </div>
            <div class="portlet-body">
                <div class="portlet-inner-box">
                 <div ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class="autoAdjustAlert bold" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}"
                    ng-repeat="alert in alerts">
                    <a class="close" data-dismiss="alert" aria-label="close">&times;</a> {{alert.msg}}
                </div>
                    <div class="listView FixHead dataGroupsScroll tablesize" ng-if="searchResult.length">
                    <table class="table table-bordered floatThead stickyheader  table-responsive mt-3 "  >
                        <thead class="stickythead">
                            <tr class="b-n">
                                <th ng-repeat="tablehead in Datahead">{{tablehead.label}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="click" ng-init="ind1=(currentPage*itemsPerPage)+$index"  ng-repeat="tabledata in searchResult | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
                            <tr  
                            ng-class="{'oddClas': ind1%2 == 0,'active':toggle[ind1]==true}">
                                <td ng-repeat="field in Datahead" ng-if="field.field!=''">{{tabledata[field.field]}}</td>
                                <td class="cursorPointer" ng-init="toggle[ind1] = false" ng-click="toggle[ind1] = !toggle[ind1]" >
                                    <span  ng-if="!toggle[ind1]" ng-click="get_details(ind1,tabledata.TransactionID)">View details</span>
                                    <span ng-if="toggle[ind1]" >Hide details</span>
                                </td>
                            </tr>
                            <tr  ng-if="toggle[ind1]"  class="bg-white">
                                <td colspan="6">
                                    <span ng-if="tabledata.showdetails">{{tabledata.showdetails | hex_to_ascii}}</span>
                                </td>
                            </tr> 
                        </tbody>
                    </thead>
                    </table>
                    </div>
                    <!-- Pagination -->
                    <div class="text-center" class="fc-black" ng-if="searchResult.length">
                        <div class="pagination">
                          <span ng-class="prevRangeDisabled()">
                            <a href class="" tabindex="1" aria-label="prev page range" ng-click="prevRange()"><<</a>
                          </span>
                          <span ng-class="prevPageDisabled()">
                            <a href class="" tabindex="1" aria-label="prev page" ng-click="prevPage()"><</a>
                          </span>
                          <span ng-repeat="n in range()" class="pgn" ng-class="{active: n == currentPage}" ng-click="setPage(n)" ng-hide="n<0">
                            <a href="" tabindex="1" aria-label="page no {{n+1}}" ng-click="navigate(n+1)">{{n+1}}</a>
                          </span>
                          <span> 
                          </span>
                          <span ng-class="nextPageDisabled()">
                            <a href class="" tabindex="1" aria-label="next page" ng-click="nextPage()" ng-if="!hide">></a>
                          </span>
                          <span ng-class="nextPageDisabled()">
                            <a href class="" tabindex="1" aria-label="next page" ng-if="hide" ng-click="getmore();nextPage()">></a>
                          </span>
                          <span ng-class="nextRangeDisabled()" >
                            <a href class="" tabindex="1" aria-label="next page range" ng-click="nextRange()" >>></a>
                          </span>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>
