<style>
.fixedfooter 
{
  background-color: rgb(54, 65, 80);
    margin-left: 0px !important;
}
.footertext1
{
    left:0 !important;
}
input:required {
    box-shadow:none;
}
/*input:invalid {
    box-shadow:0 0 3px red;
}*/
.bootstrap-datetimepicker-widget{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-days{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-months{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-years{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-decades{
	display: block;
}
.input-group-addon{
    padding:0;
}
.glyphicon{
    padding:9px 10px;
}
.addAdditionalFields
{ 	
	/*color: #333;*/
    background-color: #f5f5f5;
    border:1px solid #ddd;
	padding: 10px;
}
.addBorder
{ 
	border:1px solid #ddd;
	padding: 10px;
}
.close
{
	opacity: 1;
}
.DatePicker, .TimePicker{
	z-index:0 !important
}
 table > tbody > tr > th {
            background: #cad5eb;color: #1d2e50;
             text-align:center;
        }
        .table-bordered>tbody>tr>td{
    border: 1px solid #c5c5c5;
}

</style>

<!-- BEGIN PAGE HEADER-->
<div class="breadCrumb" set-class-when-at-top="fix-to-top" ng-controller="activeController" ng-show="showBreadcrumb">
    <div class="row">
    <div class="col-md-6 ">
    <ul class="page-breadcrumb">
        <!--<li>
            <i class="fa fa-home"></i>
           <a href="javascript:void(0)" translate ng-click="goToHome()">Sidebar.Home</a>
            <i class="fa fa-angle-right"></i>
        </li>-->
        <li>
            <i class="fa fa-user"></i>
            <a href="javascript:void(0)" translate class="removeCursor">Admin Panel</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li translate>
            Sidebar.AddUser
        </li>


    </ul>
    </div>
    <!--<div style="clear:both">    </div>-->
   <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

    </div>
    </div>

</div>


<div ng-if="!showMoreFieldOnCreateUser">
        <div class="row">
                <div class="logo" style="margin-bottom:10px;margin-bottom: 10px;
                margin-left: 7px;
                margin-top: 0px !important;
                padding: 10px;" ng-style="{'background-color':(configData.ThemeName == 'volante')?'#364150':'#fff'}">
                    <a href="index.html">
                        <img src="themes/{{configData.ThemeName}}/logo.png" alt="">
                    </a>
                </div>
            </div>
</div>


<div class="contentContainer">

<div class="tab-content">

    <div ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class="autoAdjustAlert bold animated bounce" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" ng-repeat="alert in alerts" style="font-size:14px;">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{alert.msg}}
    </div>

 <div class="modal fade" id="changesLostModal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
			<div class="modal-content" style="border:2px solid #243250a6;" ng-if="madeChanges">
            <div class="modal-body">
               <h4>Current changes will be lost. Do you wish to continue?</h4>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btnStyle" ng-click="gotoClickedPage();">Yes</button>
               <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="cancelChanges()">No</button>
			   
            </div>
         </div>
		 
		 <div class="modal-content" style="border:2px solid #243250a6;" ng-if="!madeChanges">
            <div class="modal-body">
               <h4 style="font-size:17px;">Primary key fields are missing.UUID will be autogenerated.<br>Do you wish to continue?</h4>
            </div>
            <div class="modal-footer">
			   <button type="button" class="btn btnStyle clr" ng-click="SaveAsModalDraft()" ><span translate> Yes</span></button>

               <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="cancelChanges()">No</button>
            </div>
         </div>

      </div>
   </div>

    <div class="modal fade" id="draftOverWriteModal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
			<div class="modal-content" style="border:2px solid #243250a6;" ng-if="!updateEntity">
            <div class="modal-body">
               <h4>Draft Already Exists. Do you want to Overwrite?</h4>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btnStyle" ng-click="forceSaveDraft();">Yes</button>
               <button type="button" class="btn btnStyle" data-dismiss="modal">No</button>
			   
            </div>
         </div>
          <div class="modal-content" style="border:2px solid #243250a6;" ng-if="updateEntity">
                    <div class="modal-body">
                    <h4>This will update the actual entity. Do you wish to continue?</h4>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btnStyle" ng-click="addUserandForseSaveUser(method,takeuserbckup);">Yes</button>
                    <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="resetAllDrafts()">No</button>
                    
                    </div>
                </div>
      </div>
   </div>

<div class="portlet box green-haze" id="form_wizard_1" style="margin-top:23px;">

     <div class="portlet-title" ng-init="page = 1">
        <div class="caption">
            <i class="fa fa-pencil"></i> Registration - <span class="step-title">
								Step {{page}} of 2 </span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-wizard">
            <div class="form-body">
                <ul class="nav nav-pills nav-justified steps" style="margin-bottom:0px;">
                    <li id="li_1" class="tab_li active">
                        <a class="step" style="padding:0px !important">
												<span class="number">
												1 </span>
												<span class="desc">
												<i class="fa fa-check"></i> Create User</span>
                        </a>
                    </li>
                    <li id="li_2" class="tab_li">
                        <a class="step" style="padding:0px !important">
												<span class="number">
												2 </span>
												<span class="desc">
												<i class="fa fa-check"></i> Verify User</span>
                        </a>
                    </li>

                </ul>


                <br/><br/>


              <div id="bar" class="progress progress-striped active" role="progressbar" style="margin-bottom:0px;">
                    <div class="progress-bar progress-bar-success" ng-style="{width:hello+'%'}">
                    </div>
                </div>

                <div class="tab-content">

                    <div class="tab-pane active animated" id="tab1">
                        <form name="form1" class="form-horizontal" id="submit_form1" ng-submit="submitted=true; continue1(createData)">
                            <h3 class="block" style="padding-top:0px !important; padding: 8px;right: 15px;">Create User </h3>
<!-- <div class="control-group col-lg-6 col-md-6 col-sm-12 col-xs-12"   ng-class="{true: 'error'}[submitted && bankDataForm.{{fielded.FieldName}}.$invalid] && !(fielded.Mandatory)" style="padding: 5px 0px;"> -->


                            <div class="row" style="margin:0">
						
                                <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;">
								
                                    <label class="control-label bold col-md-3 col-sm-4" name="UserID" >User ID <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
	
                                    <div class="col-md-8 col-sm-8 " >
                                        <input type="text" placeholder="Please Enter User ID" name="UserID" ng-model="createData.UserID" class="form-control NotAllowSpecialCharacters" ng-blur="multipleEmptySpace($event)" ng-class="{true : 'error'}[submitted && form1.UserID.$invalid]" required>
										
										
          
										
                                    </div>
								 <span class="help-inline col-md-1" ng-show="submitted && form1.UserID.$error.required" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                              
								</div>
                            </div>


                            <div class="row" style="margin:0">
                                <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-3 col-sm-4">First Name <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

                                    <div class="col-md-8 col-sm-8" >
                                        <input type="text"  class="form-control" placeholder="Please Enter First Name"name="FirstName" ng-model="createData.FirstName" ng-blur="multipleEmptySpace($event)" ng-class="{true : 'error'}[submitted && form1.FirstName.$invalid]" required/>
										
                                    </div>
									 <span class="help-inline col-md-1" ng-show="submitted && form1.FirstName.$error.required" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                </div>

                                <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-3 col-sm-4">Last Name <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                                    <div class="col-md-8 col-sm-8"  >
                                        <input type="text" class="form-control" placeholder="Please Enter Last Name"  name="LastName" ng-model="createData.LastName" ng-blur="multipleEmptySpace($event)" ng-class="{true : 'error'}[submitted && form1.LastName.$invalid]" required/> 
										 
                                    </div>
									<span class="help-inline  col-md-1" ng-show="submitted && form1.LastName.$error.required" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                </div>
                            </div>
                            <div class="row" style="margin:0">
                                <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-3 col-sm-4">Email ID <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

                                    <div class="col-md-8 col-sm-8" >
                                    <input type="email" placeholder="Please Enter Email ID" class="form-control" name="EmailAddress" required ng-blur="multipleEmptySpace($event);emailValidate()"  ng-model="createData.EmailAddress" id="AddUserMail" ng-class="{true : 'error'}[submitted && form1.EmailAddress.$invalid]" />
										 
                                    </div>
									<span class="help-inline  col-md-1" ng-show="submitted && form1.EmailAddress.$error.required" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;" >Required</span>
                                </div>
                               
                            </div>

                            <div class="row" style="margin:0">
                                <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-3 col-sm-4 col-xs-12">Password <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

                                    <div class="col-md-7 col-sm-7 col-xs-8" >
										<input type="password" placeholder="Please Enter Password" class="form-control" name="Password" ng-model="createData.Password" onkeydown="return spaceNotAllowed(event)" ng-blur="validatePassWord(createData.Password, $event)" ng-class="{true : 'error'}[submitted && form1.Password.$invalid]"  required/>
										
									</div>
									<div class="col-md-1 col-sm-1 col-xs-4">	
									 <button type="button" tabindex="-1" style="border-radius:20px !important;" class="btn" data-container="body" data-toggle="popover" data-placement="right" data-content="Please ensure the password entered is between 8 and 14 characters long, and include 3 out of 4 of the following: lower case, uppercase, numbers or special characters ! &#34; # $ % & ' ( ) * + , - . / : ; < = > ? @ [ \ ] ^ _ ` { | } ~  " data-original-title="" title=""><span class="questionMark">?</span></button>
									</div>
									
									 <span class="help-inline  col-md-1" ng-show="submitted && form1.Password.$error.required" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                </div>
								
								<div class="form-group col-md-6 col-sm-4" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-3 col-sm-4">Confirm Password <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

                                    <div class="col-md-8 col-sm-8" >
                                        <input type="password" placeholder="Please Enter Confirm Password" class="form-control" name="ConfirmPW" ng-model="ConfirmPW" onkeydown="return spaceNotAllowed(event);" ng-class="{true : 'error'}[submitted && form1.ConfirmPW.$invalid]"  required/>
										
                                    </div>
									 <span class="help-inline  col-md-1" ng-show="submitted && form1.ConfirmPW.$error.required" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                </div>
                             </div>


                            <div class="row" style="margin:0" ng-if="showMoreFieldOnCreateUser">
                                 <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-3 col-sm-4">Role ID <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                                    <div class="col-md-8 col-sm-8">
                                        <select class="form-control appendRoleId" required="true" name="RoleID" id="RoleId" ng-model="createData.RoleID1" ng-class="{true : 'error'}[submitted && form1.RoleID.$invalid]" multiple ng-change="createDynamicSubsection(createData.RoleID1)">
                                            <!--<option value="">--Select--</option>-->
                                            <option ng-repeat="option in selectOptions" value="{{option.RoleID}}">{{option.RoleName+'('+option.RoleID+')'}}</option>
                                        </select>
                                    </div>
									<span class="help-inline col-md-1" ng-show="submitted && form1.RoleID.$error.required" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                </div>

                                <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-3 col-sm-4">Reset Password <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

                                    <div class="col-md-8 col-sm-8 " >
                                        <select class="form-control" ng-init="createData.IsForceReset='true'" name="IsForceReset" ng-model="createData.IsForceReset" disabled  ng-class="{true : 'error'}[submitted && form1.IsForceReset.$invalid]">
                                            <option value="true">true</option>
                                            <option value="false">false</option>
                                        </select>
										
                                    </div>
									 <span class="help-inline col-md-1" ng-show="submitted && form1.IsForceReset.$error.required" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                </div>
                            </div>

                            <div class="row" style="margin:0">

                                <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;" ng-if="showMoreFieldOnCreateUser">
                                    <label class="control-label bold col-md-3 col-sm-4">Status <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

                                    <div class="col-md-8 col-sm-8">
                                        <select class="form-control" required name="Status" id="enableFlag" ng-model="createData.Status"  ng-class="{true : 'error'}[submitted && form1.Status.$invalid]" >
                                            <option value="">--Select--</option>
                                            <option value="ACTIVE">ACTIVE</option>
                                            <option value="INACTIVE">INACTIVE</option>
                                            <option value="SUSPENDED">SUSPENDED</option>
                                        </select>
                                       
                                    </div>
									  <span class="help-inline col-md-1" ng-show="submitted && form1.Status.$error.required" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                </div>

                                <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-3 col-sm-4">Time Zone <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

                                    <div class="col-md-8 col-sm-8" >
                                        <select class="form-control" required name="TimeZone" id="timeZone" ng-model="createData.TimeZone" ng-class="{true : 'error'}[submitted && form1.TimeZone.$invalid]" >
                                            <option value="">--Select--</option>
                                            <option ng-repeat="option in timezoneOptions" value="{{option}}">{{option}}</option>
                                        </select>
                                    </div>
									 <span class="help-inline col-md-1" ng-show="submitted && form1.TimeZone.$error.required" style="display:block;margin:0;color:#EF1C1C !important;padding: 8px;right: 15px;">Required</span>
                                </div>

                            </div>
                            <div class="row" style="margin:0" ng-if="showMoreFieldOnCreateUser">
                                         
                            <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;" ng-if="showMoreFieldOnCreateUser">
                                <label class="control-label bold col-md-3 col-sm-4">Effective From Date <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

                                <div class="col-md-8 col-sm-8"  >
                                    <div class="input-group input-append">
                                    <input type="text" class="form-control DatePicker dateTypeKey" roledateattr="EffectiveFromDate" name="EffectiveFromDate" placeholder="Please Enter Effective From Date" onpaste="return false" onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)" id="EffectiveFromDate" ng-model="createData.EffectiveFromDate" ng-required="true"  ng-class="{true : 'error'}[submitted && form1.EffectiveFromDate.$invalid]"/>
									
                                    <span class="input-group-addon" style="cursor:pointer" ng-click="triggerPicker($event)"><span class="glyphicon glyphicon-calendar date-set"></span>
									</span>
								
                            </div>
							
                                </div>
								<span class="help-inline col-md-1" ng-show="submitted && form1.EffectiveFromDate.$error.required" style="display:block;margin:0;color:#EF1C1C !important;padding: 8px; right: 15px;">Required</span>
                            </div>

                            <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;">
                                <label class="control-label bold col-md-3 col-sm-4">Effective Till Date </label>
                                    
                                <div class="col-md-8 col-sm-8" >
                                    <div class="input-group input-append">
                                    <input type="text" class="form-control DatePicker dateTypeKey" name="EffectiveTillDate" roledateattr="EffectiveTillDate" placeholder="Please Enter Effective Till Date" onpaste="return false" onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)" id="EffectiveTillDate" ng-model="createData.EffectiveTillDate"  />
                                        <span class="input-group-addon" style="cursor:pointer" ng-click="triggerPicker($event)"><span class="glyphicon glyphicon-calendar date-set"></span>
                                        </span>
										
										
                                    </div>
									
                                </div>
								
                            </div>

                        </div>
                       
                <div ng-if="showMoreFieldOnCreateUser">
                    <h5 class="bold col-md-12">User Role Association
                        <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        <span> : </span><span>(This field will be displayed based on Role ID selection)</span>
                    </h5>
                   
                </div>


                <!--<div  class="col-md-12 setDynamicWidth" style="border: 5px solid #9E9E9E;  overflow-y: auto;height:120px;">
                  
                     <div  class="form-group" style="margin: 0px; padding-top:10px" ng-repeat="val in createData.UserRoleAssociation track by $index" id="{{$index}}">
                       
                         <div class="col-md-1 col-sm-12 col-xs-12 pull-right" ng-if="showMoreFieldOnCreateUser">

                            <a id="AddSection_{{$index}}" tooltip="Add New Section" tooltip-placement="bottom" style="line-height: 24px; cursor: pointer; text-decoration: none; color: rgb(130, 127, 127); font-size: 24px !important; opacity: 0.3;pointer-events: none;" class="fa fa-plus-circle ng-scope" aria-hidden="true" ng-click="addNewRoleSection($index,$event);" ng-style="$last ? {'opacity':'1','cursor':'pointer', 'pointer-events': ''}:{'opacity':'0.3', 'pointer-events': 'none'}"></a>






                            <a id="RemoveSection_{{$index}}" tooltip="Remove Section" tooltip-placement="bottom" style="line-height: 24px; cursor: pointer; text-decoration: none; color: rgb(130, 127, 127); margin-left: 10px; font-size: 24px !important; opacity: 1;" class="fa fa-minus-circle" aria-hidden="true" ng-click="removeCurrentRoleSection($index,$event)" ng-style="( createData.UserRoleAssociation.length > 1) ? {'opacity':'1','cursor':'pointer', 'pointer-events': ''}:{'opacity':'0.3', 'pointer-events': 'none'}"></a>

                        </div>

                            <div class="col-md-5 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4">
                                        <label class="control-label bold" style="text-align:left;">Role ID</label>
                                        <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                                        </div>
                                        <div class="col-md-7">
                                            <select class="form-control appendRoleId clearRoleModelValue" name="Subsec_RoleID{{$index}}" id="RoleId{{$index}}" customattr="RoleID" ng-model="createData.UserRoleAssociation[$index].RoleID"  ng-required="true">
                                            <option value="">--Select--</option>
                                            <option ng-repeat="option in selectMultOptions" value="{{option.RoleID}}">{{option.RoleName+'('+option.RoleID+')'}}</option>
                                        </select>

                                        </div>
                                         <span class="help-inline col-md-1" ng-show="submitted && form1.Subsec_RoleID{{$index}}.$error.required && !createData.UserRoleAssociation[$index].RoleID" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>

                                    </div>
                            </div>
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                        <label class="control-label bold" style="text-align:left;">Status</label>
                                        <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                                        </div>
                                        <div class="col-md-7">

                                         <select class="form-control" name="Subsec_Status" id="Status{{$index}}" ng-model="createData.UserRoleAssociation[$index].Status" ng-required="true">
                                            <option value="">--Select--</option>
                                            <option value="ACTIVE">ACTIVE</option>
                                            <option value="INACTIVE">INACTIVE</option>
                                            <option value="SUSPENDED">SUSPENDED</option>
                                        </select>

                                        </div>
                                        <span class="help-inline col-md-1" ng-show="submitted && form1.Subsec_Status.$error.required && !createData.UserRoleAssociation[$index].Status " style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                    </div>
                            </div>
                            
                            <div class="clearfix"></div>
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                        <label class="control-label bold" style="text-align:left;">Effective From Date</label>
                                        <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-group input-append">

                                         <input type="text" class="form-control DatePicker" name="EffectiveFromDate{{$index}}" roleattr="EffectiveFromDate" placeholder="Please Enter Effective From Date" onpaste="return false" onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)" id="Subsec_EffectiveFromDate{{$index}}" ng-model="createData.UserRoleAssociation[$index].EffectiveFromDate" ng-required="true" ng-focus="activatePickerSubsec($event,$index)"/>

                                         <span class="input-group-addon input-group-date" style="cursor:pointer" ng-click="triggerPickerSubSec($event,$index)"><span class="glyphicon glyphicon-calendar date-set"></span>
                                        </div>

                                        </div>
                                        <span class="help-inline col-md-1" ng-show="submitted && form1.EffectiveFromDate{{$index}}.$error.required && !createData.UserRoleAssociation[$index].EffectiveFromDate" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                        
                                    </div>
                            </div>
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                        <label class="control-label bold" style="text-align:left;">Effective Till Date</label>
                                        </div>
                                        <div class="col-md-7">

                                        <div class="input-group input-append">


                                         <input type="text" class="form-control DatePicker" name="EffectiveTillDate{{$index}}" roleattr="EffectiveTillDate" placeholder="Please Enter Effective Till Date" onpaste="return false" onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)" id="Subsec_EffectiveTillDate{{$index}}" ng-model="createData.UserRoleAssociation[$index].EffectiveTillDate" ng-focus="activatePickerSubsec($event,$index)" />
                                        <span class="input-group-addon input-group-date" style="cursor:pointer" ng-click="triggerPickerSubSec($event,$index)"><span class="glyphicon glyphicon-calendar date-set"></span>

                                        </div>



                                        </div>
                                    </div>
                            </div>

                            <div class="clearfix"></div>

                        

                        </div>

                  



                </div>-->

                 <div  class="col-md-12">
                    <!--<form>-->
                      <table class="table table-bordered"  ng-if="createData.UserRoleAssociation.length > 0" style="table-layout:fixed;">
                         <tr>
                                <th>Action</th>
                                <th>Role ID</th>
                                <th>Status</th>
                                <th>Effective From Date</th>
                                <th>Effective Till Date</th>
                            </tr>

                    
                            <tr ng-repeat="val in createData.UserRoleAssociation track by $index" id="{{$index}}">
                                <td class="radioGroups" style="text-align:center">
                                    <input type="radio" name="SubSec_Action" id="SubSec_Action_ID{{$index}}" value="{{createData.UserRoleAssociation[$index].RoleID}}" ng-checked="$first" class="radiobtns">
                                </td>
                                <td>
                                   
                                             <select class="form-control appendRoleId clearRoleModelValue" name="Subsec_RoleID{{$index}}" id="RoleId{{$index}}" customattr="RoleID" ng-model="createData.UserRoleAssociation[$index].RoleID"  ng-required="true" ng-if="createData.UserRoleAssociation[$index].RoleID != 'Super Admin'">
                                            <option value="">--Select--</option>
                                            <option ng-repeat="option in selectMultOptions" value="{{option.RoleID}}">{{option.RoleName+'('+option.RoleID+')'}}</option>
                                        </select>

                                         <input class="form-control" type="text" name="Subsec_RoleID" ng-model="createData.UserRoleAssociation[$index].RoleID" ng-disabled="true" required ng-if="createData.UserRoleAssociation[$index].RoleID == 'Super Admin'">

                                          <span class="help-inline" ng-show="submitted && form1.Subsec_RoleID{{$index}}.$error.required && !createData.UserRoleAssociation[$index].RoleID" style="margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>

                                           
                                </td>
                                <td>
                                      <select class="form-control" name="Subsec_Status" id="Status{{$index}}" ng-model="createData.UserRoleAssociation[$index].Status" ng-required="true" ng-disabled="(createData.UserRoleAssociation[$index].RoleID == 'Super Admin') ? true : false ">
                                            <option value="">--Select--</option>
                                            <option value="ACTIVE">ACTIVE</option>
                                            <option value="INACTIVE">INACTIVE</option>
                                            <option value="SUSPENDED">SUSPENDED</option>
                                        </select>

                                          <span class="help-inline" ng-show="submitted && form1.Subsec_Status.$error.required && !createData.UserRoleAssociation[$index].Status " style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                </td>
                                <td>
                                    <div class="input-group input-append">
                                                <input type="text" class="form-control DatePicker dateTypeKey" name="EffectiveFromDate{{$index}}" roleattr="EffectiveFromDate" placeholder="Please Enter Effective From Date" onpaste="return false" onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)" id="Subsec_EffectiveFromDate{{$index}}" ng-focus="activatePick($event,$index)" ng-model="createData.UserRoleAssociation[$index].EffectiveFromDate" ng-required="true" />

                                               <span class="input-group-addon input-group-date" style="cursor:pointer" ng-click="triggerPickerSubSec($event,$index)"><span class="glyphicon glyphicon-calendar date-set"></span>
                                            </div>

                                            <span class="help-inline" ng-show="submitted && form1.EffectiveFromDate{{$index}}.$error.required && !createData.UserRoleAssociation[$index].EffectiveFromDate" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                </td>
                                <td>
                                     <div class="input-group input-append">


                                           <input type="text" class="form-control DatePicker dateTypeKey" name="EffectiveTillDate{{$index}}" roleattr="EffectiveTillDate" placeholder="Please Enter Effective Till Date" onpaste="return false" onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)" id="Subsec_EffectiveTillDate{{$index}}" ng-focus="activatePick($event,$index)" ng-model="createData.UserRoleAssociation[$index].EffectiveTillDate" />
                                            <span class="input-group-addon input-group-date" style="cursor:pointer" ng-click="triggerPickerSubSec($event,$index)"><span class="glyphicon glyphicon-calendar date-set"></span>

                                        </div>
                                </td>
                            </tr>


                        <!--</div>-->
                        </table>

                         <div class="alert-warning" style="padding: 15px;margin-bottom: 5px;background-color: #fcf8e375 !important;" ng-if="createData.UserRoleAssociation.length <= 0">
									<strong><h4  style="margin:0;text-align:center;"> <i class="fa fa-warning"></i> No associated roles found</h4></strong>
								</div>
                </div>

                  



                        <br/>



                         <div class="form-group">
                             <div class="row">
                                <div class="col-md-12" style="padding-top:5px;">
                                    <div class="col-md-8" ng-if="!showMoreFieldOnCreateUser">


                                            <span ><b style="color:#000;">Note:</b> <span>The first user will be a <b style="color:red;">super admin</b>. Please reset your password on first login.</span></span>
                                    </div>

                                   
                                </div>
                                <div class="clearfix"></div>
                             </div>

                             <div class="row">

                                 <div class="col-md-12" style="padding-right: 0;">
                                     <div class="row">
                                         <div class="col-md-8">

                                         </div>
                                        <div class="col-md-4" style="padding-right:28px;">

                                    <!--<div class="col-md-1">-->
                                       
                                    <!--</div>-->
                                      <!--<div class="col-md-1">-->
                                          <div class="pull-right">
                                           <button type="submit" class="btn btnStyle green" ng-show="current1" id="Continue1" ng-click="submitted=true" style="margin-right: 5px;">Continue <i class="fa fa-arrow-circle-right"></i></button>
                                    <!--</div>-->
                                    <!--<div class="col-md-1">-->
                                        <button type="button" ng-if="showMoreFieldOnCreateUser" class="btn btnStyle green" ng-click="SaveAsDraft(createData);takeBackupData(createData)" tooltip="Save as Draft" style="margin-right: 5px;">Save as Draft </button>

                                         <button type="button" class="btn btnStyle" ng-if="showMoreFieldOnCreateUser" data-toggle="modal" data-target="{{madeChanges ?'#changesLostModal':''}}" ng-click="updatesubmitted=false;gotoCancelFn()" style="    margin-right: 5px;">Cancel</button>
                                    <!--</div>-->

                                          </div>

                                        </div>

                                     </div>


                                    </div>
                                    <div class="clearfix">  </div>

                             </div>
                            </div>
							
                        </form>

                    </div>
                    <div class="tab-pane animated" id="tab2" ng-class="{'slideInRight':current2 == true, 'slideInLeft':current2==false }">
                        <form name="form2" class="form-horizontal">
                            <h3 class="block">Verify User</h3>

                            <div class="row" style="margin:0">
                                <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-6 col-sm-6">User ID : </label>

                                    <div class="control-label col-md-6 col-sm-6" style="text-align:left;word-wrap: break-word;">
                                       {{userData.UserID}}
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="margin:0">
                                <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-6 col-sm-6">First Name : </label>

                                    <div class="control-label col-md-6 col-sm-6" style="text-align:left; word-wrap: break-word;">
                                       {{userData.FirstName}}
                                    </div>
                                </div>
                                <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-6 col-sm-6">Last Name : </label>

                                    <div class="control-label col-md-6 col-sm-6" style="text-align:left; word-wrap: break-word;">
                                        {{userData.LastName}}
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin:0">
                                <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-6 col-sm-6">Email ID : </label>

                                    <div class="control-label col-md-6 col-sm-6" style="text-align:left;  word-wrap: break-word;">
                                        {{userData.EmailAddress}}
                                    </div>
                                </div>
                               
                             </div>

                            <div class="row" style="margin:0">
                                <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-6 col-sm-6">Password : </label>

                                    <div class="control-label col-md-6 col-sm-6" style="text-align:left; word-wrap: break-word;">
                                        {{userData.Password | pwFormat}}
                                    </div>
                                </div>
                                <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-6 col-sm-6">Confirm Password : </label>

                                    <div class="control-label col-md-6 col-sm-6" style="text-align:left;word-wrap: break-word;">
                                        {{userData.Password | pwFormat}}
                                    </div>
                                </div>
                            </div>
                           

                            <div class="row" style="margin:0" ng-if="showMoreFieldOnCreateUser">
                                <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-6 col-sm-6">Role ID : </label>

                                    <div class="control-label col-md-6 col-sm-6" style="text-align:left;word-wrap: break-word;">
                                        {{userDataRoleID}}
                                    </div>
                                </div>
                                <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-6 col-sm-6">Reset Password : </label>

                                    <div class="control-label col-md-6 col-sm-6" style="text-align:left;">
                                        {{userData.IsForceReset}}
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin:0">
                                <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;" ng-if="showMoreFieldOnCreateUser">
                                    <label class="control-label bold col-md-6 col-sm-6">Status : </label>

                                    <div class="control-label col-md-6 col-sm-6" style="text-align:left;">
                                        {{userData.Status}}
                                    </div>
                                </div>

                                <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-6 col-sm-6">Time Zone: </label>

                                    <div class="control-label col-md-6 col-sm-6" style="text-align:left;">
                                        {{userData.TimeZone}}
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin:0"  ng-if="showMoreFieldOnCreateUser">
                                <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-6 col-sm-6">Effective From Date : </label>

                                    <div class="control-label col-md-6 col-sm-6" style="text-align:left; word-wrap: break-word;">
                                        {{userData.EffectiveFromDate}}
                                    </div>
                                </div>
                                <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="control-label bold col-md-6 col-sm-6">Effective Till Date : </label>

                                    <div class="control-label col-md-6 col-sm-6" style="text-align:left;word-wrap: break-word;">
                                        {{userData.EffectiveTillDate}}
                                    </div>
                                </div>
                            </div>


                            <div><h5 class="bold">User Role Association :</h5></div>
                    <div ng-repeat="createdval in userData.UserRoleAssociation track by $index" ng-if="userData.UserRoleAssociation[$index]">
                        <label class="control-label bold col-md-2 col-sm-2">Role {{$index+1}}: </label>
                        <div class="clearfix"></div><br/>
                                <div class="row" style="margin:0" >
                                                    <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                                        <label class="control-label bold col-md-6                                                                           col-sm-6">Role ID: </label>

                                                        <div class="control-label col-md-6 col-sm-6"                                                                        style="text-align:left; word-wrap: break-word;">
                                                            {{userData.UserRoleAssociation[$index].RoleID}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                                        <label class="control-label bold col-md-6                                                                       col-sm-6">Status : </label>

                                                        <div class="control-label col-md-6 col-sm-6"                                                                    style="text-align:left;word-wrap: break-word;">
                                                            {{userData.UserRoleAssociation[$index].Status}}
                                                        </div>
                                                    </div>
                                                </div>

                                            <div class="row" style="margin:0" >
                                                    <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                                        <label class="control-label bold col-md-6                                                                       col-sm-6">Effective From Date : </label>

                                            <div class="control-label col-md-6 col-sm-6"                                                                                    style="text-align:left; word-wrap: break-word;">
                                    {{userData.UserRoleAssociation[$index].EffectiveFromDate}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-5 col-sm-5" style="margin-top:10px;margin-bottom:34px;">
                                                        <label class="control-label bold col-md-6                                                                   col-sm-6">Effective Till Date : </label>

                                                        <div class="control-label col-md-6 col-sm-6"                                                                style="text-align:left;word-wrap: break-word;">
                                        {{userData.UserRoleAssociation[$index].EffectiveTillDate}}
                                                        </div>
                                                    </div>
                                                </div>


                        </div>
                             





                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-9" style="text-align:center;">

                                        <button type="button" class="btn btnStyle  green" ng-click="back2to1()" ng-show="current2"><i class="fa fa-arrow-circle-left"></i> Back </button>
                                        <button type="button" class="btn btnStyle  green" ng-if="current2 && !showMoreFieldOnCreateUser"  ng-click="ConfirmCreateUser()">Submit <i class="m-icon-swapright m-icon-white"></i></button>
                                        <button type="button" class="btn btnStyle  green"   ng-if="current2 && showMoreFieldOnCreateUser" ng-click="ConfirmCreateUserbySuperAdmin(userData);backupdataDraft(userData)">Submit <i class="m-icon-swapright m-icon-white"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
</div>
</div>
<script>
$(document).ready(function(){

    $('[data-toggle="popover"]').popover();
	$('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});

    <!-- <!-- $('.DatePicker').datepicker({ -->
			<!-- format:"YYYY-MM-DD", -->
			<!-- useCurrent: false, -->
			<!-- showClear: true -->
			
        <!-- }) --> -->
		
       
        $('.input-group-date').on('click focus', function(e){
			        $(this).prev().focus().click()
                 });
})
 
</script>	