	
    
        <div class="control-group" ng-repeat="field in fieldDetails.section" ng-class="{true: 'error'}[submitted && interfaceForm.{{field.name}}.$invalid] && !(field.notnull)" style="margin-top: 5px;" ng-init="pInd = $index" ng-if="field.visible">
            <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
            <div class="col-md-6">
                <div class="form-group">
                        <label for="{{field.name}}" class="control-label col-md-4" style='font-weight:bold;'>{{field.label}}
                        <span ng-if="!field.notnull && field.label" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                        
                    <div class="col-md-7" ng-if="(field.renderer[field.renderer.type].type == 'TextField')&&((field.type == 'Integer')||(field.type == 'String')||(field.type == 'BigDecimal') || (field.type == 'Double') )">
                        <input class="form-control" id="{{field.label}}" type="text" maxlength="{{field.renderer[field.renderer.type].width == -1 ? 100 : field.renderer[field.renderer.type].width}}" name="{{field.name | nospace}}" ng-model="fieldData[field.name]"  placeholder="{{(field.type == 'Integer')?field.label +' Only Number':'Please Enter '+field.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(field.notnull)" ng-keydown="checkType($event,field.type)" ng-disabled="!field.enabled" > <span>{{(field.renderer[field.renderer.type].width == -1) ? 100 : (field.renderer[field.renderer.type].width) - fieldData[field.name].length}} Characters left</span>
                    </div>

                    <div class="col-md-8" ng-if="(field.renderer[field.renderer.type].type == 'TextArea')" >
                        <textarea style="resize:vertical" rows="{{getTextAreaRows((field.renderer[field.renderer.type].rows*field.renderer[field.renderer.type].width)/50)}}" cols="{{field.renderer[field.renderer.type].width}}" class="form-control" id="{{field.label}}" maxlength="{{field.renderer[field.renderer.type].rows*field.renderer[field.renderer.type].width}}" name="{{field.name | nospace}}" ng-model="fieldData[field.name]"  placeholder="{{(field.type == 'Integer')?field.label +' Only Number':'Please Enter '+field.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(field.notnull)" ng-keydown="(field.type == 'Integer') ? allowOnlyNumbersAlone($event) : ''" ng-disabled="!field.enabled"></textarea>
                    </div>
                    <div class="col-md-7" ng-if="(field.type == 'String')&&(field.renderer[field.renderer.type].type == 'Choice')">
                      
                        <select name="{{field.name}}"  name="{{field.FieldName | nospace}}" class="form-control"  id="{{field.label}}" ng-model="fieldData[field.name]" ng-required = "!(field.notnull)" ng-disabled="!field.enabled" detailsoffield = "{{field}}" ng-change="diabledFields(fieldData[field.name],field,fieldDetails.section,$index)">
                            <option value="">Select</option>  
                            <option ng-if="field.renderer.Choice.choiceOptions[0].displayvalue" ng-repeat="x in field.renderer.Choice.choiceOptions" value="{{(x.actualvalue == 'REST') ? x : x.actualvalue}}">{{x.displayvalue}}</option>
                           
                        </select>
                    </div>
                        
                    <div ng-if="(field.type == 'Boolean')&&(field.renderer[field.renderer.type].type == 'Choice')" class="col-md-3" style="border:none;">
                    <label class="radio-inline" ng-repeat="x in field.choiceOptions" ng-if="x.actualvalue">
                        <input type="radio" name="{{field.name | nospace}}" class="" ng-model="fieldData[field.name]" ng-value="{{x.actualvalue}}" ng-required = "!(field.notnull)" ng-disabled="!field.enabled">
                        <span style="padding:5px">{{x.displayvalue}}</span>
                    </label>
                    </div>
                    
                    <div ng-if="(field.type == 'DateTime') || (field.type == 'ISODateTime') || (field.type == 'DateOnly') || (field.type == 'TimeOnly')" class="input-group col-md-7 input-append" style="padding-right:15px;padding-left:12px;float:left;" data = "{{Pgroup.name +'_'+ Sgroup.name}}">
                    <input class="form-control" ng-class="(field.type == 'DateOnly') ? 'DatePicker':((field.type == 'DateTime') )? 'DateTimePicker':(field.type == 'TimeOnly') ? 'TimePicker':((field.type == 'ISODateTime')?'ISODateTime':'')" id="{{field.name}}" type="text" maxlength="{{field.renderer[field.renderer.type].width == -1 ? 100 : field.renderer[field.renderer.type].width}}" name="{{field.name | nospace}}" ng-model="fieldData[field.name]"  placeholder="{{'Please Enter '+field.label}}" onpaste="return false" ng-required = "!(field.notnull)" onkeypress='return tabOrder(event)'  ng-focus="activatePicker($event)" ng-blur="multipleEmptySpace($event)" ng-disabled="!field.enabled" aName="{{field.name}}">
                    
                    <span class="input-group-addon" style="cursor:pointer" ng-style="(!field.enabled)? {'pointer-events':'none'} : {'pointer-events':'auto'}" ng-click="triggerPicker($event)">
                        <span class="glyphicon" ng-class="(field.type == 'DateOnly') ? 'glyphicon-calendar date-set' :'' || ((field.type == 'DateTime') || (field.type == 'ISODateTime')) ? 'glyphicon-calendar date-set': '' || (field.type == 'TimeOnly') ? 'glyphicon-time': ''"></span>
                    </span>
                </div>

                <span class="help-inline" ng-show="submitted&&interfaceForm.{{field.name | nospace}}.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                </div>

        </div>  
        
        </div>

    <div class="panel panel-default" ng-repeat="Pgroup in fieldDetails.subSection" ng-init="pInd = $index">

		<div class="panel-heading col-xs-12" data-toggle="collapse" data-target="{{'#'+Pgroup.name}}" style="cursor:pointer" ng-init="expanded = false" ng-click ="expanded = !expanded" >
        <h5 class="panel-title col-xs-12">{{Pgroup.sectionheader}}
              <i style="padding-top:2px;" class="pull-right  bold fa fa-angle-down" ng-class="{'fa-angle-down': !expanded, 'fa-angle-right': expanded}"></i> 
        </h5>
    </div>

            
    <div class="panel-body col-xs-12" id="{{Pgroup.name}}" collapse="{{expanded}}">
                    
                <div class="control-group" ng-repeat="Sgroup in Pgroup.subArr" ng-class="{true: 'error'}[submitted && interfaceForm.{{Sgroup.name}}.$invalid] && !(Sgroup.notnull)" style="margin-top: 5px;" ng-if=" Sgroup.maxoccurs == 1">
                        <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>

            <div class="col-md-6" ng-if="Sgroup.enabled">
                       
                <div class="form-group">
                        
                    <label for="{{Sgroup.name}}" class="control-label col-md-4" style='font-weight:bold;'>{{Sgroup.label}} 
                    <span ng-if="!Sgroup.notnull && Sgroup.label" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                   
                <div class="col-md-7" ng-if="((Sgroup.renderer[Sgroup.renderer.type].type == 'TextField')&&((Sgroup.type == 'Integer')||(Sgroup.type == 'String')||(Sgroup.type == 'BigDecimal') || (Sgroup.type == 'Double'))) && Sgroup.enabled ">
                    <input class="form-control" id="{{Sgroup.label}}" type="text" maxlength="{{Sgroup.renderer[Sgroup.renderer.type].width == -1 ? 100 : Sgroup.renderer[Sgroup.renderer.type].width}}" name="{{Sgroup.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name]"  placeholder="{{(Sgroup.type == 'Integer')?Sgroup.label +' Only Number':'Please Enter '+Sgroup.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(Sgroup.notnull)" ng-keydown="checkType($event,Sgroup.type)" ng-disabled="!Sgroup.enabled" > 
                    <span>{{(Sgroup.renderer[Sgroup.renderer.type].width == -1) ? 100 : (Sgroup.renderer[Sgroup.renderer.type].width) - fieldData[Sgroup.name].length}} Characters left</span>
                </div>

                <div class="col-md-8" ng-if="((Sgroup.renderer[Sgroup.renderer.type].type == 'TextArea') && Sgroup.enabled)" >
                    <textarea style="resize:vertical" rows="{{getTextAreaRows((Sgroup.renderer[Sgroup.renderer.type].rows*Sgroup.renderer[Sgroup.renderer.type].width)/50)}}" cols="{{Sgroup.renderer[Sgroup.renderer.type].width}}" class="form-control" id="{{Sgroup.label}}" maxlength="{{Sgroup.renderer[Sgroup.renderer.type].rows*Sgroup.renderer[Sgroup.renderer.type].width}}" name="{{Sgroup.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name]"  placeholder="{{(Sgroup.type == 'Integer')?Sgroup.label +' Only Number':'Please Enter '+Sgroup.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(Sgroup.notnull)" ng-keydown="(Sgroup.type == 'Integer') ? allowOnlyNumbersAlone($event) : ''" ng-disabled="!Sgroup.enabled"></textarea>
                </div>
                <div class="col-md-7" ng-if="((Sgroup.type == 'String')&&(Sgroup.renderer[Sgroup.renderer.type].type == 'Choice'))&&Sgroup.enabled">
                    
                    <select name="{{Sgroup.name}}"  name="{{Sgroup.FieldName | nospace}}" class="form-control"  id="{{Sgroup.label}}" ng-model="fieldData[Pgroup.name][Sgroup.name]" ng-required = "!(Sgroup.notnull)" ng-disabled="!Sgroup.enabled" detailsofSgroup = "{{Sgroup}}" ng-change="diabledFields(fieldData[Sgroup.name],Sgroup)">
                        <option value="">Select</option>  
                        <option ng-if="Sgroup.renderer.Choice.choiceOptions[0].displayvalue" ng-repeat="x in Sgroup.renderer.Choice.choiceOptions" value="{{(x.actualvalue == 'REST') ? x : x.actualvalue}}">{{x.displayvalue}}</option>
                        
                    </select>
                </div>
                    
                <div ng-if="((Sgroup.type == 'Boolean')&&(Sgroup.renderer[Sgroup.renderer.type].type == 'Choice'))&&Sgroup.enabled " class="col-md-3" style="border:none;">
                <label class="radio-inline" ng-repeat="x in Sgroup.choiceOptions" ng-if="x.actualvalue">
                    <input type="radio" name="{{Sgroup.name | nospace}}" class="" ng-model="fieldData[Pgroup.name][Sgroup.name]" ng-value="{{x.actualvalue}}" ng-required = "!(Sgroup.notnull)" ng-disabled="!Sgroup.enabled">
                    <span style="padding:5px">{{x.displayvalue}}</span>
                </label>
                </div>
                
                <div ng-if="((Sgroup.type == 'DateTime') || (Sgroup.type == 'ISODateTime') || (Sgroup.type == 'DateOnly') || (Sgroup.type == 'TimeOnly')) && Sgroup.enabled" class="input-group col-md-7 input-append" style="padding-right:15px;padding-left:12px;float:left;" data = "{{Pgroup.name +'_'+ Sgroup.name}}">
                <input class="form-control" ng-class="(Sgroup.type == 'DateOnly') ? 'DatePicker':((Sgroup.type == 'DateTime') )? 'DateTimePicker':(Sgroup.type == 'TimeOnly') ? 'TimePicker':((Sgroup.type == 'ISODateTime')?'ISODateTime':'')" id="{{Sgroup.name}}" type="text" maxlength="{{Sgroup.renderer[Sgroup.renderer.type].width == -1 ? 100 : Sgroup.renderer[Sgroup.renderer.type].width}}" name="{{Sgroup.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name]"  placeholder="{{'Please Enter '+Sgroup.label}}" onpaste="return false" ng-required = "!(Sgroup.notnull)" onkeypress='return tabOrder(event)'  ng-focus="activatePicker($event)" ng-blur="multipleEmptySpace($event)" ng-disabled="!Sgroup.enabled" aName="{{Pgroup.name}}_{{Sgroup.name}}">
                
                <span class="input-group-addon" style="cursor:pointer" ng-style="(!Sgroup.enabled)? {'pointer-events':'none'} : {'pointer-events':'auto'}" ng-click="triggerPicker($event)">
                    <span class="glyphicon" ng-class="(Sgroup.type == 'DateOnly') ? 'glyphicon-calendar date-set' :'' || ((Sgroup.type == 'DateTime') || (Sgroup.type == 'ISODateTime')) ? 'glyphicon-calendar date-set': '' || (Sgroup.type == 'TimeOnly') ? 'glyphicon-time': ''"></span>
                </span>
            </div>
</div>					



        </div>

        <div ng-if="Sgroup.type == 'Section'">
                <div class="clearfix" style="background-color: transparent;"></div>
            <div class="panel panel-default" ng-repeat="grp1 in Pgroup.subArr" ng-if="grp1.type == 'Section' && grp1.maxoccurs == 1" style="border: 1px solid #cecbcb;margin: 0px 10px 5px 0px;" >
                    
                <h5 class="panel-heading" data-toggle="collapse" data-target="{{'#'+grp1.name}}" style="margin: 0;cursor:pointer" ng-init="expanded = false" ng-click="expanded = !expanded">
                   
                    {{grp1.sectionheader}}
                        <i style="padding-top:2px;" class="pull-right  bold fa fa-angle-down" ng-class="{'fa-angle-down': !expanded, 'fa-angle-right': expanded}"></i> 
                    </h5>

                <div class="panel-body collapse in" id="{{grp1.name}}">
                    
                    
                    <div ng-class="{'col-md-6': field.type != 'Section' , 'col-md-12':field.type == 'Section'}"  ng-repeat="field in grp1.subArr" ng-if="field.enabled">
                        
                        <div class="control-group" ng-class="{true: 'error'}[submitted && interfaceForm.{{field.name}}.$invalid] && !(field.notnull)" style="margin-top: 5px;">
                        <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                    <div class="form-group">
                            <label for="{{field.name}}" class="control-label col-md-4" style='font-weight:bold;' ng-if="field.enabled">{{field.label}}
                            <span ng-if="!field.notnull && field.label" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                            
                        <div class="col-md-7" ng-if="((field.renderer[field.renderer.type].type == 'TextField')&&((field.type == 'Integer')||(field.type == 'String')||(field.type == 'BigDecimal') || (field.type == 'Double') ))&&field.enabled">
                            <input class="form-control" id="{{field.label}}" type="text" maxlength="{{field.renderer[field.renderer.type].width == -1 ? 100 : field.renderer[field.renderer.type].width}}" name="{{field.name | nospace}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name]"  placeholder="{{(field.type == 'Integer')?field.label +' Only Number':'Please Enter '+field.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(field.notnull)" ng-keydown="checkType($event,field.type)" ng-disabled="!field.enabled" > 
                        </div>

                        <div class="col-md-8" ng-if="((field.renderer[field.renderer.type].type == 'TextArea')) && field.enabled" >
                            <textarea style="resize:vertical" rows="{{getTextAreaRows((field.renderer[field.renderer.type].rows*field.renderer[field.renderer.type].width)/50)}}" cols="{{field.renderer[field.renderer.type].width}}" class="form-control" id="{{field.label}}" maxlength="{{field.renderer[field.renderer.type].rows*field.renderer[field.renderer.type].width}}" name="{{field.name | nospace}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name]"  placeholder="{{(field.type == 'Integer')?field.label +' Only Number':'Please Enter '+field.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(field.notnull)" ng-keydown="(field.type == 'Integer') ? allowOnlyNumbersAlone($event) : ''" ng-disabled="!field.enabled"></textarea>
                        </div>
                        <div class="col-md-7" ng-if="((field.type == 'String')&&(field.renderer[field.renderer.type].type == 'Choice')) && field.enabled">
                            <select name="{{field.name}}"  name="{{field.FieldName | nospace}}" class="form-control"  id="{{field.label}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name]" ng-required = "!(field.notnull)" ng-disabled="!field.enabled" detailsoffield = "{{field}}">
                                <option value="">Select</option>  
                                <option ng-if="field.renderer.Choice.choiceOptions[0].displayvalue" ng-repeat="x in field.renderer.Choice.choiceOptions" value="{{(x.actualvalue == 'REST') ? x : x.actualvalue}}">{{x.displayvalue}}</option>
                            </select>
                        </div>
                            
                        <div ng-if="((field.type == 'Boolean')&&(field.renderer[field.renderer.type].type == 'Choice'))&&field.enabled" class="col-md-3" style="border:none;">
                        <label class="radio-inline" ng-repeat="x in field.choiceOptions" ng-if="x.actualvalue">
                            <input type="radio" name="{{field.name | nospace}}" class="" ng-model="fieldData[Pgroup.name][grp1.name][field.name]" ng-value="{{x.actualvalue}}" ng-required = "!(field.notnull)" ng-disabled="!field.enabled">
                            <span style="padding:5px">{{x.displayvalue}}</span>
                        </label>
                        </div>
                        
                        <div ng-if="((field.type == 'DateTime') || (field.type == 'ISODateTime') || (field.type == 'DateOnly') || (field.type == 'TimeOnly')) && field.enabled" class="input-group col-md-7 input-append" style="padding-right:15px;padding-left:12px;float:left;" data = "{{Pgroup.name +'_'+ grp1.name}}">
                        <input class="form-control" ng-class="(field.type == 'DateOnly') ? 'DatePicker':((field.type == 'DateTime') )? 'DateTimePicker':(field.type == 'TimeOnly') ? 'TimePicker':((field.type == 'ISODateTime')?'ISODateTime':'')" id="{{field.name}}" type="text" maxlength="{{field.renderer[field.renderer.type].width == -1 ? 100 : field.renderer[field.renderer.type].width}}" name="{{field.name | nospace}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name]"  placeholder="{{'Please Enter '+field.label}}" onpaste="return false" ng-required = "!(field.notnull)" onkeypress='return tabOrder(event)'  ng-focus="activatePicker($event)" ng-blur="multipleEmptySpace($event)" ng-disabled="!field.enabled" aName="{{Pgroup.name}}_{{grp1.name}}_{{field.name}}">
                        
                        <span class="input-group-addon" style="cursor:pointer" ng-style="(!field.enabled)? {'pointer-events':'none'} : {'pointer-events':'auto'}" ng-click="triggerPicker($event)">
                            <span class="glyphicon" ng-class="(field.type == 'DateOnly') ? 'glyphicon-calendar date-set' :'' || ((field.type == 'DateTime') || (field.type == 'ISODateTime')) ? 'glyphicon-calendar date-set': '' || (field.type == 'TimeOnly') ? 'glyphicon-time': ''"></span>
                        </span>
                    </div>

                    <span class="help-inline" ng-show="submitted&&interfaceForm.{{field.name}}.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                    <div ng-if="(field.type == 'Section')" style="padding:10px;">
                        
                        <div class="panel panel-default" style="border: 1px solid #cecbcb;margin: 0px 10px 5px 0px;">
                                <h5 class="panel-heading" data-toggle="collapse" data-target="{{'#'+field.name}}" style="margin: 0;cursor:pointer" ng-init="expanded = false" ng-click="expanded = !expanded">{{field.sectionheader}} 
                                        <i style="padding-top:2px;" class="pull-right  bold fa fa-angle-down" ng-class="{'fa-angle-down': !expanded, 'fa-angle-right': expanded}"></i> </h5>
                        </div>
                        
                        <div class="panel-body collapse in" id="{{field.name}}" ng-init="array = field.subArr">
                            
                        <div ng-repeat="subGroup in field.subArr track by $index">
                                <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                                
                                <div ng-class="{'col-md-6': subGroup.type != 'Section' , 'col-md-12':subGroup.type == 'Section'}" > 
                                    <div class="control-group" ng-class="{true: 'error'}[submitted && interfaceForm.{{subGroup.name}}.$invalid] && !(subGroup.notnull)" style="margin-top: 5px;">
                                        <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                                    <div class="form-group">
                                        <label for="{{subGroup.name}}" class="control-label col-md-3" style='font-weight:bold;'>{{subGroup.label}}
                                        <span ng-if="!subGroup.notnull && subGroup.label" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
            
        
                                    <div class="col-md-7" ng-if="(subGroup.renderer[subGroup.renderer.type].type == 'TextField')&&((subGroup.type == 'Integer')||(subGroup.type == 'String')||(subGroup.type == 'BigDecimal') || (subGroup.type == 'Double') )">
                                        <input class="form-control" id="{{subGroup.label}}" type="text" maxlength="{{subGroup.renderer[subGroup.renderer.type].width == -1 ? 100 : subGroup.renderer[subGroup.renderer.type].width}}" name="{{subGroup.name | nospace}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name]"  placeholder="{{(subGroup.type == 'Integer')?subGroup.label +' Only Number':'Please Enter '+subGroup.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(subGroup.notnull)" ng-keydown="checkType($event,subGroup.type)" ng-disabled="!subGroup.enabled" > 
                                    </div> 
                                    <div class="col-md-8" ng-if="(subGroup.renderer[subGroup.renderer.type].type == 'TextArea')" >
                                        <textarea style="resize:vertical" rows="{{getTextAreaRows((subGroup.renderer[subGroup.renderer.type].rows*subGroup.renderer[subGroup.renderer.type].width)/50)}}" cols="{{subGroup.renderer[subGroup.renderer.type].width}}" class="form-control" id="{{subGroup.label}}" maxlength="{{subGroup.renderer[subGroup.renderer.type].rows*subGroup.renderer[subGroup.renderer.type].width}}" name="{{subGroup.name | nospace}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name]"  placeholder="{{(subGroup.type == 'Integer')?subGroup.label +' Only Number':'Please Enter '+subGroup.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(subGroup.notnull)" ng-keydown="(subGroup.type == 'Integer') ? allowOnlyNumbersAlone($event) : ''" ng-disabled="!subGroup.enabled"></textarea>
                                    </div>
                                    <div class="col-md-7" ng-if="(subGroup.type == 'String')&&(subGroup.renderer[subGroup.renderer.type].type == 'Choice')">
                                        <select name="{{subGroup.name}}"  name="{{subGroup.FieldName | nospace}}" class="form-control"  id="{{subGroup.label}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name]" ng-required = "!(subGroup.notnull)" ng-disabled="!subGroup.enabled" detailsoffield = "{{subGroup}}">
                                            <option value="">Select</option>  
                                            <option ng-if="subGroup.renderer.Choice.choiceOptions[0].displayvalue" ng-repeat="x in subGroup.renderer.Choice.choiceOptions" value="{{(x.actualvalue == 'REST') ? x : x.actualvalue}}">{{x.displayvalue}}</option>
                                        </select>
                                    </div>
                                        
                                    <div ng-if="(subGroup.type == 'Boolean')&&(subGroup.renderer[subGroup.renderer.type].type == 'Choice')" class="col-md-3" style="border:none;">
                                    <label class="radio-inline" ng-repeat="x in subGroup.ChoiceOptions" ng-if="x.actualvalue">
                                        <input type="radio" name="{{subGroup.name | nospace}}" class="" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name]" ng-value="{{x.actualvalue}}" ng-required = "!(subGroup.notnull)" ng-disabled="!subGroup.enabled">
                                        <span style="padding:5px">{{x.displayvalue}}</span>
                                    </label>
                                    </div>
            
                                    <div ng-if="(subGroup.type == 'DateTime') || (subGroup.type == 'ISODateTime') || (subGroup.type == 'DateOnly') || (subGroup.type == 'TimeOnly')" class="input-group col-md-7 input-append" style="padding-right:15px;padding-left:12px;float:left;" data = "{{Pgroup.name +'_'+ grp1.name}}">
                                    <input class="form-control" ng-class="(subGroup.type == 'DateOnly') ? 'DatePicker':((subGroup.type == 'DateTime') )? 'DateTimePicker':(subGroup.type == 'TimeOnly') ? 'TimePicker':((subGroup.type == 'ISODateTime')?'ISODateTime':'')" id="{{subGroup.name}}" type="text" maxlength="{{subGroup.renderer[subGroup.renderer.type].width == -1 ? 100 : subGroup.renderer[subGroup.renderer.type].width}}" name="{{subGroup.name}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name]"  placeholder="{{'Please Enter '+subGroup.label}}" onpaste="return false" ng-required = "!(subGroup.notnull)" onkeypress='return tabOrder(event)'  ng-focus="activatePicker($event)" ng-blur="multipleEmptySpace($event)" ng-disabled="!subGroup.enabled" aName="{{Pgroup.name}}_{{grp1.name}}_{{ind}}_{{field.name}}_{{subGroup.name}}">
                                    
                                    <span class="input-group-addon" style="cursor:pointer" ng-style="(!subGroup.enabled)? {'pointer-events':'none'} : {'pointer-events':'auto'}" ng-click="triggerPicker($event)">
                                        <span class="glyphicon" ng-class="(subGroup.type == 'DateOnly') ? 'glyphicon-calendar date-set' :'' || ((subGroup.type == 'DateTime') || (subGroup.type == 'ISODateTime')) ? 'glyphicon-calendar date-set': '' || (subGroup.type == 'TimeOnly') ? 'glyphicon-time': ''"></span>
                                    </span>
                                </div> 
                                <div class="clearfix"></div>
                            
                    <div ng-if="(subGroup.type == 'Section')">

                        <div class="panel panel-default" style="border: 1px solid #cecbcb;margin: 0px 10px 5px 0px;">
                                <h5 class="panel-heading" data-toggle="collapse" data-target="{{'#'+subGroup.name}}" style="margin: 0;cursor:pointer" ng-init="expanded = false" ng-click="expanded = !expanded">{{subGroup.sectionheader}}
                                        <i style="padding-top:2px;" class="pull-right  bold fa fa-angle-down" ng-class="{'fa-angle-down': !expanded, 'fa-angle-right': expanded}"></i> </h5>
                        </div>
                        
                    <div class="panel-body collapse in" id="{{subGroup.name}}">
                                
                            <div ng-repeat="sg in subGroup.subArr track by $index">
                                    <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                                
                                    <div ng-class="{'col-md-6': sg.type != 'Section' , 'col-md-12':sg.type == 'Section'}"> 
                                        
                                        <div class="control-group" ng-class="{true: 'error'}[submitted && interfaceForm.{{sg.name}}.$invalid] && !(sg.notnull)" style="margin-top: 5px;">
                                            <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                                            <div class="form-group">
                                                <label for="{{sg.name}}" class="control-label col-md-3" style='font-weight:bold;'>{{sg.label}}
                                            <span ng-if="!sg.notnull && sg.label" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                
                
                                        <div class="col-md-7" ng-if="(sg.renderer[sg.renderer.type].type == 'TextField')&&((sg.type == 'Integer')||(sg.type == 'String')||(sg.type == 'BigDecimal') || (sg.type == 'Double') )">
                                            <input class="form-control" id="{{sg.label}}" type="text" maxlength="{{sg.renderer[sg.renderer.type].width == -1 ? 100 : sg.renderer[sg.renderer.type].width}}" name="{{sg.name | nospace}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name][sg.name]"  placeholder="{{(sg.type == 'Integer')?sg.label +' Only Number':'Please Enter '+sg.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(sg.notnull)" ng-keydown="checkType($event,sg.type)" ng-disabled="!sg.enabled" > 
                                        </div> 
                                        <div class="col-md-8" ng-if="(sg.renderer[sg.renderer.type].type == 'TextArea')" >
                                            <textarea style="resize:vertical" rows="{{getTextAreaRows((sg.renderer[sg.renderer.type].rows*sg.renderer[sg.renderer.type].width)/50)}}" cols="{{sg.renderer[sg.renderer.type].width}}" class="form-control" id="{{sg.label}}" maxlength="{{sg.renderer[sg.renderer.type].rows*sg.renderer[sg.renderer.type].width}}" name="{{sg.name | nospace}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name][sg.name]"  placeholder="{{(sg.type == 'Integer')?sg.label +' Only Number':'Please Enter '+sg.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(sg.notnull)" ng-keydown="(sg.type == 'Integer') ? allowOnlyNumbersAlone($event) : ''" ng-disabled="!sg.enabled"></textarea>
                                        </div>
                                        <div class="col-md-7" ng-if="(sg.type == 'String')&&(sg.renderer[sg.renderer.type].type == 'Choice')">
                                            <select name="{{sg.name}}"  name="{{sg.FieldName | nospace}}" class="form-control"  id="{{sg.label}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name][sg.name]" ng-required = "!(sg.notnull)" ng-disabled="!sg.enabled" detailsoffield = "{{sg}}">
                                                <option value="">Select</option>  
                                                <option ng-if="sg.renderer.Choice.choiceOptions[0].displayvalue" ng-repeat="x in sg.renderer.Choice.choiceOptions" value="{{(x.actualvalue == 'REST') ? x : x.actualvalue}}">{{x.displayvalue}}</option>
                                            </select>
                                        </div>
                                            
                                        <div ng-if="(sg.type == 'Boolean')&&(sg.renderer[sg.renderer.type].type == 'Choice')" class="col-md-3" style="border:none;">
                                        <label class="radio-inline" ng-repeat="x in sg.ChoiceOptions" ng-if="x.actualvalue">
                                            <input type="radio" name="{{sg.name | nospace}}" class="" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name][sg.name]" ng-value="{{x.actualvalue}}" ng-required = "!(sg.notnull)" ng-disabled="!sg.enabled">
                                            <span style="padding:5px">{{x.displayvalue}}</span>
                                        </label>
                                        </div>
                
                                        <div ng-if="(sg.type == 'DateTime') || (sg.type == 'ISODateTime') || (sg.type == 'DateOnly') || (sg.type == 'TimeOnly')" class="input-group col-md-7 input-append" style="padding-right:15px;padding-left:12px;float:left;" data = "{{Pgroup.name +'_'+ grp1.name}}">
                                        <input class="form-control" ng-class="(sg.type == 'DateOnly') ? 'DatePicker':((sg.type == 'DateTime') )? 'DateTimePicker':(sg.type == 'TimeOnly') ? 'TimePicker':((sg.type == 'ISODateTime')?'ISODateTime':'')" id="{{sg.name}}" type="text" maxlength="{{sg.renderer[sg.renderer.type].width == -1 ? 100 : sg.renderer[sg.renderer.type].width}}" name="{{sg.name}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name][sg.name]"  placeholder="{{'Please Enter '+sg.label}}" onpaste="return false" ng-required = "!(sg.notnull)" onkeypress='return tabOrder(event)'  ng-focus="activatePicker($event)" ng-blur="multipleEmptySpace($event)" ng-disabled="!sg.enabled" aName="{{Pgroup.name}}_{{grp1.name}}_{{ind}}_{{field.name}}_{{sg.name}}">
                                        
                                        <span class="input-group-addon" style="cursor:pointer" ng-style="(!sg.enabled)? {'pointer-events':'none'} : {'pointer-events':'auto'}" ng-click="triggerPicker($event)">
                                            <span class="glyphicon" ng-class="(sg.type == 'DateOnly') ? 'glyphicon-calendar date-set' :'' || ((sg.type == 'DateTime') || (sg.type == 'ISODateTime')) ? 'glyphicon-calendar date-set': '' || (sg.type == 'TimeOnly') ? 'glyphicon-time': ''"></span>
                                        </span>
                                    </div>
                                    
                                    <div ng-if="(sg.type == 'Section')">
                                            
                                        <div class="panel panel-default" style="border: 1px solid #cecbcb;margin: 0px 10px 5px 0px;">
                                                <h5 class="panel-heading" data-toggle="collapse" data-target="{{'#'+sg.name}}" style="margin: 0;cursor:pointer" ng-init="expanded = false" ng-click="expanded = !expanded">{{sg.sectionheader}}
                                                        <i style="padding-top:2px;" class="pull-right  bold fa fa-angle-down" ng-class="{'fa-angle-down': !expanded, 'fa-angle-right': expanded}"></i> </h5>
                                        </div>
                                        <div class="panel-body collapse in" id="{{sg.name}}">
                                            
                                            <div ng-repeat="sg1 in sg.subArr track by $index">
                                                <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                                                <div ng-class="{'col-md-6': sg1.type != 'Section' , 'col-md-12':sg1.type == 'Section'}"> 

                                                    <div class="control-group" ng-class="{true: 'error'}[submitted && interfaceForm.{{sg1.name}}.$invalid] && !(sg1.notnull)" style="margin-top: 5px;">
                                                            <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                                                    <div class="form-group">
                                                            <label for="{{sg1.name}}" class="control-label col-md-3" style='font-weight:bold;'>{{sg1.label}}
                                                        <span ng-if="!sg1.notnull && sg1.label" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

                                                        <div class="col-md-7" ng-if="(sg1.renderer[sg1.renderer.type].type == 'TextField')&&((sg1.type == 'Integer')||(sg1.type == 'String')||(sg1.type == 'BigDecimal') || (sg1.type == 'Double') )">
                                                            <input class="form-control" id="{{sg1.label}}" type="text" maxlength="{{sg1.renderer[sg1.renderer.type].width == -1 ? 100 : sg1.renderer[sg1.renderer.type].width}}" name="{{sg1.name | nospace}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name][sg.name][sg1.name]"  placeholder="{{(sg1.type == 'Integer')?sg1.label +' Only Number':'Please Enter '+sg1.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(sg1.notnull)" ng-keydown="checkType($event,sg1.type)" ng-disabled="!sg1.enabled" > 
                                                        </div> 
                                                        <div class="col-md-8" ng-if="(sg1.renderer[sg1.renderer.type].type == 'TextArea')" >
                                                            <textarea style="resize:vertical" rows="{{getTextAreaRows((sg1.renderer[sg1.renderer.type].rows*sg1.renderer[sg1.renderer.type].width)/50)}}" cols="{{sg1.renderer[sg1.renderer.type].width}}" class="form-control" id="{{sg1.label}}" maxlength="{{sg1.renderer[sg1.renderer.type].rows*sg1.renderer[sg1.renderer.type].width}}" name="{{sg1.name | nospace}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name][sg.name][sg1.name]"  placeholder="{{(sg1.type == 'Integer')?sg1.label +' Only Number':'Please Enter '+sg1.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(sg1.notnull)" ng-keydown="(sg1.type == 'Integer') ? allowOnlyNumbersAlone($event) : ''" ng-disabled="!sg1.enabled"></textarea>
                                                        </div>
                                                        <div class="col-md-7" ng-if="(sg1.type == 'String')&&(sg1.renderer[sg1.renderer.type].type == 'Choice')">
                                                            <select name="{{sg1.name}}"  name="{{sg1.FieldName | nospace}}" class="form-control"  id="{{sg1.label}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name][sg.name][sg1.name]" ng-required = "!(sg1.notnull)" ng-disabled="!sg1.enabled" detailsoffield = "{{sg1}}">
                                                                <option value="">Select</option>  
                                                                <option ng-if="sg1.renderer.Choice.choiceOptions[0].displayvalue" ng-repeat="x in sg1.renderer.Choice.choiceOptions" value="{{(x.actualvalue == 'REST') ? x : x.actualvalue}}">{{x.displayvalue}}</option>
                                                            </select>
                                                        </div>
                                                            
                                                        <div ng-if="(sg1.type == 'Boolean')&&(sg1.renderer[sg1.renderer.type].type == 'Choice')" class="col-md-3" style="border:none;">
                                                        <label class="radio-inline" ng-repeat="x in sg1.ChoiceOptions" ng-if="x.actualvalue">
                                                            <input type="radio" name="{{sg1.name | nospace}}" class="" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name][sg.name][sg1.name]" ng-value="{{x.actualvalue}}" ng-required = "!(sg1.notnull)" ng-disabled="!sg1.enabled">
                                                            <span style="padding:5px">{{x.displayvalue}}</span>
                                                        </label>
                                                        </div>
                                
                                                        <div ng-if="(sg1.type == 'DateTime') || (sg1.type == 'ISODateTime') || (sg1.type == 'DateOnly') || (sg1.type == 'TimeOnly')" class="input-group col-md-7 input-append" style="padding-right:15px;padding-left:12px;float:left;" data = "{{Pgroup.name +'_'+ grp1.name}}">
                                                        <input class="form-control" ng-class="(sg1.type == 'DateOnly') ? 'DatePicker':((sg1.type == 'DateTime') )? 'DateTimePicker':(sg1.type == 'TimeOnly') ? 'TimePicker':((sg1.type == 'ISODateTime')?'ISODateTime':'')" id="{{sg1.name}}" type="text" maxlength="{{sg1.renderer[sg1.renderer.type].width == -1 ? 100 : sg1.renderer[sg1.renderer.type].width}}" name="{{sg1.name}}" ng-model="fieldData[Pgroup.name][grp1.name][field.name][subGroup.name][sg.name][sg1.name]"  placeholder="{{'Please Enter '+sg1.label}}" onpaste="return false" ng-required = "!(sg1.notnull)" onkeypress='return tabOrder(event)'  ng-focus="activatePicker($event)" ng-blur="multipleEmptySpace($event)" ng-disabled="!sg1.enabled" aName="{{Pgroup.name}}_{{grp1.name}}_{{ind}}_{{field.name}}_{{sg1.name}}">
                                                        
                                                        <span class="input-group-addon" style="cursor:pointer" ng-style="(!sg1.enabled)? {'pointer-events':'none'} : {'pointer-events':'auto'}" ng-click="triggerPicker($event)">
                                                            <span class="glyphicon" ng-class="(sg1.type == 'DateOnly') ? 'glyphicon-calendar date-set' :'' || ((sg1.type == 'DateTime') || (sg1.type == 'ISODateTime')) ? 'glyphicon-calendar date-set': '' || (sg1.type == 'TimeOnly') ? 'glyphicon-time': ''"></span>
                                                        </span>
                                                    </div>            
                                                    </div>        
                                                    </div>        
                                                </div>        
                                            </div>        
                                        </div>    

                                    </div>

    
                                    <span class="help-inline" ng-show="submitted&&interfaceForm.{{sg.name}}.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                
                                            </div>       
                                        </div>   
                                    </div>
                                </div>
    

                            </div>

                            </div>

                            <span class="help-inline" ng-show="submitted&&interfaceForm.{{subGroup.name}}.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
            
                                        </div>       
                                    </div>   
                                </div>
                            </div>

                        </div>
                        </div>

                    </div>
                    </div>
                </div>
                
                </div> 
            </div>

         </div>
         </div>    



            
            <div class="control-group" ng-repeat="Sgroup in Pgroup.subArr" ng-class="{true: 'error'}[submitted && interfaceForm.{{Sgroup.name}}.$invalid] && !(Sgroup.notnull)" style="margin-top: 5px;" ng-if="Sgroup.maxoccurs == -1">
                     
                    <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                    <div ng-class="{'col-md-6': Sgroup.type != 'Section' , 'col-md-12':Sgroup.type == 'Section'}" >

                           
                        <div class="form-group">
                                
                            <label for="{{Sgroup.name}}" class="control-label col-md-4" style='font-weight:bold;'>{{Sgroup.label}} 
                            <span ng-if="!Sgroup.notnull && Sgroup.label" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                            
                        <div class="col-md-7" ng-if="((Sgroup.renderer[Sgroup.renderer.type].type == 'TextField')&&((Sgroup.type == 'Integer')||(Sgroup.type == 'String')||(Sgroup.type == 'BigDecimal') || (Sgroup.type == 'Double')) && Sgroup.enabled)">  
                            <input class="form-control" id="{{Sgroup.label}}" type="text" maxlength="{{Sgroup.renderer[Sgroup.renderer.type].width == -1 ? 100 : Sgroup.renderer[Sgroup.renderer.type].width}}" name="{{Sgroup.name | nospace}}" ng-model="fieldData[Pgroup.name][pInd][Sgroup.name]"  placeholder="{{(Sgroup.type == 'Integer')?Sgroup.label +' Only Number':'Please Enter '+Sgroup.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(Sgroup.notnull)" ng-keydown="checkType($event,Sgroup.type)" ng-disabled="!Sgroup.enabled" > 
                            <span>{{(Sgroup.renderer[Sgroup.renderer.type].width == -1) ? 100 : (Sgroup.renderer[Sgroup.renderer.type].width) - fieldData[Pgroup.name][pInd][Sgroup.name].length}} Characters left</span>
                        </div>
        
                        <div class="col-md-8" ng-if="(Sgroup.renderer[Sgroup.renderer.type].type == 'TextArea') && Sgroup.enabled" >
                            <textarea style="resize:vertical" rows="{{getTextAreaRows((Sgroup.renderer[Sgroup.renderer.type].rows*Sgroup.renderer[Sgroup.renderer.type].width)/50)}}" cols="{{Sgroup.renderer[Sgroup.renderer.type].width}}" class="form-control" id="{{Sgroup.label}}" maxlength="{{Sgroup.renderer[Sgroup.renderer.type].rows*Sgroup.renderer[Sgroup.renderer.type].width}}" name="{{Sgroup.name | nospace}}" ng-model="fieldData[Pgroup.name][pInd][Sgroup.name]"  placeholder="{{(Sgroup.type == 'Integer')?Sgroup.label +' Only Number':'Please Enter '+Sgroup.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(Sgroup.notnull)" ng-keydown="(Sgroup.type == 'Integer') ? allowOnlyNumbersAlone($event) : ''" ng-disabled="!Sgroup.enabled"></textarea>
                        </div>
                        <div class="col-md-7" ng-if="((Sgroup.type == 'String')&&(Sgroup.renderer[Sgroup.renderer.type].type == 'Choice')) && Sgroup.enabled">
                            
                            <select name="{{Sgroup.name}}"  name="{{Sgroup.FieldName | nospace}}" class="form-control"  id="{{Sgroup.label}}" ng-model="fieldData[Pgroup.name][pInd][Sgroup.name]" ng-required = "!(Sgroup.notnull)" ng-disabled="!Sgroup.enabled" detailsofSgroup = "{{Sgroup}}" ng-change="diabledFields(fieldData[Sgroup.name],Sgroup)">
                                <option value="">Select</option>  
                                <option ng-if="Sgroup.renderer.Choice.choiceOptions[0].displayvalue" ng-repeat="x in Sgroup.renderer.Choice.choiceOptions" value="{{(x.actualvalue == 'REST') ? x : x.actualvalue}}">{{x.displayvalue}}</option>
                                
                            </select>
                        </div>
                            
                        <div ng-if="((Sgroup.type == 'Boolean')&&(Sgroup.renderer[Sgroup.renderer.type].type == 'Choice')) && Sgroup.enabled" class="col-md-3" style="border:none;">
                        <label class="radio-inline" ng-repeat="x in Sgroup.ChoiceOptions" ng-if="x.actualvalue">
                            <input type="radio" name="{{Sgroup.name | nospace}}" class="" ng-model="fieldData[Pgroup.name][pInd][Sgroup.name]" ng-value="{{x.actualvalue}}" ng-required = "!(Sgroup.notnull)" ng-disabled="!Sgroup.enabled">
                            <span style="padding:5px">{{x.displayvalue}}</span>
                        </label>
                        </div>
                        
                        <div ng-if="((Sgroup.type == 'DateTime') || (Sgroup.type == 'ISODateTime') || (Sgroup.type == 'DateOnly') || (Sgroup.type == 'TimeOnly'))&& Sgroup.enabled" class="input-group col-md-7 input-append" style="padding-right:15px;padding-left:12px;float:left;" data = "{{Pgroup.name +'_'+ Sgroup.name}}">  
                        <input class="form-control" ng-class="(Sgroup.type == 'DateOnly') ? 'DatePicker':((Sgroup.type == 'DateTime') )? 'DateTimePicker':(Sgroup.type == 'TimeOnly') ? 'TimePicker':((Sgroup.type == 'ISODateTime')?'ISODateTime':'')" id="{{Sgroup.name}}" type="text" maxlength="{{Sgroup.renderer[Sgroup.renderer.type].width == -1 ? 100 : Sgroup.renderer[Sgroup.renderer.type].width}}" name="{{Sgroup.name | nospace}}" ng-model="fieldData[Pgroup.name][pInd][Sgroup.name]"  placeholder="{{'Please Enter '+Sgroup.label}}" onpaste="return false" ng-required = "!(Sgroup.notnull)" onkeypress='return tabOrder(event)'  ng-focus="activatePicker($event)" ng-blur="multipleEmptySpace($event)" ng-disabled="!Sgroup.enabled" aName="{{Pgroup.name}}_{{pInd}}_{{Sgroup.name}}">
                        
                        <span class="input-group-addon" style="cursor:pointer" ng-style="(!Sgroup.enabled)? {'pointer-events':'none'} : {'pointer-events':'auto'}" ng-click="triggerPicker($event)">
                            <span class="glyphicon" ng-class="(Sgroup.type == 'DateOnly') ? 'glyphicon-calendar date-set' :'' || ((Sgroup.type == 'DateTime') || (Sgroup.type == 'ISODateTime')) ? 'glyphicon-calendar date-set': '' || (Sgroup.type == 'TimeOnly') ? 'glyphicon-time': ''"></span>
                        </span>
                    </div>


                    <div ng-if="Sgroup.type == 'Section'">
                          
                            <div class="panel panel-default" style="border: 1px solid #cecbcb;margin: 0px 10px 5px 0px;">    
                                    
                                <h5 class="panel-heading" data-toggle="collapse" data-target="{{'#'+grp1.name}}" style="margin: 0;cursor:pointer" ng-init="expanded = false" ng-click="expanded = !expanded">{{Sgroup.sectionheader}}
                                <i style="padding-top:2px;" class="pull-right  bold fa fa-angle-down" ng-class="{'fa-angle-down': !expanded, 'fa-angle-right': expanded}"></i> 

                            </h5>

                            <div class="panel-body collapse in" id="{{Sgroup.name}}">

                           

                        <div ng-repeat="section in Sgroup.subArr" ng-init="ind = $index" style="border:5px solid #cecbcb;padding:5px;margin-top:5px;" id="{{grp1.name}}_{{$index}}" ng-style="{'display':($index == 0)?'block':'none'}">
                               

                            <div ng-class="{'col-md-6': field.type != 'Section' , 'col-md-12':field.type == 'Section'}"  ng-repeat="field in section.fields" ng-if="(field.type != 'Section')?field.enabled:!field.enabled">

                               

                            <div class="control-group" ng-class="{true: 'error'}[submitted && interfaceForm.{{field.name}}.$invalid] && !(field.notnull)" style="margin-top: 5px;">
                            <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                            <div class="form-group">

                               <div ng-if="Pgroup.maxoccurs == -1">
                                    

                            <label for="{{field.name}}" class="control-label col-md-4" style='font-weight:bold;'>{{field.label}}
                            <span ng-if="!field.notnull && field.label" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>



                            <div class="col-md-7" ng-if="(field.renderer[field.renderer.type].type == 'TextField')&&((field.type == 'Integer')||(field.type == 'String')||(field.type == 'BigDecimal') || (field.type == 'Double') )"> 
                               
                               
                            <input class="form-control" id="{{field.label}}" type="text" maxlength="{{field.renderer[field.renderer.type].width == -1 ? 100 : field.renderer[field.renderer.type].width}}" name="{{field.name | nospace}}" ng-model="fieldData[Pgroup.name][pInd][Sgroup.name][ind][field.name]"  placeholder="{{(field.type == 'Integer')?field.label +' Only Number':'Please Enter '+field.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(field.notnull)" ng-keydown="checkType($event,field.type)" ng-disabled="!field.enabled" > 
                            </div> 

                            <div class="col-md-8" ng-if="(field.renderer[field.renderer.type].type == 'TextArea')" >
                            <textarea style="resize:vertical" rows="{{getTextAreaRows((field.renderer[field.renderer.type].rows*field.renderer[field.renderer.type].width)/50)}}" cols="{{field.renderer[field.renderer.type].width}}" class="form-control" id="{{field.label}}" maxlength="{{field.renderer[field.renderer.type].rows*field.renderer[field.renderer.type].width}}" name="{{field.name | nospace}}" ng-model="fieldData[Pgroup.name][pInd][Sgroup.name][ind][field.name]"  placeholder="{{(field.type == 'Integer')?field.label +' Only Number':'Please Enter '+field.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(field.notnull)" ng-keydown="(field.type == 'Integer') ? allowOnlyNumbersAlone($event) : ''" ng-disabled="!field.enabled"></textarea>
                            </div>
                            <div class="col-md-7" ng-if="(field.type == 'String')&&(field.renderer[field.renderer.type].type == 'Choice')">
                            <select name="{{field.name}}"  name="{{field.FieldName | nospace}}" class="form-control"  id="{{field.label}}" ng-model="fieldData[Pgroup.name][pInd][Sgroup.name][ind][field.name]" ng-required = "!(field.notnull)" ng-disabled="!field.enabled" detailsoffield = "{{field}}">
                                <option value="">Select</option>  
                                <option ng-if="field.renderer.Choice.choiceOptions[0].displayvalue" ng-repeat="x in field.renderer.Choice.choiceOptions" value="{{(x.actualvalue == 'REST') ? x : x.actualvalue}}">{{x.displayvalue}}</option>
                            </select>
                            </div>
                              
                            <div ng-if="(field.type == 'Boolean')&&(field.renderer[field.renderer.type].type == 'Choice')" class="col-md-3" style="border:none;">

                                <label class="radio-inline" ng-repeat="x in field.choiceOptions" ng-if="x.actualvalue">
                            <input type="radio" name="{{field.name | nospace}}" class="" ng-model="fieldData[Pgroup.name][pInd][Sgroup.name][ind][field.name]" ng-value="{{x.actualvalue}}" ng-required = "!(field.notnull)" ng-disabled="!field.enabled">
                            <span style="padding:5px">{{x.displayvalue}}</span>
                            </label>
                            </div>

                            <div ng-if="(field.type == 'DateTime') || (field.type == 'ISODateTime') || (field.type == 'DateOnly') || (field.type == 'TimeOnly')" class="input-group col-md-7 input-append" style="padding-right:15px;padding-left:12px;float:left;" data = "{{Pgroup.name +'_'+ grp1.name}}">
                            <input class="form-control" ng-class="(field.type == 'DateOnly') ? 'DatePicker':((field.type == 'DateTime') )? 'DateTimePicker':(field.type == 'TimeOnly') ? 'TimePicker':((field.type == 'ISODateTime')?'ISODateTime':'')" id="{{field.name}}" type="text" maxlength="{{field.renderer[field.renderer.type].width == -1 ? 100 : field.renderer[field.renderer.type].width}}" name="{{field.name | nospace}}" ng-model="fieldData[Pgroup.name][pInd][Sgroup.name][ind][field.name]"  placeholder="{{'Please Enter '+field.label}}" onpaste="return false" ng-required = "!(field.notnull)" onkeypress='return tabOrder(event)'  ng-focus="activatePicker($event)" ng-blur="multipleEmptySpace($event)" ng-disabled="!field.enabled" aName="{{Pgroup.name}}_{{ind}}_{{Sgroup.name}}_{{ind}}_{{field.name}}">

                            <span class="input-group-addon" style="cursor:pointer" ng-style="(!field.enabled)? {'pointer-events':'none'} : {'pointer-events':'auto'}" ng-click="triggerPicker($event)">
                            <span class="glyphicon" ng-class="(field.type == 'DateOnly') ? 'glyphicon-calendar date-set' :'' || ((field.type == 'DateTime') || (field.type == 'ISODateTime')) ? 'glyphicon-calendar date-set': '' || (field.type == 'TimeOnly') ? 'glyphicon-time': ''"></span>
                            </span>
                            </div> 

                            </div>

                            <div ng-if="Pgroup.maxoccurs == 1 && field.type != 'Section'">
                                   
                               <label for="{{field.name}}" class="control-label col-md-4" style='font-weight:bold;'>{{field.label}}
                                    <span ng-if="!field.notnull && field.label" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
        
        
        
                                    <div class="col-md-7" ng-if="(field.renderer[field.renderer.type].type == 'TextField')&&((field.type == 'Integer')||(field.type == 'String')||(field.type == 'BigDecimal') || (field.type == 'Double') )"> 
                                       
                                       
                                    <input class="form-control" id="{{field.label}}" type="text" maxlength="{{field.renderer[field.renderer.type].width == -1 ? 100 : field.renderer[field.renderer.type].width}}" name="{{field.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name][ind][field.name]"  placeholder="{{(field.type == 'Integer')?field.label +' Only Number':'Please Enter '+field.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(field.notnull)" ng-keydown="checkType($event,field.type)" ng-disabled="!field.enabled" > 
                                    </div> 
        
                                    <div class="col-md-8" ng-if="(field.renderer[field.renderer.type].type == 'TextArea')" >
                                    <textarea style="resize:vertical" rows="{{getTextAreaRows((field.renderer[field.renderer.type].rows*field.renderer[field.renderer.type].width)/50)}}" cols="{{field.renderer[field.renderer.type].width}}" class="form-control" id="{{field.label}}" maxlength="{{field.renderer[field.renderer.type].rows*field.renderer[field.renderer.type].width}}" name="{{field.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name][ind][field.name]"  placeholder="{{(field.type == 'Integer')?field.label +' Only Number':'Please Enter '+field.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(field.notnull)" ng-keydown="(field.type == 'Integer') ? allowOnlyNumbersAlone($event) : ''" ng-disabled="!field.enabled"></textarea>
                                    </div>
                                    <div class="col-md-7" ng-if="(field.type == 'String')&&(field.renderer[field.renderer.type].type == 'Choice')">
                                    <select name="{{field.name}}"  name="{{field.FieldName | nospace}}" class="form-control"  id="{{field.label}}" ng-model="fieldData[Pgroup.name][Sgroup.name][ind][field.name]" ng-required = "!(field.notnull)" ng-disabled="!field.enabled" detailsoffield = "{{field}}">
                                        <option value="">Select</option>  
                                        <option ng-if="field.renderer.Choice.choiceOptions[0].displayvalue" ng-repeat="x in field.renderer.Choice.choiceOptions" value="{{(x.actualvalue == 'REST') ? x : x.actualvalue}}">{{x.displayvalue}}</option>
                                    </select>
                                    </div>
                                      
                                    <div ng-if="(field.type == 'Boolean')&&(field.renderer[field.renderer.type].type == 'Choice')" class="col-md-3" style="border:none;">
        
                                        <label class="radio-inline" ng-repeat="x in field.choiceOptions" ng-if="x.actualvalue">
                                    <input type="radio" name="{{field.name | nospace}}" class="" ng-model="fieldData[Pgroup.name][Sgroup.name][ind][field.name]" ng-value="{{x.actualvalue}}" ng-required = "!(field.notnull)" ng-disabled="!field.enabled">
                                    <span style="padding:5px">{{x.displayvalue}}</span>
                                    </label>
                                    </div>
        
                                    <div ng-if="(field.type == 'DateTime') || (field.type == 'ISODateTime') || (field.type == 'DateOnly') || (field.type == 'TimeOnly')" class="input-group col-md-7 input-append" style="padding-right:15px;padding-left:12px;float:left;" data = "{{Pgroup.name +'_'+ grp1.name}}">
                                    <input class="form-control" ng-class="(field.type == 'DateOnly') ? 'DatePicker':((field.type == 'DateTime') )? 'DateTimePicker':(field.type == 'TimeOnly') ? 'TimePicker':((field.type == 'ISODateTime')?'ISODateTime':'')" id="{{field.name}}" type="text" maxlength="{{field.renderer[field.renderer.type].width == -1 ? 100 : field.renderer[field.renderer.type].width}}" name="{{field.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name][ind][field.name]"  placeholder="{{'Please Enter '+field.label}}" onpaste="return false" ng-required = "!(field.notnull)" onkeypress='return tabOrder(event)'  ng-focus="activatePicker($event)" ng-blur="multipleEmptySpace($event)" ng-disabled="!field.enabled" aName="{{Pgroup.name}}_{{Sgroup.name}}_{{ind}}_{{field.name}}">
        
                                    <span class="input-group-addon" style="cursor:pointer" ng-style="(!field.enabled)? {'pointer-events':'none'} : {'pointer-events':'auto'}" ng-click="triggerPicker($event)">
                                    <span class="glyphicon" ng-class="(field.type == 'DateOnly') ? 'glyphicon-calendar date-set' :'' || ((field.type == 'DateTime') || (field.type == 'ISODateTime')) ? 'glyphicon-calendar date-set': '' || (field.type == 'TimeOnly') ? 'glyphicon-time': ''"></span>
                                    </span>
                                    </div>



                            </div>



                            <span class="help-inline" ng-show="submitted&&interfaceForm.{{field.name}}.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                           
                            <div ng-if="(field.type == 'Section')" style="padding:10px;">
                             <div class="panel panel-default" ng-if="field.maxoccurs == 1" style="border: 1px solid #cecbcb;margin: 0px 10px 5px 0px;">
                            <h5 class="panel-heading" data-toggle="collapse" data-target="{{'#'+field.name}}" style="margin: 0;cursor:pointer" ng-init="expanded = false" ng-click="expanded = !expanded">{{field.sectionheader}}
                                    <i style="padding-top:2px;" class="pull-right  bold fa fa-angle-down" ng-class="{'fa-angle-down': !expanded, 'fa-angle-right': expanded}"></i> </h5>

                            <div class="panel-body collapse in" id="{{field.name}}" ng-init="array = field.subArr">
                                    
                            <div ng-repeat="subGroup in field.subArr" ng-if="(subGroup.type != 'Section')?subGroup.enabled:true">
                                        
                                <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                            <div  ng-class="{'col-md-6': subGroup.type != 'Section' , 'col-md-12':subGroup.type == 'Section'}"> 
                                   
                                <div class="control-group" ng-class="{true: 'error'}[submitted && interfaceForm.{{subGroup.name}}.$invalid] && !(subGroup.notnull)" style="margin-top: 5px;">
                                    <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                                <div class="form-group">
                                    <label for="{{subGroup.name}}" class="control-label col-md-3" style='font-weight:bold;' ng-if="subGroup.enabled">{{subGroup.label}}
                                    <span ng-if="!subGroup.notnull && subGroup.label" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

                                   
                                <div class="col-md-7" ng-if="((subGroup.renderer[subGroup.renderer.type].type == 'TextField')&&((subGroup.type == 'Integer')||(subGroup.type == 'String')||(subGroup.type == 'BigDecimal') || (subGroup.type == 'Double') ))&&subGroup.enabled">

                                    <input class="form-control" id="{{subGroup.label}}" type="text" maxlength="{{subGroup.renderer[subGroup.renderer.type].width == -1 ? 100 : subGroup.renderer[subGroup.renderer.type].width}}" name="{{subGroup.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name][ind][field.name][subGroup.name]"  placeholder="{{(subGroup.type == 'Integer')?subGroup.label +' Only Number':'Please Enter '+subGroup.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(subGroup.notnull)" ng-keydown="checkType($event,subGroup.type)" ng-disabled="!subGroup.enabled" > 
                                </div> 
                                <div class="col-md-7" ng-if="((subGroup.renderer[subGroup.renderer.type].type == 'TextArea'))&&subGroup.enabled" >
                                    <textarea style="resize:vertical" rows="{{getTextAreaRows((subGroup.renderer[subGroup.renderer.type].rows*subGroup.renderer[subGroup.renderer.type].width)/50)}}" cols="{{subGroup.renderer[subGroup.renderer.type].width}}" class="form-control" id="{{subGroup.label}}" maxlength="{{subGroup.renderer[subGroup.renderer.type].rows*subGroup.renderer[subGroup.renderer.type].width}}" name="{{subGroup.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name][ind][field.name][subGroup.name]"  placeholder="{{(subGroup.type == 'Integer')?subGroup.label +' Only Number':'Please Enter '+subGroup.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(subGroup.notnull)" ng-keydown="(subGroup.type == 'Integer') ? allowOnlyNumbersAlone($event) : ''" ng-disabled="!subGroup.enabled"></textarea>
                                </div>
                                <div class="col-md-7" ng-if="((subGroup.type == 'String')&&(subGroup.renderer[subGroup.renderer.type].type == 'Choice'))&&subGroup.enabled">
                                    
                                    <select name="{{subGroup.name}}"  name="{{subGroup.FieldName | nospace}}" class="form-control"  id="{{subGroup.label}}" ng-model="fieldData[Pgroup.name][Sgroup.name][ind][field.name][subGroup.name]" ng-required = "!(subGroup.notnull)" ng-disabled="!subGroup.enabled" detailsoffield = "{{subGroup}}">
                                        <option value="">Select</option>  
                                        <option ng-if="subGroup.renderer.Choice.choiceOptions[0].displayvalue" ng-repeat="x in subGroup.renderer.Choice.choiceOptions" value="{{(x.actualvalue == 'REST') ? x : x.actualvalue}}">{{x.displayvalue}}</option>
                                    </select>
                                </div>
                                    
                                <div ng-if="((subGroup.type == 'Boolean')&&(subGroup.renderer[subGroup.renderer.type].type == 'Choice'))&&subGroup.enabled" class="col-md-3" style="border:none;">
                                <label class="radio-inline" ng-repeat="x in subGroup.ChoiceOptions" ng-if="x.actualvalue">
                                    <input type="radio" name="{{subGroup.name | nospace}}" class="" ng-model="fieldData[Pgroup.name][Sgroup.name][ind][field.name][subGroup.name]" ng-value="{{x.actualvalue}}" ng-required = "!(subGroup.notnull)" ng-disabled="!subGroup.enabled">
                                    <span style="padding:5px">{{x.displayvalue}}</span>
                                </label>
                                </div>

                                <div ng-if="((subGroup.type == 'DateTime') || (subGroup.type == 'ISODateTime') || (subGroup.type == 'DateOnly') || (subGroup.type == 'TimeOnly'))&&subGroup.enabled" class="input-group col-md-7 input-append" style="padding-right:15px;padding-left:12px;float:left;" data = "{{Pgroup.name +'_'+ grp1.name}}">
                                <input class="form-control" ng-class="(subGroup.type == 'DateOnly') ? 'DatePicker':((subGroup.type == 'DateTime') )? 'DateTimePicker':(subGroup.type == 'TimeOnly') ? 'TimePicker':((subGroup.type == 'ISODateTime')?'ISODateTime':'')" id="{{subGroup.name}}" type="text" maxlength="{{subGroup.renderer[subGroup.renderer.type].width == -1 ? 100 : subGroup.renderer[subGroup.renderer.type].width}}" name="{{subGroup.name}}" ng-model="fieldData[Pgroup.name][Sgroup.name][ind][field.name][subGroup.name]"  placeholder="{{'Please Enter '+subGroup.label}}" onpaste="return false" ng-required = "!(subGroup.notnull)" onkeypress='return tabOrder(event)'  ng-focus="activatePicker($event)" ng-blur="multipleEmptySpace($event)" ng-disabled="!subGroup.enabled" aName="{{Pgroup.name}}_{{grp1.name}}_{{ind}}_{{field.name}}_{{subGroup.name}}">
                                
                                <span class="input-group-addon" style="cursor:pointer" ng-style="(!subGroup.enabled)? {'pointer-events':'none'} : {'pointer-events':'auto'}" ng-click="triggerPicker($event)">
                                    <span class="glyphicon" ng-class="(subGroup.type == 'DateOnly') ? 'glyphicon-calendar date-set' :'' || ((subGroup.type == 'DateTime') || (subGroup.type == 'ISODateTime')) ? 'glyphicon-calendar date-set': '' || (subGroup.type == 'TimeOnly') ? 'glyphicon-time': ''"></span>
                                </span>
                            </div> 

                            <div ng-if="(subGroup.type == 'Section')" >
                             
                            <div class="panel panel-default" style="border: 1px solid #cecbcb;margin: 0px 10px 5px 0px;">
                                    <h5 class="panel-heading" data-toggle="collapse" data-target="{{'#'+subGroup.name}}" style="margin: 0;cursor:pointer" ng-init="expanded = false" ng-click="expanded = !expanded">{{subGroup.sectionheader}}
                                            <i style="padding-top:2px;" class="pull-right  bold fa fa-angle-down" ng-class="{'fa-angle-down': !expanded, 'fa-angle-right': expanded}"></i> 
                                    </h5>
                                    <div class="panel-body collapse in" id="{{subGroup.name}}">
                                        
                                        <div ng-class="{'col-md-6': nd.type != 'Section' , 'col-md-12':nd.type == 'Section'}"  ng-repeat="nd in subGroup.subArr"  style="margin-top:5px;" id="{{nd.name}}_{{$index}}" ng-if="nd.enabled" ng-init="ndind = $index">
                
                                    <div class="control-group" ng-class="{true: 'error'}[submitted && interfaceForm.{{nd.name}}.$invalid] && !(nd.notnull)" style="margin-top: 5px;">
                                        <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                
                                    <div class="form-group">
                                        <!-- For non-repeatable section -->
                                   <div ng-if="subGroup.maxoccurs == 1">
                                            
                                        <label for="{{nd.name}}" class="control-label col-md-4" style='font-weight:bold;' ng-if="nd.enabled">{{nd.label}}
                                        <span ng-if="!nd.notnull && nd.label" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                
                                        <div class="col-md-6" ng-if="((nd.renderer[nd.renderer.type].type == 'TextField')&&((nd.type == 'Integer')||(nd.type == 'String')||(nd.type == 'BigDecimal') || (nd.type == 'Double')))&&nd.enabled">
                                               
                                           
                                            <input class="form-control" id="{{nd.label}}" type="text" maxlength="{{nd.renderer[nd.renderer.type].width == -1 ? 100 : nd.renderer[nd.renderer.type].width}}" name="{{nd.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name][pInd][field.name][subGroup.name][nd.name]"  placeholder="{{(nd.type == 'Integer')?nd.label +' Only Number':'Please Enter '+nd.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(nd.notnull)" ng-keydown="checkType($event,nd.type)" ng-disabled="!nd.enabled" > 
                                        </div> 
                
                
                
                                        <div class="col-md-8" ng-if="((nd.renderer[nd.renderer.type].type == 'TextArea'))&&nd.enabled" >
                                        <textarea style="resize:vertical" rows="{{getTextAreaRows((nd.renderer[nd.renderer.type].rows*nd.renderer[nd.renderer.type].width)/50)}}" cols="{{nd.renderer[nd.renderer.type].width}}" class="form-control" id="{{nd.label}}" maxlength="{{nd.renderer[nd.renderer.type].rows*nd.renderer[nd.renderer.type].width}}" name="{{nd.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name][pInd][field.name][subGroup.name][nd.name]"  placeholder="{{(nd.type == 'Integer')?nd.label +' Only Number':'Please Enter '+nd.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(nd.notnull)" ng-keydown="(nd.type == 'Integer') ? allowOnlyNumbersAlone($event) : ''" ng-disabled="!nd.enabled"></textarea>
                                        </div>
                                    <div class="col-md-7" ng-if="((nd.type == 'String')&&(nd.renderer[nd.renderer.type].type == 'Choice'))&&nd.enabled">
                                        <select name="{{nd.name}}"  name="{{nd.FieldName | nospace}}" class="form-control"  id="{{nd.label}}" ng-model="fieldData[Pgroup.name][Sgroup.name][pInd][field.name][subGroup.name][nd.name]" ng-required = "!(nd.notnull)" ng-disabled="!nd.enabled" detailsoffield = "{{nd}}">
                                            <option value="">Select</option>  
                                            <option ng-if="nd.renderer.Choice.choiceOptions[0].displayvalue" ng-repeat="x in nd.renderer.Choice.choiceOptions" value="{{(x.actualvalue == 'REST') ? x : x.actualvalue}}">{{x.displayvalue}}</option>
                                        </select>
                                    </div>
                
                                    <div ng-if="((nd.type == 'Boolean')&&(nd.renderer[nd.renderer.type].type == 'Choice')&&nd.enabled)" class="col-md-3" style="border:none;">
                
                                            <label class="radio-inline" ng-repeat="x in nd.choiceOptions" ng-if="x.actualvalue">
                                        <input type="radio" name="{{nd.name | nospace}}" class="" ng-model="fieldData[Pgroup.name][Sgroup.name][pInd][field.name][subGroup.name][nd.name]" ng-value="{{x.actualvalue}}" ng-required = "!(nd.notnull)" ng-disabled="!nd.enabled">
                                        <span style="padding:5px">{{x.displayvalue}}</span>
                                        </label>
                                        </div>
                
                                    <div ng-if="((nd.type == 'DateTime') || (nd.type == 'ISODateTime') || (nd.type == 'DateOnly') || (nd.type == 'TimeOnly'))&&nd.enabled" class="input-group col-md-7 input-append" style="padding-right:15px;padding-left:12px;float:left;" data = "{{Pgroup.name +'_'+ grp1.name}}">
                                    <input class="form-control" ng-class="(nd.type == 'DateOnly') ? 'DatePicker':((nd.type == 'DateTime') )? 'DateTimePicker':(nd.type == 'TimeOnly') ? 'TimePicker':((nd.type == 'ISODateTime')?'ISODateTime':'')" id="{{nd.name}}" type="text" maxlength="{{nd.renderer[nd.renderer.type].width == -1 ? 100 : nd.renderer[nd.renderer.type].width}}" name="{{nd.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name][pInd][field.name][subGroup.name][nd.name]"  placeholder="{{'Please Enter '+nd.label}}" onpaste="return false" ng-required = "!(nd.notnull)" onkeypress='return tabOrder(event)'  ng-focus="activatePicker($event)" ng-blur="multipleEmptySpace($event)" ng-disabled="!nd.enabled" aName="{{Pgroup.name}}_{{Sgroup.name}}_{{pInd}}_{{field.name}}_{{subGroup.name}}_{{nd.name}}">
                
                                    <span class="input-group-addon" style="cursor:pointer" ng-style="(!nd.enabled)? {'pointer-events':'none'} : {'pointer-events':'auto'}" ng-click="triggerPicker($event)">
                                    <span class="glyphicon" ng-class="(nd.type == 'DateOnly') ? 'glyphicon-calendar date-set' :'' || ((nd.type == 'DateTime') || (nd.type == 'ISODateTime')) ? 'glyphicon-calendar date-set': '' || (nd.type == 'TimeOnly') ? 'glyphicon-time': ''"></span>
                                    </span>
                                    </div> 

                                    <span class="help-inline" ng-show="submitted&&interfaceForm.{{nd.name}}.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                            </div>  
                              <!-- For repeatable section -->
                            <div ng-if="subGroup.maxoccurs == -1">
                                        
                                
                                    <label for="{{nd.name}}" class="control-label col-md-4" style='font-weight:bold;' ng-if="nd.enabled">{{nd.label}}
                                    <span ng-if="!nd.notnull && nd.label" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
            
                                    <div class="col-md-6" ng-if="((nd.renderer[nd.renderer.type].type == 'TextField')&&((nd.type == 'Integer')||(nd.type == 'String')||(nd.type == 'BigDecimal') || (nd.type == 'Double')))&&nd.enabled">
                                        
                                        <input class="form-control" id="{{nd.label}}" type="text" maxlength="{{nd.renderer[nd.renderer.type].width == -1 ? 100 : nd.renderer[nd.renderer.type].width}}" name="{{nd.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name][pInd][field.name][subGroup.name][ndind][nd.name]"  placeholder="{{(nd.type == 'Integer')?nd.label +' Only Number':'Please Enter '+ nd.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(nd.notnull)" ng-keydown="checkType($event,nd.type)" ng-disabled="!nd.enabled" > 
                                    </div> 
            
            
            
                                    <div class="col-md-8" ng-if="((nd.renderer[nd.renderer.type].type == 'TextArea'))&&nd.enabled" >
                                    <textarea style="resize:vertical" rows="{{getTextAreaRows((nd.renderer[nd.renderer.type].rows*nd.renderer[nd.renderer.type].width)/50)}}" cols="{{nd.renderer[nd.renderer.type].width}}" class="form-control" id="{{nd.label}}" maxlength="{{nd.renderer[nd.renderer.type].rows*nd.renderer[nd.renderer.type].width}}" name="{{nd.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name][pInd][field.name][subGroup.name][ndind][nd.name]"  placeholder="{{(nd.type == 'Integer')?nd.label +' Only Number':'Please Enter '+nd.label}}" ng-blur="multipleEmptySpace($event)" ng-required = "!(nd.notnull)" ng-keydown="(nd.type == 'Integer') ? allowOnlyNumbersAlone($event) : ''" ng-disabled="!nd.enabled"></textarea>
                                    </div>
                                <div class="col-md-7" ng-if="((nd.type == 'String')&&(nd.renderer[nd.renderer.type].type == 'Choice'))&&nd.enabled">
                                    <select name="{{nd.name}}"  name="{{nd.FieldName | nospace}}" class="form-control"  id="{{nd.label}}" ng-model="fieldData[Pgroup.name][Sgroup.name][pInd][field.name][subGroup.name][ndind][nd.name]" ng-required = "!(nd.notnull)" ng-disabled="!nd.enabled" detailsoffield = "{{nd}}">
                                        <option value="">Select</option>  
                                        <option ng-if="nd.renderer.Choice.choiceOptions[0].displayvalue" ng-repeat="x in nd.renderer.Choice.choiceOptions" value="{{(x.actualvalue == 'REST') ? x : x.actualvalue}}">{{x.displayvalue}}</option>
                                    </select>
                                </div>
            
                                <div ng-if="((nd.type == 'Boolean')&&(nd.renderer[nd.renderer.type].type == 'Choice')&&nd.enabled)" class="col-md-3" style="border:none;">
            
                                        <label class="radio-inline" ng-repeat="x in nd.choiceOptions" ng-if="x.actualvalue">
                                    <input type="radio" name="{{nd.name | nospace}}" class="" ng-model="fieldData[Pgroup.name][Sgroup.name][pInd][field.name][subGroup.name][ndind][nd.name]" ng-value="{{x.actualvalue}}" ng-required = "!(nd.notnull)" ng-disabled="!nd.enabled">
                                    <span style="padding:5px">{{x.displayvalue}}</span>
                                    </label>
                                    </div>
            
                                <div ng-if="((nd.type == 'DateTime') || (nd.type == 'ISODateTime') || (nd.type == 'DateOnly') || (nd.type == 'TimeOnly'))&&nd.enabled" class="input-group col-md-7 input-append" style="padding-right:15px;padding-left:12px;float:left;" data = "{{Pgroup.name +'_'+ grp1.name}}">
                                <input class="form-control" ng-class="(nd.type == 'DateOnly') ? 'DatePicker':((nd.type == 'DateTime') )? 'DateTimePicker':(nd.type == 'TimeOnly') ? 'TimePicker':((nd.type == 'ISODateTime')?'ISODateTime':'')" id="{{nd.name}}" type="text" maxlength="{{nd.renderer[nd.renderer.type].width == -1 ? 100 : nd.renderer[nd.renderer.type].width}}" name="{{nd.name | nospace}}" ng-model="fieldData[Pgroup.name][Sgroup.name][pInd][field.name][subGroup.name][ndind][nd.name]"  placeholder="{{'Please Enter '+nd.label}}" onpaste="return false" ng-required = "!(nd.notnull)" onkeypress='return tabOrder(event)'  ng-focus="activatePicker($event)" ng-blur="multipleEmptySpace($event)" ng-disabled="!nd.enabled" aName="{{Pgroup.name}}_{{ind}}_{{Sgroup.name}}_{{ind}}_{{nd.name}}">
            
                                <span class="input-group-addon" style="cursor:pointer" ng-style="(!nd.enabled)? {'pointer-events':'none'} : {'pointer-events':'auto'}" ng-click="triggerPicker($event)">
                                <span class="glyphicon" ng-class="(nd.type == 'DateOnly') ? 'glyphicon-calendar date-set' :'' || ((nd.type == 'DateTime') || (nd.type == 'ISODateTime')) ? 'glyphicon-calendar date-set': '' || (nd.type == 'TimeOnly') ? 'glyphicon-time': ''"></span>
                                </span>
                                </div> 

                                <span class="help-inline" ng-show="submitted&&interfaceForm.{{nd.name}}.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span> 
                        </div>  

                            
                        
                        
                        
                        
                        
                        
                        </div>    
                            </div>


                            </div>

                            

                            </div>     


                        </div>    
                                
                             
                            
                            
                            
                            
                            </div>

                            <span class="help-inline" ng-show="submitted&&interfaceForm.{{subGroup.name}}.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>

                                    </div>       
                                </div>   
                            </div> 
                            </div>



                            </div>
                            </div> 
                            </div>

                            </div>

                            </div>
                                </div>


                                <div class="clearfix"></div>

                            </div>

                         </div> 


                            </div>
                    </div>
        
                    <span class="help-inline" ng-show="submitted&&interfaceForm.{{Sgroup.name | nospace}}.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
        
                    </div>

                    </div>


                </div>        
    </div>

    <div class="clearfix"></div>
    </div>
<div class="clearfix"></div>
    <div class="col-md-12">
			

			<div class="panel-footer actionWebForm" style="background: transparent; border: 0;">  
                <button type="reset" class="btn btn-success btnStyle pull-right" data-dismiss="modal" ng-click="submitted=false" style="margin-left:10px">Cancel</button>
                <button type="submit" class="btn btn-success btnStyle pull-right" ng-click="(!rfclicked)?submitted=true:''" ng-disabled="rfclicked" >Submit </button>
               
               
                <div style="clear:both"></div>
            </div>   
    </div>
        <div class="clearfix"></div>
 