<style>
  button{
    margin-left: 2%;
  }
  .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background-color: transparent !important;
    
  }
  .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: transparent !important;
  }
  .pg-range{
    border-bottom:3px solid lightgray;
    padding:10px 10px 10px 10px;
    color:black !important
  }
  .txAlignRt{

    text-align: right !important;
  }
  .pagefontCol{
    color: black;
  }
  .btnsize50{
    padding-right: 2%;
    padding-left: 2%;
  }
  .pagefontCol{
    color: black;
  }
  .padlf{
    padding-left: 3%;
  }
  .pad1{
    padding: 1%;
  }
  .padrt0{
    padding-right: 0%;
  }
  .padlf3{
    padding-left: 3% !important;
  }
</style>
<div class="breadCrumb" ng-controller="activeController">
  <div class="row">
    <div class="col-md-6 ">
     <ul class="page-breadcrumb">
      <li>
        <i class="fa fa-file"></i>
        <a href="javascript:void(0);" tabindex="1" aria-label="bps ui"  translate class="removeCursor">Sidebar.bpsui</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <span translate class="removeCursor" tabindex="1" aria-label="files">bpsui.instructionsearch</span>
      </li>
    </ul> 
  </div>
  <div class="col-md-6 headerVals">
    <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
  </div>
</div>   
</div>
<div class="contentContainer">
  <div class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alert.msg}}
  </div>
  <!-- title -->
  <div class="pageTitle alertWidthonResize">
   <div class="row ">
    <div class="col-md-12">
      <div class="title__container">
       <h2 translate tabindex="1" aria-label="Files">bpsui.instructionsearch</h2>  
     </div>
   </div>
 </div>
</div>
<div class="countbar-title counterPad ">
  <div class="row"><br>
    <div class="form-group col-md-6">
      <div class="col-md-3 txAlignRt">
        <label class="control-label bold ">Scheme</label>
      </div>
      <div class="col-md-9" ng-init="value.Scheme='cheque'">
        <select class="form-control" ng-model='value.Scheme' ng-change="schemeChange(value.Scheme)">
          <option value="cheque" ng-selected="true">Cheque</option>
          <option value="bulk">Credit/Bulk transfer</option>
        </select>
      </div>
    </div>
  </div>
  <form ng-submit="instructionsearch()">
    <div class="row">
      <div ng-repeat="dropfield in fields" class="form-group col-md-6">
        <div class="col-md-3 txAlignRt">
          <label class="control-label bold ">{{dropfield.label}}</label>  
        </div>
        <div class="col-md-9">
         
         <select ng-if="dropfield.type=='select' && dropfield.field_name=='SettlementDate'" class="form-control" tabindex="1" aria-label="value for schedule {{date.displayvalue}}"  ng-model="value.SettlementDate" ng-options="date as date.displayvalue for date in date track by date.actualvalue" > <option value="" selected="true">select</option></select>
         

         <select ng-if="dropfield.type=='select' && dropfield.field_name=='SettlementSession'" class="form-control" tabindex="1" aria-label="value for schedule {{sessions.displayvalue}}"  ng-model="value.SettlementSession" ng-options="sessions as sessions.displayvalue for sessions in sessions track by sessions.actualvalue" ng-disabled="value.Scheme=='cheque' ? true:false">
          <option ng-if="value.Scheme!='cheque'" value="" selected="true">select</option></select>
          
          <select ng-if="dropfield.type=='select' && dropfield.field_name=='Currency'" class="form-control" tabindex="1" aria-label="value for schedule {{dropfield.options}}"  ng-model="value.Currency" ng-options="cur for cur in dropfield.options" > <option value="" selected="true">select</option></select>
          
          <select class="form-control" ng-if="dropfield.type=='select' && value.Scheme=='cheque' && dropfield.field_name=='Participant'"  name="Participant" id="Participant" ng-model="value.Participant"  ng-class="{true : 'error'}[submitted && form1.Participant.$invalid]" >
            <option value="" selected="true" >select</option>
          </select>
          <select class="form-control" ng-if="dropfield.type=='select' && value.Scheme=='bulk' &&  dropfield.field_name=='Participant'"  name="Participant1" id="Participant1" ng-model="value.Participant"  ng-class="{true : 'error'}[submitted && form1.Participant.$invalid]" >
            <option value="" selected="true" >select</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row pad1" > 
      <div class="col-md-12 txAlignRt">
        <button class="btn btnStyle btn-sm btnsize50" type="submit" >Search</button>
      </div>
    </div>
  </form>
</div>

<div ng-if="tableDisp">
  <div class="listView FixHead dataGroupsScroll tablesize padrt0">
    <table class="table table-bordered floatThead stickyheader  table-responsive "  >
      <thead class="stickythead">
        <tr class="b-n">
          <th ng-repeat="field in tableFields" class="cursorPointer mw-100"  >{{field.Label}}<span id="{{field.FieldName}}_Icon" class=""></span></th>
        </tr>
      </thead>
      <tbody  ng-init="$index=currentPage*itemsPerPage+$index" ng-repeat="data in tableData | offset: currentPage*itemsPerPage | limitTo: itemsPerPage"  class="bg-wt">
        <tr>
          <td ng-repeat="field in tableFields" ng-if="field.FieldName!='' && field.FieldName!='Action' ">{{data[field.FieldName]}}</td>
          

          <td class="padlf3">
            <div class="radio radio-primary " >

              <input  id="Approve{{$index}}" type="radio"  ng-model="tableData[$index].Action" ng-value=true >
              <label for="Approve{{$index}}" >Approve</label>
            </div>
            <div class="radio radio-primary ">
              <input id="Reject{{$index}}"  type="radio"  ng-model="tableData[$index].Action" ng-value=false >
              <label for="Reject{{$index}}">Reject</label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="txAlignRt clrblk col-md-6">
    <div class="pagination">
     
      <span ng-class="prevPageDisabled()">
        <a href class="pagefontCol" tabindex="1" aria-label="previous page" ng-click="prevPage()"><</a>
      </span>
      <span ng-repeat="n in range()"  class="pg-range"  ng-class="{active: n == currentPage}" ng-click="setPage(n)" ng-hide="n<0">
        <a href="" tabindex="1" class="pagefontCol" aria-label="current page" ng-click="navigate(n+1)">{{n+1}}</a>
      </span>
      <span>
      </span>
      <span  ng-class="nextPageDisabled()">
        <a tabindex="1" aria-label="next page" ng-if="!hide" href class="pagefontCol" ng-click="nextPage()">></a>
      </span>
      <span ng-click="nextPageDisabled()">
        <a tabindex="1" aria-label="next page" ng-if="hide" href class="pagefontCol" ng-click="getmore();nextPage()">>
        </a>
      </span>
   
    </div>
  </div>
  <div class="col-md-6 txAlignRt">
    <button class="btn btnStyle btn-sm btnsize50" aria-label='Save Button' ng-click="approveSave()">Save</button>
    <button class="btn btnStyle btn-sm btnsize50" aria-label='Cancel Button' ng-click="resetApprove()">Cancel</button>
  </div>
</div>

</div>