<style>
.td_diff{
	background-color:#ffffb8;
}
.td_nodiff
{
  background-color:#fff !important;
}
.viewApproveStyle
{
	color: #1d365a !important;
    background-color: #cad5eb !important;
    border-color: #a9b4ca !important;
}
.panelApp_Success
{
	 border: 3px solid #97adda !important;
    background-color: #a1b6e0 !important;
	color: #1d365a !important;
}
.label
{
border-radius:3px !important;
font-weight:100;
color: #f0f4fb;
padding: 0.3em 0.4em 0.4em;
font-size: 98%;
}
.label-primary
{
    background-color: #ca5c5a !important;
	/*padding-top: 0px;
	padding-bottom: 2px;*/
}
.label-default,.label-primary
{
	float: left;
	
}
.label-success
{
	background-color:#3C763D !important;
}
.circle
{
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	border:1px solid #ccc;
	width:10px;
	height:10px;
    margin-left:10px;
}

.preTagfortransinfo
{
	white-space: pre;
}
.table-bordered>tbody>tr>td{
	
	
    word-break: break-all;
}
.borderCls 
{
	 border-top:2px solid #bfbdbd;
}

</style>

<!-- BEGIN PAGE HEADER-->
<div class="breadCrumb" ng-controller="activeController">
	<div class="row">
    <div class="col-md-6 ">
    <ul class="page-breadcrumb">
        <!--<li>
            <i class="fa fa-home"></i>
				<a href="javascript:void(0);" translate ng-click="goToHome()">Sidebar.Home</a>

            <i class="fa fa-angle-right"></i>
        </li>-->
        <li>
			<i class="fa fa-user-secret"></i>
            <a href="javascript:void(0);" translate class="removeCursor">Sidebar.Security</a>
            <i class="fa fa-angle-right"></i>
        </li>


        <li>
            <a href="javascript:void(0);" ng-click="cancelApproval()" translate> Sidebar.Approvals</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            {{data.ApprovalID}}
        </li>
    </ul>
    </div>
	<div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

    </div>
    </div>
</div>


<div class="contentContainer">
<div class="row pageTitle alertWidthonResize" style="border:none;margin:0;padding:0;">

</div>
<Br/>
<div class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alert.msg}}
</div>




<div class="panel panel-success">
    <div class="panel-heading viewApproveStyle" style="padding:0px;">
	<div class="row" style="margin:0;padding-bottom:10px;font-size:15px;">
                    <div  tooltip="State" class="col-lg-2 col-md-2 col-sm-4 col-xs-6 panelApp_Success bold" style="color:#fff;">
                        {{data.State}}
					</div>
					
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12 bold pull-right" style="text-align:right;">
							
                        Number of Levels Approved - <b>{{data.NumberOfLevelsApproved}}</b>
                    </div>

     </div>
        <div style="padding:10px;">            
            <span class="bold" tooltip="Approval ID">{{data.ApprovalID}}</span>
            <span class="bold" tooltip="Table Name" ng-if="(data.TableName | uppercase) == 'ROLERESOURCEPERMISSION'"> | {{RPApprovalOldData.GroupResourcePermissions.ResourceGroupName}} - {{data.TableName }} for Role  ID {{RPApprovalOldData.GroupResourcePermissions.RoleID}}</span>			
            <span class="bold" tooltip="Table Name" ng-if="(data.TableName | uppercase) != 'ROLERESOURCEPERMISSION'"> | {{data.TableName }}</span>			
            <span tooltip="State"> - {{data.State}} By</span>
            <span class="bold" tooltip="User ID"> {{data.UserID}}</span>            
            <div class="pull-right">
					<span tooltip="Business Key" style="word-break:break-all;">{{data.BusinessKey}} </span> -
                <span tooltip="Processed On">{{data.ProcessedOn | dateFormat}} </span>
           </div>
              <div class="clearBoth"></div>
        </div>
    </div>
	
	
	<div>
		

    <div class="panel-body">        
            <div class="col-md-12" ng-if="(data.TableName | uppercase) == 'ROLERESOURCEPERMISSION'">	
		
				<table class="pull-right">
				<tr>
					<th>Permission :</th>
					<td><div class="circle" style="background-color:#3C763D !important;"></div></td><td><div style="margin-left: 5px;"><i><b>Yes</b></i></div></td>
					<td><div class="circle" style="background-color:#ca5c5a !important;"></div></td><td><div style="margin-left: 5px;"><i><b>No</b></i></div></td>
				</tr>
				</table>
				
				
	
				<table border="1" cellpadding="5" cellspacing="1" width="100%" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th style="font-weight:bold;">Field</th>
						<th style="font-weight:bold;"><span ng-if="ApprovalOldData.length>0">Old</span>Data</th>
						<th style="font-weight:bold;" ng-if="ApprovalOldData.length>0"><span>New</span>Data</th>				
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="RPAFinal in RPApprovalFinalData">
						<td>{{RPAFinal.ResourceName}}</td>
						<td><span ng-repeat="Permissions in RPAFinal.OldPermission" style="margin:3px !important;" ng-class="{'label label-primary': Permissions.Permission == 'no','label label-success':Permissions.Permission == 'yes','label label-default':Permissions.Permission == 'not set'}">{{Permissions.Operation |camelCaseFormatter}}</span> </td>
						<td><span ng-repeat="Permissions in RPAFinal.NewPermission" style="margin:3px !important;" ng-class="{'label label-primary': Permissions.Permission == 'no','label label-success':Permissions.Permission == 'yes','label label-default':Permissions.Permission == 'not set'}">{{Permissions.Operation|camelCaseFormatter}}</span> </td>
					</tr>
					</tbody>
				</table>
				
				
        </div>    
	</div>
	
	
	
	
	<!-- <div class="row" style="margin:0;" ng-if="data.TableName == 'BusinessRules'">
		<div class="col-md-12" >
			<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th style="font-weight:bold;">Field</th>
					<th style="font-weight:bold;"><span ng-if="ApprovalOldData.length>0">Old</span>Data</th>
					<th style="font-weight:bold;" ng-if="ApprovalOldData.length>0"><span>New</span>Data</th>				
				</tr>
				</thead>
				<tbody>
				
				
				<tr ng-repeat="aDDvalues in approvalDataDiffData">
				
					<td>{{aDDvalues.Label}}</td>		
					<td ng-if="ApprovalOldData.length>0 && aDDvalues.Label !='RULE'">{{aDDvalues.OldData}}</td>		
					<td ng-class="{'td_diff': aDDvalues.Difference == true}" ng-if="aDDvalues.Label !='RULE'">{{aDDvalues.NewData}}</td>
					
					<td ng-if="ApprovalOldData.length>0 && aDDvalues.Label =='RULE'" style="max-width:650px;">
					<pre style="background-color: #fff !important;border: 0px solid #fff !important;">{{aDDvalues.OldData |beautify}}</pre>
					</td>
					
					<td ng-class="{'td_diff': aDDvalues.Difference == true}" ng-if="aDDvalues.Label =='RULE'" style="max-width:650px;">
					<pre ng-class="{'td_diff': aDDvalues.Difference == true,'td_nodiff':aDDvalues.Difference == false}" style=";border: 0px solid #fff !important;">{{aDDvalues.NewData|beautify}}</pre>
					</td>
					
					
				</tr>
				</tbody>
			</table>
		</div>
	</div>  -->
	<!--<pre>{{FinalDataArray | json}}</pre>-->
	<div class="row" style="margin:0;" ng-if="(data.TableName | uppercase) != 'ROLERESOURCEPERMISSION' ">
		<div class="col-md-12 table-responsive" >
			
			<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th style="font-weight:bold;" nowrap>Field</th>
					<th style="font-weight:bold;"><span ng-if="checkOdataLength>0">Old</span>Data</th>
					<th style="font-weight:bold;" ng-if="checkOdataLength>0"><span>New</span>Data</th>				
				</tr>
				</thead>
				<tbody>
				
				 <tr ng-repeat="aDDvalues in FinalDataArray track by $index">

					<td attr="{{getLabelName(aDDvalues.Origlabel)}}" nowrap>{{aDDvalues.label}}</td>		
					<td ng-if="checkOdataLength>0 && aDDvalues.Origlabel != 'FDCParameters' &&  aDDvalues.Origlabel != 'AdditionalConfig' && aDDvalues.Origlabel != 'PDCParameters' && aDDvalues.Origlabel != 'RULE' && aDDvalues.Origlabel != 'RawData' && aDDvalues.Origlabel != 'Template' && aDDvalues.Origlabel != 'DomainIn' " >{{aDDvalues.currentData}}</td>
					

					<td  ng-class="{'td_diff': aDDvalues.diffence == true , 'preTagfortransinfo':aDDvalues.label=='TransportInfo'}" ng-if="aDDvalues.Origlabel != 'FDCParameters' && aDDvalues.Origlabel != 'PDCParameters' && aDDvalues.Origlabel != 'AdditionalConfig' && aDDvalues.Origlabel != 'RULE' && aDDvalues.Origlabel != 'RawData' && aDDvalues.Origlabel != 'Template' && aDDvalues.Origlabel != 'DomainIn'" >{{aDDvalues.updatedData}}</td>

					<td ng-if="aDDvalues.currentData != undefined && aDDvalues.Origlabel == 'FDCParameters'" ng-init="sendXML(aDDvalues,aDDvalues.Origlabel,'oldData')" id="{{aDDvalues.Origlabel+'oldData'}}" ></td>	

					<td ng-if="aDDvalues.currentData != undefined && aDDvalues.Origlabel == 'AdditionalConfig'" ng-init="sendXML(aDDvalues,aDDvalues.Origlabel,'oldData')" id="{{aDDvalues.Origlabel+'oldData'}}" ></td>	


					 <td ng-if="aDDvalues.currentData != undefined && aDDvalues.Origlabel == 'PDCParameters' " ng-init="sendXML(aDDvalues,aDDvalues.Origlabel,'oldData')" id="{{aDDvalues.Origlabel+'oldData'}}" > </td>	 
					 <td ng-if="aDDvalues.Origlabel == 'FDCParameters'" ng-class="{'td_diff': aDDvalues.diffence == true}" ng-init="sendXML(aDDvalues,aDDvalues.Origlabel,'newData')" id="{{aDDvalues.Origlabel+'newData'}}" ></td>	 
					<td ng-if="aDDvalues.Origlabel == 'PDCParameters' " ng-class="{'td_diff': aDDvalues.diffence == true}" ng-init="sendXML(aDDvalues,aDDvalues.Origlabel,'newData')" id="{{aDDvalues.Origlabel+'newData'}}"></td> 
					<td ng-if="aDDvalues.Origlabel == 'AdditionalConfig' " ng-class="{'td_diff': aDDvalues.diffence == true}" ng-init="sendXML(aDDvalues,aDDvalues.Origlabel,'newData')" id="{{aDDvalues.Origlabel+'newData'}}"></td> 

					<td ng-if="checkOdataLength>0 && aDDvalues.Origlabel =='RULE'" style="max-width:650px;">
					<pre style="background-color: #fff !important;border: 0px solid #fff !important;">{{aDDvalues.currentData |beautify}}</pre>
					</td>
					
					<td ng-class="{'td_diff': aDDvalues.diffence == true}" ng-if="aDDvalues.Origlabel =='RULE'" style="max-width:650px;">
					<pre ng-class="{'td_diff': aDDvalues.diffence == true,'td_nodiff':aDDvalues.diffence == false}" style="border: 0px solid #fff !important;">{{aDDvalues.updatedData|beautify}}</pre>
					</td>
						
					<td ng-if="aDDvalues.Origlabel == 'RawData'" ng-class="{'td_diff': aDDvalues.diffence == true}" ><pre>{{aDDvalues.updatedData | hex2a}}</pre></td> 

					<td ng-if="checkOdataLength>0 && aDDvalues.Origlabel == 'Template'" ng-class="{'td_diff': aDDvalues.diffence == true}" ><pre>{{aDDvalues.currentData | hex2a |beautify}}</pre></td>

					<td ng-if="aDDvalues.Origlabel == 'Template'" ng-class="{'td_diff': aDDvalues.diffence == true}" ><pre>{{aDDvalues.updatedData | hex2a |beautify}}</pre></td> 

					<td ng-if="checkOdataLength>0 && aDDvalues.Origlabel == 'DomainIn'" ng-class="{'td_diff': aDDvalues.diffence == true}" ><pre>{{atobConversion(aDDvalues.currentData) | beautify }}</pre></td>

					<td ng-if="aDDvalues.Origlabel == 'DomainIn'" ng-class="{'td_diff': aDDvalues.diffence == true}" ><pre>
						{{atobConversion(aDDvalues.updatedData) | beautify}}</pre></td> 




					<!-- <td ng-if="aDDvalues.label == 'RawData' " ng-class="{'td_diff': aDDvalues.diffence == true}">fgfdg</td> -->
					
					<!-- <td  ng-if="aDDvalues.label == 'PaymentList' && data.TableName == 'InstructionRawData'">
					   <table class='table table-bordered'>
					   <tr ng-repeat="(paymentKey,paymentVal) in aDDvalues.updatedData">
					      <td class="bold">{{paymentKey}}</td><td>{{paymentVal}}</td>
					   </tr>
					   </table>
					
					</td> -->
					
				</tr>
				</tbody>
			</table>
		</div>
	</div> 
	</div>
	

<br/>

	<div class="row" style="margin:0;">
		<div class="col-md-12">
			<form role="form" class="form-horizontal" style="margin:0;" ng-submit="approveRefData(notes,Approved)">
				<div class="form-group"  style="margin:0;margin-bottom:15px;">
					<label class="control-label  bold" style="margin-bottom:10px;">Notes: 
						<!--<span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span> -->
						</label>
					<textarea class="form-control" rows="5" ng-required="!Approved" ng-model="notes.approvalNotes" ng-blur="multipleEmptySpace($event)" maxlength="270"  id="idforNotes" 
					 ></textarea>
					<!-- <span class="pull-right" id="lCnt">{{notes.approvalNotes.length}} Characters Left</span> -->
					<span class="pull-right">{{(notes.approvalNotes.length)?270-notes.approvalNotes.length:270}} Characters Left</span>
					<!--<span class="pull-right">{{text_remaining}} Characters Left</span>-->

				</div>

				<div class="form-group" style="margin-left:0px;margin-top:30px;">
					<input type="submit" class="btn btnStyle" value="Approve" ng-disabled="ApproveDetail.approved" ng-click="Approved = true">
					<input type="submit" class="btn btnStyle" value="Reject" ng-disabled="ApproveDetail.approved" ng-click="Approved = false" style="margin-left:15px;">
					<input type="button" class="btn btnStyle" value="Cancel" style="margin-left:15px;" ng-click="cancelApproval()">

					</div>
			</form>

			<!--<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-2">Notes: <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="5" required ng-model="notes.approvalNotes"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<input type="submit" class="btn btnStyle" value="Approve" ng-click="Approved = true">
						<input type="submit" class="btn btnStyle" value="Reject" ng-click="Approved = false" style="margin-left:15px;">
						<input type="button" class="btn btnStyle" value="Cancel" style="margin-left:15px;" ng-click="cancelApproval()">
					</div>
				</div>
			</form>-->


		</div>
	</div>
</div>
</div>



<!-- <ul ng-repeat="(paymentKey,paymentVal) in aDDvalues.updatedData">
					   <li>{{paymentKey}}:{{paymentVal}}</li>
					</ul> -->




<!--  Old Design

<div class="row table-responsive" style="margin:0;border-bottom:1px solid #AAAEB3;padding-bottom:15px;">
    <div style="">
        <div style="width: 100%;border: 1px solid;margin-bottom: 10px;">
            <div style="width: 33.9%;float: left;border-right: 1px solid;">
                <span class="tableCell tableCell1">ApprovalID</span>
                <span class="tableCell tableCell2 ng-binding">{{data.ApprovalID}}</span>
            </div>
            <div style="width: 33%;float: left;border-right: 1px solid;">
                <span class="tableCell tableCell1">UserID</span>
                <span class="tableCell tableCell2 ng-binding">{{data.UserID}}</span>
            </div>
            <div style="width: 33%;float: left;">
                <span class="tableCell tableCell1">TableName</span>
                <span class="tableCell tableCell2 ng-binding">{{data.TableName}}</span>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="
    border: 1px solid;
">
            <div style="float: left;width: 50%;border-right: 1px solid;">
                <span class="tableCell tableCell1">State</span>
                <span class="tableCell tableCell2 ng-binding">{{data.State}}</span>
            </div>
            <div style="float: left;width: 50%;">
                <span class="tableCell tableCell1">ProcessedOn</span>
                <span class="tableCell tableCell2 ng-binding">{{data.ProcessedOn | dateFormat}}</span>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div> -->

