<style>
		.dropdown-submenu {
			position:relative;
			display: block;
		}
		.dropdown-submenu>.dropdown-menu {
		   top:0;right:100% !important;
		   margin-top:-6px;margin-left:-1px;
		   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
		 }
		ul.myhead{
			 float: right;
		 }
		  ul.myhead li:hover > ul.dropdown-menu {
			display: block;
		  }
		.dropdown > .dropdown-menu:after, .dropdown-toggle > .dropdown-menu:after, .btn-group > .dropdown-menu:after, .dropdown-menu-excel:after{
			border:none;
		}
		.switch-drop{
			border: none;
			padding: 0;
			left: auto;
		}
		.switch-drop__list{
			right: 0;
			left: auto;
			border: none;
			padding: 0;
		}
		
		
		</style>
			
		
				<!-- <div class="col-md-4 col-sm-6 col-xs-12">
					<div class="col-xs-9">
						<div class="appLogo">
							<img src="themes/{{configData.ThemeName}}/logo.png" alt="logo" class="logo-default">
						</div>
					</div>
					<div class="col-xs-3">
						<a class="sidebar-toggle headerSideToggle" data-toggle="offcanvas" role="button" data-ng-click="sideBar(1);">
							<i class="fa fa-bars" aria-hidden="true" style="border: 5px solid #5e6b7b;font-size:14px;"></i>
						</a>
				   </div>
		
				   
				</div>  -->
				
				
				
				<div class="col-md-12 col-sm-12 col-xs-12 topMenuIcons">
					
				
				<div class="notiIcons">
					<ul>
					 <li class="dropdown headDropdownList">
						<a class="anchor">
							<i class="fa fa-bell-o" aria-hidden="true"></i>
							<span class="badge badge-default ng-binding">{{NotifCount}}</span>
						</a>
						<ul class="dropdown-content ulbackground dropdownPosition1">
		
							<li class="external1">
								<div class="bold1">{{NotifCount}} pending notifications</div>
								
							</li>
							<div class="scrollDiv">
							<li class="dropdown-menu-list notVisited" ng-repeat="Nofitiocations in Notifi.NotifyContent">
								<a href="javascript:void(0);" ng-click="goTo(Nofitiocations.alertID,$event,$index)">
									<span class="label label-sm label-icon label-success"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
									<span class="status">{{Nofitiocations.freeSubject}}</span>
									<span class="Ack">{{Nofitiocations.status | statusFilter}}</span>
								</a>
							</li>
		
							</div>
							<li class="view-list"><div class="bold2" ng-if="NotifCount">
								<a href="#/app/AlertsandNotification" ng-click="goTo()">view all</a>
							</div>
							</li>
						</ul>
					  
					  </li>
					  
					  <!--<li class="dropdown headDropdownList">
						<a class="anchor">
						  <i class="fa fa-envelope" aria-hidden="true"></i>
							<span class="badge badge-default ng-binding">2</span>
						</a>
						<ul class="dropdown-content ulbackground dropdownPosition2">
							<li class="external1">
								<div class="bold1">18 pending notifications</div>
								
							</li>
							<div class="scrollDiv">
							<li class="dropdown-menu-list">
								
										<a href="javascript:void(0);">
										<span class="label label-sm label-icon label-success">
										<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
										</span>
										<span class="status">RE:FILE STATUS NOTIFICATION</span>
										<span class="Ack">
										 Viewed
										</span>
										</a>
							</li>
							
							<li class="dropdown-menu-list">
								
										<a href="javascript:void(0);">
										<span class="label label-sm label-icon label-success">
										<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
										</span>
										<span class="status">RE:FILE STATUS NOTIFICATION</span>
										<span class="Ack">
										 Viewed
										</span>
										</a>
							</li>
							
							</div>
							<li class="view-list"><div class="bold2">
								<a href="javascript:void(0);">view all</a>
								</div>
							</li>
							
							
							
						</ul>
					  </li>-->
					  
					  <!--<li class="dropdown headDropdownList">
						<a class="anchor">
						   <i class="fa fa-calendar-o" aria-hidden="true"></i>
		
							<span class="badge badge-default ng-binding">3</span>
						</a>
		
		
						<ul class="dropdown-content ulbackground dropdownPosition3">
							<li class="external1">
								<div class="bold1">12 pending notifications</div>
								
							</li>
							<div class="scrollDiv">
							<li class="dropdown-menu-list">
								
										<a href="javascript:void(0);">
										<span class="label label-sm label-icon label-success">
										<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
										</span>
										<span class="status">RE:FILE STATUS NOTIFICATION</span>
										<span class="Ack">
										 Viewed
										</span>
										</a>
							</li>
							<li class="dropdown-menu-list">
								
										<a href="javascript:void(0);">
										<span class="label label-sm label-icon label-success">
										<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
										</span>
										<span class="status">RE:FILE STATUS NOTIFICATION</span>
										<span class="Ack">
										 Viewed
										</span>
										</a>
							</li>
							<li class="dropdown-menu-list">
								
										<a href="javascript:void(0);">
										<span class="label label-sm label-icon label-success">
										<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
										</span>
										<span class="status">RE:FILE STATUS NOTIFICATION</span>
										<span class="Ack">
										 Viewed
										</span>
										</a>
							</li>
							</div>
							<li class="view-list"><div class="bold2">
								<a href="javascript:void(0);">view all</a>
								</div>
							</li>
						</ul>
					  </li>-->
					  
					  
					  <ul class="nav navbar-nav myhead">
		
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><img alt="" class="img-circle userImg" src="themes/images/profile.png"/>
							<span class="namecls">{{accessUserName}}</span>
							<i class="fa fa-angle-down" style="border: none !important;"></i></a>
							<ul class="dropdown-menu switch-drop__list">
								
								<li><a href="#/app/myprofile">
									<i class="fa fa-user-o" aria-hidden="true"></i> My Profile</a></li>
		
								<li class="dropdown dropdown-submenu" ng-if="RoleList.length"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-o" aria-hidden="true"></i>Switch Role<i class="fa fa-angle-right" style="border: none !important;position:relative;left:3px;font-weight:bold;"></i></a>
								
									<ul class="dropdown-menu switch-drop dataGroup" style="float:right;">
									<div class="scrollUser2" style="max-height: 200px;" >
										<li ng-repeat="roles in RoleList" id="{{roles.actualvalue|removeSpace|specialCharactersRemove}}">
											<a href="javascript:void(0);"  style="color:#555;" ng-click="switchRole(roles.actualvalue, $index,$event)" >
											{{roles.displayvalue}} 
										</a>
										</li>
									</div>	

										<!-- <li><a href="#">Operator</a></li>
										<li><a href="#">Approver</a></li>
							 style="cursor:not-allowed;"
									ng-style="(currentRoleDisable)?{'cursor': 'not-allowed'}:{'cursor': 'pointer'}" 
										-->
									
									   
									</ul>
								</li>
								
								
								
								<!--<li>
									<a href="javascript:void(0);">
									<i class="fa fa-calendar-check-o" aria-hidden="true"></i> My Calendar </a>
								</li>
								<li>
									<a href="javascript:void(0);">
									<i class="fa fa-envelope-open-o" aria-hidden="true"></i> My Inbox
									</a>
								</li>
								<li>
									<a href="javascript:void(0);">
									<i class="fa fa-rocket" aria-hidden="true"></i> My Tasks 
									</a>
								</li>-->
		
								<li><a href="javascript:void(0);" ng-click="logout()">
									<i class="fa fa-lock" aria-hidden="true"></i> Log Out </a></li>
							</ul>
						</li>
					</ul>
					  
					  <!-- <li class="dropdown login headDropdownList">
						 
		
						
					 </li>
					   -->
					  
					 </ul>
					
					</div>
				   
				  <!--  </div> -->
		
			
				
				
			</div>
		
			
		<script>
		
		$(document).ready(function(){
		
				$('.scrollDiv').slimScroll({
					    color: '#ddd',
					    size: '7px',
					    height: '280px',
					    alwaysVisible: true
					});
				
				
				$('.scrollUser2').slimScroll({
				 		color: '#ddd',
					    size: '7px',
					    height: '',
					    alwaysVisible: true
				   
				});
				
			
		});
				
				/*if (document.documentElement.clientWidth < 767 && document.documentElement.clientWidth >= 360) {
					  $(".dropdownPosition1").css("left","-75px");
					  $(".dropdownPosition2").css("left","-110px");
					  $(".dropdownPosition3").css("left","-145px");
					}
					else if(document.documentElement.clientWidth < 360){
					  $(".dropdownPosition1").css("left","-38px");
					  $(".dropdownPosition2").css("left","-88px");
					  $(".dropdownPosition3").css("left","-135px");
					}
					else if(document.documentElement.clientWidth > 767 && document.documentElement.clientWidth <= 1200){
					  $(".dropdownPosition1").css("left","-140px");
					  $(".dropdownPosition2").css("left","-125px");
					  $(".dropdownPosition3").css("left","-150px");
					}*/
		
		</script>
		