<footer class="fixedfooter">
    <div class="pull-right">
        <span class="footertext1">Version: {{VersionInfo}}</span>
    </div>
    <div>
	   <span class="footertext2">{{year}} &copy; VolPay, Volante Technologies, Inc</span>
	</div>
</footer>


		
	