<!-- BEGIN PAGE HEADER-->
<!--<div class="breadCrumb" ng-controller="activeController">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:void(0);" translate ng-click="goToHome()">Sidebar.Home</a>

            <i class="fa fa-angle-right"></i>
        </li>
        <li>
             <i class="fa fa fa-cog"></i>
            <a href="javascript:void(0);" translate>Sidebar.PaymentModule</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li translate>
            Sidebar.AllFiles
        </li>
    </ul>
</div>-->
<style> 
.select2-container .select2-search__field {
    width: 100% !important;
}
.divide-text {
       border-left: 1px solid #aaa ;
    border-right: 1px solid #aaa;
    padding-right: 8px !important;
}
 .input-group .form-control{
            z-index: 0 !important;
    }
     .datepicker-dropdown
    {
       // z-index: 0 !important;
    }
</style>
    <div class="page-bar breadCrumb" ng-controller="activeController">
    <div class="row">
    <div class="col-md-6 ">
    <ul class="page-breadcrumb">
        
        <li>
             <i class="fa fa-cog"></i>
            <a href="javascript:void(0);" translate class="removeCursor">Sidebar.PaymentModule</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li class="cursorPointer">
            <span translate class="removeCursor">Sidebar.AllConfirmations</span>
        </li>
    </ul>
    </div>
    <!--<div style="clear:both">    </div>-->
   <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

    </div>
    </div>
   
</div>
<!--<div id="loaderContainer" httploader>
    <img src="themes/images/preloader.gif" class="httpLoader"/>
</div>-->

    <div>
        <div class="contentContainer">
        <div class="pageTitle alertWidthonResize">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title__container">
                        <h2 translate>AllConfirmations.PageTitle</h2>
                        <p translate>AllConfirmations.SubTitle</p>
                    </div>
                </div>

				<div class="modal fade" id="customDate" role="dialog" tabindex="-1"  data-backdrop="static" ng-keydown="dummy($event)">
				<div class="modal-dialog">

					<div class="modal-content">
						<div class="modal-header modalHeaderColor">
							<button type="button" class="close" data-dismiss="modal" ng-click="filterCancel()">&times;</button>
							<h4 class="modal-title">Select the Dates</h4>
						</div>
						<div class="modal-body">

							<form ng-submit="FilterByDate('custom')">
								<div class="col-md-12" style="padding:15px">


									<div class="input-group date" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">

										<input type="text" class="form-control DatePicker dateTypeKey " ng-model="customDate.startDate" id="CuststartDate" style="width:100%" placeholder="From  ( TimeZone - {{profileName}} )" ng-blur="removeFn()"   onpaste="return false"  required>


										<span class="input-group-addon" ng-click="focusInfn('startDate')"><span class="glyphicon glyphicon-calendar"></span></span>

										<span class="input-group-addon" style="border:none;background-color:transparent;">To</span>
 
										<input type="text" class="form-control DatePicker dateTypeKey" ng-model="customDate.endDate" id="CustendDate" style="width:100%" placeholder="To  ( TimeZone - {{profileName}} )" ng-blur="removeFn()"   onpaste="return false" required>

										<span class="input-group-addon" ng-click="focusInfn('endDate')"><span class="glyphicon glyphicon-calendar"></span></span>
									</div>
								</div>
								<div class="col-md-12 txtCenter" style="padding:15px;">
									<button type="submit" id="okBtn" class="btn btnStyle" ng-disabled="!(customDate.startDate&&customDate.endDate)">OK</button>
									<button type="button" class="btn btnStyle" data-dismiss="modal">Cancel</button>
									<button type="reset" id="CustomDateReset" class="btn btnStyle" ng-click="CustomDatesReset()">Reset</button>

								</div>
								<div style="clear:both"></div>

							</form>

							</div>
					</div>
				</div>
				</div>
            </div>

        </div>

        <div ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class="animated bounce autoAdjustAlert bold" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" ng-repeat="alert in alerts" ng-if="alert.msg != 'Instruction not found'">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{alert.msg}}
        </div>
            <div class=" searchholder">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-12">
                        <div class="form-group ">
                <div class="input-group">

                   <input type="text" ng-model="uorVal" placeholder="Instruction ID" class="searchBox" onkeydown='return allowOnlyNumbersAlone(event)'  ng-keyup="getExistVal($event)" ng-mouseup="checkinfo($event)" id="searchBox"/>
                        <span class="input-group-addon search-addon" ng-click="uorSearch()" data-toggle="tooltip" tooltip="Search" style="cursor:pointer;background-color:#fff;border:none;" id="SearchFontIcon">
                            <i class="fa fa-search"></i>
                        </span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
            <div class="dropdown" style="width: 100%;">
            <button class="btn btn-block btnStyle dropdown-toggle mega-dropdown1" type="button" id="DropId" data-toggle="dropdown" translate>BtnGroup.SavedSearch
            </button>

            <ul class="dropdown-menu mega-dropdown-menu1 customDropDown1 savedScroll" role="menu" aria-labelledby="menu1" >
                    <li ng-repeat="jjjj in lskey">
                        <div class="row" style="margin:0;margin-top:5px;margin-bottom:5px;">
                        <div class="col-md-10" ng-click="selectSearch(jjjj,$event,$index)">
                            <span style="margin-left:10px;display:inline-block;margin-top:3px;">{{jjjj}}</span>
                        </div>
                        <div class="col-md-2" ng-if="jjjj != 'New Search'">
                            <div class="cancel"><i style="border:1px solid #DE2F2B;background-color:#D05450;border-radius:10px;cursor:pointer;color:#F5E6E6;font-size:13px;" class="fa fa-times" ng-click="confirmationAlert($index)" data-toggle="modal" data-target="#alertBox"></i></div>
                        </div>
                        </div>
                     </li>
            </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
              <button type="button" class="btn btn-block btnStyle" ng-init="distSearch=true;" ng-click="distSearch=!distSearch;showSearchWarning = false;">
                            <span ng-if="distSearch" style="color:#fff !important;"><span translate>BtnGroup.ShowAdvancedSearch</span> &nbsp;<i style="padding-top:2px;" class="bold fa fa-angle-right circle-o"></i></span>
                            <span ng-if="!distSearch" style="color:#fff !important;"><span translate>BtnGroup.HideAdvancedSearch</span> &nbsp;<i style="padding-top:2px;" class="bold fa fa-angle-down circle-o"></i></span>
                </button>
        </div>




    </div>
</div>



             <div collapse="distSearch" class="row searchContainer" style="margin:0;margin-bottom:8px;padding-bottom:10px;">
            <div class="row" style="padding: 15px 4px 15px 4px;margin:0;margin-bottom:20px;">
                 <div class="col-md-5" style="font-size:22px;">Search Filters</div>

                <div class="col-md-7 col-sm-6 col-xs-12" style="float:right">
                   

                    <ul class="btn pull-right" style="padding:0;border-radius:5px !important;" >
                        <li class="dropdown mega-dropdown"> <a class="dropdown-toggle btn btnStyle" style="text-decoration:none;border-radius: 5px !important;" tabindex="0">
                            <i class="fa fa-filter"></i> <span translate>BtnGroup.AddRemoveFilters</span>

                        </a> 

                            <ul class="dropdown-menu mega-dropdown-menu customDropDown" style="margin-left:-3px;min-width:213px !important;">
                                <li ng-repeat="data in sortMenu">

                                    <div class="row" style="margin:0;margin-top:5px;" >
                                        <div class="col-md-9" style="white-space:normal;">
                                            <span style="margin-left:0px;display:inline-block;margin-top:3px;">{{data.label}}</span>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="checkbox" style="margin:0;">
                                    <span class="green switch green ng-valid ng-pristine ng-untouched" style="width:34px !important; height:14px !important; border-radius:20px !important;margin-top:5px;" ng-init="active = data.visible" ng-click="active=!active;SelectValue($index)" ng-class="{checked:active}" ng-model="active" ng-keydown="toggleFocus($event, $index, true)">
                                    <small style="width:12px !important;height:12px !important;" tabindex="0" ></small>
                                    <input type="checkbox" style="opacity:0;display:none;" class="ng-pristine ng-untouched ng-valid"/>
                                    <span class="switch-text"> </span>
                                    </span>
                                            </div>

                                            <div style="clear:both"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <button class="btn btnStyle pull-right" value="Reset Filter" ng-click="resetFilter()" style="margin-right:5px;" ng-focus="focusOutfn()"><i class="fa fa-refresh"></i> <Span translate> BtnGroup.ResetFilter</Span> </button>

                    <button value="SaveSearch" class="btn btnStyle pull-right" style="margin-right:5px;" id="saveSearchBtn" data-keyboard="true"  data-toggle="modal" data-target="#myModal1" ng-click="ClearAlert()"><i class="fa fa-floppy-o"></i> <span translate>BtnGroup.SaveSearch</span>  </button>
                </div>
        </div>


            <div class="row" style="margin:0;" ng-if="showSearchWarning && !buildSearchClicked">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                    <div class="alert alert-info alert-block bold" style="text-align:center;" id="showWarning">
					<a class="close" aria-label="close" ng-click="retainAlert($event)">&times;</a>

                        Please select any of the fields to perform search
                    </div>
                </div>

                <div class="col-md-2"></div>

            </div>


            <div class="row" style="margin:0;">


                     <form class="form-horizontal" role="form">

                    <div class="col-md-6" ng-repeat="fields in sortMenu" ng-if="fields.visible">

                        <div class="form-group">
                            <label class="control-label col-md-4" style="text-align:left;">{{fields.label}}</label>

                            <div class="col-md-6" ng-if="fields.type == 'text'">
                                <input type="text" class="form-control" ng-model="search[fields.value]" placeholder="{{fields.label}}" ng-keypress="(fields.allow == 'number') ? allowOnlyNumbersAlone($event) : ''" />
                            </div>

                            <div class="col-md-6" ng-show="fields.type == 'dropdown'">
                                <select class="form-control selectField" name="{{fields.value}}" ng-model="search[fields.value]" multiple="multiple" style="width: 100%" data-placeholder="Select an option">
                                    <option ng-if="fields.value=='FileStatus'" ng-repeat="option in uniqueNames" value="{{option.actualvalue}}">{{option.displayvalue}}</option>
                                    <option ng-if="fields.value=='InputReferenceCode'" ng-repeat="option in psaCodeDrop" value="{{option}}">{{option}}</option>
									<option ng-if="fields.value=='InstructionType'" ng-repeat="option in InstructionTypes" value="{{option.actualvalue}}">{{option.displayvalue}}</option>
                                </select>
                            </div>

                            <div class="col-md-8" style="padding:0" ng-if="fields.type=='dateRange'">
                                <div class="col-md-12 col-sm-9">
                                    <div class="input-group date" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">
                                        <input type="text" class="form-control DatePicker dateTypeKey" placeholder="From  ( TimeZone - {{profileName}} )" id="{{fields.value+'Start'}}" ng-model="search.InstructionData[fields.value].Start"  onpaste="return false">
                                        <span class="input-group-addon" ng-click="focusInfn(fields.value+'Start')"><span class="glyphicon glyphicon-calendar"></span></span>

                                        <span class="input-group-addon" style="border:none;background-color:transparent;">To</span>
                                        <input type="text" class="form-control DatePicker dateTypeKey" placeholder="To  ( TimeZone - {{profileName}} )" id="{{fields.value+'End'}}" ng-model="search.InstructionData[fields.value].End" style="text-align:start;" onpaste="return false">
                                        <span class="input-group-addon" ng-click="focusInfn(fields.value+'End')"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both;visibility:hidden;" ng-if="($index % 2) == 1"> {{$index % 2}}</div> 
                           </div>
                        </div>
                        
                        <div style="clear:both"></div>
                        <hr/ style="border-color:#ccc;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="pull-right">
                                     <button type="button" value="Search" id="AdSearchBtn" class="btn btnStyle"  ng-click="buildSearchClicked = false;buildSearch();" style="color:#fff;margin-right:10px;"> <i class="fa fa-search"></i> <span translate> BtnGroup.Search</span> </button>
                                            
                                     <button type="button" class="btn btnStyle" ng-click="rstAdvancedSearchFlag();showSearchWarning = false;" style="color:#fff;"><i class="fa fa-times"></i> <span translate>BtnGroup.Cancel</span> </button>
                                    
                                       
                                    
                                    
                                </div>
                            </div>
                        </div>

                    </form>
            </div>
    </div> 

        <div style="padding: 5px;background: #fff;">
        <div class="tobeFixed">
          <div class="row" style="margin:0;">
              <div class="countbar-title" style="margin-bottom: 10px;">
            <div class="col-md-6 col-sm-4 col-xs-4 ng-binding caption">
                <span ng-if="items.length"><span class="highlight" ng-if="items.length && totalData">{{(totalData && items.length)? items.length + ' out of '+totalData : (items.length)?items.length:'' }} </span>  
                <span class="highlight">{{(!totalData && items.length)? items.length:'' }}</span>
                
                <span >records shown</span></span>
                
                
                 <span ng-if="!items.length"> <span  class="highlight">0 </span>  <span >records shown</span></span> 


            </div>

            <div class="col-md-6 col-sm-8 col-xs-8" style="padding:0;">
                <div class="btn-group" style="float:right;box-sizing: border-box;">
                    
                    <button style="border: 1px solid #fff;box-sizing: border-box;border-right:0px;margin-left:5px" class="btn-trans" id="btn_1" ng-class="changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="List View"><i class="fa fa-list fa-fs14"></i></button>
                    <button style="border: 1px solid #fff;box-sizing: border-box;border-left:0px" class="btn-trans" id="btn_2" ng-class="!changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="Grid View"><i class="fa fa-table fa-fs14"></i></button>
            </div>
<div class="dwnBtn" style="float:right; ">
                
                    <!-- <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" ng-click="setHeight($event)" aria-expanded="true" tooltip="{{'Export'}}"> <i class="fa fa-download" aria-hidden="true"></i></button> -->

                    <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="{{(items.length)?'dropdown':''}}" ng-click="setHeight($event)" tooltip="{{(items.length)?'Export':'No records to export'}}" ng-style="{'opacity':(items.length)?'1':'0.5'}"> <i class="fa fa-download" aria-hidden="true"></i></button>   
				
				<ul class="download-window dropdown-menu dropdown-menu-excel pull-right" style="z-index: 10000;  ">
					<li>							
						<span><input type="radio" name="excelVal" value="Current" checked class="radiobtns"> Current Screen </span>
						  
						  <span><input type="radio" name="excelVal" value="All" class="radiobtns" > All Matching Filter</span>
					</li>
					
					<li tooltip="{{'Excel'}}" class="excelprint" style="margin-left:40px;" ng-click="exportToExcel($event)"><i class="fa fa-file-excel-o fa-fs14" aria-hidden="true"></i>
					</li>
					<li data-toggle="tooltip" tooltip-placement="top" tooltip="{{'Print'}}"  class="excelprint" ng-click="printFLpage()"><i class="fa fa-print fa-fs14" aria-hidden="true"></i>
					</li>
					
					
				</ul>
			</div> 

              <!--   <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;">
                    <button class="btn-trans" ng-click="printFLpage()"><i class="fa fa-print fa-fs14" tooltip="Print" data-toggle="tooltip"></i></button>
                </div>

                <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" tooltip="Export to Excel">
                    <button class="btn-trans"  ng-click="exportToExcelFlist($event)"><i class="fa fa-file-excel-o fa-fs14"></i></button>
                </div>
 -->
                <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;"
                     tooltip="Refresh">
                    <button class="btn-trans" ng-click="refresh($event)"><i class="fa fa-refresh fa-fs14"></i></button>
                </div>

                 <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left:10px;">
                    <div class="dropdown customDropdown" style="float:right;">
                        
                        <button class="btn-trans dropdown-toggle"  type="button" data-toggle="dropdown" tooltip="Select Dates" ><span id="dropdownBtnTxt" translate style="font-size:15px;">All</span>
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-default pull-right" style="font-size: 13px !important;">
                            <li class="menuClass" id="menulist_1" dateSelect="false"  ng-click="FilterByDate('all',$event)"><a translate>SelectDates.All</a></li>
                            <li class="menuClass" id="menulist_2" dateSelect="false" ng-click="FilterByDate('today',$event)"><a translate>SelectDates.Today</a></li>
                            <li class="menuClass" id="menulist_3" dateSelect="false" ng-click="FilterByDate('week',$event)"><a translate>SelectDates.Week</a></li>
                            <li class="menuClass" id="menulist_4" dateSelect="false" ng-click="FilterByDate('month',$event)"><a translate>SelectDates.Month</a></li>
                            <li class="menuClass customSelect" data-toggle="modal"  data-target="#customDate"
                                    data-keyboard="true"><a translate>SelectDates.Custom</a>
                                </li>
                                <li style="pointer-events:none" ng-if="customDate.startDate && customDate.endDate">
                                    <P style="text-align:center;color:#000;">From - <b>{{customDate.startDate}}</b> <br/>to - <b>{{customDate.endDate}}</b></P>
                                </li>
                        </ul>
                    </div>
                </div>
				<!-- <button style="float:right;border: 1px solid #fff;box-sizing: border-box;border-left:0px;padding: 2px 10px !important;" class="btn btnStyle" id="btn_3" ng-click="viewMOPStatus = !viewMOPStatus;" tooltip="{{viewMOPStatus ? 'Hide ' : 'View '}}MOP Based Distribution of Processed Transactions (Completed)" ng-show="configData.InstructionMOPStatus">
				{{viewMOPStatus ? 'Hide MOP Based Distribution' : 'View MOP Based Distribution'}}</button> -->
				
            </div>
            <div class="clearfix"></div>
              </div>
        </div>
        </div>
 
     <!-- Delete popup Window Start-->
        <div class="modal fade" tabindex="-1" id="alertBox" role="dialog">
            <div class="modal-dialog modal-md" style="top: 200px;">
                <div class="modal-content modalbdy animated tada">
                    <div class="modal-header" style="padding: 0px !important; border: 0px !important">
                        <div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
                    </div>
                    <div class="modal-body" style="padding: 0px !important; border: 0px !important">
                        <h1>Are you sure?</h1>
                        <h4>You will not be able to recover this Data!</h4>
                    </div>
                    <div class="modal-footer modalftr">
                        <button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
                        <button tabindex="0" type="button" class="buton yess" ng-click="deleteSelectedSearch($event)">Yes, delete it!</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete popup Window End-->

        <div id="myModal1" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">


                <div class="modal-content">
                    <div class="modal-header modalHeaderColor">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Save Search</h4>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="saveSearch()">
                            <div class="form-group" style="padding:10px;margin:0">
                                <label>Search Name <span ng-hide="false" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                                <input class="form-control" type="text" name="searchname" ng-model="searchname" placeholder="Enter the search name" required/>

                            </div>

                            <p ng-show="isSearchNameFilled" style="color:red;margin-left:10px;">*Please enter the search name</p>

                            <div ng-show="searchNameDuplicated" class="alert alert-warning form-group fade-in-up" style="text-align:center;">
                                <b>Search name already exists. Do you want to overwrite?</b><br/><br/>

                                <button type="button" class="btn btn-warning btn-sm" ng-click="saveSearch1()">Yes</button>
                                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">No</button>
                            </div>

                            <div ng-show="isAnyFieldFilled" class="alert alert-warning form-group fade-in-up" style="text-align:center;">
                                <b>Please select any of the fields to save the search</b><br/><br/>
                                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">OK</button>
                            </div>
                            <div class="form-group" style="float:right;padding:10px;margin:0">

                                <button type="submit" class="btn btnStyle btn-sm">Save</button>
                                <button type="button" class="btn btnStyle btn-sm" data-dismiss="modal">Cancel</button>
                            </div>
                            <div style="clear:both"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

       
        <div class="alert alert-info infoContainer" style="width:100%;overflow:auto;"  ng-if="fieldArr.params.length">

            <div style="float:left;width:100%;height:100%;padding: 4px 10px 5px 10px;">
                <p ng-if="uorFound" style="margin:0;font-size:13px;word-wrap:break-word;"><b>Search By Instruction ID </b>&nbsp;&nbsp; -  &nbsp;&nbsp;{{uorFound}}</p>
				<p ng-repeat="(x,y) in dateFilter" ng-if="y && x != 'all'" style="margin:0;word-wrap:break-word;">
           <b>Select Criteria</b>  - <span class="leftAlign">{{x | ucwords}}</span> 
            <span ng-repeat="date in dateArr">
                <span ng-if="!$first" class="leftAlign"> To </span> 
                <span class="leftAlign"> ({{date.ColumnValue}}) </span>
            </span>
        </p>
                <!-- <p ng-if="today" style="margin:0;word-wrap:break-word;"><b>Select Criteria</b><span class="leftAlign">-</span><span class="leftAlign">Today</span><span class="leftAlign">({{todayDate}})</b></span></p>
                <p ng-if="week" style="margin:0;word-wrap:break-word;"><b>Select Criteria</b><span class="leftAlign">-</span><span class="leftAlign">Week</span><span class="leftAlign">({{weekStart}})</span><span class="leftAlign">To</span><span class="leftAlign">({{weekEnd}})</span> </p>
                <p ng-if="month" style="margin:0;word-wrap:break-word;"><b>Select Criteria</b><span class="leftAlign">-</span><span class="leftAlign">Month</span><span class="leftAlign">({{monthStart}})</span><span class="leftAlign">To</span><span class="leftAlign">({{monthEnd}})</span> </p>
                <p ng-if="custom" style="margin:0;word-wrap:break-word;"><b>Select Criteria</b><span class="leftAlign">-</span><span class="leftAlign">Custom</span><span class="leftAlign">({{ShowStartDate}})</span><span class="leftAlign">To</span><span class="leftAlign">({{ShowEndDate}})</span> </p> -->
            </div>
			<span style="font-size:13px;word-wrap:break-word;" ng-repeat="(x,y) in dSearch">
					
					
					
            <span class="searchValContainer" ng-if="x != 'InstructionData'"><strong>
               {{x | camelCaseFormatter}}</strong> - {{y | cleanItem}}
               

                <span class="bold closeIcon cursorPointer" ng-click="spliceSearchArr(x)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
            </span>
			<span ng-if="x == 'InstructionData' " >
            <span class="searchValContainer" ng-repeat="(x1,y1) in y" ng-if="y1.Start && y1.End">
				
				
				
                <strong>{{x1 | camelCaseFormatter}}</strong>  - {{y1.Start}} &nbsp;To&nbsp; {{y1.End}}

                <span class="bold closeIcon cursorPointer" ng-click="spliceSearchArr(x)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
				</span>

            </span>
        </span>
           <!--  <div ng-if="!isAdvacedSearchClicked" style="float:left;width:100%;height:100%;padding: 4px 10px 5px 10px;">

                <p class="bold" style="margin:0;font-size:13px;word-wrap:break-word;">Advanced Search Parameters</p>
                <p ng-if="SelectSearchVisible" style="word-wrap:break-word;"><b>Search Name</b> - {{searchName}}</p>

                <span style="margin:0;font-size:13px;word-wrap:break-word;" ng-repeat="(key, value) in AdsearchParams" ng-if="value">

                    <span ng-if="key=='InstructionData'">
                         <span class="searchValContainer" ng-repeat="(k,v) in value" ng-if="(v.Start!='')&&(v.End!='')">
                            <span ng-if="k=='EntryDate'"><b>{{k}}</b> &nbsp;&nbsp; -  &nbsp;&nbsp; {{v.Start}} &nbsp;&nbsp; to &nbsp;&nbsp; {{v.End}}</span>
                            
                            <span class="bold closeIcon cursorPointer" ng-click="spliceSearchArr(key)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                        </span>

                         
                    </span>
                    <span class="searchValContainer" ng-if="(key !='InstructionData')">
                        <b>{{key}}</b> &nbsp;&nbsp; -  &nbsp;&nbsp; {{ value | cleanItem}}

                        <span class="bold closeIcon cursorPointer" ng-click="spliceSearchArr(key)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>

                    </span>
                     
                </span>

            </div> -->

            <div class='button-wrapper'>
                <input type="button" id="searchBtn" class="btn btnStyle btn-sm" value="Clear" ng-click="clearSearch()" style="display:block;vertical-align:middle;float:right;"/>
            </div>
        </div>
 <div id="dummyExportContent" style="display:none;">
                     <table class="table table-striped table-bordered">
                    <thead>
                    <tr>

                        <th colspan ="2" class="cursorPointer" style="border-left:0 !important;" ng-click="gotoSorting('InstructionID');">
                            Instruction ID 
                            <span ng-show="orderByField == 'InstructionID' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="orderByField == 'InstructionID' && !sortReverse" class="fa fa-caret-down"></span>
                        </th>
                        <th class="cursorPointer"  ng-click="gotoSorting('EntryDate');">
                            Entry Date & Time
                            <span ng-show="orderByField == 'EntryDate' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="orderByField == 'EntryDate' && !sortReverse" class="fa fa-caret-down"></span>

                        </th>
                        <th class="cursorPointer"  ng-click="gotoSorting('InputReferenceCode');">
                          PSA Code
                            <span ng-show="orderByField == 'InputReferenceCode' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="orderByField == 'InputReferenceCode' && !sortReverse" class="fa fa-caret-down"></span>

                        </th>
                        <th class="cursorPointer">
                            Payment Value
                        </th>
                        <th>
                            Payment Status
                        </th>
                        <th>
                            Completed MOP Status
                        </th>
                        <th class="cursorPointer" ng-click="gotoSorting('FileStatus');">
                            Instruction Status
                            <span ng-show="orderByField == 'FileStatus' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="orderByField == 'FileStatus' && !sortReverse" class="fa fa-caret-down"></span>
                        </th>
                        <th>
                            Source Message
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                     <tr ng-repeat-start="detail in items">


                        <td class="trInfo" style="width:10px;border-right:0 !important">
                            <i ng-show="detail.TransportInfo" tooltip="Transport Info" class="fa fa-plus-circle cursorPointer" ng-class="{'fa fa-minus-circle': detail.expanded, 'fa fa-plus-circle': !detail.expanded}" ng-click="detail.expanded = !detail.expanded"></i>
                        </td>
                        <td style="border-left:0 !important;" class="bold cursorPointer" data-ng-click="clickRefId(detail,$index)">
                            <a tooltip="Instruction ID" style="color:#000;">{{detail.InstructionID}}</a></td>
                        <td class="cursorPointer" data-ng-click="clickRefId(detail,$index)"><span tooltip="Entry Date & Time">
                            {{detail.EntryDate | dateFormat}}


                        </span></td>
                        <td>
                            {{detail.InputReferenceCode}} 
                        </td>

                        <td class="cursorPointer" data-ng-click="clickRefId(detail,$index)">

						<span ng-repeat="CW in detail.CurrencyWiseSum">
                              <span tooltip="Amount">{{CW.TotalAmount|isoCurrency:CW.Currency:'Symbolfalse'}}
							  {{$last ?'':'|'}}</span>
                        </span>
						</td>
                        <td class="cursorPointer" data-ng-click="clickRefId(detail,$index)">
                            <div ng-if="detail['Total Number of Payments']">
                                <span class="bold" tooltip="Total Number of Payments">({{detail["Total Number of Payments"]}})</span>
                                <span class="badge badge-success badge-roundless minwidth40" tooltip="Payments Completed">{{detail.PaymentsCompleted}}</span>
                                <span class="badge badge-danger badge-roundless minwidth40" tooltip="Payments Rejected" >{{detail.PaymentsRejected}}</span>
                                <span class="badge badge-warning badge-roundless minwidth40" tooltip="Payments Pending" >{{detail.PaymentsPending}}</span>
                                <span class="badge badge-total-payment badge-roundless minwidth40" tooltip="Payments Hold">0</span>
                            </div>

                            <!-- <div ng-if="!detail['Total Number of Payments']">
                                <span class="bold" tooltip="Total Number of Payments">(0)</span>

                                <span class="badge badge-success badge-roundless minwidth40" tooltip="Payments Completed">0</span>
                                <span class="badge badge-danger badge-roundless minwidth40" tooltip="Payments Rejected">0</span>
                                <span class="badge badge-warning badge-roundless minwidth40" tooltip="Payments Pending">0</span>
                              <span class="badge badge-total-payment badge-roundless minwidth40" tooltip="Payments Hold" >0</span>
                            </div> -->
                        </td>
						<td class="cursorPointer" data-ng-click="clickRefId(detail,$index)">
                            <div ng-if="detail['MOPCount']">
                                <span class="bold" tooltip="Total Number of Payments">({{detail["Total Number of Payments"]}})</span>
                                <span class="badge badge-success badge-roundless minwidth40" style="padding: 5px 10px 5px 10px;" ng-repeat="MOP in detail['MOPCount']" ng-if="MOP.Name">{{MOP.Name|underscoreRemove}} : {{MOP.Completed}}</span>
                            </div>

                            <!-- <div ng-if="!detail['MOPCount']">
                                <span class="bold" tooltip="Total Number of Payments">(0)</span>

                                <span class="badge badge-success badge-roundless minwidth40" tooltip="Payments Completed">0</span>
                                <span class="badge badge-danger badge-roundless minwidth40" tooltip="Payments Rejected">0</span>
                                <span class="badge badge-warning badge-roundless minwidth40" tooltip="Payments Pending">0</span>
                                <span class="badge badge-total-payment badge-roundless minwidth40" tooltip="Payments Hold" >0</span>
                            </div> -->
                        </td>

                        <td class="cursorPointer" data-ng-click="clickRefId(detail,$index)">

                            <span style="height: 21px !important; width:auto;text-align:left" class="cursorPointer" ng-class="{'badge badge-primary': detail.FileStatus == 'DUPLICATE','badge badge-success': detail.FileStatus == 'DEBULKED','badge badge-danger':detail.FileStatus == 'REJECTED','badge badge-warning':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECTED' && detail.FileStatus != 'DUPLICATE','badge badge-default':detail.FileStatus == 'Warehoused'}">
                              <i ng-class="{'fa fa-copy': detail.FileStatus == 'DUPLICATE','fa fa-check-circle-o': detail.FileStatus == 'DEBULKED','fa fa-times-circle':detail.FileStatus == 'REJECTED','fa fa-hand-paper-o':detail.FileStatus == 'HOLD','fa fa-exclamation-circle':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECTED' && detail.FileStatus != 'DUPLICATE' && detail.FileStatus != 'HOLD','fa fa-question-circle':detail.FileStatus == 'Warehoused'}" ></i> <span class="colorWhite">{{detail.FileStatus}}</span></span>
                         </td>

                        <td>
                            <span style="cursor:pointer;text-decoration: underline;" class="colorBlueHover bold" ng-class="{'text-primary': detail.FileStatus == 'DUPLICATE','text-success': detail.FileStatus == 'DEBULKED','text-danger':detail.FileStatus == 'REJECTED','text-warning':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECTED' && detail.FileStatus != 'DUPLICATE','text-muted':detail.FileStatus == 'Warehoused'}" ng-click="exportToTextDoc(detail.TransportName, detail.InstructionID)"><i class="fa fa-download" aria-hidden="true"></i> Download</span>

                        </td>
					</tr>
                    <tr ng-if="detail.expanded" ng-repeat-end="">
                        <td colspan="8"><pre style="border:0 !important;" ng-class="{'pre_primary_color': detail.FileStatus == 'DUPLICATE','pre_success_color': detail.FileStatus == 'DEBULKED','pre_dancer_color':detail.FileStatus == 'REJECTED','pre_waring_color':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECT' && detail.FileStatus != 'DUPLICATE','panel panel-default':detail.FileStatus == 'Warehoused'}">{{detail.TransportInfo}}</pre></td>
                    </tr>
                    </tbody>
                </table>
       </div>

       <div class="alert alert-warning" ng-show="!items.length">
             <strong><h4  style="margin:0;text-align:center;"> <i class="fa fa-warning"></i> No Records Found</h4></strong>
        </div>
        <div class="row listView" ng-show="changeViewFlag">

                    <div  class="col-md-12" ng-repeat="detail in items" ng-init="selectedClr = getClr(detail.FileStatus);" >

              <div class="file-detail-widget" style="border-left:5px solid;" ng-style="{'border-color':selectedClr.ColourA,'opacity':selectedClr.Opacity}">

                  <div class="filelist-style cursorPointer" data-ng-click="clickRefId(detail,$index)">
                      <div class="row" ng-style="{'color':selectedClr.ColourA,'opacity':selectedClr.Opacity}">
                        <div class="col-md-8">
                            <ul class="list-inline" >

                                <li style="font-size: 15px;padding-right: 7px;" class="bold cursorPointer" tooltip="Instruction ID" data-toggle="tooltip" tooltip-placement="{{($index == 0)?'bottom':'top'}}" >{{detail.InstructionID}}</li>
                                <li class="bold cursorPointer"  style="font-size: 15px;border-left: 1px solid;padding-left: 10px;" tooltip="Transport Name" data-toggle="tooltip" ng-if="detail.TransportName" tooltip-placement="{{($index == 0)?'bottom':'top'}}">{{detail.TransportName}} </li>
								
								   <li class="bold cursorPointer"  style="font-size: 15px;border-left: 1px solid;padding-left: 10px;" tooltip="Instruction Type" data-toggle="tooltip" tooltip-placement="{{($index == 0)?'bottom':'top'}}">{{detail.InstructionType}}</li>
								   
								     <li class="bold cursorPointer"  style="font-size: 15px;border-left: 1px solid;padding-left: 10px;" tooltip="Original Instruction ID" data-toggle="tooltip" tooltip-placement="{{($index == 0)?'bottom':'top'}}">{{detail.OrigInstrID}}</li>
								
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right pull-left-xs" ng-style="{'color':selectedClr.ColourA,'opacity':selectedClr.Opacity}">
                            <span ng-repeat="CW in detail.CurrencyWiseSum">
                              <span tooltip="Amount">{{CW.TotalAmount|isoCurrency:CW.Currency:'Symbolfalse'}}</span>
							  <span ng-if="CW.Currency&&CW.TotalAmount">|</span>
							  </span>
                                <span style="font-size: 15px;" tooltip="Instruction Status" data-toggle="tooltip" tooltip-placement="{{($index == 0)?'bottom':'top'}}"><i ng-class="{'fa fa-copy': detail.FileStatus == 'DUPLICATE','fa fa-check-circle-o': detail.FileStatus == 'DEBULKED','fa fa-times-circle':detail.FileStatus == 'REJECTED','fa fa-hand-paper-o':detail.FileStatus == 'HOLD','fa fa-exclamation-circle':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECTED' && detail.FileStatus != 'DUPLICATE' && detail.FileStatus != 'HOLD','fa fa-question-circle':detail.FileStatus == 'WAREHOUSED'}" ></i> <span class="caption-subject bold"> {{detail.FileStatus}} </span></span>
                        </div>
                        </div>
                      </div>
                          <!--<span style="font-size: 16px;padding-right: 7px;" class="bold cursorPointer" data-original-title="Instruction ID" data-container="body" data-toggle="tooltip" ng-class="{'text-primary': detail.FileStatus == 'DUPLICATE','text-success': ((detail.FileStatus == 'DEBULKED')|| (detail.FileStatus == 'DEBULKED')),'text-danger':detail.FileStatus == 'REJECTED','text-warning':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECTED' && detail.FileStatus != 'DUPLICATE','text-default':detail.FileStatus == 'WAREHOUSED'}">{{detail.InstructionID}}</span>
                          
                          <span class="bold cursorPointer"  ng-class="{'text-primary': detail.FileStatus == 'DUPLICATE','text-success': ((detail.FileStatus == 'DEBULKED')|| (detail.FileStatus == 'DEBULKED')),'text-danger':detail.FileStatus == 'REJECTED','text-warning':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECTED' && detail.FileStatus != 'DUPLICATE','text-default':detail.FileStatus == 'WAREHOUSED'}" style="font-size: 16px;border-left: 1px solid;padding-left: 10px;" data-original-title="Transport Name" data-container="body" data-toggle="tooltip" ng-if="detail.TransportName">{{detail.TransportName}}</span>
                          <span class="bold cursorPointer" data-original-title="PSA Code" data-container="body" data-toggle="tooltip" ng-if="detail.PSACode"> | {{detail.PSACode}}</span>-->

                          <!--<div class="pull-right bold">
                              <span ng-repeat="CW in detail.CurrencyWiseSum">
                              <span tooltip="Amount">{{CW.TotalAmount|isoCurrency:CW.Currency}}</span>
							  <span ng-if="CW.Currency&&CW.TotalAmount">|</span>
							  </span>
                              <span style="font-size: 16px;" data-original-title="File Status" data-container="body" data-toggle="tooltip" ng-class="{'text-primary': detail.FileStatus == 'DUPLICATE','text-success': ((detail.FileStatus == 'DEBULKED')|| (detail.FileStatus == 'DEBULKED')),'text-danger':detail.FileStatus == 'REJECTED','text-warning':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECTED' && detail.FileStatus != 'DUPLICATE','text-default':detail.FileStatus == 'WAREHOUSED'}"><i ng-class="{'fa fa-copy': detail.FileStatus == 'DUPLICATE','fa fa-check-circle-o': detail.FileStatus == 'DEBULKED','fa fa-times-circle':detail.FileStatus == 'REJECTED','fa fa-hand-paper-o':detail.FileStatus == 'HOLD','fa fa-exclamation-circle':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECTED' && detail.FileStatus != 'DUPLICATE' && detail.FileStatus != 'HOLD','fa fa-question-circle':detail.FileStatus == 'WAREHOUSED'}" ></i> <span class="caption-subject bold"> {{detail.FileStatus}} </span></span>
                          </div>-->

                  </div>
<div class="row detailed-row">
    <div class="col-md-6">
        <ul class="list-inline" style="padding:0;">
            <li style="padding-left:0;"><span ng-show="detail.TransportInfo" style="height: 22px !important;color:#fff !important;background-color: #aaa !important;" class="cursorPointer badge" ng-click="isCollapsed = !isCollapsed">
                              <i class="fa fa-plus-circle" ng-class="{'fa fa-minus-circle': !isCollapsed, 'fa fa-plus-circle': isCollapsed}"></i>
                              Transport Info </span></li>
                              <!--<li><span ng-show="detail.TransportInfo" class="divider"></span></li>-->
                              <li class=""><span style="color: #333">MOP :
                                {{detail.InputReferenceCode}} 
                         </span></li>
                              <li class="divide-text"><span style="color: #333">Entry Date &amp; Time:
                                 {{detail.EntryDate | dateFormat}} 
                          </span></li>
                          <!--<li><span ng-show="detail.TransportInfo" class="divider"></span></li>-->
                          <li><span style="cursor:pointer;text-decoration: underline;color: #4d4d4d" class="colorBlueHover bold"  ng-click="exportToTextDoc(detail.TransportName, detail.InstructionID)" ><i class="fa fa-download" aria-hidden="true" tooltip="Download"></i></span> </li>                   
        </ul>
    </div>
    <div class="col-md-6">
        <div class="pull-right pull-left-xs" ng-if="detail['Total Number of Payments']">Payment Status  <span class="bold" tooltip="Total Number of Payments">({{detail["Total Number of Payments"]}})</span> :
            <span class="badge badge-success badge-roundless minwidth40" tooltip="Payments Completed">{{detail.PaymentsCompleted}}</span>
            <span class="badge badge-danger badge-roundless minwidth40" tooltip="Payments Rejected" >{{detail.PaymentsRejected}}</span>
            <span class="badge badge-warning badge-roundless minwidth40" tooltip="Payments Pending" >{{detail.PaymentsPending}}</span>
            <span class="badge badge-total-payment badge-roundless minwidth40" tooltip="Payments Hold">0</span>
        </div>
    </div>
	
	<div class="col-md-12" ng-if="viewMOPStatus" style="margin-top: 10px; float: right;">
		<div ng-if="detail['MOPCount']">
			 <div class="pull-right pull-left-xs">MOP Based Distribution (Completed) : <!-- <span class="bold" tooltip="Total Number of Payments">({{detail["Total Number of Payments"]}})</span> -->
			 <span class="badge badge-success badge-roundless minwidth40" style="padding: 5px 10px 5px 10px;" ng-repeat="MOP in detail['MOPCount']" ng-if="MOP.Name">{{MOP.Name|underscoreRemove}} : {{MOP.Completed}}</span>
			 </div>
		</div>
    </div>
	
	
</div>
                         <!--<span ng-show="detail.TransportInfo" style="height: 21px !important;color:#fff !important;background-color: #aaa !important;" class="cursorPointer badge" ng-click="isCollapsed = !isCollapsed">
                              <i class="fa fa-plus-circle" ng-class="{'fa fa-minus-circle': !isCollapsed, 'fa fa-plus-circle': isCollapsed}"></i>

                              Transport Info </span>
                         
                          <span ng-show="detail.TransportInfo" class="divider"> | </span>
                          <span tooltip="Entry Date & Time" style="color: #818181">Entry Date &amp; Time:
                          {{detail.EntryDate | dateFormat}} 
                          </span>
                        <span ng-show="detail.TransportInfo" class="divider"> | </span>
                          <span style="cursor:pointer;text-decoration: underline;color: #4d4d4d" class="colorBlueHover bold"  ng-click="exportToTextDoc(detail.TransportName, detail.InstructionID)" ><i class="fa fa-download" aria-hidden="true" tooltip="Download"></i></span> 

						  <div ng-if="detail['Total Number of Payments']">Payment Status  <span class="bold" tooltip="Total Number of Payments">({{detail["Total Number of Payments"]}})</span> :
							  <span class="badge badge-success badge-roundless minwidth40" tooltip="Payments Completed">{{detail.PaymentsCompleted}}</span>
                              <span class="badge badge-danger badge-roundless minwidth40" tooltip="Payments Rejected" tooltip-placement="bottom">{{detail.PaymentsRejected}}</span>
                              <span class="badge badge-warning badge-roundless minwidth40" tooltip="Payments Pending" tooltip-placement="bottom">{{detail.PaymentsPending}}</span>
                              <span class="badge badge-total-payment badge-roundless minwidth40" tooltip="Payments Hold">0</span>
                          </div>-->

                        

                  <div collapse="isCollapsed">
                        <div>
                            <pre>{{detail.TransportInfo}}</pre>
                        </div>
                  </div>
              </div>
          </div>


            <!--<div  class="col-md-12" ng-repeat="detail in items" style="padding: 0px 0px 0px 2px;">

              <div ng-class="{'panel panel-primary': detail.FileStatus == 'DUPLICATE','panel panel-success': ((detail.FileStatus == 'DEBULKED')|| (detail.FileStatus == 'DEBULKED')),'panel panel-danger':detail.FileStatus == 'REJECTED','panel panel-warning':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECTED' && detail.FileStatus != 'DUPLICATE','panel panel-default':detail.FileStatus == 'WAREHOUSED'}">

                  <div class="panel-heading fileListStyle" data-ng-click="clickRefId(detail,$index)">
                      <div>
                          <span class="bold cursorPointer" data-original-title="Instruction ID" data-container="body" data-toggle="tooltip">{{detail.InstructionID}}</span>
                          <span class="bold cursorPointer" data-original-title="Transport Name" data-container="body" data-toggle="tooltip" ng-if="detail.TransportName"> | {{detail.TransportName}}</span>
                          <span class="bold cursorPointer" tooltip="PSA Code" ng-if="detail.PSACode"> | {{detail.PSACode}}</span>

                          <div class="pull-right bold">
                              <span ng-repeat="CW in detail.CurrencyWiseSum">
                              <span tooltip="Amount">{{CW.TotalAmount|isoCurrency:CW.Currency}}</span>
							  <span ng-if="CW.Currency&&CW.TotalAmount">|</span>
							  </span>
                              <span data-original-title="File Status" data-container="body" data-toggle="tooltip"><i ng-class="{'fa fa-copy': detail.FileStatus == 'DUPLICATE','fa fa-check-circle-o': detail.FileStatus == 'DEBULKED','fa fa-times-circle':detail.FileStatus == 'REJECTED','fa fa-hand-paper-o':detail.FileStatus == 'HOLD','fa fa-exclamation-circle':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECTED' && detail.FileStatus != 'DUPLICATE' && detail.FileStatus != 'HOLD','fa fa-question-circle':detail.FileStatus == 'WAREHOUSED'}" ></i> <span class="caption-subject bold"> {{detail.FileStatus}} </span></span>
                          </div>
                            <div class="clearBoth"></div>
                      </div>
                  </div>
                  <div class="panel-body">
                      <div>
                          <span ng-show="detail.TransportInfo" style="height: 21px !important;color:#fff !important;" class="cursorPointer" tooltip="Transport Info"  ng-click="isCollapsed = !isCollapsed" ng-class="{'badge badge-primary': detail.FileStatus == 'DUPLICATE','badge badge-success': detail.FileStatus == 'DEBULKED','badge badge-danger':detail.FileStatus == 'REJECTED','badge badge-warning':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECTED' && detail.FileStatus != 'DUPLICATE','badge badge-default':detail.FileStatus == 'Warehoused'}">
                              <i class="fa fa-plus-circle" ng-class="{'fa fa-minus-circle': !isCollapsed, 'fa fa-plus-circle': isCollapsed}"></i>

                              Transport Info </span> <span ng-show="detail.TransportInfo"> | </span>
                          <span tooltip="Entry Date & Time">Entry Date &amp; Time:
                          {{detail.EntryDate | dateFormat}} |
                          </span>
 
                          <span style="cursor:pointer;text-decoration: underline;" class="colorBlueHover bold" ng-class="{'text-primary': detail.FileStatus == 'DUPLICATE','text-success': detail.FileStatus == 'DEBULKED','text-danger':detail.FileStatus == 'REJECTED','text-warning':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECTED' && detail.FileStatus != 'DUPLICATE','text-muted':detail.FileStatus == 'Warehoused'}"  ng-click="exportToTextDoc(detail.TransportName, detail.InstructionID)" ><i class="fa fa-download" aria-hidden="true"></i> Download</span>                          
						  <div class="pull-right" ng-if="detail['Total Number of Payments']">Payment Status  <span class="bold" tooltip="Total Number of Payments">({{detail["Total Number of Payments"]}})</span> :
							  <span class="badge badge-success badge-roundless minwidth40" tooltip="Payments Completed">{{detail.PaymentsCompleted}}</span>
                              <span class="badge badge-danger badge-roundless minwidth40" tooltip="Payments Rejected" tooltip-placement="bottom">{{detail.PaymentsRejected}}</span>
                              <span class="badge badge-warning badge-roundless minwidth40" tooltip="Payments Pending" tooltip-placement="bottom">{{detail.PaymentsPending}}</span>
                              <span class="badge badge-total-payment badge-roundless minwidth40" tooltip="Payments Hold">0</span>
                          </div>

                         

                          <div class="pull-right" ng-if="!detail['Total Number of Payments']">Payment Status <span class="bold" tooltip="Total Number of Payments">(0)</span> :

                              <span class="badge badge-success badge-roundless minwidth40" tooltip="Payments Completed">0</span>
                              <span class="badge badge-danger badge-roundless minwidth40" tooltip="Payments Rejected" tooltip-placement="bottom">0</span>
                              <span class="badge badge-warning badge-roundless minwidth40" tooltip="Payments Pending" tooltip-placement="bottom">0</span>
                              <span class="badge badge-total-payment badge-roundless minwidth40" tooltip="Payments Hold">0</span>
                          </div>
                      </div>
                  </div>

                  <div collapse="isCollapsed">
                        <div style="margin-left:20px;margin-bottom:20px">
                            <pre style="margin-right:20px;" ng-class="{'pre_primary_color': detail.FileStatus == 'DUPLICATE','pre_success_color': detail.FileStatus == 'DEBULKED','pre_dancer_color':detail.FileStatus == 'REJECTED','pre_waring_color':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECT' && detail.FileStatus != 'DUPLICATE','panel panel-default':detail.FileStatus == 'Warehoused'}">{{detail.TransportInfo}}</pre>
                        </div>
                  </div>
              </div>
          </div>-->


</div>


		<div class="listView FixHead dataGroupsScroll" style="margin:0px;overflow-x:auto !important;margin-bottom:20px;max-height:525px !important;" ng-show="!changeViewFlag">
			<!-- <div class="table-responsive" ng-show="items.length"> -->
               <table class="table table-striped table-bordered table-hover floatThead stickyheader" ng-show="items.length ">
                    <thead>
                    <tr>
                        
                            <th colspan="{{(val.fieldName == 'InstructionID')?2:''}}" ng-class="{'cursorPointer':(val.fieldName != 'FileMetaData')}" ng-repeat="val in tableView" ng-if="val.visible" ng-click="(val.fieldName != 'FileMetaData')?gotoSorting(val,$index,$event):''"> {{val.label}} 

                                    <span id="{{val.fieldName}}_Icon" class=""></span>
                            </th>


        
            
                        <!-- <th colspan ="2" class="cursorPointer" style="border-left:0 !important;" ng-click="Sorting('InstructionID');">
                            Instruction ID
                            <span ng-show="orderByField == 'InstructionID' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="orderByField == 'InstructionID' && !sortReverse" class="fa fa-caret-down"></span>
                        </th>
						 <th class="cursorPointer" ng-click="Sorting('InstructionType');">
                            Instruction Type
                            <span ng-show="orderByField == 'InstructionType' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="orderByField == 'InstructionType' && !sortReverse" class="fa fa-caret-down"></span>
                        </th>
                        <th class="cursorPointer"  ng-click="Sorting('EntryDate');">
                            Entry Date & Time
                            <span ng-show="orderByField == 'EntryDate' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="orderByField == 'EntryDate' && !sortReverse" class="fa fa-caret-down"></span>

                        </th>
                        <th class="cursorPointer"  ng-click="Sorting('InputReferenceCode');">
                            PSA Code
                            <span ng-show="orderByField == 'InputReferenceCode' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="orderByField == 'InputReferenceCode' && !sortReverse" class="fa fa-caret-down"></span>
                        </th>
                        <th>
                            Payment Status
                        </th>
                        <th ng-if="viewMOPStatus">
                            MOP Based Distribution (Completed)
                        </th>
                        <th class="cursorPointer" ng-click="Sorting('FileStatus');">
                            Instruction Status
                            <span ng-show="orderByField == 'FileStatus' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="orderByField == 'FileStatus' && !sortReverse" class="fa fa-caret-down"></span>
                        </th>
                        <th>
                            Source Message
                        </th> -->

                    </tr>
                    </thead>
                    <tbody>
					
				<!-- 	<tr class="cursorPointer" ng-repeat="data in datas" >
                            <td ng-repeat="val in sortMenu" ng-if="val.visible" ng-click="(val.fieldName != 'OutputMessage' && val.fieldName != 'Action' )?detail(data,$event):''" ng-style="(val.fieldName == 'Action')?{'text-align':'center'} : '' ">
                                <span ng-if="val.fieldName == 'GeneratedDate'"> {{data[val.fieldName] | dateFormat}} </span>
                                <span ng-if="(val.fieldName != 'OutputMessage') && (val.fieldName != 'GeneratedDate')"> {{data[val.fieldName]}} </span>
                                <span ng-if="val.fieldName == 'OutputMessage'"> 
                                     <span class="bold cursorPointer" style="text-decoration:underline" ng-click="textDocDownload(data,$event)"><i class="fa fa-download" aria-hidden="true"></i> Download</span>
                                </span>
                            <input ng-if="val.fieldName == 'Action'" type="button" value="Resend" class="btn btnStyle" ng-click="resendDist(data.UniqueOutputReference)" style="padding:4px;"/></td>    
                           
                        </tr> -->
					
                     <tr ng-repeat-start="detail in items" ng-init="selectedClr = getClr(detail.FileStatus);">
                            <td class="trInfo" style="width:10px;border-right:0 !important">
                                <i ng-show="detail.TransportInfo" tooltip="Transport Info" class="fa fa-plus-circle cursorPointer" ng-class="{'fa fa-minus-circle': detail.expanded, 'fa fa-plus-circle': !detail.expanded}" ng-click="detail.expanded = !detail.expanded"></i>
                            </td>

                            <td ng-repeat="val in tableView" ng-if="val.visible" class="cursorPointer" ng-click="(val.fieldName != 'FileMetaData')?clickRefId(detail,$index):''" ng-style="(val.fieldName == 'InstructionID')?{'border-left':'0'} : ''">
                                   
                                    <span ng-if="val.fieldName == 'EntryDate'"> {{detail[val.fieldName] | dateFormat}} </span>
                                    <span ng-if="(val.fieldName != 'FileMetaData') && (val.fieldName != 'EntryDate')"> {{detail[val.fieldName]}} </span>
                                    <span ng-if="val.fieldName == 'FileMetaData'"> 
                                         <span class="bold cursorPointer" style="text-decoration:underline" ng-click="exportToTextDoc(detail.TransportName, detail.InstructionID)"><i class="fa fa-download" aria-hidden="true"></i> Download</span>
                                    </span>
                                </td> 







                        <!-- <td class="trInfo" style="width:10px;border-right:0 !important">
                            <i ng-show="detail.TransportInfo" tooltip="Transport Info" class="fa fa-plus-circle cursorPointer" ng-class="{'fa fa-minus-circle': detail.expanded, 'fa fa-plus-circle': !detail.expanded}" ng-click="detail.expanded = !detail.expanded"></i>
                        </td>
                        <td style="border-left:0 !important;" class="bold cursorPointer" data-ng-click="clickRefId(detail,$index)">
                            <a style="color:#000;">{{detail.InstructionID}}</a></td>
							
							 <td class="cursorPointer" data-ng-click="clickRefId(detail,$index)">
                            {{detail.InstructionType}}</td>
							
                        <td class="cursorPointer" data-ng-click="clickRefId(detail,$index)"><span>
                            {{detail.EntryDate | dateFormat}}


                        </span></td>
                        <td class="cursorPointer" data-ng-click="clickRefId(detail,$index)">
                            {{detail.InputReferenceCode}} 
                        </td>

                       
                        <td class="cursorPointer" data-ng-click="clickRefId(detail,$index)">
                            <div ng-if="detail['Total Number of Payments']">
                                <span class="bold" tooltip="Total Number of Payments">({{detail["Total Number of Payments"]}})</span>
                                <span class="badge badge-success badge-roundless minwidth40" tooltip="Payments Completed">{{detail.PaymentsCompleted}}</span>
                                <span class="badge badge-danger badge-roundless minwidth40" tooltip="Payments Rejected" >{{detail.PaymentsRejected}}</span>
                                <span class="badge badge-warning badge-roundless minwidth40" tooltip="Payments Pending" >{{detail.PaymentsPending}}</span>
                                <span class="badge badge-total-payment badge-roundless minwidth40" tooltip="Payments Hold">0</span>
                            </div>

                           
                        </td>
						
                        <td class="cursorPointer" data-ng-click="clickRefId(detail,$index)" ng-if="viewMOPStatus">
                            <div ng-if="detail['MOPCount']">
                               
                                <span class="badge badge-success badge-roundless minwidth40" style="padding: 5px 10px 5px 10px;" ng-repeat="MOP in detail['MOPCount']" ng-if="MOP.Name">{{MOP.Name|underscoreRemove}} : {{MOP.Completed}}</span>
                            </div>

                         
                        </td>

                        <td class="cursorPointer" data-ng-click="clickRefId(detail,$index)">

                            <span style="height: 21px !important; width:auto;text-align:left" class="cursorPointer badge"  ng-style="{'background-color':selectedClr.ColourA,'opacity':selectedClr.Opacity}" >
                              <i ng-class="{'fa fa-copy': detail.FileStatus == 'DUPLICATE','fa fa-check-circle-o': detail.FileStatus == 'DEBULKED','fa fa-times-circle':detail.FileStatus == 'REJECTED','fa fa-hand-paper-o':detail.FileStatus == 'HOLD','fa fa-exclamation-circle':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECTED' && detail.FileStatus != 'DUPLICATE' && detail.FileStatus != 'HOLD','fa fa-question-circle':detail.FileStatus == 'Warehoused'}" ></i> <span class="colorWhite">{{detail.FileStatus}}</span></span>
                         </td>

                        <td>
                            <span style="cursor:pointer;text-decoration: underline;" class="colorBlueHover bold" ng-click="exportToTextDoc(detail.TransportName, detail.InstructionID)"><i class="fa fa-download" aria-hidden="true"></i> Download</span>

                        </td> -->
					</tr>
                    <tr ng-if="detail.expanded" ng-repeat-end="">
                        <td colspan="8"><pre style="border:0 !important;" ng-class="{'pre_primary_color': detail.FileStatus == 'DUPLICATE','pre_success_color': detail.FileStatus == 'DEBULKED','pre_dancer_color':detail.FileStatus == 'REJECTED','pre_waring_color':detail.FileStatus != 'DEBULKED' && detail.FileStatus != 'REJECT' && detail.FileStatus != 'DUPLICATE','panel panel-default':detail.FileStatus == 'Warehoused'}">{{detail.TransportInfo}}</pre></td>
                    </tr>
                    </tbody>
                </table>
				<!-- </div> -->
            </div>


        <div style='clear: both;'></div>

    

        </div>
    </div>

</div>


<script>
 var showFlag = false;

 $(document).ready(function(){
 
		customDateRangePicker('CuststartDate','CustendDate')
        customDateRangePicker("EntryDateStart", "EntryDateEnd")

       // $('[data-toggle="tooltip"]').tooltip();
       $('[data-toggle="tooltip"]').tooltip();

    setTimeout(function(){
        $('[data-toggle="tooltip"]').tooltip();
    },100)

        $('.input-group-addon').on('click focus', function(e){
                $(this).prev().focus().click()
            });
    })
	
	
	$(document).ready(function (){
	
		
		  $('.selectField').select2();
	
	})

                $('li.dropdown.mega-dropdown a').on('click', function (event) {
                $(this).parent().addClass("open");
                });

                $('li.dropdown.mega-dropdown1 a').on('click', function (event) {
                $(this).parent().toggleClass("open");
                });

                $('li.dropdown.mega-dropdown a').focus(function(event){
                $(this).parent().addClass("open");
                });


                $('button').focus(function(event){
                    if(($(this).val() == 'Reset Filter') || ($(this).val() == 'Search'))
                    {$('li.dropdown.mega-dropdown').removeClass('open')
                    }
                });



            $('body').on('click', function (e) {
                if($(e.target).attr('id') == 'DropId')
                {
                     if(!showFlag)
                     {$('.customDropDown1').show()}
                     else
                     {$('.customDropDown1').hide()}
                }
                else
                {
                    if($(e.target).parent().hasClass('cancel'))
                    {$('.customDropDown1').show()}
                    else
                    { $('.customDropDown1').hide()}
                 }

                if (!$('li.dropdown.mega-dropdown').is(e.target) && $('li.dropdown.mega-dropdown').has(e.target).length === 0 && $('.open').has(e.target).length === 0) {
                    $('li.dropdown.mega-dropdown').removeClass('open');
                }


            })
</script>