<style>
.bootstrap-datetimepicker-widget{
	display: block;
	background: #9E9E9E;
	color:#000
}
.bootstrap-datetimepicker-widget:hover{
	background: #9E9E9E;
}
.bootstrap-datetimepicker-widget .datepicker-days{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-months{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-years{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-decades{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-days,.datepicker-months,.datepicker-years:hover{
	background: #9E9E9E;
}
    
#keywordSearchbtn:focus,#keywordSearchbtn:active{
	outline:none;
}
#searchBox:focus,#searchBox:active{
	box-shadow: none;
}
.nonbtndisable{
	cursor: not-allowed !important;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
	pointer-events: none;
}
table > tbody > tr > th {
    background: #cad5eb;
    color: #1d2e50;
}
.hrClass
{
	margin-top : 0 !important;
}
</style>
<div class="page-bar breadCrumb" ng-controller="activeController">
   <div class="row">
      <div class="col-md-6 ">
         <ul class="page-breadcrumb" ng-if="!profileSetup">
            <!--<li>
               <i class="fa fa-home"></i>
               <a href="javascript:void(0);" translate ng-click="goToHome()">Sidebar.Home</a>
               <i class="fa fa-angle-right"></i>
               </li>-->
            <li>
               <i class="fa fa-building-o"></i>
               <a href="javascript:void(0);" translate class="removeCursor">Sidebar.BankData</a>
               <i class="fa fa-angle-right"></i>
            </li>
            <li>
               <span translate class="removeCursor">Sidebar.MPITemplate</span>
            </li>
         </ul>
      </div>
      <div class="col-md-6 headerVals">
         <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
      </div>
   </div>
</div>
<div class="contentContainer">
<div class="pageTitle alertWidthonResize">
   <div class="row">
      <div class="col-sm-5">
         <div class="title__container">
            <h2 translate>MPITemplates.PageTitle</h2>
            <p translate>MPITemplates.SubTitle</p>
         </div>
      </div>
   </div>
</div>
<div class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
   <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
   {{alert.msg}}
</div>
<div class="view-wrapper" style="padding:5px;">
<div class="row" style="margin: 0;">
   <div class="countbar-title">
      <div class="col-md-3 col-sm-3 col-xs-12  ng-binding" style="padding: 0;">
         <div class="caption">
           <!--  <span ng-if="totalForCountbar"><span class="highlight" >{{restVal.length-1}} out of {{totalForCountbar}}</span> records shown</span>
            <span ng-if="!totalForCountbar"><span class="highlight" >{{restVal.length-1}} </span> records shown</span> -->
			<span class="highlight">{{(restVal.length >= 0 && totalForCountbar >= 0) ? restVal.length-1 + ' out of '+ totalForCountbar : (restVal.length && !totalForCountbar) ? restVal.length-1 : '' }}</span>{{(restVal.length >= 0 && totalForCountbar >= 0) || (restVal.length && !totalForCountbar) ? ' records shown' : (!restVal.length && !totalForCountbar) ? 'Fetching Data...' : '0 out of 0'}}
			
			
         </div>
      </div>
      <!--<div class="row CountBar ng-scope" style="margin:0px 0px 15px 0px;padding: 5px;box-sizing: border-box;background-color: #44b6ae;color: white;">
         <div class="col-md-6 col-sm-8 col-xs-12 ng-binding" style="padding: 5px; font-size: 17px; padding-left: 25px;">
             {{restVal.length-1}} records shown
         </div>-->
      <div class="col-md-9 col-sm-9 col-xs-12">
         <div class="btn-group" style="float:right;">
            <button style="border: 1px solid #fff;box-sizing: border-box;margin-left:5px;float:left;" ng-if="!changeViewFlag" class="btn-trans viewbtn" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.3','cursor': 'not-allowed'}" tooltip="{{(permission.C)?'Add New':'You don&lsquo;t have permission'}}" ng-click="(permission.C)?addFxRate():''"><i class="fa fa-plus-square fa-fs14"></i></button>
            <button style="border: 1px solid #fff;box-sizing: border-box;margin-left:5px;float:left;" ng-click="loadData()" class="btn-trans" tooltip="{{'Refresh'}}"><i class="fa fa-refresh fa-fs14"></i></button>
            <div id = "sortBy" ng-show="changeViewFlag" class="dropdown customDropdown" style="float: left;">
               <button style="border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="{{'Sort'}}" ng-click="setHeight($event)">
               <i class="fa fa-sort-amount-desc fa-fs14"></i>
               </button>
               <ul class="dropdown-menu dropdown-menu-default pull-right" style="min-width: 300px;padding:10px 0px;">
                  <form ng-submit="searchFilter(filterParams)">
                     <li id="sortBy" class="dropdown-header">SORT BY <i> (Click to Sort) </i> <i style="float: right; cursor: pointer; color: #9e9e9e; font-weight: bolder;" ng-click="clearSort('#sort')"><u>Reset All</u></i></li>
                     <div id="sort" class="dataGroups" style="padding: 0px 15px;margin:0;width:100%;float: left;max-height: 300px;overflow: auto;">
                        <div ng-repeat="x in sortMenu" style="color:#fff;display: table;width: 100%;margin-bottom: 2px;" ng-if="(x.FieldName != 'RolesAccessible')">
                           <div id="sort_{{$index}}" style="margin-bottom: 2px;display: table-row;width: 100%;">
                              <span style="display: table-cell;background: #9e9e9e;padding: 5px 8px;border-right: 1px solid #fff;width: 90%;">{{x.label}}</span>
                              <a tooltip-placement="top" style="display: table-cell;background: #9e9e9e;padding: 6px;text-align: center;vertical-align: middle;width: 10%;" ng-click="gotoSorting(x)"><i id="{{x.FieldName}}_icon" class='fa fa-minus fa-sm' style="color:#2b3643 !important"></i></a>
                           </div>
                        </div>
                     </div>
                  </form>
               </ul>
            </div>
			<div id="Filter" class="dropdown customDropdown" style="float: left;">
				<button style="border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="{{'Filter'}}">
					<i class="fa fa-filter"></i>
				</button>

				<ul class="dropdown-menu dropdown-menu-default pull-right xyz" style="min-width: 600px;padding:10px 0px;">
					<form ng-submit="searchFilter(filterParams)" ng-init="parsed = filterParams.SearchSelect">
						<li id="Filter" class="dropdown-header" style="padding: 8px 14px 2px 14px;margin: 0;">APPLY FILTER:</li>
						<div id="Filter" class="row input-group parent" style="padding: 8px 0px 2px 14px;margin: 0;display: inline-block;width: 50%;float: left;">
							<select id="SearchSelect" name="SearchSelect" class="form-control appendSelect2" ng-model="filterParams.SearchSelect" style="cursor:pointer" ng-change="parsed = (filterParams.SearchSelect | jsonparse); filterParams.keywordSearch = ''">
								<option value="">Select</option>
								<option ng-repeat="x in fields" value="{{x}}" ng-if="(x.type != 'DateOnly' && x.name != 'Status' && x.name != 'Template' && x.name != 'RolesAccessible')">{{x.label}}</option>
							</select>
						</div>
						<div id="Filter" class="row input-group" style="padding: 8px 14px 2px 0px;margin: 0;display: inline-block;width: 50%;" >
							<div ng-if="parsed.type == 'string' || !parsed" >
							<span class="cstmDrop" style="display:inline-block;color:#000;cursor: pointer;position: relative;box-sizing: border-box; width: 90%;" ng-init="parsedSearchSelect = (filterParams.SearchSelect ? (filterParams.SearchSelect | jsonparse) : false)">
								<input name="keywordSearch" style="color: #000;" type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="filterParams.keywordSearch" placeholder="{{parsed ? 'Search '+ (parsed.label): 'Keyword Search'}}" ng-required="showCustom || filterParams.keywordSearch || filterParams.Status.length ? false : true">
							</span>
							<span class="input-group-addon" style="cursor:pointer;float: left;width: 10%;height: 100%;padding: 9px;" ng-click="searchFilter(filterParams)" ng-class="filterParams.keywordSearch ? '' : 'nonbtndisable'"><i class="fa fa-search"></i></span>
							</div>
							<select ng-if="parsed.type == 'select'" name="keywordSearch" class="form-control" ng-model="filterParams.keywordSearch">
								<option value="">Select</option>
								<option ng-repeat="k in parsed.value" value="{{k.actualvalue}}">{{k.displayvalue}}</option>
							</select>
						</div>
						<div ng-repeat="y in fields" ng-if="status = (y.name === 'Status') ? y.value : ''">
							<li id="Filter" class="dropdown-header">FILTER BY {{y.label | uppercase }}</li>
							<div id="Filter" style="padding: 8px 10px 2px 10px;">
								<!-- <button type="button" class="filterBystatus" ng-repeat="x in status" ng-init="getCountbyStatus(x)" ng-click="setStatusvalue(x.displayvalue,filterParams)" id="{{x.displayvalue}}" ng-class="x.TotalCount ? '' : 'nonbtndisable'"> -->
								<button type="button" class="filterBystatus" ng-repeat="x in status" ng-click="setStatusvalue(x.displayvalue,filterParams)" ng-init="getCountbyStatus(x)"  id="{{x.displayvalue}}" ng-class ="x.TotalCount ? '' : 'nonbtndisable'">
									<div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
									<div style="clear:both;" ng-if="$index % 2 == 0"></div>
									<div style="padding: 0px 5px;float: left;">
										<span class="fa-wrapper">
											<i class="fa fa-circle" ng-style="{'color':(x.displayvalue | chooseStatus)}"></i></span>
										<!--span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue}}</span-->
										<span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue  +' ('+x.TotalCount+') '}}</span> 
									</div>
									<div style="clear:both;"></div>
								</button>
								<div style="clear:both;"></div>
							</div>
						</div>
						<div style="clear:both"></div>
						<li id="Filter" class="dropdown-header">FILTER BY EFFECTIVE DATE</li>
						<div id="Filter" style="padding: 8px 10px 2px 10px;">
							<button type="button" class="filterBydate" ng-repeat="x in filterBydate" ng-click="setEffectivedate(x,filterParams)" id="{{x.displayvalue|removeSpace}}">
								<div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
								<div style="clear:both;" ng-if="$index % 2 == 0"></div>
								<div style="padding: 0px 5px;float: left;">
									<span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue}}</span>
									<i class="fa fa-calendar"></i>
								</div>

								<!-- <div style="clear:both;"></div> -->
							</button>
							<div style="clear:both;"></div>
							<div id="customPicker" class="row fade-in-up" ng-show="showCustom" style="padding: 10px 0px 0px 0px;">
								<div class="input-group date" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months" style="width: 100%">
									<div class="input-group col-md-12" style="padding: 0px 0px 0px 20px; width: 46%; float: left;">
										<input type="text" class="form-control DatePicker" ng-model="filterParams.startDate" id="startDate" name="startDate" style="width:100%" placeholder="From" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
										<span class="input-group-addon" ng-click="focusInfn('startDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
									</div>
									<span class="input-group-addon" style="border:none; background-color:transparent; width: 6%; float: left; padding: 10px;">To</span>
									<div class="input-group col-md-12" style="width: 46%">
										<input type="text" class="form-control DatePicker" ng-model="filterParams.endDate" id="endDate" style="width:100%" placeholder="To" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
										<span class="input-group-addon" ng-click="focusInfn('endDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
									</div>
								</div>
							</div>
						</div>
						<div style="clear:both"></div>
						<div class="row input-group pull-right" style="padding: 8px 14px 2px 14px;margin: 0;">
							<button type="Button" class="btn-trans btnStyle" tooltip="Cancel" style="margin-right: 10px;" ng-click="clearFilter()"><i class="fa fa-times"></i></button>
							<button type="Submit" class="btn-trans btnStyle" tooltip="Search" style="cursor: pointer;" ng-class="(filterParams.EffectiveDate.displayvalue == 'Custom' ? filterParams.startDate && filterParams.endDate && showCustom : showCustom)|| filterParams.keywordSearch || filterParams.Status.length ? 'cmmonBtnColors' : 'disabledBtnColor'">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</form>
				</ul>
			</div>
            <div class="dwnBtn" style="float:left;margin-left:5px;">
               
                <!-- <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" ng-click="setHeight($event)" aria-expanded="true"tooltip="{{'Export'}}"> <i class="fa fa-download" aria-hidden="true"></i></button>	 -->

                <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="{{(restVal.length > 1)?'dropdown':''}}" tooltip="{{(restVal.length > 1)?'Export':'No records to export'}}" ng-style="{'opacity':(restVal.length > 1)?'1':'0.5'}"> <i class="fa fa-download" aria-hidden="true"></i></button> 



               <ul class="download-window dropdown-menu dropdown-menu-excel pull-right" style="z-index: 10000;">
                  <li><span><input type="radio" name="excelVal" value="Current" checked class="radiobtns"> Current Screen </span>
                     <span><input type="radio" name="excelVal" value="All" class="radiobtns"> All Matching Filter</span>
                  </li>
                  <li tooltip="{{'Excel'}}" class="excelprint" style="margin-left:40px;" ng-click="exportAsExcel($event)"><i class="fa fa-file-excel-o fa-fs14" aria-hidden="true"></i>
                  </li>
                  <li data-toggle="tooltip" data-placement="top" title="{{'Print'}}" class="excelprint" ng-click="printFn()"><i class="fa fa-print fa-fs14" aria-hidden="true"></i>
                  </li>
               </ul>
            </div>

            <button ng-show="!changeViewFlag" style="border: 1px solid #fff;box-sizing: border-box;margin-left:5px; float: left" ng-click="(permission.C)? getCurrentDrafts() : '' " class="btn-trans" tooltip="{{(permission.C)?'Show Drafts' : 'You don&lsquo;t have permission'}}" data-toggle="modal" data-target="{{(permission.C)? '#DraftListModal' : ''}}" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"><i class="fa fa-sticky-note"></i></button>



            <button style="border: 1px solid #fff;box-sizing: border-box;border-right:0px;margin-left:5px" class="btn-trans" id="btn_1" ng-class="changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="List View"><i class="fa fa-list fa-fs14"></i></button>
            <button style="border: 1px solid #fff;box-sizing: border-box;border-left:0px" class="btn-trans " id="btn_2" ng-class="!changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="Grid View"><i class="fa fa-table fa-fs14"></i></button>
         </div>
      </div>
      <div class="clearfix"></div>
   </div>
</div>
<!--<div class="row" style="margin:0;padding: 5px;background-color:#fff;">
   <div class="col-md-8 col-sm-8 col-xs-12" style="padding: 0px;">
       <div ng-repeat="x in Status" style="color:#fff;">
           <div id="sort_{{$index}}" style="float:left;">
               <span style="display:inline-block; padding: 5px 0px 5px 5px" ng-style="{'color':(x.actualvalue | chooseStatus)}"><i style="font-size: 16px;line-height:16px" class="fa fa-circle"></i> {{x.displayvalue}}</span>
               <span class="cstmDrop" style="display:inline-block;color:#000;cursor: pointer;position: relative;box-sizing: border-box;">
     <i class="fa fa-ellipsis-v" aria-hidden="true" style="padding: 5px;"></i>
                   
     </span>
           </div>
           <div ng-if="$last"style="clear:both"></div>
       </div>
   </div>
   </div>-->

   <!--Draft Pop Up Starts-->
   <div class="modal fade" id="DraftListModal" role="dialog" tabindex="-1">
				  <div class="modal-dialog">

					 <div class="modal-content">
					  <!-- <h4>Saved Drafts - </h4> -->
						<div class="modal-body draft__modal-saved table-responsive" style="border:5px solid rgb(150, 156, 195) !important">
						<h4 class="col-md-11">Saved Drafts - MPI Templates</h4>


			<div class="clearfix"></div>

						<hr class="hrClass"/>

                        <div class="draftViewCls FixHeadDraft">
						<table class="table table-bordered drafttable" ng-show="draftdatas.length">
						<thead>
							<tr style=" font-size: 14px;">
								<th>Business Primary Key</th>
                                 <th>Last Updated</th>
								<th class="text-center">Action</th>	
							</tr>
                        </thead>

                            <tbody>
							<tr ng-repeat="value in draftdatas" ng-class="{oddClas:($index%2)== 1}" >
								<td style="font-weight: bolder;word-wrap: break-word;">
								{{value.BPK}}
								</td>
                                <td style="font-weight: bolder;word-wrap: break-word;">
								{{value.LastUpdated | dateFormat}}
								</td>
								<td class="text-center" style="font-size: 16px;min-width:120px;">
									<!--<i class="fa fa-eye Iclr" style="cursor:pointer;" ng-click="gotoEditDraft({'Operation':'View','Permission':permission,'totData':value})"></i>&nbsp;&nbsp;|&nbsp;-->
									
									<i class="fa fa-pencil-square-o Iclr" style="cursor:pointer;" ng-click="gotoEditDraft({'Operation':'Add','Permission':permission,'totData':value})" tooltip="Edit"></i>&nbsp;&nbsp;|&nbsp;
									
									<i class="fa fa-trash-o Iclr" style="cursor:pointer;" data-toggle="modal" data-target="#delPopupDraft" ng-click="takeDeldata(value,$index)" tooltip="Delete"></i>
								</td>
							</tr>
							
							
						</tbody>
							
						</table>

                        </div>
						   <div class="alert-warning" ng-show="!draftdatas.length" style="padding: 15px 15px 15px 15px;">
									<strong><h4  style="margin:0;text-align:center;"> No Records Found</h4></strong>
								</div>
								
						<button type="button" class="btn btnStyle pull-right CanclPopup" data-dismiss="modal" ng-click="cancelChanges()">Close</button>
						</div>
					 </div>
					 	
				  </div>
			   </div>
   <!--Draft Pop Up Ends-->


<!-- Delete popup Window Start-->
<div class="modal fade" tabindex="-1" id="delPopupDraft" role="dialog" style="z-index: 1150;">
	<div class="modal-dialog modal-md" style="top: 200px;">
		<div class="modal-content modalbdy animated tada">
			<div class="modal-header" style="padding: 0px !important; border: 0px !important">
				<div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
			</div>
			<div class="modal-body" style="padding: 0px !important; border: 0px !important">
				<h1>Are you sure?</h1>
				<h4>You will not be able to recover this Draft!</h4>
			</div>
			<div class="modal-footer modalftr">
				<button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
				<button tabindex="0" type="button" class="buton yess" ng-click="gotodeleteDraft()">Yes, delete it!</button>
			</div>
		</div>
	</div>
</div>
<!-- Delete popup Window End-->




<div class="alert alert-warning" ng-show="dataFound">
   <strong>
      <h4  style="margin:0;text-align:center;">No Records Found</h4>
   </strong>
</div>
<div style="position:relative;height:auto;margin:0;overflow:visible;">
   <div class="row">
      <div class="col-md-12">
         <div class="listView FixHead dataGroupsScroll" style="overflow-x: auto !important;" ng-show="!dataFound && !changeViewFlag">
            <table class="table table-bordered smallTable floatThead stickyheader maintable">
               <thead>
                  <tr>
                     <th class="cursorPointer" ng-repeat="val in sortMenu" ng-if="val.visible" ng-click="(val.FieldName != 'RolesAccessible')?gotoSorting(val,$index,$event):''" ng-style="{'pointer-events':(val.FieldName != 'RolesAccessible')?'auto':'none'}">
                        {{val.label}}
                        <span id="{{val.FieldName}}_Icon" class=""></span>
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr id = {{'displayingWindow_'+$index}} class="displayWindow collapse in" ng-repeat="FXRate in restVal" ng-class="{oddClas:($index%2)== 1}" ng-click="viewData(FXRate,true)" style="cursor:pointer;" ng-if="(!$first)">
                     <td ng-repeat="val in sortMenu" ng-if="val.visible">
                        <span ng-if="val.FieldName == 'Status'" ng-style="{'color':(FXRate.Status | chooseStatus)}"><i style="font-size: 20px;line-height:20px" class="fa fa-circle" tooltip="{{FXRate.Status}}" data-placement="bottom"></i></span>
                        <span ng-if="val.FieldName != 'Status'">{{FXRate[val.FieldName]}}</span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="listView" ng-show="changeViewFlag">
         <div class="panel-group" id="accordion">
            <div class="col-md-12" style="margin-top:10px;margin-bottom: 15px;padding: 0;">
               <div ng-repeat="FXRate in restVal" ng-init="colIndexx = $index">
                  <div class="clearfix" style="background-color: transparent;" ng-if="$index % 4 == 0"> </div>
                  <div style="clear:both" ng-if="$index%4 == 0"></div>
                  <!--<div ng-if="$first" class="panel paneltrans addToolTip col-md-3 ng-scope" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" title="{{(permission.C)?'':'You don&lsquo;t have permission'}}" data-toggle="tooltip" data-placement="bottom">
                     <div style="background: rgb(158, 158, 158); text-align: center; min-height: 140px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center;height: 200px;" ng-style="{'height':callStyle()}" ng-click="(permission.C)?addFxRate():''">
                        <div style="display: inline-block;font-size: 20px;color: #fff;">
                           <i class="fa fa-plus-square" style="font-size: 70px; line-height: 70px;"></i><br>
                           <span class="ng-binding">Add MPI Template</span>
                        </div>
                     </div>
                  </div>-->
                   <div ng-if="$first" class="panel paneltrans addToolTip col-md-3">
                     
                        <div style="background: #9e9e9e;min-height: 200px;color:#fff;" ng-style="{'height':callStyle()}" >
                        <div class="row">
						
						
						<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="add-holder" title="{{(permission.C)?'':'You don&lsquo;t have permission'}}" data-toggle="tooltip" data-placement="bottom">
						<i class="fa fa-plus-square" style="font-size: 70px; line-height: 70px;" ng-click="(permission.C)?addFxRate():''" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"></i><br/>
						<p style="font-size:15px;" class="bold">Add MPI Template</p>
						</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="show__drafts-holder" title="{{(permission.C)?'':'You don&lsquo;t have permission'}}" data-toggle="tooltip" data-placement="bottom">
						<i class="fa fa-sticky-note" style="font-size: 70px; line-height: 70px;" data-toggle="modal" data-target="{{(permission.C)? '#DraftListModal' : ''}}" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.C)? getCurrentDrafts() : '' "></i>
						<p style="font-size:15px;" class="bold">Show Drafts</p>
						</div>
						</div>
						
                        </div>
                     </div>
                  </div>
                  <div ng-if="(!$first)" class="panel paneltrans col-md-3">
                     <div class="panel-heading listViewPanelHeading" id="listViewPanelHeading_{{$index}}" style="padding-bottom:0px;">
                        <div class="row dataGroups" id="dataGroup_{{$index}}" ng-click="viewData(FXRate,true)" style="cursor:pointer;min-height:150px;max-height:150px;">
                           <div class="col-md-12" style="padding:5px 15px;position: relative;">
                              <div class="panel-wrapper-inside">
                                 <div class="ruleHead pull-left" style="font-size: 19px;" ng-style="{'color':(FXRate.Status | chooseStatus)}">
                                    {{FXRate.TemplateName}}
                                 </div>
                                 <div class="pull-right" title="{{FXRate['Status']}}" data-toggle="tooltip" ng-style="{'color':(FXRate.Status | chooseStatus)}">
                                    <i style="font-size: 20px;line-height:27px" class="fa fa-circle" ng-if="FXRate['Status']"></i>
                                 </div>
                                 <div class="clearfix"></div>
                              </div>
                           </div>
                           <div class="col-md-12" ng-repeat="val in sortMenu" ng-if="(val.visible && val.FieldName !='Status' && val.FieldName !='TemplateName')"
                              style="padding:5px 15px">
                              <div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;">
                                 {{val.label}} :
                              </div>
                              <div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;">
                                 <span>{{FXRate[val.FieldName]}}</span>
                              </div>
                           </div>
                           <!--<div class="col-md-12" ng-repeat = "val in sortMenu" ng-if="val.visible" style="padding:5px 15px">
                              <div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;">
                                  {{val.label}} :</div>
                              <div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;">
                              
                                  <span ng-if="val.FieldName != 'Status'">{{FXRate[val.FieldName]}}</span>
                                  <span ng-if="val.FieldName == 'Status'" ng-style="{'color':(FXRate | chooseColor)}">{{FXRate[val.FieldName]}}</span>
                              </div>
                              </div>
                               <div style="clear:both"></div>-->
                        </div>
                        <div class="row actionRow">
                           <a ng-init="showEditWin = true" class="actionIcons" ng-style="(permission.U && FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.U &&  FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL')?viewData(FXRate,false):''" tooltip="{{(permission.U && FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL')?'Edit':'You don&lsquo;t have permission'}}"><i class="fa fa-pencil-square-o Iclr1"></i></a>
                           
                           <a class="actionIcons" data-toggle="modal" data-target="{{(permission.D && FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL')?'#delPopup':''}}" ng-style="(permission.D && FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.D && FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL')?takeDeldata(FXRate,$index):''" tooltip="{{(permission.D && FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL')?'Delete':'You don&lsquo;t have permission'}}"><i class="fa fa-trash-o Iclr1"></i></a>
                        </div>
                        <div style="clear:both;"></div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Delete popup Window Start-->
            <div class="modal fade" tabindex="-1" id="delPopup" role="dialog">
               <div class="modal-dialog modal-md" style="top: 200px;">
                  <div class="modal-content modalbdy animated tada">
                     <div class="modal-header" style="padding: 0px !important; border: 0px !important">
                        <div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
                     </div>
                     <div class="modal-body" style="padding: 0px !important; border: 0px !important">
                        <h1>Are you sure?</h1>
                        <h4>You will not be able to recover this Data!</h4>
                     </div>
                     <div class="modal-footer modalftr">
                        <button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
                        <button tabindex="0" type="button" class="buton yess" ng-click="deleteData();">Yes, delete it!</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Delete popup Window End-->
            <div style="clear:both"></div>
         </div>
         <div style="clear:both"></div>
      </div>
   </div>
</div>
<script>
   $(document).ready(function() {
     $('#Filter button:first-child').click(function(){
				setTimeout(function(){
				var parentElement = $(".parent"); 
					$('select[name=SearchSelect]').select2({
						allowClear:true,
						placeholder:'Select',
						 dropdownParent: parentElement
					})
				},500)
				
			})


       $('body').tooltip({
           selector: "[data-toggle=tooltip]",
           container: "body"
       });
   	window.setTimeout(function(){
   	$('[data-toggle="tooltip"]').click(function(){
               $(this).trigger('mouseleave');
           })   
   	},100)
   
   });
  
</script>