<style>
    text {
    font: 12px sans-serif;
    }
    .nvtooltip {
    z-index: 100000;
    }

    .chartBorder{
    border: 1px solid #d3d1d1;
    box-shadow: 2px 2px 5px #d3d1d1;
    padding: 5px 10px;
    }

    #barChart svg rect
    {
    cursor:default;
    }
	.nvd3 text {
  font: normal 10.8px sans-serif !important;
}
</style>

<!-- BEGIN PAGE HEADER-->
    <div class="page-bar breadCrumb" ng-controller="activeController" style="z-index:2">
    <div class="row">
    <div class="col-md-6 ">
    <ul class="page-breadcrumb">
        
        <li>
             <i class="fa fa fa-cog"></i>
            <a href="javascript:void(0);" translate class="removeCursor">Sidebar.PaymentModule</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li class="cursorPointer">
            <span class="removeCursor" translate >Sidebar.InstructionsDashboard</span>
        </li>
    </ul>
    </div>
    <!--<div style="clear:both">    </div>-->
   <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

    </div>
    </div>
   
</div>

<!--<div id="loaderContainer" httploader>
    <img src="themes/images/preloader.gif" class="httpLoader"/>
</div>-->
<div class="contentContainer">
<div class="pageTitle alertWidthonResize">
    <div class="row">
        
        <div class="col-lg-8 col-sm-6 col-xs-8" >
                <div class="title__container">
                    <h2 translate>DashboardFile.PageTitle</h2>
                    <p translate>DashboardFile.SubTitle</p>
                </div>
        </div>
        <div class="col-lg-4 col-xs-4">
                     <div class="bar__icons pull-right">
                    <button class="btn-transdashbrd" ng-click="loadData()" data-toggle="tooltip" tooltip="Refresh" ><i class="fa fa-refresh"></i></button>
                    <button class="btn-transdashbrd" ng-click="dashboardPrint()" data-toggle="tooltip" tooltip="Print"><i class="fa fa-print"></i></button>
                    <!--<button class="btn-trans" ng-click=""><i class="fa fa-file-excel-o"></i></button>
                    <button class="btn-trans" ng-click=""><i class="fa fa-ellipsis-v"></i></button>-->
                </div>
        </div>

    </div>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN MAIN CONTENT -->
<div>
    <!-- BEGIN DASHBOARD STATS -->

    <div ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class="autoAdjustAlert bold" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" ng-repeat="alert in alerts">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{alert.msg}}
    </div>
    


    <!--<div class="row">
        <div class="col-md-12">
            <div class="bar__header">
                <div class="count__head">
                    <h3><span translate>Instruction Status</span></h3>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>-->

    <div class="row">
        <div class="col-md-12">
            <div class="statusbar__wrapper">
                <!--<p style="font-size:16px;font-weight:700;color:#666;margin:0" translate>DashboardPayments.SubSubTitle</p>-->
                <div class="width100_xs width50_sm width25_md statusBox" ng-class="{'width50':count==2,'width25':count==4,'width33':count==3,'width100':count==1,'width20':count==5,'width16':count==6,}" ng-repeat="barVal in statusBarVal" ng-if="barVal.Visibility">
                    <div class="dashboard-stat dashboardWidget" ng-click="dashboardToFileList(barVal.searchArr)" ng-style="{'background':barVal.Color}">
                        <div class="statusbar__widget">

                            <div class="details pull-left">
                                <div class="number count" style="color:#fff !important;">
                                    {{barVal.Count}}
                                </div>
                                <div class="desc payStatus" style="color:#fff !important;">
                                    {{barVal.Status}}
                                </div>
                            </div>
                            <div class="visual widgetVisual pull-right">
                                <i class="DboardFont" ng-class="barVal.Icon" style="color:#fff;"></i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
<!--
    <div class="row" style="margin:0;">
        <p style="font-size:16px;font-weight:700;color:#666;margin:0" translate>Instruction Status</p>
        <div class="width100_xs width50_sm statusBox" ng-class="{'width50':count==2,'width25':count==4,'width33':count==3,'width100':count==1,'width20':count==5,'width16':count==6,}" ng-repeat="barVal in statusBarVal" ng-if="barVal.Visibility">
            <div class="dashboard-stat dashboardWidget" ng-click="dashboardToFileList(barVal.Status)" ng-style="{'background-color':barVal.Color}">
                <div class="visual widgetVisual">
                    <i class="DboardFont" ng-class="barVal.Icon" style="color:#fff;"></i>
                </div>
                <div class="details">
                    <div class="number count" style="color:#fff !important;">
                       {{barVal.Count}}
                    </div>
                    <div class="desc payStatus" style="color:#fff !important;">
                        {{barVal.Status}}
                    </div>
                </div>
            </div>
        </div>        
    </div>-->
</div>

<!-- file chart starts -->
<div class="row" style="margin:0">




	<div class="col-md-12 droppable" ng-if="uSetting.fileChannel">



		<div class="draggable">
			<div class="portlet box green-haze" style="margin-top:12px;margin-bottom:12px;">
				<div class="portlet-title" ng-init="fileStatus = false" >
					<div class="caption cursorPointer toggleTop" ng-click="fileStatus = !fileStatus">
						<span>Received Instructions</span>

					</div>


					<div class="actions">

						<!-- <div class="dropdown custDropDown" ng-hide="fileStatus">

							<button class="btn-link dropdown-toggle" type="button" data-toggle="dropdown" tooltip="Count"><span class="dropVal" style="color:#fff !important;display: none;" translate>BtnGroup.Count</span>
								<a><i class="fa fa-list-ol" aria-hidden="true"></i></a><i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu mylist" style="min-width:65px;">
								<li class="listClass6 listClass" id="li_11" ng-click="fileDetailChart('Count');chartDrop($event);" tooltip="Count"><a translate><i class="fa fa-list-ol" aria-hidden="true"></i></a></li>
								<li class="listClass6 listClass" id="li_12" ng-click="fileDetailChart('Amount');chartDrop($event);" tooltip="Amount"><a translate><i class="fa fa-usd" aria-hidden="true"></i></a></li>
							</ul>
						</div> -->
                        <div class="collapse-arrow cursorPointer" ng-click="fileStatus = !fileStatus"><span class="round-corner"><i class="fa fa-arrow-circle-right" ng-class="{'fa-arrow-circle-down': !fileStatus, 'fa-arrow-circle-right': fileStatus}"></i></span></div>
					</div>
				</div>
				<div class="portlet-body" collapse="fileStatus">

                    <div ng-if="fileNotfound">
                        <div class="col-xs-12" style="background-color:#fff;position:absolute;opacity:0.5;left:0%;height:57%;z-index:1;width:100%;top:0%;">
                        </div>
                        <span style="transform: rotate(-40deg);
                    display:inline-block;font-size:40px;
                    color:#005FFF;position:absolute;left:43%;
                    top:53%;border-top:2px solid red;border-bottom:2px solid red;z-index:2">NO FILES</span>
                    </div>

					<div class="row portlet-inner-box" style="margin: 0;">
						<div class="col-md-6 col-sm-6 col-xs-12"  style="text-align: center; padding: 0px 10px 20px 10px;">
							<div>
								<h3 style="font:bold 16px Arial">{{'Received Instructions by PSA - ' + fileDonutHeader}}</h3>
								<div id="FileDetailsDonutChart" style="height:400px;" class="chart chartBorder"><svg ></svg></div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12" style="text-align: center; padding:0px 10px 15px 10px;">
							<div >
								<h3 style="font:bold 16px Arial">{{'PSA - '+individualName+'  vs Status'}}</h3>
								<div id="lineChart" style="height:400px;" class="chart chartBorder"><svg></svg></div>
							</div>
							 <!-- <div>
								<h3 style="font:bold 16px Arial">{{individualName+' vs Currency'}}</h3>
								<div id="barChart"  style="height:250px;" class="chart chartBorder"><svg></svg></div>
							</div>   -->
						</div>
					</div>
				</div>
			</div>
        </div>
        

        <!-- <div class="draggable">
			<div class="portlet box green-haze" style="margin-top:12px;margin-bottom:12px;">
				<div class="portlet-title" ng-init="curStatus = false" >
					<div class="caption cursorPointer toggleTop" ng-click="curStatus = !curStatus">
						<span>Received Instruction Currency Distribution</span>

					</div>


					<div class="actions">

						  <div class="dropdown custDropDown" ng-hide="fileStatus">

							<button class="btn-link dropdown-toggle" type="button" data-toggle="dropdown" tooltip="Count"><span class="dropVal" style="color:#fff !important;display: none;" translate>BtnGroup.Count</span>
								<a><i class="fa fa-list-ol" aria-hidden="true"></i></a><i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu mylist" style="min-width:65px;">
								<li class="listClass6 listClass" id="li_11" ng-click="fileDetailChart('Count');chartDrop($event);" tooltip="Count"><a translate><i class="fa fa-list-ol" aria-hidden="true"></i></a></li>
								<li class="listClass6 listClass" id="li_12" ng-click="fileDetailChart('Amount');chartDrop($event);" tooltip="Amount"><a translate><i class="fa fa-usd" aria-hidden="true"></i></a></li>
							</ul>
						</div>  
                        <div class="collapse-arrow cursorPointer" ng-click="curStatus = !curStatus"><span class="round-corner"><i class="fa fa-arrow-circle-right" ng-class="{'fa-arrow-circle-down': !fileStatus, 'fa-arrow-circle-right': fileStatus}"></i></span></div>
					</div>
				</div>
				<div class="portlet-body" collapse="curStatus">

                    <div ng-if="fileNotfound">
                        <div class="col-xs-12" style="background-color:#fff;position:absolute;opacity:0.5;left:0%;height:80%;z-index:1;width:100%;top:13%;">
                        </div>
                        <span style="transform: rotate(-40deg);
                    display:inline-block;font-size:40px;
                    color:#005FFF;position:absolute;left:51%;
                    top:53%;border-top:2px solid red;border-bottom:2px solid red;z-index:1">NO FILES</span>
                    </div>

					<div class="row portlet-inner-box" style="margin: 0;">
						
						<div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center; padding:0px 10px 15px 10px;">
							
							  <div>
								<h3 style="font:bold 16px Arial">{{individualName+' vs Currency'}}</h3>
								<div id="barChart"  style="height:250px;" class="chart chartBorder"><svg></svg></div>
							</div>  
						</div>
					</div>
				</div>
			</div>
        </div> -->
        
        <div class="draggable">
			<div class="portlet box green-haze" style="margin-top:12px;margin-bottom:12px;">
				<div class="portlet-title" ng-init="curStatus1 = false" >
					<div class="caption cursorPointer toggleTop" ng-click="curStatus1 = !curStatus1">
						<span>Currency Distribution in Received Credit Transfer Instructions by PSA</span>

					</div>


					<div class="actions">

						  <div class="dropdown custDropDown" ng-hide="curStatus1">

							<button class="btn-link dropdown-toggle" type="button" data-toggle="dropdown" tooltip="Count"><span class="dropVal" style="color:#fff !important;display: none;" translate>BtnGroup.Count</span>
								<a><i class="fa fa-list-ol" aria-hidden="true"></i></a><i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu mylist" style="min-width:65px;">
								<li class="listClass6 listClass" id="li_11" ng-click="curDisChart('Count');chartDrop($event);" tooltip="Count"><a translate><i class="fa fa-list-ol" aria-hidden="true"></i></a></li>
								<li class="listClass6 listClass" id="li_12" ng-click="curDisChart('Amount');chartDrop($event);" tooltip="Amount"><a translate><i class="fa fa-usd" aria-hidden="true"></i></a></li>
							</ul>
						</div> 
                        <div class="collapse-arrow cursorPointer" ng-click="curStatus1 = !curStatus1"><span class="round-corner"><i class="fa fa-arrow-circle-right" ng-class="{'fa-arrow-circle-down': !curStatus1, 'fa-arrow-circle-right': curStatus1}"></i></span></div>
					</div>
				</div>
				<div class="portlet-body" collapse="curStatus1">

                    <div ng-if="fileNotfound">
                        <div class="col-xs-12" style="background-color:#fff;position:absolute;opacity:0.5;left:0%;height:41%;z-index:1;width:100%;top:58%;">
                        </div>
                        <!-- <span style="transform: rotate(-40deg);
                    display:inline-block;font-size:40px;
                    color:#005FFF;position:absolute;left:51%;
                    top:53%;border-top:2px solid red;border-bottom:2px solid red;z-index:1">NO FILES</span> -->
                    </div>

					<div class="row portlet-inner-box" style="margin: 0;">
						
						<div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center; padding:0px 10px 15px 10px;">
							
							  <div>
								<!-- <h3 style="font:bold 16px Arial">{{individualName+' vs Currency'}}</h3> -->
								<div id="barChart1"  style="height:300px;" class="chart chartBorder"><svg id='verticalChart'></svg></div>
							</div>  
						</div>
					</div>
				</div>
			</div>
        </div>
        


	</div>

    <div style="clear:both"></div>
</div>
<!-- File charts End --> 

</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->

<script>
 $('[data-toggle="tooltip"]').tooltip();

</script>
<!-- BEGIN MAIN JS & CSS -->


