<style>
    .stickythead{
        position: -webkit-sticky !important;
        position: -moz-sticky !important;
        position: -ms-sticky !important;
        position: -o-sticky !important;
        position: sticky !important;
        top: 0;

    }
    
    .pg-range{
        border-bottom:3px solid lightgray;
        padding:10px 10px 10px 10px;
        color:black !important
    }
    .cr{
        font-size:13px;padding-top:20px;
    }
   .highlighted { font-weight: bold }
    /*a:hover {
        color: yellow;
    }*/
   
    .line{
        border:1px solid lightgray;
    }
   
    a{
        color:black;
        font-size: 14px;
    }

    .test{
        background-color: white !important;
    }

    tr.active {color: white !important}

    .align{
        margin:20% 30% 0% -15%; 
    }
    .btn-pad{
        padding:0.5% 3% 0.5% 3%; 
    }
    .bold{
        font-weight: bold;
        padding-top: 7px;
    }
    .counterPad{
        padding-top:3%;
        padding-bottom:3%;

    }
     .clrblk{
    color:black !important;
    background-color: transparent;
  }
  .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background-color: transparent !important;
    
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: transparent !important;
}
.bg-wt{
    background-color:white !important;
}
/*@media only screen and (max-width: 600px) {
 .sug-sty{
    background-color:white;
    min-width: 42%;
    cursor:pointer;
    max-height: 25%;
    overflow: auto;
    position: absolute;
  }
}
@media all and (max-width: 760px) and (min-width: 600px) {
 .sug-sty{
    background-color:white;
    min-width: 43%;
    cursor:pointer;
    max-height: 25%;
    overflow: auto;
     position: absolute;
  }
}
@media all and (max-width: 1100px) and (min-width: 760px) {
 .sug-sty{
    background-color:red;
    width: 30%;
    cursor:pointer;
    max-height: 25%;
    overflow: auto;
    margin-top:2.6%;
    margin-left: 4%;
     position: absolute;
  }
}*/

.sug-sty{
    background-color:white;
    cursor:pointer;
    max-height: 350%;
    overflow: auto;
    position: absolute;
    width: 92%;
  }
 
  .sty-li{

    border:1px solid lightgray;
    padding:10px;
  }
</style>
<!-- BEGIN PAGE HEADER-->
<div class="ui-wrapper">
    <div class="page-bar breadCrumb zindex" ng-controller="activeController" >
        <div class="row">
            <div class="col-md-6 ">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa fa-cog"></i>
                        <a href="javascript:void(0);" tabindex="1" aria-label="click go to bps ui" translate class="removeCursor">Sidebar.bpsui</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <span class="removeCursor" translate>bpsui.users</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 headerVals">
                <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
            </div>
        </div>
    </div>
    <div class="contentContainer" id="container">
        <div class="pageTitle  alertWidthonResize">
            <div class="row">
                <div class="col-lg-8 col-sm-8 col-xs-8" >
                    <div class="title__container">

                        <h2 tabindex="1" aria-label="List of users" translate>bpsui.listofusers</h2>
                        <p translate>bpsui.viewingallusers</p>
                        <h6 ng-if="searchEmpty" tabindex="1" aria-label="Back to all users" ng-click="initial()"  class="cursorPointer"><b>< Back to all users</b></h6>
                    </div>

                </div>
                <div class="pull-right">
                    <button type="button" tabindex="1" aria-label="Create User" class="btn btnStyle align" ng-click="gotoClickedPage();">Create User</button>
                </div>
            </div>
        </div>
        
       <div class ="animated bounce  bold" ng-repeat="alert in alerts" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{alert.msg}}
    </div>
         <div class="countbar-title">
        <div class="col-md-4 col-sm-4 col-xs-12  ng-binding" style="padding: 0;">
            <div class="caption">
                     <span > <span ng-if="items.length" class="highlight">{{items.length}} out of {{userlen}} </span>  <span >records shown</span></span>

               </div>
        </div>
    
    
        
        <div class="clearfix"></div>
      </div>
               <div class="countbar-title counterPad">
         <div class="col-lg-2 col-md-2 col-md-2 col-xs-3">
         <label class="bold">Search user</label>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <input type="text" ng-model="search" autocomplete="off" placeholder="Enter Serach term" class="form-control" name="search" ng-keyup="searchTitle(search)">    
              <ul ng-show="sugges&&search"   class="sug-sty" >
       <li class="sty-li" tabindex="1" aria-label="{{val.FullName}}"   ng-repeat="val in value" ng-click="selectValue(val.FullName)" ng-bind-html="val.FullName | highlight:search"></li>
     </ul>
         </div>
        
       <button type="button" tabindex="1" aria-label="search" class="btn btnStyle btn-pad"  ng-click="searchUser(search);">Search</button>
    
    
        
        <div class="clearfix"></div>
      </div>
       <div class="alert alert-warning" ng-if="!userData">
                        <strong><h4  class="alert-center">No Records Found</h4></strong>
                    </div>
                        <div class="listView FixHead dataGroupsScroll">
                        <table ng-if="userData" class="table table-bordered floatThead stickyheader  table-responsive"  >

                            <thead class="stickythead">
                                <tr class="b-n">
                                    <th ng-repeat="field in tableFields" class="cursorPointer mw-100"  >{{field.Label}}<span id="{{field.FieldName}}_Icon" class=""></span></th>
                                    <th>
                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody  ng-repeat="tabledata in userData | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" class="bg-wt">
                                <tr   ng-class="{'oddClas': $index%2 == 0,'active':toggle[$index]==true}">
                                
                                    <td ng-repeat="field in tableFields" ng-if="field.FieldName!=''">{{tabledata[field.FieldName]}}</td>
                                    <td  class="cursorPointer" >
                                        <div ng-click="gotousers(tabledata.UserID)" >View/Edit user</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <div ng-if="userData || userData.length > 1" class="text-center clrblk">
  <div class="pagination">
   
    <span ng-class="prevPageDisabled()">
      <a href class="" tabindex="1" aria-label="previous page" ng-click="prevPage()"><</a>
    </span>
    <span ng-repeat="n in range()"  class="pg-range"  ng-class="{active: n == currentPage}" ng-click="setPage(n)" ng-hide="n<0">
      <a href="" tabindex="1" aria-label="current page" ng-click="navigate(n+1)">{{n+1}}</a>
    </span>
    <span>
    </span>
    <span  ng-class="nextPageDisabled()">
      <a tabindex="1" aria-label="next page" ng-if="!hide" href class="" ng-click="nextPage()">></a>
    </span>
    <span ng-click="nextPageDisabled()">
      <a tabindex="1" aria-label="next page" ng-if="hide" href class="" ng-click="getmore();nextPage()">>
      </a>
    </span>
   
  </div>
</div>
                    
        </div>
    </div>
    <script>
        $('[data-toggle="tooltip"]').tooltip();



        var mq = window.matchMedia("(max-width: 991px)");

        if (mq.matches) {

            $('#resizeWindow').resizable({
                minHeight: 400,
                minWidth: 500
            });
        }
        else {


            $('#resizeWindow').resizable({
                minHeight: 800,
                minWidth: 830
            });
        }
        $('[data-toggle="tooltip"]').click(function(){
            $(this).trigger('mouseleave');
        })  
    </script>
<!-- BEGIN MAIN JS & CSS -->