﻿
<div class="col-lg-offset-7 col-md-offset-6 col-sm-offset-3 ng-scope">
    <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12 logIn ng-scope">
        <div class="logo" style="margin-bottom:10px;">
            <a href="index.html">
                <img src="themes/{{configData.ThemeName}}/logo.png" alt="">
            </a>
        </div>

       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11 bold animated fadeIn" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" ng-repeat="alert in alerts">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{alert.msg}}
       </div>


        <div class="portal col-xs-12 col-sm-12 col-md-12 col-lg-11" style="background-color: #fff;padding: 15px;padding-left: 0;padding-right: 0;border-radius: 10px !important;">
		
            <form autocomplete="off" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 logindata" ng-submit="login(loginData)" >
			
			<input type="text" style="display:none" name="preventAutoPass" id="NoAutoPass"/>
			<input type="password"  style="display:none" name="textPass" id="NoAutoPass"/>
			
       
                <div class="form-group " style="margin: 15px 22px;">
                    <div class="input-group">
                    <label style="float:left;padding: 0;width: 100%;text-align: center;font-weight:bolder">Username</label>
                        </div>
                    <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-o" aria-hidden="true" style="color:#000;"></i></span>

                    <input type="text" autocomplete="off" id="username" name="UserId" class="form-control NotAllowSpecialCharacters ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid" required="" ng-model="loginData.UserId" placeholder="Enter username" ng-blur="multipleEmptySpace($event)"  >
                    </div>
                </div>

                <div class="form-group" style="margin: 15px 22px;">
                    <div class="input-group" style="padding:0">
                    <label style="float:left;padding: 0;width: 100%;text-align: center;;font-weight:bolder">Password&nbsp;</label>
                        </div>
                    <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
					 
                    <input type="text"  autocomplete="off" id="password" name="Password" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid passField" required="" ng-model="loginData.Password" placeholder="Enter password" onkeydown="return spaceNotAllowed(event)" ng-click="PassClick($event)" >
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float:right;text-align: right;margin: 10;">
                    <a href="#/forgotpassword" style="color:rgb(188, 45, 53);padding: 5px 20px;font-weight:bolder">Forgot Password?</a>
                    <button type="submit" class="btn btn-info btnStyle btn-md loginButton">Login</button>
                </div>
            </form>
        </div>

    </div>
</div>
