<!-- BEGIN PAGE HEADER-->
<style>
input:required {
    box-shadow:none;
}
/*input:invalid {
    box-shadow:0 0 3px red;
}*/
.bootstrap-datetimepicker-widget{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-days{
	display: block;
}
</style>
<div class="breadCrumb" ng-controller="activeController">
    <div class="col-md-6">
    <ul class="page-breadcrumb">
        <!--<li>
            <i class="fa fa-home"></i>
            <a href="javascript:void(0);" translate ng-click="goToHome()">Sidebar.Home</a>
            <i class="fa fa-angle-right"></i>
        </li>-->
        <li>
            <i class="fa fa-building-o"></i>
            <a href="javascript:void(0);" translate>Sidebar.BankData</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);" ng-click="gotoShowAlert()" translate>Sidebar.MPITemplate</a>
            <i class="fa fa-angle-right"></i>

        </li>
        <li>
            {{fromAddNew ? 'Add New' : ViewClicked ? 'View' : 'Edit'}}
        </li>
    </ul>
    </div>
     <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
    </div>
</div>

<div class="contentContainer" style="padding: 0px 35px 35px;">

<div class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alert.msg}}
</div>


<div class="modal fade" id="changesLostModal" role="dialog" tabindex="-1">
            <div class="modal-dialog">


                <div class="modal-content" style="border:2px solid #243250a6;" ng-if="madeChanges">
                    <div class="modal-body">
                    <h4>Current changes will be lost. Do you wish to continue?</h4>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btnStyle" ng-click="gotoClickedPage();">Yes</button>
                    <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="cancelChanges()">No</button>
                    </div>
                </div>
                <div class="modal-content" style="border:2px solid #243250a6;" ng-if="!madeChanges">
                    <div class="modal-body">
                    <h4 style="font-size:17px;">Primary key fields are missing.UUID will be autogenerated.<br>Do you wish to continue?</h4>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btnStyle clr" ng-click="SaveAsModalDraft()" ><span translate> Yes</span></button>

                    <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="cancelChanges()">No</button>
                    </div>
                 </div>

            </div>
        </div>

              <div class="modal fade" id="draftOverWriteModal" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                        <div class="modal-content" style="border:2px solid #243250a6;" ng-if="!updateEntity">
                        <div class="modal-body">
                        <h4>Draft Already Exists. Do you want to Overwrite?</h4>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btnStyle" ng-click="forceSaveDraft();">Yes</button>
                        <button type="button" class="btn btnStyle" data-dismiss="modal">No</button>
                        
                        </div>
                    </div>
                    <div class="modal-content" style="border:2px solid #243250a6;" ng-if="updateEntity">
                    <div class="modal-body">
                    <h4>This will update the actual entity. Do you wish to continue?</h4>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btnStyle" ng-click="addandForseSaveMpidetails(takeuserbckup,method);">Yes</button>
                    <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="resetAllDrafts()">No</button>
                    
                    </div>
                </div>
                </div>
   </div>


<div >
    
    
    <div class="panel panel-default" style="margin-top:40px;" ng-if="ViewClicked && !fromAddNew">

        <div class="panel-heading" style="background-color:transparent;">

            <div class="col-md-10 serviceHeading" ng-style="{'color':(FXRate.Status | chooseStatus)}" style="word-break: break-all;"> {{FXRate.TemplateName}}<br>
		    </div>

            <div class="col-md-2 serviceHeading" ng-style="{'color':(FXRate.Status | chooseStatus)}" ng-if="FXRate.Status">
                <div class="col-md-2" style="padding: 0;text-align: center;">
                   <i style="font-size: 20px;line-height:20px;" class="fa fa-circle ng-scope" tooltip="{{FXRate.Status}}" tooltip-placement="bottom"></i>
                </div>
                
                <div class="col-md-8 ng-binding" style="padding: 0;">{{FXRate.Status}}</div>
            </div>

            <div class="clearfix"></div>
           

        </div>

        <div class="panel-body" style="padding:9px 15px;background-color:#f9f9f9">
            <div class="col-md-10" style="padding-left:0px;">
                Effective Date : 
                <span class="ng-binding">{{FXRate.EffectiveFromDate}}</span>
            </div>
            <div class="col-md-2">
                <a style="display:inline-block" class="actionIcons" ng-style="(permission.U && FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.U && FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL' )?gotoEdit():''" tooltip="{{(permission.U && FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL'  )?'Edit':'You don&lsquo;t have permission'}}"><i class="fa fa-pencil-square-o Iclr1"></i></a>

                <a style="display:inline-block" class="actionIcons" data-toggle="modal" data-target="{{(permission.D && FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL')?'#delPopup':''}}" ng-style="(permission.D && FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.D && FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL')?takeDeldata(FXRate):''" tooltip="{{(permission.D && FXRate.Status != 'DELETED' && FXRate.Status != 'ACTIVE-WAITFORAPPROVAL')?'Delete':'You don&lsquo;t have permission'}}"><i class="fa fa-trash-o Iclr1"></i></a>
            </div>
        </div>
    </div>




    <div class="panel-group" style="border:1px solid #ccc;"  ng-if="ViewClicked && !fromAddNew">

        <div class="row" style="margin:0;line-height:30px;">
            <div class="row" style="margin:0;margin-top:10px;margin-bottom:34px;padding-left:0px;">
                <div class="row" ng-repeat="field in strData" style="margin:0;" ng-style="($index%2 == 0)?{'background-color': 'rgb(245, 245, 245)'}:{'background-color': '#fff'}" ng-if="(field.label != 'Template') && (field.label != 'MPITemplate_PK')">
                    <label class="control-label bold col-md-3 col-sm-3"><span class="col-md-11 ng-binding">{{field.label | camelCaseFormatter}}</span> <span class="col-md-1">:</span> </label>
                    <div class="control-label col-md-9 col-sm-9 ng-binding subserviceInfo">
                        <span class="ng-binding">{{field.value}}</span>
                    </div>

                </div>
            </div>
        </div>
 <div class="row" style="margin:0;margin-top:65px;" ng-if="editedLog.length">
                <div class="col-md-12 bold control-label" style="margin:0;font-size:16px;">EDIT LOG</div>
                <ul style="line-height:35px;margin-top:30px">
                    <li ng-repeat="log in editedLog" style="padding: 0px 15px;">
                        <div style="display:block;word-break: break-all;">
                            <span style="float: left; width: 100%; padding: 0px 15px;"> <i class="fa fa-circle" aria-hidden="true" style="margin-right: 12px; font-size: 12px;line-height: 12px;"></i>  {{log.action}} on {{log.userAuditTimeStamp | dateFormat}} by {{log.UserId}}
                        </span></div>
                       
                    </li>
                </ul>
 </div>




    </div>
    


</div>


<!-- Delete popup Window Start-->
<div class="modal fade" tabindex="-1" id="delPopup" role="dialog">
    <div class="modal-dialog modal-md" style="top: 200px;">
        <div class="modal-content modalbdy animated tada">
            <div class="modal-header" style="padding: 0px !important; border: 0px !important">
                <div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
            </div>
            <div class="modal-body" style="padding: 0px !important; border: 0px !important">
                <h1>Are you sure?</h1>
                <h4>You will not be able to recover this Data!</h4>
            </div>
            <div class="modal-footer modalftr">
                <button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
                <button tabindex="0" type="button" class="buton yess" ng-click="deleteData();">Yes, delete it!</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete popup Window End-->

<div>


    <div class="pageTitle alertWidthonResize" ng-if="!ViewClicked && !fromAddNew">
        <div class="row">
            <div class="col-sm-12 ng-binding" ng-style="{'color':(parentInput.fieldData | chooseColor)}" style="color: rgb(65, 85, 195);">
                <div class="title__container">
                <h2 translate>MPITemplates.Edit</h2>
                 <p translate> Branch.ForMandatory</p>
                 </div>
            </div>
        </div>
    </div>
	
	
	
	 <div class="pageTitle alertWidthonResize" ng-if="(!ViewClicked && fromAddNew)">
        <div class="row">
            <div class="col-sm-12 ng-binding" ng-style="{'color':(parentInput.fieldData | chooseColor)}" style="color: rgb(65, 85, 195);">
                <div class="title__container">
                <div class="row">
                <div style="width:6%;float:left;">
                <h2 translate >BtnGroup.AddNew</h2>                
                </div>
                <div style="width:10%;float:left;">
                        <h2 translate >MPITemplates.PageTitle</h2>
                </div>
                <div class="clearfix"></div>
                <p translate>Branch.ForMandatory</p>
                </div>
            </div>

                </div>
        </div>

    </div>

    <div class="row" ng-if="(!ViewClicked)">

<form class="form-horizontal" id="MPIForm" role="form" name="benelistForm" ng-submit="createData(PaymentDetails,OrderingCustomer,BeneficiaryBank,Beneficiary,RemittanceInformation,psaCode11,PaymentBranch,party,service11,IntermediaryBankDetails123,OrderingCustomerAccountNumber,ProductsSupported123,SaveTemplate,TemplateDetails,psaCode11,EndToEndId,saveAsDraft);">
	<div class="row" style="margin: 15px !important;">
         <div class="form-group">
            <label class="control-label col-md-2">Templates
            </label>
			
            <div class="col-md-4" ng-class="{true: 'error'}[updatesubmitted && benelistForm.party.$invalid]">
               <select class="form-control appendselect212" id="PartyCode" name="templates" ng-model="templates" ng-change="loadTemplateData(templates)">
                  <option value="">--Select--</option>
                  <option ng-repeat="party in TemplatesOptions" value="{{party}}">{{party.displayvalue | underscoreRemove}}</option>
               </select>
            </div>
         </div>
      </div>
	  <div class="panel rolesPanel">
         <div class="panel-heading fileListStyle" ng-click="isPaymentDetailsCollapsed = !isPaymentDetailsCollapsed">
            <span class="bold">Payment Details</span>
            <div class="pull-right">
               &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-right" ng-class="{'fa-angle-down': !isPaymentDetailsCollapsed, 'fa-angle-right': isPaymentDetailsCollapsed}"></i>
            </div>
         </div>
         <div collapse="isPaymentDetailsCollapsed">
			<div class="row" style="margin: 15px !important;">
               <div class="form-group">
                  <label class="control-label col-md-2">Party
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
				
                  <div class="col-md-4" ng-class="{true: 'error'}[updatesubmitted && benelistForm.party.$invalid]">
                     <select class="form-control appendselect2" id="PartyCode" name="party" ng-model="party"  ng-change="getServiceList(party,PartySelectedFlag)">
                        <option value="">--Select--</option>
                        <option ng-repeat="party in partyOptions" value="{{party}}">{{party.PartyName | underscoreRemove}} {{}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.party.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
            
			<div class="form-group">
                  <label class="control-label col-md-2">Service
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-4" ng-class="{true: 'error'}[updatesubmitted && benelistForm.service11.$invalid]">
                    <!--  <select class="form-control" name="service11" ng-model="service11" ng-required="true" ng-change="getMSGTypebyPartyService(party,service11)" ng-if="((serviceOptions.length==1)||(serviceIsNotSingle))">
                        <option value="">--Select--</option>
                        <option ng-repeat="service in serviceOptions" value="{{service.ServiceCode}}">{{service.ServiceName | underscoreRemove}}</option>
                     </select> -->
                     <select class="form-control" name="service11" ng-model="service11"  ng-change="getMSGTypebyPartyService(party,service11)">
                        <option value="" selected>--Select--</option>
                        <option ng-repeat="service in serviceOptions" value="{{service}}">{{service.ServiceName | underscoreRemove}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.service11.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               
			   <div class="form-group">
                  <label class="control-label col-md-2">Messages Type
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-4" ng-class="{true: 'error'}[updatesubmitted && benelistForm.MessageType.$invalid]">
                     <select class="form-control" name="MessageType" id="MessageTypeID"  ng-model="PaymentDetails.MessageType" ng-change="getPSAList(PaymentDetails.MessageType,service11,party);getPaymentType(PaymentDetails.MessageType)">
                        <option value="" selected>--Select--</option>
                        <option value="{{MT.actualValue}}" ng-repeat="MT in forUSRTP.MessageType track by $index">{{MT.displayValue}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.MessageType.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
			   
			<div class="form-group">			
                  <label class="control-label col-md-2">Party Service Association Code  
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
				
                  <div class="col-md-4" ng-class="{true: 'error'}[updatesubmitted && benelistForm.psaCode.$invalid]">				                       					
                     <select class="form-control" id="Filechannel" name="psaCode" ng-model="psaCode11"  ng-change="getBranchList(psaCode11);getOrderingCustomer(party)">
                        <option value="" selected>--Select--</option>
                        <option ng-repeat="psaCode in selectOptions" ng-if="PaymentDetails.MessageType" value="{{psaCode}}">{{psaCode.PartyServiceAssociationCode | underscoreRemove}} ({{psaCode.PartyCode}})</option>
                     </select>
					 
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.psaCode.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
				<div class="form-group">
                  <label class="control-label col-md-2">Branch
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>				  
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.Branch.$invalid]">
                     <select class="form-control" id="Filechannel" name="Branch" ng-model="PaymentBranch" >
                        <option value="" disabled>--Select--</option>
                        <option ng-repeat="option1 in branchList" value="{{option1.BranchCode}}">{{option1.BranchName | underscoreRemove}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.Branch.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Products Supported
                  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.PaymentType.$invalid]">
                     <select class="form-control" name="PaymentType" ng-model="ProductsSupported123" ng-change="getPaymentTypeDetails(ProductsSupported123,party,service11)" >
                        <option value="" disabled>--Select--</option>
                        <option ng-repeat="PT in ProductsSupported" value="{{PT}}">{{PT}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.PaymentType.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Value Date					 
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="input-group col-md-3 input-append" ng-class="{true: 'error'}[updatesubmitted && benelistForm.ValueDate.$invalid]" style="padding-right:15px;padding-left:12px;float:left;" >
                     <input class="form-control DatePicker dateTypeKey" type="text" name="ValueDate" ng-model="PaymentDetails.ValueDate" placeholder="Please Select Value Date" ng-focus="activatePicker($event)" ng-disabled="false">
                     <span class="input-group-addon cursorPointer" ><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                  <span class="help-inline" ng-show="updatesubmitted && benelistForm.ValueDate.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
               </div>
               <div class="form-group" ng-if="!CXCFlag">
                  <label class="control-label col-md-2">
                     Debtor Customer Proprietary Code
                     <!-- <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true" ng-if="ServiceCodeForConditions=='RPX'">*</span> -->
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.DebtorCustomerProprietaryCode.$invalid]">
                     <select class="form-control checkSelectEntry" name="DebtorCustomerProprietaryCode" ng-model="PaymentDetails.DebtorCustomerProprietaryCode" ng-change="getBeneficiaryCountry(PaymentDetails.DebtorCustomerProprietaryCode)" ng-disabled="ServiceCodeForConditions !='RPX' ? true:false">
                        <option value="" disabled>--Select--</option>
                        <option value="{{MT.actualValue}}" ng-repeat="MT in forUSRTP.DebtorCustomerProprietaryCode track by $index">{{MT.displayValue}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.DebtorCustomerProprietaryCode.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Payment Currency
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.PaymentCurrency.$invalid]">
                    
                     <select class="form-control checkSelectEntry" name="PaymentCurrency" ng-model="PaymentDetails.PaymentCurrency" >
                        <option value="" disabled>--Select--</option>
                        <option value="{{MT}}" ng-repeat="MT in forUSRTP.PaymentCurrency track by $index">{{MT}}</option>
                     </select>
					 
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.PaymentCurrency.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Amount 
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.Amount.$invalid]">
                     <input type="text" class="form-control allownumericwithdecimal" maxAllowDigit="{{CurrencyDecimalDigits}}" name="Amount" placeholder="Please Enter Amount" ng-model="PaymentDetails.Amount"  maxlength="12"  valid-number />
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.Amount.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>	
               <div class="form-group">
                  <label class="control-label col-md-2">End To End ID 
				  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.Amount.$invalid]">
                     <input type="text" id="EndToEndId" class="form-control" name="EndToEndId"  ng-blur="multipleEmptySpace($event)" placeholder="Please Enter End To End ID" ng-model="EndToEndId" maxlength="15" ng-trim="true" />
                  </div>                  
               </div>				   	
               <div class="form-group" ng-if="CXCFlag">
                  <label class="control-label col-md-2">Number Of Hold Days 				  
				  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  
					<div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.Amount.$invalid]">
                     <input type="text" id="NumberOfHoldDays" name="NumberOfHoldDays" class="form-control"  ng-blur="multipleEmptySpace($event)" placeholder="Please Enter Number Of Hold Days" My-Directive3 ng-model="PaymentDetails.NumberOfHoldDays" maxlength="2" onkeydown='return allowOnlyNumbersAlone(event)' ng-trim="true" />
                  </div>     
				 <span ng-show="updatesubmitted && benelistForm.NumberOfHoldDays.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>					 
               </div>	
				<div class="form-group" ng-if="!CXCFlag">
                  <label class="control-label col-md-2">Charge Code
                  </label>
                  <div class="col-md-3">
                    <!--  <input type="text" class="form-control" placeholder="Please Enter Charge Code" name="ChargeCode" ng-model="PaymentDetails.ChargeCode" value="" ng-if="ChargeCodelength<=1"/>  -->
                     <select class="form-control checkSelectEntry" placeholder="Please Enter Charge Code" name="ChargeCode" ng-if='ServiceCodeForConditions=="RPX"' ng-disabled='true' ng-model="PaymentDetails.ChargeCode" >
					 <option value="" disabled>--Select--</option>
                        <option value="{{MT.SupportedChargeCodes}}" ng-repeat="MT in forUSRTP.ChargeCode track by $index">{{MT.SupportedChargeCodes}}</option>
                     </select>
                     <select class="form-control checkSelectEntry" placeholder="Please Enter Charge Code" name="ChargeCode" ng-if='ServiceCodeForConditions!="RPX"'  ng-model="PaymentDetails.ChargeCode" >
                        <option value="" disabled>--Select--</option>
                        <option value="{{MT.SupportedChargeCodes}}" ng-repeat="MT in forUSRTP.ChargeCode track by $index">{{MT.SupportedChargeCodes}}</option>
                     </select>
                  </div>
                  <!--                     <span class="alertMsg" ng-if="(fieldMandatory)&&(!PaymentDetails.ChargeCode)" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">Required</span>
                     -->                
               </div>
		 </div>
      </div>
      </div>
	  <div class="panel rolesPanel">
         <div class="panel-heading fileListStyle" ng-click="isOrderingCustomerCollapsed = !isOrderingCustomerCollapsed">
            <span class="bold"></span>
            <span class="bold" ng-if="PaymentTypePushPull.actualValue!='PULL MESSAGE'">Ordering Customer</span>
            <span class="bold" ng-if="PaymentTypePushPull.actualValue=='PULL MESSAGE'">Beneficiary Customer</span>
            <div class="pull-right">
               &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-right" ng-class="{'fa-angle-down': !isOrderingCustomerCollapsed, 'fa-angle-right': isOrderingCustomerCollapsed}"></i>
            </div>
         </div>
         <div collapse="isOrderingCustomerCollapsed">		 
		
            <div class="row" style="margin: 15px !important;">
               <div class="form-group">
                  <label class="control-label col-md-2">Client ID
                  <!-- <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span> -->
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.ClientID.$invalid]">
                     <select class="form-control checkSelectEntry" name="ClientID" ng-model="OrderingCustomer.ClientID">
                        <option value="" selected>--Select--</option>
                        <option value="{{MT.actualvalue}}" ng-repeat="MT in ClientID123 track by $index">{{MT.displayvalue}}</option>
                     </select>
                     <!--  <input type="text" class="form-control" name="ClientID" ng-model="OrderingCustomer.ClientID" /> -->
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.ClientID.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Name
                  </label>
                  <div class="col-md-3">
					 
                     <input type="text" class="form-control" name="ClientName" ng-if="OrderingCustomer.ClientID!=''" ng-model="OrderingCustomer.ClientName" placeholder="Please Enter Name" />
                     <input type="text" class="form-control" name="ClientName" ng-if="OrderingCustomer.ClientID==''" ng-init="OrderingCustomer.ClientName=''" ng-model="OrderingCustomer.ClientName" placeholder="Please Enter Name" />
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Address Line 1
                  </label>
                  <div class="col-md-3">					 
                     <input type="text" class="form-control" name="ClientAddressLine1" ng-if="OrderingCustomer.ClientID!=''" ng-model="OrderingCustomer.ClientAddressLine1"  placeholder="Please Enter Address Line 1"  />
                     <input type="text" class="form-control" name="ClientAddressLine1" ng-if="OrderingCustomer.ClientID==''" ng-init="OrderingCustomer.ClientAddressLine1=''" ng-model="OrderingCustomer.ClientAddressLine1"  placeholder="Please Enter Address Line 1"  />
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Address Line 2
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control" name="ClientAddressLine2" ng-if="OrderingCustomer.ClientID!=''" ng-model="OrderingCustomer.ClientAddressLine2"   placeholder="Please Enter Address Line 2" />
                     <input type="text" class="form-control" name="ClientAddressLine2" ng-if="OrderingCustomer.ClientID==''" ng-init="OrderingCustomer.ClientAddressLine2=''" ng-model="OrderingCustomer.ClientAddressLine2"   placeholder="Please Enter Address Line 2" />
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">City
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control" name="ClientCountryCity" ng-if="OrderingCustomer.ClientID!=''" ng-model="OrderingCustomer.City"  placeholder="Please Enter City"  />
                     <input type="text" class="form-control" name="ClientCountryCity" ng-if="OrderingCustomer.ClientID==''" ng-init="OrderingCustomer.City=''" ng-model="OrderingCustomer.City"  placeholder="Please Enter City"  />
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">State
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control" name="ClientCountryState" ng-if="OrderingCustomer.ClientID!=''" ng-model="OrderingCustomer.State"  placeholder="Please Enter State"  />
                     <input type="text" class="form-control" name="ClientCountryState" ng-if="OrderingCustomer.ClientID==''" ng-init="OrderingCustomer.State=''" ng-model="OrderingCustomer.State"  placeholder="Please Enter State"  />
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Post Code
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control" name="ClientCountryPostCode" ng-if="OrderingCustomer.ClientID!=''" ng-model="OrderingCustomer.PostCode"  placeholder="Please Enter PostCode"  />
                     <input type="text" class="form-control" name="ClientCountryPostCode" ng-if="OrderingCustomer.ClientID==''" ng-init="OrderingCustomer.PostCode=''" ng-model="OrderingCustomer.PostCode"  placeholder="Please Enter PostCode"  />
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Country
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control" name="ClientCountryCode" ng-if="OrderingCustomer.ClientID!=''" ng-model="OrderingCustomer.Country"  placeholder="Please Enter Country"  />
                     <input type="text" class="form-control" name="ClientCountryCode" ng-if="OrderingCustomer.ClientID==''" ng-init="OrderingCustomer.Country=''" ng-model="OrderingCustomer.Country"  placeholder="Please Enter Country Code"  />
                  </div>
               </div>
               <div class="form-group" ng-if="!CXCFlag">
                  <label class="control-label col-md-2">Account Number
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.AccountNumber.$invalid]">     
					 
					<input type="text" class="form-control" placeholder="Select the Account Number" name="AccountNumber" ng-model="OrderingCustomer_AccountNumber"  ng-if="OrderingCustomer.ClientID==''"/>
					
                     <select class="form-control" ng-if="OrderingCustomer.ClientID!=''"  name="OrderingCustomer_AccountNumber" placeholder="Select the Account Number" ng-model="OrderingCustomerAccountNumber" ng-change="getAccountNumberCurrency(OrderingCustomerAccountNumber)" >
						<option value="" selected>--Select Account Number--</option>
						<option value="{{Acc}}" ng-repeat="Acc in AccountNumber11 track by $index" ng-if="Acc.AccountType=='DDA'">{{Acc.AccountNo}}</option>
                     </select>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.AccountNumber.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group" ng-if="!CXCFlag">
                  <label class="control-label col-md-2">Account Currency
                  </label>
                  <div class="col-md-3">
                     <!-- <input type="text" class="form-control" name="AccountCurrency" ng-model="OrderingCustomer.AccountCurrency"   placeholder="Please Enter Account Currency" /> -->
                     <input type="text" class="form-control" name="AccountCurrency"  ng-if="OrderingCustomer.ClientID==''" ng-init="OrderingCustomer.AccountCurrency=''" ng-model="OrderingCustomer.AccountCurrency"   placeholder="Please Enter Account Currency" />
                     <select class="form-control" ng-if="OrderingCustomer.ClientID!=''" name="AccountCurrency" ng-model="OrderingCustomer.AccountCurrency">
                        <option value="" selected>--Select--</option>
                        <option ng-repeat="PT in OrderingCustomer_AccountCurrency" value="{{PT}}">{{PT}}</option>                            
                        </select> 
                  </div>
               </div>
               <div class="form-group" ng-if="!CXCFlag">
                  <label class="control-label col-md-2">Account Name
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control" name="AccountName" ng-if="OrderingCustomer.ClientID!=''" ng-model="OrderingCustomer.AccountName"   placeholder="Please Enter Account Name "/>
                     <input type="text" class="form-control" name="AccountName" ng-if="OrderingCustomer.ClientID==''" ng-init="OrderingCustomer.AccountName=''" ng-model="OrderingCustomer.AccountName"   placeholder="Please Enter Account Name "/>
                  </div>
               </div>
               <div class="form-group" ng-if="!CXCFlag">
                  <label class="control-label col-md-2">Account Domiciled Country
                  </label>
                  <div class="col-md-3">
                     <!-- <input type="text" class="form-control" name="AccountDomiciledCountry" ng-model="OrderingCustomer.AccountDomiciledCountry" /> -->
                     <select class="form-control" name="AccountDomiciledCountry" placeholder="Select the Account Domiciled Country" ng-model="OrderingCustomer.AccountDomiciledCountry">
                        <option value="" selected>Select the Account Domiciled Country</option>
                        <option value="{{ADC.CountryCode}}" ng-repeat="ADC in AccountDomiciledCountry track by $index">{{ADC.CountryCode}}</option>
                     </select>
                  </div>
               </div>
            </div>
         </div>
      </div>
	  <div class="panel rolesPanel" ng-if="!CXCFlag">
         <div class="panel-heading fileListStyle" ng-click="isBenenficiaryBankDetailsCollapsed = !isBenenficiaryBankDetailsCollapsed">
            <span class="bold" ng-if="PaymentTypePushPull.actualValue!='PULL MESSAGE'">Beneficiary Bank Details</span>
            <span class="bold" ng-if="PaymentTypePushPull.actualValue=='PULL MESSAGE'">Debtor Bank Details</span>
            <div class="pull-right">
               &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-right" ng-class="{'fa-angle-down': !isBenenficiaryBankDetailsCollapsed, 'fa-angle-right': isBenenficiaryBankDetailsCollapsed}"></i>
            </div>
         </div>
         <div collapse="isBenenficiaryBankDetailsCollapsed">
            <div class="row" style="margin: 30px !important;">
               <div class="form-group">
                  <div class="form-group">
                     <label class="control-label col-md-2">Bank Identifier Type
                     <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                     </label>
                     <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.BankIdentifierType1.$invalid]">    
						<select class="form-control checkSelectEntry" name="BankIdentifierType1" ng-model="BeneficiaryBank.BankIdentifierType" ng-change="getBankIdentifierCode(BeneficiaryBank.BankIdentifierType)" >
                           <option value="">Select the Bank Identifier Type</option>
                           <option value="{{MT.ClearingSchemeCode}}" ng-repeat="MT in forUSRTP.BICCode track by $index">{{MT.ClearingSchemeCode}}</option>
                        </select>
                     </div>
                     <span ng-show="updatesubmitted && benelistForm.BankIdentifierType1.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Bank Identifier Code
                     <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                     </label>
                     <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.BIC1.$invalid]">
                      
                        <input type="text" ng-if="BeneficiaryBank.BankIdentifierType =='BIC'" class="form-control" name="BIC" ng-model="BeneficiaryBank.BankIdentifierCode" placeholder="Please Enter BIC" ng-blur="getBIC_Address(BeneficiaryBank.BIC)" />
                        <select class="form-control" ng-if="BeneficiaryBank.BankIdentifierType!='BIC'" name="BIC1" ng-model="BeneficiaryBank.BankIdentifierCode" ng-change="getBankDetails(BeneficiaryBank)" >
                           <option value="" selected disabled>Select the Bank Identifier Code</option>
                           <option value="{{BIC123.SchemeParticipantIdentifer}}" ng-repeat="BIC123 in BankIdentifierCode123 track by $index">{{BIC123.SchemeParticipantIdentifer}}</option>
                        </select>
                     </div>
                     <span ng-show="updatesubmitted && benelistForm.BIC1.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Address Line 1
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control" name="BeneficiaryBankAddressLine1" ng-model="BeneficiaryBank.BankAddressLine1" placeholder="Please Enter Address Line 1"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Address Line 2
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control" name="BeneficiaryBankAddressLine2" ng-model="BeneficiaryBank.BankAddressLine2" placeholder="Please Enter Address Line 2"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">City
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control" name="BeneficiaryBankCountry" ng-model="BeneficiaryBank.City" placeholder="Please Enter City"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">State
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control" name="BeneficiaryBankCountry" ng-model="BeneficiaryBank.State" placeholder="Please Enter State"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Post Code
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control" name="BeneficiaryBankCountry" ng-model="BeneficiaryBank.PostCode" placeholder="Please Enter PostCode"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Country
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control" name="BeneficiaryBankCountry" ng-model="BeneficiaryBank.Country" placeholder="Please Enter  Country"/>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
	  <div class="panel rolesPanel">
         <div class="panel-heading fileListStyle" ng-click="isBenenficiaryDetailsCollapsed = !isBenenficiaryDetailsCollapsed">
            <span class="bold" ng-if="PaymentTypePushPull.actualValue!='PULL MESSAGE'">Beneficiary Details</span>
            <span class="bold" ng-if="PaymentTypePushPull.actualValue=='PULL MESSAGE'">Debtor Details</span>
            <div class="pull-right">
               &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-right" ng-class="{'fa-angle-down': !isBenenficiaryDetailsCollapsed, 'fa-angle-right': isBenenficiaryDetailsCollapsed}"></i>
            </div>
         </div>
         <div collapse="isBenenficiaryDetailsCollapsed">
            <div class="row" style="margin: 15px !important;">
               <div class="form-group" ng-if="!CXCFlag">
                  <label class="control-label col-md-2">Account Number
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <label class="control-label col-md-2" ng-if="(PaymentType =='USA Real Time')||(PaymentType == '')">Account Number
                  
                  </label>
                  <label class="control-label col-md-2" ng-if="(PaymentType =='SEPA')">IBAN
                  
                  </label>
                  <div class="col-md-2" style="text-align:right;" ng-if="PaymentType=='SWIFT'">
                     <div class="btn-group">
                        <label class="btn btn-md togBtn toggleOn" ng-click="toggleSwitch($event)" data-toggle="tooltip" title="" data-original-title="List View"><span><i class="fa fa-check-circle checkIcon" aria-hidden="true"></i></span> <span>IBAN</span>
                        
                        </label>
                        <label class="btn btn-md togBtn toggleOff" ng-click="toggleSwitch($event)" data-toggle="tooltip" title="" data-original-title="Grid View"><span></span> <span>Account Number</span>
                        
                        </label>
                     </div>
                  </div>
				  
                  <div class="col-md-3 fieldArea" ng-class="{true: 'error'}[updatesubmitted && benelistForm.AccountNumber1.$invalid]" ng-if="BeneficiaryBank.BankIdentifierType.length">
                     
					 <input type="text" class="form-control" name="AccountNumber1" ng-model="Beneficiary.AccountNumber" placeholder="Please Enter Account Number" onkeydown="return allowOnlyNumbersAlone(event)"  ng-if="BeneficiaryBank.BankIdentifierType.length"/>					 
                  </div>
				  
                  <span ng-show="updatesubmitted &&(benelistForm.AccountNumber1.$error.required || benelistForm.AccountNumber1.$error.required)" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
				  
                  <div class="col-md-3 fieldArea" ng-class="{true: 'error'}[updatesubmitted && benelistForm.AccountNumber.$invalid]" ng-if="!BeneficiaryBank.BankIdentifierType.length">
					 
                     <select class="form-control appendselect21" id="AllAccountNumber" name="AccountNumber"  ng-model="Beneficiary.AccountNumber"  ng-if="!BeneficiaryBank.BankIdentifierType.length" ng-change="getAccountDetails(Beneficiary.AccountNumber)">
                        <option value="" disabled>--Select--</option>
                        <option ng-repeat="party in AccountNumberDrop" value="{{party}}">{{party.AccountNo | underscoreRemove}}</option>
                     </select>
					 
                  </div>
				  
                  <span ng-show="updatesubmitted &&(benelistForm.AccountNumber1.$error.required || benelistForm.AccountNumber.$error.required)" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
				  
               </div>
			   
			   
			   <div class="form-group" ng-if="CXCFlag">
                  <label class="control-label col-md-2"> Payee First Name 

                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.BeneficiaryPayeeFirstName.$invalid]">
                     <input type="text" My-Directive2 class="form-control" name="BeneficiaryPayeeFirstName" ng-model="Beneficiary.PayeeFirstName" placeholder="Please Enter Payee First Name"/>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.BeneficiaryPayeeFirstName.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group" ng-if="CXCFlag">
                  <label class="control-label col-md-2"> Payee Last Name 
                  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.BeneficiaryPayeeLastName.$invalid]">
                     <input type="text" My-Directive2 class="form-control" name="BeneficiaryPayeeLastName" ng-model="Beneficiary.PayeeLastName" placeholder="Please Enter Payee Last Name" />
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.BeneficiaryPayeeLastName.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               
			 <div class="form-group" ng-if="CXCFlag">
                  <label class="control-label col-md-2"> Payee Id Type 
                  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.BeneficiaryName.$invalid]">
                     <input type="radio" name="PayeeIdType" ng-model="Beneficiary.PayeeIdType" value="E" ng-change="payidtype()" required> Email  &nbsp;  &nbsp;
					 <input type="radio" name="PayeeIdType" ng-model="Beneficiary.PayeeIdType" value="P" ng-change="payidtype()" required> Phone<br>
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.PayeeIdType.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>   
               <div class="form-group" ng-if="CXCFlag">
                  <label class="control-label col-md-2"> Token 
                  <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.BeneficiaryName.$invalid]">
				  
                     <input ng-if="(!Beneficiary.PayeeIdType)" type="text" class="form-control" name="BeneficiaryToken" placeholder="Please Enter Token"  disabled="true"/>
					 
                     <input ng-if="Beneficiary.PayeeIdType=='E'" type="text" class="form-control" name="BeneficiaryToken" ng-model="Beneficiary.Token" placeholder="Please Enter Token"  check-email-on-blur />
					 
					 
                     <input ng-if="Beneficiary.PayeeIdType=='P'" type="text" class="form-control" name="BeneficiaryToken1" ng-model="Beneficiary.Token" placeholder="Please Enter Token"  maxlength="10" onkeydown='return allowOnlyNumbersAlone(event)'  />
                  </div>
                  <!-- <span ng-show="updatesubmitted && benelistForm.BeneficiaryToken.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span> -->
                  <span ng-show="benelistForm.BeneficiaryToken.$error.emails" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Invalid email</span>
				  
				  
               </div>
			   
               <div class="form-group" ng-if="!CXCFlag">
                  <label class="control-label col-md-2"> Name
                  <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                  </label>
                  <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && benelistForm.BeneficiaryName.$invalid]">
                     <input type="text" class="form-control" name="BeneficiaryName" ng-model="Beneficiary.Name" placeholder="Please Enter Name" />
                  </div>
                  <span ng-show="updatesubmitted && benelistForm.BeneficiaryName.$error.required" style="display:block;margin:0;color:#EF1C1C !important" aria-required="true">Required</span>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Beneficiary Address Line1
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control" name="StreetName" ng-model="Beneficiary.BankAddressLine1" placeholder="Please Enter Address Line 1"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Beneficiary Address Line2
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control" name="BuildingNo" ng-model="Beneficiary.BankAddressLine2" placeholder="Please Enter Address Line 2"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2"> City
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control" name="PostalCode" ng-model="Beneficiary.City" placeholder="Please Enter City"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2"> State
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control" name="PostalCode" ng-model="Beneficiary.State" placeholder="Please Enter State"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2"> Post Code
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control" name="PostalCode" ng-model="Beneficiary.PostCode" placeholder="Please Enter Post Code"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2"> Country
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control" name="Country" ng-model="Beneficiary.Country" placeholder="Please Enter Country"/>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel rolesPanel">
         <div class="panel-heading fileListStyle" ng-click="isRemittanceInformationCollapsed = !isRemittanceInformationCollapsed">
            <span class="bold">Remittance Information</span>
            <div class="pull-right">
               &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-right" ng-class="{'fa-angle-down': !isRemittanceInformationCollapsed, 'fa-angle-right': isRemittanceInformationCollapsed}"></i>
            </div>
         </div>
         <div collapse="isRemittanceInformationCollapsed">
            <div class="row" style="margin: 15px !important;">
               <div class="form-group" ng-if="!CXCFlag">
                  <label class="control-label col-md-2">Remittance ID
                  </label>
                  <div class="col-md-3">
                     <input type="text" class="form-control" name="RemittanceID" maxlength="35" ng-model="RemittanceInformation.RemittanceID" placeholder="Please Enter RemittanceID"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-2">Remittance Information
                  </label>
                  <div class="col-md-9">
                     <textarea class="form-control" style=" resize: none; " maxlength="{{RemitInfoMaxLength}}" cols="70" rows="4" placeholder="Please Enter Remittance Information" ng-model="RemittanceInformation.RemittanceInformation" id="idforNotes" ng-trim="false"></textarea>
                     <span id="lCnt" ng-if="service11">{{RemitInfoMaxLength-RemittanceInformation.RemittanceInformation.length}} Characters Left</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel rolesPanel" ng-if='((service123.ServiceCode!="RPX")&&(!CXCFlag))'>
         <div class="panel-heading fileListStyle" ng-click="isPaymentInfoCollapsed = !isPaymentInfoCollapsed">
            <span class="bold">Intermediary Bank Details</span>
            <div class="pull-right">
               &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-right" ng-class="{'fa-angle-down': !isPaymentInfoCollapsed, 'fa-angle-right': isPaymentInfoCollapsed}"></i>
            </div>
         </div>
         <div collapse="isPaymentInfoCollapsed">
            <div class="row" style="margin: 30px !important;">		
		
               <div class="form-group" ng-repeat="IntermediaryBankDetails in IntermediaryBankDetails123">
				 
						<div class="form-group" ng-if="$index>=1">                     
							<div class="col-md-7">
							   <input class="btn btnStyle pull-right" type="button" value="Remove" ng-click="removeIntermediaryBankDetails($index);">
							</div>
						</div>			
					
                  <div class="form-group">
                     <label class="control-label col-md-2">Bank Identifier Type
                     </label>
                     <div class="col-md-3">
                        <select class="form-control checkSelectEntry" name="BankIdentifierType" ng-model="IntermediaryBankDetails.BankIdentifierType" ng-change="getBankIdentifierCode1(IntermediaryBankDetails.BankIdentifierType)">
                           <option value="">Select the Bank Identifier Code</option>
                           <option value="{{MT.ClearingSchemeCode}}" ng-repeat="MT in forUSRTP.BICCode track by $index">{{MT.ClearingSchemeCode}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Bank Identifier Code
                     </label>
                     <div class="col-md-3">
					 
                        <input type="text" ng-if="IntermediaryBankDetails.BankIdentifierType =='BIC'" class="form-control" name="BIC" ng-model="IntermediaryBankDetails.BankIdentifierCode" placeholder="Please Enter BIC" ng-blur="getBIC_Address(IntermediaryBankDetails.BIC)"/>
						
                        <select class="form-control" ng-if="IntermediaryBankDetails.BankIdentifierType!='BIC'" name="BIC" ng-model="IntermediaryBankDetails.BankIdentifierCode" ng-change="getBankDetails1(IntermediaryBankDetails)">
                           <option value="" selected disabled>Select the Bank Identifier Code</option>
                           <option value="{{BIC1234.SchemeParticipantIdentifer}}" ng-repeat="BIC1234 in BankIdentifierCode1234 track by $index">{{BIC1234.SchemeParticipantIdentifer}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Address Line 1
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control" name="BeneficiaryBankAddressLine1" ng-model="IntermediaryBankDetails.BankAddressLine1" placeholder="Please Enter Address Line 1"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Address Line 2
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control" name="BeneficiaryBankAddressLine2" ng-model="IntermediaryBankDetails.BankAddressLine2" placeholder="Please Enter Address Line 2"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">City
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control" name="BeneficiaryBankCountry" ng-model="IntermediaryBankDetails.City" placeholder="Please Enter City"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">State
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control" name="BeneficiaryBankCountry" ng-model="IntermediaryBankDetails.State" placeholder="Please Enter State"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Post Code
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control" name="BeneficiaryBankCountry" ng-model="IntermediaryBankDetails.PostCode" placeholder="Please Enter PostCode"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Country
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control" name="BeneficiaryBankCountry" ng-model="IntermediaryBankDetails.Country" placeholder="Please Enter  Country"/>
                     </div>
                  </div>
               </div>
            </div>
			<div class="row" style="margin: 30px !important;" ng-if="IntermediaryBankDetails123.length<=2" ng-if='service11!="RPX"'>
				<div class="form-group">                     
					<div class="col-md-7">
					   <input class="btn btnStyle pull-right" type="button" value="Add Intermediary Bank Details" ng-click="addIntermediaryBankDetails();">
					</div>
				</div>			
            </div>
         </div>
      </div>
      <div class="panel rolesPanel">
         <div class="panel-heading fileListStyle" ng-click="SaveTemplateCollapsed = !SaveTemplateCollapsed">
            <span class="bold">Template Details</span>
            
            <div class="pull-right">
               &nbsp;&nbsp;&nbsp;<i style="padding-top:2px;" class="pull-right bold fa fa-angle-down" ng-class="{'fa-angle-down': SaveTemplateCollapsed, 'fa-angle-right': !SaveTemplateCollapsed}"></i>
            </div>
         </div>
         <div collapse="!SaveTemplateCollapsed">
            <div class="row" style="margin: 30px !important;">
               <div class="form-group">
                  <div class="form-group">
                     <label class="control-label col-md-2">Template Name
                     <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                     </label>
                     <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="TemplateDetails.TemplateName" placeholder="Please Enter Template Name" ng-blur="checkTemplateName(TemplateDetails.TemplateName)" maxlength="100" ng-keyup="TemplateDetails.TemplateName ? NewPartyRestCall(TemplateDetails.TemplateName) : ''"/>
                        <input type="hidden" class="form-control" ng-init="TemplateDetails.MPITemplate_PK=MPITemplate_PK" ng-model="TemplateDetails.MPITemplate_PK"/>
                        <span class="help-inline alert-warning" ng-show="templateOverride" style="display:block;margin:0;"><strong>Warning! </strong> Template with same name exists.  By saving with the same name, template could be <strong>overwritten</strong>.</span>
                        <span class="animated bounce bold help-inline alert-danger" ng-show="alreadyExists" style="margin: 2px; padding: 5px; display: block;">{{alertMessage}}
                        </span>
                        
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">
                        Roles Accessible
                        <!-- <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span> -->
                     </label>
                     <div class="col-md-3">
                        <!-- <select class="form-control" name="RolesAccessible" ng-model="TemplateDetails.RolesAccessible">
                           <option value="">--Select--</option>
                           <option value="Approver">Approver</option>
                           <option value="Operator">Operator</option>
                        </select> -->
												
						<select class="form-control appendselect21211" data-placeholder="--Select--" multiple name="RolesAccessible" id="RolesAccessible" ng-model="TemplateDetails.RolesAccessible">
                        <option ng-repeat="role in ROLESOptions123" value="{{role.RoleID}}">{{role.RoleName | underscoreRemove}} </option>
                       </select>
						
                        <span class="help-inline" ng-show="updatesubmitted && updateBusinessRuleform.Status.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Status
                     <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                     </label>
                     <div class="col-md-3">
					 
                        <!-- <input type="text" class="form-control" ng-model="TemplateDetails.Status" value="ACTIVE"   placeholder="Please Enter Status"/> -->
						<select class="form-control" name="RolesAccessible" ng-model="TemplateDetails.Status"  ng-required="true">
                           <option value="">--Select Status--</option>
                           <option value="ACTIVE">ACTIVE</option>
                           <option value="SUSPENDED">SUSPENDED</option>
                           <option value="INACTIVE">INACTIVE</option>
                        </select>                        
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Effective From Date					 
                     <span class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                     </label>
                     <div class="input-group col-md-3 input-append" ng-class="{true: 'error'}[updatesubmitted && updateFXRateform.EffectiveFromDate.$invalid]" style="padding-right:15px;padding-left:12px;float:left;" >
                        <input class="form-control DatePicker dateTypeKey" type="text" name="EffectiveFromDate" id="EffectiveFromDate" ng-model="TemplateDetails.EffectiveFromDate" ng-init="(TemplateDetails.EffectiveFromDate = date)" placeholder="Please Select Effective From Date" ng-focus="customDateRangePicker('EffectiveFromDate', 'EffectiveTillDate')" ng-disabled="false">
                        <span class="input-group-addon cursorPointer" ><span class="glyphicon glyphicon-calendar"></span></span>
                     </div>
                     <span class="help-inline" ng-show="updatesubmitted && updateFXRateform.EffectiveFromDate.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-2">Effective Till Date					 
                     </label>
                     <div class="input-group col-md-3 input-append" ng-class="{true: 'error'}[updatesubmitted && updateFXRateform.EffectiveTillDate.$invalid]" style="padding-right:15px;padding-left:12px;float:left;" >
                        <input class="form-control DatePicker dateTypeKey" type="text" name="EffectiveTillDate" id="EffectiveTillDate" ng-model="TemplateDetails.EffectiveTillDate" placeholder="Please Select Effective Till Date" ng-focus="customDateRangePicker('EffectiveFromDate', 'EffectiveTillDate')" ng-disabled="false">
                        <span class="input-group-addon cursorPointer" ><span class="glyphicon glyphicon-calendar"></span></span>
                     </div>
                     <span class="help-inline" ng-show="updatesubmitted && updateFXRateform.EffectiveTillDate.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                  </div> 
				  
				  <div class="form-group">
                  <label class="control-label col-md-2">Description
                  </label>
                  <div class="col-md-9">
                     <textarea class="form-control" style=" resize: none; " maxlength="{{DescriptionMaxLength}}" cols="70" rows="4" placeholder="Please Enter Template Description" ng-model="TemplateDetails.Description" id="idforNotes" ng-trim="false"></textarea>
                     <span id="lCnt">{{DescriptionMaxLength-TemplateDetails.Description.length}} Characters Left</span>
                  </div>
               </div>
				  
				  
               </div>
            </div>
         </div>
      </div>
	 
      <input class="btn btnStyle" type="button" value="Save as Draft" ng-click="SaveTemplate=false;updatesubmitted=false;createDraftData(PaymentDetails,OrderingCustomer,BeneficiaryBank,Beneficiary,RemittanceInformation,psaCode11,PaymentBranch,party,service11,IntermediaryBankDetails123,OrderingCustomerAccountNumber,ProductsSupported123,SaveTemplate,TemplateDetails,psaCode11,EndToEndId);takeBackupData(PaymentDetails,OrderingCustomer,BeneficiaryBank,Beneficiary,RemittanceInformation,psaCode11,PaymentBranch,party,service11,IntermediaryBankDetails123,OrderingCustomerAccountNumber,ProductsSupported123,SaveTemplate,TemplateDetails,psaCode11,EndToEndId);">
      <input class="btn btnStyle" type="submit" value="Save as Template" ng-click="SaveTemplate=false;updatesubmitted=true;SaveTemplateCollapsed = true;">
      <input class="btn btnStyle" type="reset" value="Reset" ng-click="SaveTemplate=false;Reload();">
	  <input class="btn btnStyle" type="button" value="Cancel" data-toggle="modal" data-target="{{madeChanges ?'#changesLostModal':''}}" ng-click="cancel()">
      <!-- <input class="btn btnStyle" type="submit" value="Submit" ng-click="updatesubmitted = true;SaveTemplate=false;"> -->
   </form> 	  
       



    </div>

</div>


<script>

	function isNumberKey(evt, element) {	

	var charCode = (evt.which) ? evt.which : event.keyCode
	if (charCode > 31 && (charCode < 48 || charCode > 57) && !(charCode == 46 || charCode == 8))
		return false;
	else {
		var len = $(element).val().length;
		var index = $(element).val().indexOf('.');
		if (index > 0 && charCode == 46) {
			return false;
		}
		if (index > 0) {
			var CharAfterdot = (len + 1) - index;			
			if (CharAfterdot > element.getAttribute("maxAllowDigit")) {
				return false;
			}
		}

	}
	return true;
}
		



$(document).ready(function () {

	$('.DatePicker').datepicker({
		format : "yyyy-mm-dd",
		showClear : true,
		autoclose : true,
		startDate : new Date()
	})

	$('.TimePicker').datetimepicker({
		format : 'HH:mm:ss',
		useCurrent : true
	});

	$('.input-group-addon').on('click focus', function (e) {
        
		$(this).prev().focus().click()
	});
	
	
	$(".VPDisabledCopyPaste").on('input paste', function (e) {	
		e.preventDefault();
	});
	
	$('#EndToEndId').bind('DOMAttrModified textInput input keyup paste',function(){
	 var sspace = $(this).val().replace(/ +/g, ' ');
		if ($(this).val() != sspace)
			$(this).val(sspace);
	  });
	  
	  $('.notallowspecialchar').on('keypress', function (e) {
		//console.log(e, "from not allow")
		var regex = /^[a-zA-Z0-9 ]$/;
		var key = String.fromCharCode(e.which);
		if (regex.test(key) || e.which == 8 || e.which == 13 || e.which == 0) {
			return true;
		} else {
		return false;
		} 
	});
})
</script>