		<div class="page-footer-inner" style="text-align:center;width: 100%;padding: 1px 5px;">
			<div class="footer-footer content" style="overflow:hidden;">
				<div style="float:left">
						<!-- Left side footer content Start-->
						<a href="https://www.bnymellon.com/apac/en/client-access/index.jsp" data-linkloc="footer" style="text-decoration:none !important;color:#4b4b4b" target="_blank" rel="noreferrer noopener">Client Access</a>
						<span class="footer-bar">|</span>
						<a href="https://jobs.bnymellon.com/#/jobs?page=1&amp;lng=122.5164&amp;lat=9.5506&amp;location=Asia,%20Western%20Visayas,%20Philippines" style="text-decoration:none !important;color:#4b4b4b" data-linkloc="footer" target="_blank" rel="noreferrer noopener">Careers</a>
						<span class="footer-bar">|</span>
						<a href="https://www.bnymellon.com/apac/en/investor-relations/index.jsp" style="text-decoration:none;color:#4b4b4b;" data-linkloc="footer" target="_blank" rel="noreferrer noopener">Investor Relations</a>
						<span class="footer-bar">|</span>
						<a href="https://www.bnymellon.com/apac/en/newsroom/news/index.jsp#?region=787&amp;sort=0&amp;page=1" style="text-decoration:none;color:#4b4b4b;" data-linkloc="footer" target="_blank" rel="noreferrer noopener">News</a>
						<span class="footer-bar">|</span>
						<a href="https://www.bnymellon.com/apac/en/contact.jsp" data-linkloc="footer"  style="text-decoration:none !important;color:#4b4b4b"  target="_blank" rel="noreferrer noopener">Contact</a>
						<!-- Left side footer content End-->						
						
				</div>
				<div style="float:right">
						<span class="pull-right" style="margin-left:30px;color:#4b4b4b;">Version: {{VersionInfo}}</span>
						<!-- Left side footer content Start-->
						<a href="https://www.bnymellon.com/apac/en/sitemap.jsp" style="text-decoration:none;color:#4b4b4b;" data-linkloc="footer"  target="_blank" rel="noreferrer noopener">Sitemap</a>
						<span class="footer-bar">|</span>
						<a href="https://www.bnymellon.com/apac/en/cookie-policy.jsp" style="text-decoration:none;color:#4b4b4b;" data-linkloc="footer"  target="_blank" rel="noreferrer noopener">Cookies</a>
						<span class="footer-bar">|</span>
						<a href="https://www.bnymellon.com/apac/en/privacy.jsp" style="text-decoration:none;color:#4b4b4b;" data-linkloc="footer"  target="_blank" rel="noreferrer noopener">Privacy</a>
						<span class="footer-bar">|</span>
						<a href="https://www.bnymellon.com/apac/en/terms-of-use.jsp" style="text-decoration:none;color:#4b4b4b;" data-linkloc="footer"  target="_blank" rel="noreferrer noopener">Terms of Use</a>
						<span class="copyright" style="text-decoration:none;color:#4b4b4b;">© 2018 THE BANK OF NEW YORK MELLON CORPORATION </span>
						<!-- Left side footer content End-->
				</div>
			</div>	
			
		</div>
		
		
	
	<div class="scroll-to-top">
		<i class="icon-arrow-up" style="color: #1CAF9A;font-weight: 700;"></i>
	</div>
	
	<script>
	var hh=($(document).height()-120)+"px";
  </script>
