<style>
  .titlebox-w{
    width:100%;
    margin-bottom:0
  }
  .wid-30{
    width:30%;
  }
   .highlighted { font-weight: bold }
@media only screen and (max-width: 600px) {
 .sug-sty{
    background-color:white;
    min-width: 42%;
    cursor:pointer;
    max-height: 25%;
    overflow: auto;
     position: absolute;
  }
}
@media all and (max-width: 760px) and (min-width: 600px) {
 .sug-sty{
    background-color:white;
    min-width: 43%;
    cursor:pointer;
    max-height: 25%;
    overflow: auto;
     position: absolute;
  }
}
@media all and (max-width: 1100px) and (min-width: 760px) {
 .sug-sty{
    background-color:white;
    min-width: 30%;
    cursor:pointer;
    max-height: 25%;
    overflow: auto;
     position: absolute;
  }
}

.sug-sty{
    background-color:white;
    width: 19%;
    cursor:pointer;
    max-height: 25%;
    overflow: auto;
     position: absolute;
  }
   .stickythead{
    position: -webkit-sticky !important;
    position: -moz-sticky !important;
    position: -ms-sticky !important;
    position: -o-sticky !important;
    position: sticky !important;
    top: 0;
    
}
  .sty-li{

    border:1px solid lightgray;
    padding:10px;
  }
  .pg-range{
    border-bottom:3px solid lightgray;
    padding:10px 10px 10px 10px;
    color: black !important;
  }
  .clrblk a{
    color: black !important;
  }
  .div-table{
    margin:0;
    overflow:auto;
    max-height:350px;
    padding-top:10px;
  }
  .margin-2{
    margin-top:2%;
  }
  .msg-sty{
    margin:0;
    text-align:center;
  }
  .padd-rl{
    padding-right:0%;
    padding-left:0%;
  }
  .marginzero{
    margin:0;
  }
  .paddzero{
    padding:0%
  }
  .clrblk{
    color: black !important;
  }
  .div-table {
    max-height: 370px !important;
    padding-top: 0 !important;
    margin-top: 1% !important;
}
.portlet-body {
  padding-bottom: 0 !important;
}
</style>
<!-- UI -->
<div class="breadCrumb" ng-controller="activeController">
  <div class="row">
    <div class="col-md-6 ">
     <ul class="page-breadcrumb">
      <li>
        <i class="fa fa-file"></i>
        <a href="javascript:void(0);" tabindex="1" aria-label="bps ui"  translate class="removeCursor">Sidebar.bpsui</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <span translate class="removeCursor" tabindex="1" aria-label="files">Sidebar.files</span>
      </li>
     </ul> 
    </div>
    <div class="col-md-6 headerVals">
      <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
    </div>
  </div>   
</div>
<div class="contentContainer">
  <div class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alert.msg}}
  </div>
  <!-- title -->
  <div class="pageTitle alertWidthonResize">
   <div class="row">
    <div class="col-md-12">
      <div class="title__container">
       <h2 translate tabindex="1" aria-label="Files">Sidebar.files</h2>  
       <p translate></p>
       <h6 ng-if="searchEmpty" tabindex="1" aria-label="Back to all files" ng-click="initial()"  class="cursorPointer">< Back to all files</h6>
      </div>
    </div>
   </div>
  </div>
  <div class="portlet-title titlebox-w" >
    <div class="caption caption-md ProfileHeaderStyles">
      <i class="fa fa-file-pdf-o"></i>
      <span class="caption-subject bold" tabindex="1" aria-label="files" translate>Files</span>
    </div>
  </div>
  <div class="portlet-body">
    <div class="portlet-inner-box">
      <div class="col-lg-3 col-md-5 col-sm-6 col-xs-6 input-group">
        <!-- file search -->
        <input tabindex="1" aria-label="Search files title" type="text" autocomplete="off"  ng-model="search" class="form-control" name="Search" placeholder="Search files title" ng-keyup="searchTitle(search)">
        <span class="input-group-addon cursorPointer"  ng-click="searchFiles(search)"><i class="glyphicon glyphicon-search"></i></span>
      </div>
      <!-- search result -->
      <ul ng-show="sugges&&search"   class="sug-sty" >
        <li class="sty-li" tabindex="1" aria-label="{{val.value}}"   ng-repeat="val in value" ng-click="selectValue(val.value)" ng-bind-html="val.value | highlight:search"></li>
      </ul>
      <div class="alert alert-warning margin-2" ng-if="!items.length" >
        <strong><h4 class="msg-sty" tabindex="1" aria-label="No Result were found on {{search}}" >No Result were found on <b>{{search}}</b></h4></strong>
      </div>
      <!-- table data -->
      <div class="row scrollableDiv table-responsivve div-table"  ng-if="items.length">
        <table class="table table-bordered table-striped">
          <thead >
            <tr>
              <th class="cursorPointer" ng-repeat="thead in tableHead" ng-click="sorting(thead.FieldName)" tabindex="1" aria-label="{{thead.Label}} ">
                {{thead.Label}}   
                <span id="{{thead.FieldName}}_Icon" class=""></span>                  
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="files in items | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" ng-init="ind1=$index" ng-class="{'oddClas': $index%2 == 0}">
              <td ng-repeat="thead in tableHead" ng-if="thead.FieldName!=''">
                <span  tabindex="1" aria-label="{{files[thead.FieldName]}}">{{files[thead.FieldName]}}</span>
                
              </td>
              <td>
                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 padd-rl" >
                 <form accept-charset="UTF-8" role="form" method="POST" action="{{BASEURL}}">
                  <div class="form-group marginzero">
                    <input class="form-control" name="FolioID" type="hidden" value="{{files.FolioID}}">
                    <button ng-disabled="!enablebtn" ng-style="!enablebtn ? {'opacity':'0.7','cursor': 'not-allowed'}:{'opacity':'','cursor': 'pointer'}" tabindex="1" aria-label="Download" type="submit" class="cursorPointer" ><i class="fa fa-download " aria-hidden="true"></i> <span >Download</span></button>
                  </div>
                 </form>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- pagination -->
        <div class="text-center clrblk"  >
          <div class="pagination">
            <span ng-class="prevRangeDisabled()">
              <a href class="" tabindex="1" aria-label="previous page range" ng-click="prevRange()"><<</a>
            </span>
            <span ng-class="prevPageDisabled()">
              <a href class="" tabindex="1" aria-label="previous page" ng-click="prevPage()"><</a>
            </span>
            <span ng-repeat="n in range()"  class="pg-range"  ng-class="{active: n == currentPage}" ng-click="setPage(n)" ng-hide="n<0">
              <a href="" tabindex="1" aria-label="current page" ng-click="navigate(n+1)">{{n+1}}</a>
            </span>
            <span>
            </span>
            <span  ng-class="nextPageDisabled()">
              <a tabindex="1" aria-label="next page" ng-if="!hide" href class="" ng-click="nextPage()">></a>
            </span>
            <span ng-click="nextPageDisabled()">
              <a tabindex="1" aria-label="next page" ng-if="hide" href class="" ng-click="getmore();nextPage()">>
              </a>
            </span>
            <span ng-class="nextRangeDisabled()">
              <a href class="" tabindex="1" aria-label="next page range" ng-click="nextRange()">>></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>         