<style>
    .btn-pad{
        padding-left:20%;
        padding-right: 20%;
    }
    table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
}
.table-width{
    width:109%;
}
.bg-pad{
    background-color:white;
    padding-bottom:5%;
    padding-top:5%;
}
.pd-20{
    padding-top:20px;
}
.bold{
    font-weight:bold;
}
.pd-rig{
    padding-right:10px
}
.cancel-bt{
    margin-left:10px;
    margin-top:20px;
    padding-left:20px;
    padding-right:20px
}
.submit-bt{
    padding-left:20px;
    margin-top:20px;
    padding-right:20px;
}
</style>
<!-- BEGIN PAGE HEADER-->
<div class="ui-wrapper">
    <div class="page-bar breadCrumb zindex" ng-controller="activeController" >
        <div class="row">
            <div class="col-md-6 ">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa fa-cog"></i>
                        <a href="javascript:void(0);" tabindex="1" aria-label="click go to bps ui" translate class="removeCursor">Sidebar.bpsui</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <span class="removeCursor" translate>bpsui.users</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 headerVals">
                <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
            </div>
        </div>
    </div>
    <div class="contentContainer" id="container">
        <div class="pageTitle  alertWidthonResize">
            <div class="row">
                <div class="col-lg-8 col-sm-8 col-xs-8">
                    <div class="title__container">

                        <h2 tabindex="1" aria-label="User details and roles" translate>bpsui.userdetailsandroles</h2>
                        
                    </div>
                </div>
            </div>
        </div>
          <div class ="animated bounce bold" ng-repeat="alert in alerts" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{alert.msg}}
    </div>
         
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-pad" >
                <form class="form" >
                <div class="col-lg-12 col-md-12 col-sm-12 col-md-12 pd-20" ng-repeat="fields in formfield" >
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        <label class="bold pull-right">{{fields.Label}}</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" ng-if="fields.type=='text'">
                        <input type="text" disabled="true" name="" placeholder="" ng-model="userdata[fields.FieldName]" class="form-control">
                    </div>    
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" ng-if="fields.type=='select'">
                        <select  class="form-control" ng-model="fields.FieldName" ng-options="item as item.RoleName for item in roles track by item.RoleName" style=" max-height: 100px;overflow: auto;">
                        <option selected="true" value="">Select</option>
                        </select>

                    </div>    
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" ng-if="fields.type=='select'">
                            <button type="button" tabindex="1" aria-label="add Role" class="btn btnStyle btn-pad" ng-click="addRole(fields.FieldName);">Add Role</button>
                    </div>

                     <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" ng-if="fields.type=='multi'" >
                     <table class="table-width">
                         <tr ng-repeat="val in userdata.BPSUserRoleAssociation">
                         
                             <td class="pd-rig"><input  type="text" class="form-control" name="" disabled="true" ng-model="val"></td>
                             <td><i class="fa fa-trash cursorPointer" ng-click="deleteRole($index)" ></i></td>

                         </tr>
                     </table>
                         
                    </div>
                </div>
                    
                </form>
                

                      <button type="button" tabindex="1" aria-label="Cancel Role" class="btn btnStyle  pull-right cancel-bt" ng-click="cancel();">Cancel</button>
                      <button type="button" tabindex="1" aria-label="Submit Role" class="btn btnStyle  pull-right submit-bt" ng-click="updateRoles(userdata)" >Submit</button>
                
                
            </div>
          
        </div>
    </div>
    <script>
        $('[data-toggle="tooltip"]').tooltip();



        var mq = window.matchMedia("(max-width: 991px)");

        if (mq.matches) {

            $('#resizeWindow').resizable({
                minHeight: 400,
                minWidth: 500
            });
        }
        else {


            $('#resizeWindow').resizable({
                minHeight: 800,
                minWidth: 830
            });
        }
        $('[data-toggle="tooltip"]').click(function(){
            $(this).trigger('mouseleave');
        })  
    </script>
<!-- BEGIN MAIN JS & CSS -->