<style>
.bootstrap-datetimepicker-widget{
	display: block;
	background: #9E9E9E;
	color:#000
}
.bootstrap-datetimepicker-widget:hover{
	background: #9E9E9E;
}
.bootstrap-datetimepicker-widget .datepicker-days{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-months{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-years{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-decades{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-days,.datepicker-months,.datepicker-years:hover{
	background: #9E9E9E;
}
#keywordSearchbtn:focus,#keywordSearchbtn:active{
	outline:none;
}
#searchBox:focus,#searchBox:active{
	box-shadow: none;
}
.select2-container{
	width:90% !important;
	height:28px;
}
#Filter .select2-container{
	width:100% !important;
}
#Filter .select2-container .select2-selection--single{
	height:34px;
}
.nonbtndisable {
	cursor: not-allowed !important;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
	pointer-events: none;
}
</style>
<!-- BEGIN PAGE HEADER-->
<div class="breadCrumb" ng-controller="activeController">
    <div class="col-md-6">  
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-television"></i>
				<a href="javascript:void(0)" translate class="removeCursor"> Sidebar.SystemMonitoring</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li translate>
			   Sidebar.ScheduledRouteLogAudit
			</li>
		</ul>
    </div>
	<div class="col-md-6 headerVals">
		<div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
	</div>
</div>


<div class="contentContainer">
	<div class="pageTitle alertWidthonResize">
		<div class="row">
			<div class="col-sm-12">
				<div class="title__container">
					<h2 translate>ScheduledRouteLogAuditDet.PageTitle</h2> 
					<p translate>ScheduledRouteLogAuditDet.SubTitle</p>
				</div>
			</div>
		</div>
	</div>

	<div class ="animated bounce autoAdjustAlert bold" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-repeat="alert in alerts" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
		<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{alert.msg}}
	</div>

	<div class="row" style="margin: 0;">
		<div class="countbar-title">
			<div class="col-md-3 col-sm-3 col-xs-4  ng-binding" style="padding: 0;">
				<div class="caption">
					<span class="highlight">{{(restVal.length >= 0 &&  totalForCountBar >= 0) ? restVal.length + ' out of '+ totalForCountBar : (restVal.length && !totalForCountBar) ? restVal.length : '' }}</span>{{(restVal.length >= 0 &&  totalForCountBar >= 0) || (restVal.length && !totalForCountBar) ? ' records shown' : (!restVal.length && !totalForCountBar) ? 'Fetching Data...' : ''}}
				</div>
			</div>

		

			<div class="col-md-9 col-sm-9 col-xs-8">
				<div class="btn-group" style="float:right;box-sizing: border-box;">
					<button style="border: 1px solid #fff;box-sizing: border-box;border-right:0px;margin-left:5px" class="btn-trans" id="btn_1" ng-class="changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="List View"><i class="fa fa-list fa-fs14"></i></button>
					<button style="border: 1px solid #fff;box-sizing: border-box;border-left:0px" class="btn-trans" id="btn_2" ng-class="!changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="Grid View"><i class="fa fa-table fa-fs14"></i></button>
				</div>
				<div class="dwnBtn" style="float:right;">
				
					<!-- <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" ng-click="setHeight($event)" aria-expanded="true" tooltip="{{'Export'}}"> <i class="fa fa-download" aria-hidden="true"></i></button> -->

					<button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="{{(restVal.length)?'dropdown':''}}" tooltip="{{(restVal.length)?'Export':'No records to export'}}" ng-style="{'opacity':(restVal.length)?'1':'0.5'}"> <i class="fa fa-download" aria-hidden="true"></i></button>


					<ul class="download-window dropdown-menu dropdown-menu-excel pull-right" style="z-index: 10000; right: 21px;">
						<li>							
							<span><input type="radio" name="excelVal" value="Current" checked class="radiobtns"> Current Screen </span>
							<span><input type="radio" name="excelVal" value="All" class="radiobtns"> All Matching Filter</span>
						</li>
						<li tooltip="{{'Excel'}}" class="excelprint" style="margin-left:40px;" ng-click="exportAsExcel($event)">
							<i class="fa fa-file-excel-o fa-fs14" aria-hidden="true"></i>
						</li>
						<li data-toggle="tooltip" data-placement="top" title="{{'Print'}}" class="excelprint" ng-click="printFn()">
							<i class="fa fa-print fa-fs14" aria-hidden="true"></i>
						</li>
					</ul>
				</div> 

				<div id = "Filter" class="dropdown customDropdown " style="float: right;">
					<button style="border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="{{'Filter'}}">
						<i class="fa fa-filter fa-fs14"></i>
					</button>
					
					<ul class="dropdown-menu dropdown-menu-default pull-right xyz" style="min-width: 600px;padding:10px 0px;">
						<form ng-submit="searchFilter(filterParams)" ng-init="parsed = filterParams.SearchSelect">
							<li id="Filter" class="dropdown-header" style="padding: 8px 14px 2px 14px;margin: 0;">APPLY FILTER:</li>
							<div id="Filter" class="row input-group parent" style="padding: 8px 0px 2px 14px;margin: 0;display: inline-block;width: 50%;float: left;">
								<select id="SearchSelect" name="SearchSelect" class="form-control" ng-model="filterParams.SearchSelect" style="cursor:pointer">
									<option value="">Select</option>
									<option ng-repeat="(key, value) in fields" value="{{key}}" ng-if="value.type == 'string'">{{value.label}}</option>
								</select>
							</div>
							<div id="Filter" class="row input-group" style="padding: 8px 14px 2px 0px;margin: 0;display: inline-block;width: 50%;">
								<span class="cstmDrop" style="display:inline-block;color:#000;cursor: pointer;position: relative;box-sizing: border-box; width: 90%;">
									<input name="keywordSearch" style="color: #000;" type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="filterParams.keywordSearch" placeholder="{{filterParams.SearchSelect ? 'Search '+ (filterParams.SearchSelect | camelCaseFormatter): 'Keyword Search'}}" ng-required="showCustom || filterParams.keywordSearch || filterParams.Status.length ? false : true">
								</span>						
								<span class="input-group-addon" style="cursor:pointer;float: left;width: 10%;height: 100%;padding: 9px;" ng-click="searchFilter(filterParams)" ng-class="filterParams.keywordSearch ? '' : 'nonbtndisable'"><i class="fa fa-search"></i></span>
							</div>
							<div ng-repeat="y in fields" ng-if="status = (y.label === 'Status') ? y.value : ''">
								<li id="Filter" class="dropdown-header">FILTER BY {{y.label | uppercase }}</li>
								<div id="Filter" style="padding: 8px 10px 2px 10px;">
									<button type="button" class="filterBystatus" ng-repeat="x in status" ng-click="setStatusvalue(x.displayvalue,filterParams)"  id="{{x.displayvalue}}" ng-class ="x.TotalCount == 0 ? 'nonbtndisable' : ''">
										<div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
										<div style="clear:both;" ng-if="$index % 2 == 0"></div>
										<div style="padding: 0px 5px;float: left;">
											<span class="fa-wrapper">
											<i class="fa fa-circle" ng-style="{'color':(x.displayvalue | chooseStatus)}"></i></span>
											<span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue  +' ('+x.TotalCount+') '}}</span>
										</div>
										<div style="clear:both;"></div>
									</button>
									<div style="clear:both;"></div>
								</div>
							</div>
							<div style="clear:both"></div>
							<li id="Filter" class="dropdown-header">FILTER BY DATE</li>
							<div id="Filter" style="padding: 8px 10px 2px 10px;">
								<button type="button" class="filterBydate" ng-repeat="x in filterBydate" ng-click="setEffectivedate(x,filterParams)" id="{{x.displayvalue|removeSpace}}">
									<div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
									<div style="clear:both;" ng-if="$index % 2 == 0"></div>
									<div style="padding: 0px 5px;float: left;">
										<span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue}}</span>
										<i class="fa fa-calendar"></i>
									</div>
								</button>
								<div style="clear:both;"></div>
								<div id="customPicker" class="row fade-in-up" ng-show="showCustom" style="padding: 10px 0px 0px 0px;">
								
									<div class="col-md-12">
										<div style="float: left;padding: 0px 5px;">
											<label>
												<input type="radio" ng-model="filterParams.StartedOn.Date" value="StartedOn">
												Started On
											</label>
											<label>
												<input type="radio" ng-model="filterParams.StartedOn.Date" value="CompletedOn">
												Completed On
											</label>
										</div>
									</div>
									<div class="input-group date" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months" style="width: 100%">
										<div class="input-group col-md-12" style="padding: 0px 0px 0px 20px; width: 46%; float: left;">
											<input type="text" class="form-control DatePicker" ng-model="filterParams.startDate" id="startDate" name="startDate" style="width:100%" placeholder="From" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
											<span class="input-group-addon" ng-click="focusInfn('startDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
										</div>
										<span class="input-group-addon" style="border:none; background-color:transparent; width: 6%; float: left; padding: 10px;">To</span>
										<div class="input-group col-md-12" style="width: 46%">
											<input type="text" class="form-control DatePicker" ng-model="filterParams.endDate" id="endDate" style="width:100%" placeholder="To" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
											<span class="input-group-addon" ng-click="focusInfn('endDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
										</div>
									</div>
								</div>
							</div>
							<div style="clear:both"></div>
							<div class="row input-group pull-right" style="padding: 8px 14px 2px 14px;margin: 0;">
								<button type="Button" class="btn-trans btnStyle" tooltip="Cancel" style="margin-right: 10px;" ng-click="clearFilter()"><i class="fa fa-times"></i></button>
								<button type="Submit" class="btn-trans btnStyle" tooltip="Search" style="cursor: pointer;" ng-class="(filterParams.StartedOn.displayvalue == 'Custom' ? filterParams.startDate && filterParams.endDate && showCustom : showCustom)|| filterParams.keywordSearch || filterParams.Status.length ? 'cmmonBtnColors' : 'disabledBtnColor'">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</form>
					</ul>				
				</div>
				<!-- Sorting begins -->
				<div id = "sortBy" ng-show="changeViewFlag" class="dropdown customDropdown" style="float: right;">
					<button style="border: 1px solid #fff;box-sizing: border-box;margin-left: 10px;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="{{'Sort'}}" ng-click="setHeight($event)">
						<i class="fa fa-sort-amount-desc fa-fs14"></i>
					</button>
					 
					<ul class="dropdown-menu dropdown-menu-default pull-right" style="min-width: 300px;padding:10px 0px;">
						<form ng-submit="searchFilter(filterParams)">
						<li id="sortBy" class="dropdown-header">SORT BY <i> (Click to Sort) </i> <i style="float: right; cursor: pointer; color: #9e9e9e; font-weight: bolder;" ng-click="clearSort('#sort')"><u>Reset All</u></i></li>
						<div id="sort" class="dataGroups" style="padding: 0px 15px;margin:0;width:100%;float: left;max-height: 300px;overflow: auto;">
							<div ng-repeat="x in sortMenu" style="color:#fff;display: table;width: 100%;margin-bottom: 2px;" >
								<div ng-if="x.label != 'Rule'" id="sort_{{$index}}" style="margin-bottom: 2px;display: table-row;width: 100%;">
								<span style="display: table-cell;background: #9e9e9e;padding: 5px 8px;border-right: 1px solid #fff;width: 90%;">{{x.label}}</span>
								<a tooltip-placement="top" style="display: table-cell;background: #9e9e9e;padding: 6px;text-align: center;vertical-align: middle;width: 10%;" ng-click="gotoSorting(x)"><i id="{{x.FieldName}}_icon" class='fa fa-minus fa-sm' style="color:#2b3643 !important"></i></a>
								</div>	
							</div>
						</div>
						</form>
					</ul>				
				</div>
				<!-- Sorting Ends -->
				<div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left:10px;">
					<button class="btn-trans"  ng-click="loadData()"><i class="fa fa-refresh fa-fs14"></i></button>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="alert alert-warning" ng-show="!restVal.length">
		<strong><h4  style="margin:0;text-align:center;">No Records Found</h4></strong>
	</div>

	<div id="DummyExportContent" ng-show="false">
		<table class="table table-bordered smallTable" id="sample_2" >
			<thead>
				<tr>
					<th ng-repeat="val in sortMenu">{{val.label}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="routeLogval in restVal">
					<td ng-repeat="val in sortMenu" ng-if="routeLogval[val.FieldName]">{{routeLogval[val.FieldName]}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div style="position:relative;margin:0;overflow:visible;">
			<div class="col-md-12">
				
				<div class="listView FixHead dataGroupsScroll" style="max-height: 600px; padding:0px 10px 0px 0px; overflow-x: auto !important;" ng-show="!changeViewFlag">
					<table class="table table-bordered smallTable floatThead stickyheader" id="sample_2" ng-if="restVal.length">
						<thead>
							<tr>
								<th ng-repeat="val in sortMenu" ng-click="gotoSorting(val,$index,$event)" class="cursorPointer" ng-if="val.visible" style="height:38px;">
									{{val.label}}<span id="{{val.FieldName}}_Icon" class=""></span>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr id = {{'displayingWindow_'+$index}} class="displayWindow collapse in " ng-repeat="values in restVal" ng-class="{oddClas:($index%2)== 1}">
								<td ng-repeat="val in sortMenu" ng-if="val.visible" style="height:38px;" ng-style="(val.label == 'Status')?{'text-align':'center'}:''">
									<span ng-if="val.label !== 'Status'"> {{values[val.FieldName]}} </span>
									<span ng-if="val.label === 'Status'" ng-style="{'color':(values['Status'] | chooseStatus)}"><i style="font-size: 20px;line-height:20px" class="fa fa-circle" tooltip="{{values['Status']}}" tooltip-placement="bottom"></i></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div ng-show="changeViewFlag" class="listView">
				<div class="panel-group" id="accordion">
					<div ng-repeat="routeLogval in restVal" ng-init="colIndexx = $index">
						<div class="clearfix" style="background-color: transparent;" ng-if="$index % 4 == 0"> </div>
						<div style="clear:both" ng-if="$index%4 == 0"></div>
						<div class="panel paneltrans col-md-3">
							<div class="panel-heading listViewPanelHeading" id="listViewPanelHeading_{{$index}}" style="padding-bottom:0px;">
								<div class="row dataGroups" id="dataGroup_{{$index}}" style="min-height:170px;max-height:170px;">
									<div class="col-md-12" style="padding:5px 15px;position: relative;padding-right: 25px;">
										<div class="panel-wrapper-inside">
											<div class="ruleHead pull-left " style="font-size: 19px; word-break: break-all;" ng-style="{'color':( routeLogval['Status'] | chooseStatus)}" >
												{{routeLogval['Processor']}}
											</div>

											<div class="pull-right" ng-repeat="val in sortMenu" ng-if="val.label == 'Status'">
												<div style="margin:0;padding:5px;text-align: center;float:left;width:15%;" tooltip="{{routeLogval['Status']}}" data-toggle="tooltip" tooltip-placement="bottom" ng-style="{'color':( routeLogval['Status'] | chooseStatus)}">
													<i style="font-size: 20px;line-height:20px" class="fa fa-circle" ng-if="routeLogval['Status']" ></i>
												</div>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="col-md-12 col-sm-12 col-xs-12" style="padding:5px 15px" ng-repeat="val in sortMenu" ng-if="val.visible && val.label != 'Status' && val.label != 'Processor' ">
										<div class="bold col-md-3" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;">{{val.label}} </div>
										<span class="bold col-md-1"> : </span>
										<div class="listViewValue col-md-7" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;">{{routeLogval[val.FieldName]}}</div>
									</div>
									<div style="clear:both"></div>
								</div>
								<div style="clear:both;"></div>
							</div>
						</div>
					</div>
					<div style="clear:both"></div>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
	</div>
</div>
<script>
	$('[data-toggle="tooltip"]').tooltip();
	var isIE = /*@cc_on!@*/false || !!document.documentMode;
	//console.log('isIE',isIE)
	if(isIE){
		var _placeholder;
		$('input[name=keywordSearch]'). mouseenter(function(e){	
			_placeholder = $(this).attr('placeholder');	
			$(this).attr('placeholder', '' ) 
		}).mouseleave(function(){
			$(this).attr('placeholder', _placeholder) 
		})
	}
	$('.input-group-addon').on('click focus', function (e) {
		$(this).prev().focus().click()
	});
</script>
