<style>
    .modifiedClass{
        background-color: #ffffb8;
    }
    
    td > pre{
        background: transparent;
        max-height:125px;
        overflow:auto
    }
    
    table > tbody > tr > th {
        background: #cad5eb;color: #1d2e50;
    }
	.fixedWidthTable{
    table-layout: fixed;
   
}
	
    </style>
    <div class="page-bar breadCrumb" ng-controller="activeController">
        <div class="row">
        <div class="col-md-6 ">
        <ul class="page-breadcrumb">
            
            <li>
                 <i class="fa fa-user"></i>
                <a href="javascript:void(0);" translate class="removeCursor">Sidebar.AdminPanel</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/app/roles" translate>Sidebar.RolesPermissions</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                Permissions
            </li>
        </ul>
        </div>
        <!--<div style="clear:both">    </div>-->
       <div class="col-md-6 headerVals">
            <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
    
        </div>
        </div>
       
    </div>
    <div class="contentContainer">
        <div class="row">
          <!-- Delete popup Window Start-->
        <div class="modal fade" tabindex="-1" id="delPopup" role="dialog">
                <div class="modal-dialog modal-md" style="top: 200px;">
                    <div class="modal-content modalbdy animated tada">
                        <div class="modal-header" style="padding: 0px !important; border: 0px !important">
                            <div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
                        </div>
                        <div class="modal-body" style="padding: 0px !important; border: 0px !important">
                            <h1>Are you sure?</h1>
                            <h4>You will not be able to recover this Data!</h4>
                        </div>
                        <div class="modal-footer modalftr">
                            <button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
                            <button tabindex="0" type="button" class="buton yess" ng-click="submitDeldata()">Yes, delete it!</button>
                        </div>
                    </div>
                </div>
            </div>
			  <div class="modal fade" tabindex="-1" id="delPopup1" role="dialog">
                <div class="modal-dialog modal-md" style="top: 200px;">
                    <div class="modal-content modalbdy animated tada">
                        <div class="modal-header" style="padding: 0px !important; border: 0px !important">
                            <div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
                        </div>
                        <div class="modal-body" style="padding: 0px !important; border: 0px !important">
                            <h1>Are you sure?</h1>
                            <h4>You will not be able to recover this Data!</h4>
                        </div>
                        <div class="modal-footer modalftr">
                            <button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
                            <button tabindex="0" type="button" class="buton yess" ng-click="takeDeldata()">Yes, delete it!</button>
                        </div>
                    </div>
                </div>
            </div>
    <!-- Delete popup Window End-->
    <div class="col-md-12">
                <div class="panel panel-default" style="margin-top:40px;">
                        <div class="panel-heading" style="padding:9px 15px;background-color:#f9f9f9">
                            <div class="col-md-8 serviceHeading" style="padding-left:0px;" ng-if="RoleID || RoleType">
                                <span class="ng-binding" ng-style="{'color':(StatusFromRole | chooseStatus)}" tooltip="Role ID">{{RoleID+' -'}}</span>
                                <span class="ng-binding" ng-style="{'color':(StatusFromRole | chooseStatus)}" tooltip="Role Type">{{RoleType}}</span>
                            </div>
                            <div class="col-md-4 serviceHeading" style="color:#666;padding: 0;text-align: right;" ng-if="StatusFromRole"><i style="font-size: 20px;line-height:20px;margin-right: 10px;" ng-style="{'color':(StatusFromRole | chooseStatus)}" class="fa fa-circle" ng-if="StatusFromRole" tooltip="{{StatusFromRole}}" tooltip-placement="bottom"></i><span style="font-size:20px">{{StatusFromRole}}</span>
                            </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="panel-body" style="padding:9px 15px;background-color:transparent;" ng-if="EffectivedateFromRole">
                            <div class="col-md-10" style="padding-left:0px;">
                                Effective Date :
    
                                <span class="ng-binding">{{EffectivedateFromRole}} 
                                {{((EffectivedateFromRole)&&(EffectivedateTillRole))?' to ':''}}	
                            {{EffectivedateTillRole}}</span>
                            
                               
                            </div>
                            <div class="col-md-2" style="color:#666;padding: 0;text-align: right;">
                               <a style="display:inline-block" class="actionIcons" ng-click="(permission.C && RoleID != 'Super Admin' && StatusFromRole != 'DELETED')? gotoEdit(resourceGroup[0].ResourceGroupName,RoleID,'Clone') :''" tooltip="{{(permission.C && RoleID != 'Super Admin' && StatusFromRole != 'DELETED')?'Clone':'You don&lsquo;t have permission'}}" ng-style="(permission.C && RoleID != 'Super Admin' && StatusFromRole != 'DELETED')?{'opacity':'','cursor': 'pointer'}:{'opacity':'0.3','cursor': 'not-allowed'}"><i class="fa fa-clone Iclr1"></i></a>
    
                                <a style="display:inline-block" class="actionIcons" ng-click="(permission.U && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin' && StatusFromRole != 'INACTIVE-WAITFORAPPROVAL' && StatusFromRole != 'SUSPENDED-WAITFORAPPROVAL')? gotoEdit(resourceGroup[0].ResourceGroupName,RoleID,'Edit') :''" tooltip="{{(permission.U && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin' && StatusFromRole != 'INACTIVE-WAITFORAPPROVAL' && StatusFromRole != 'SUSPENDED-WAITFORAPPROVAL')?'Edit':'You don&lsquo;t have permission'}}" ng-style="(permission.U && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin' && StatusFromRole != 'INACTIVE-WAITFORAPPROVAL' && StatusFromRole != 'SUSPENDED-WAITFORAPPROVAL')?{'opacity':'','cursor': 'pointer'}:{'opacity':'0.3','cursor': 'not-allowed'}"><i class="fa fa-pencil-square-o Iclr1"></i></a>
    
                                <a class="actionIcons" data-toggle="modal" data-target="{{(permission.D && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin' && StatusFromRole != 'INACTIVE-WAITFORAPPROVAL' && StatusFromRole != 'SUSPENDED-WAITFORAPPROVAL')?'#delPopup1':''}}" ng-style="(permission.D && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin' && StatusFromRole != 'INACTIVE-WAITFORAPPROVAL' && StatusFromRole != 'SUSPENDED-WAITFORAPPROVAL')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.D && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin' && StatusFromRole != 'INACTIVE-WAITFORAPPROVAL' && StatusFromRole != 'SUSPENDED-WAITFORAPPROVAL')?gotoDeleteFn(resourceGroup[0].ResourceGroupName,RoleID,true):''" tooltip="{{(permission.D && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin' && StatusFromRole != 'INACTIVE-WAITFORAPPROVAL' && StatusFromRole != 'SUSPENDED-WAITFORAPPROVAL')?'Delete':'You don&lsquo;t have permission'}}"><i class="fa fa-trash-o Iclr1"></i></a>
                               
    
                            </div>
                           
                           <div class="clearfix"></div>
                        </div>
                    
                    </div>
            </div>
            <div class="clearfix"></div>
        </div>
    
    
    <div class ="animated bounce autoAdjustAlert bold" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-repeat="alert in alerts" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
       <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
       {{alert.msg}}
    </div>
    
    <div class="panel-group" id="accordion" style="border:1px solid #ccc;">
    
       <div class="modal fade" id="roleEdit" role="dialog" tabindex="-1">
            <div class="modal-dialog">
    
    
               <div class="modal-content" style="border:2px solid #44b6ae">
                  <div class="modal-body">
                     <h4>Current changes will be lost. Do you wish to continue?</h4>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btnStyle" ng-click="looseChanges()">Yes</button>
                     <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="cancelChanges()">No</button>
                  </div>
               </div>
    
            </div>
         </div>
    
       <div class="modal fade" id="roleEdit1" role="dialog" tabindex="-1">
          <div class="modal-dialog">
    
    
             <div class="modal-content" style="border:2px solid #44b6ae">
                <div class="modal-body">
                   <h4>Current changes will be lost. Do you wish to continue?</h4>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btnStyle" ng-click="looseChanges1()">Yes</button>
                   <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="cancelChanges()">No</button>
                </div>
             </div>
    
          </div>
       </div>
    
       <div class="modal fade" id="resetRoleBox" role="dialog" tabindex="-1">
          <div class="modal-dialog">
    
    
             <div class="modal-content" style="border:2px solid #44b6ae">
                <div class="modal-body">
                   <h4>Are you sure you want to reset?</h4>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btnStyle" ng-click="setDefault()">Yes</button>
                   <button type="button" class="btn btnStyle" data-dismiss="modal">No</button>
                </div>
             </div>
    
          </div>
       </div>
    
    
     
     <div class="panel-body">
                <div class="portlet-body">
                   <div ng-if="showRoles1">
    
                      <form class="form-horizontal" role="form" ng-submit="updateExistingRoles(role)">
                         <div class="form-group col-md-6" style="margin-top:10px;margin-bottom:34px;">
                            <label class="control-label bold col-md-3">Role ID <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                            <div class="col-md-9">
                               <input type="text" class="form-control" name="RoleID" ng-model="role.RoleID" ng-blur="multipleEmptySpace($event)" required ng-disabled="true">
                            </div>
                         </div>
                         <div class="form-group col-md-6" style="margin-top:10px;margin-bottom:34px;">
                            <label class="control-label bold col-md-3">Role Name <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                            <div class="col-md-9">
                               <input type="text" class="form-control"  placeholder="Enter Role Name" name="RoleName" ng-model="role.RoleName" ng-blur="multipleEmptySpace($event)" required>
                            </div>
                         </div>
    
                         <!--<div class="form-group col-md-6" style="margin-top:10px;margin-bottom:34px;">
                            <label class="control-label bold col-md-3">Super Admin Flag <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                            <div class="col-md-9">
                               <select class="form-control" name="SUPER_ADMIN_FL" ng-model="role.SUPER_ADMIN_FL" required>
                                  <option value="">&#45;&#45;Select&#45;&#45;</option>
                                  <option value="true" ng-selected="(role.SUPER_ADMIN_FL == true)">True</option>
                                  <option value="false" ng-selected="(role.SUPER_ADMIN_FL == false)">False</option>
    
                               </select>
                            </div>
                         </div>-->
                          <div class="form-group col-md-6" style="margin-top:10px;margin-bottom:34px;">
                            <label class="control-label bold col-md-3">Role Type <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                            <div class="col-md-9">
                               <select class="form-control" name="Status" ng-model="role.RoleType" required ng-disabled="true">
                                  <option value="">--Select--</option>
                                  <option value="Approver">Approver</option>
                                  <option value="Operator">Operator</option>
                               </select>
                            </div>
                         </div>
    
                         <div class="form-group col-md-6" style="margin-top:10px;margin-bottom:34px;">
                            <label class="control-label bold col-md-3">Status <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                            <div class="col-md-9">
                               <select class="form-control" name="Status" ng-model="role.Status" required>
                                  <option value="">--Select--</option>
                                  <option value="ACTIVE">ACTIVE</option>
                                  <option value="INACTIVE">INACTIVE</option>
                                  <option value="SUSPENDED">SUSPENDED</option>
                               </select>
                            </div>
                         </div>
    
                         
    
                         <div style="clear:both"></div>
    
    
                         <div class="form-group" style="margin-top:25px;margin-right:12px;">
                            <div class="row">
                               <div class="col-md-6"></div>
    
                               <div class="col-md-6" style="width:46%;float:right;">
                                  <div class="col-md-offset-8">
                                     <button type="submit" class="btn btnStyle">Update Role</button>
                                     <button type="button" class="btn btnStyle" ng-click="GoBackFromRole($index)" style="margin-left:10px;">Cancel</button></div>
                               </div>
                            </div>
                         </div>
                      </form>
    
                   </div>
    
                   <div class="tabbable-custom">
    
    
                      <ul class="nav nav-tabs listGroup" style="border-bottom:3px solid black;">
                         <li class="listGroupList" id="listGroupListID_{{RoleID | nospace }}_{{$parent.$index}}" ng-repeat="rGroup in resourceGroup" ng-click="getGroupPermission(rGroup.ResourceGroupName,RoleID,$parent.$index,$index)" ng-if="rGroup.ResourceGroupName != 'Reference Data' && rGroup.ResourceGroupName!='Security' && rGroup.ResourceGroupName != 'Utility' && rGroup.ResourceGroupName != 'Home'" ng-class="{'active': ($index == 0)}"> <!--  && rGroup.ResourceGroupName != 'Payment Module' -->
                            <!--<input type="checkbox" class="check" id="check_{{$parent.$index}}_{{$index}}" ng-click="checkBox($event,$parent.$index);" style="padding-left: 10px;" ng-disabled=""/>-->
                            <a data-target="#tab_{{RoleID | nospace }}_{{$parent.$index}}" data-toggle="tab" aria-expanded="false" class="liAnchor" ng-click="enableStatus(rGroup.ResourceGroupName)">
                           {{rGroup.ResourceGroupName}}</a>
                         </li>
                      </ul>
                      <div class="tab-content" style="padding-bottom:58px;">
    
                      <div class="tab-pane1">
    <form>
                      <div class="row" style="margin: 3px 0px 12px;">
                               <div class="col-md-5" style="padding:0">Set permission for all bank related settings based on the assigned role.</div>
                               <div class="col-md-7 pull-right" style="display:inline-block;">
    
    
    
    
                                  <div style="display:inline-block;margin-left:15px;float: right;"><span class="ashClass legend" style="width:13px;height:13px;display:inline-block;margin-top:3px;"></span> <span class="bold" style="margin-left:3px;">- Not Set</span></div>
                                  <div style="display:inline-block;margin-left:15px;float: right;"><span class="redClass legend" style="width:13px;height:13px;display:inline-block;margin-top:3px;"></span> <span class="bold" style="margin-left:3px;">- No</span></div>
                                  <div style="display:inline-block;margin-left:15px;float: right;"><span class="greenClass legend" style="width:13px;height:13px;display:inline-block;margin-top:3px;"></span> <span class="bold" style="margin-left:3px;">- Yes</span></div>
                                  <div class="rstRoleBtn cursorPointer" data-toggle="modal" data-target="{{(permission.U && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin') ? '#resetRoleBox':''}}" ng-click="(permission.U && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin')?getGroupName($event):'You don&lsquo;t have permission'" ng-style="(permission.U && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"  style="float:right;margin-top:3px;" tooltip="{{(permission.U && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin')?'':'You don&lsquo;t have permission'}}">
                                     <span style="float:left;margin-top:2px;">Reset All</span>
                                  </div>
                                  <div class="yesAll cursorPointer" ng-show="changevalue" ng-click="changeValue('no',resourcePermission)"  style="float:right;margin-top:3px; margin-right: 3px;" tooltip="No All">
                                     <span style="float:left;margin-top:2px;">No All</span>
                          </div>
                                  
                                <div class="yesAll cursorPointer" ng-show="changevalue" ng-click="changeValue('yes',resourcePermission)"  style="float:right;margin-top:3px; margin-right: 3px;" tooltip="Yes All">
                                     <span style="float:left;margin-top:2px;">Yes All</span>
                          </div> 
    
    
                                  <div style="display:inline-block;margin-left:3px;float:right;" class="roundedbox" id="editall">
                                     <span style="float:left;margin-top:9px;" class="bold">Edit All</span>
                                     <div class="checkbox" style="margin:0;display:inline-block;margin-left:14px;" tooltip="{{(permission.U && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin')?'Edit All':'You don&lsquo;t have permission'}}">
                                        <span class="checkedcolor green switch green ng-valid ng-pristine ng-untouched checkClass"  ng-style="(permission.U && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"  style="width:40px !important; height:20px !important; border-radius:20px !important;margin-top:8px;" ng-click="(permission.U && StatusFromRole != 'DELETED' && StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' && RoleID != 'Super Admin')?checkBox($event,active):''" ng-class="{checked:active,'':!active}"> 
                                        <small style="width:18px !important;height:19px !important;"></small>
                                        <input type="checkbox" style="opacity:0;display:none;" class="check ng-pristine ng-untouched ng-valid"/>
                                        <span class="switch-text"> </span>
                                        </span>
                                     </div>
                                     <div style="clear:both"></div>
    
                                  </div>
                                 
                                 
                                
                               </div>
                            </div>
                            <div class="table-responsive">
                            <!--  <pre>{{resourcePermission.PermissionList |json}}</pre>
     -->
                               <table class="table table-bordered" id="rolesTable" ng-if="CurrentTab!='Payment Module'">
                                  <thead>
                                     <tr>
                                        <th>
                                        {{rG}}
                                        </th>
                                        <th class="text-center fixedWidth" ng-repeat="actionheader in resourcePermission[0].PermissionList">
                                           {{actionheader.Operation|ucwords}}
                                        </th>
                                        <!-- <th class="text-center fixedWidth">
                                           Scope
                                        </th> -->
                                        <th class="text-center fixedWidth">
                                             Attributes
                                        </th>
                                     </tr>
                                  </thead> 
                                  <tbody>	
                          
                                     <tr ng-repeat-start="resource in resourcePermission">
    
                                        <td style="text-align:left" nowrap> {{resource.ResourceName}}
                                        
                                        </td>
                                        <td ng-repeat="resourceDetail in resource.PermissionList">
    
                                          <span ng-if="(resourceDetail.Permission == '#ccc')||(!checkBoxChecked)" style="display:inline-block;">
                                             <i class="fa fa-circle" aria-hidden="true" ng-style="((resourceDetail.Permission == 'yes') && {'color':'green'}) || ((resourceDetail.Permission == 'no') && {'color':'red'}) || ((resourceDetail.Permission == 'not set') && {'color':'rgb(119, 116, 116)'})"></i>
                                          </span>
                                           <!--  {{resourceDetail.Permission}}  -->
                                         <select id="" style="font-family: 'FontAwesome', Helvetica;" class="btn-group form-control" ng-model="resourceDetail.Permission" ng-if="!(resourceDetail.Permission == '#ccc')&& checkBoxChecked" ng-style="((resourceDetail.Permission == 'yes') && {'color':'green'}) || ((resourceDetail.Permission == 'no') && {'color':'red'}) || ((resourceDetail.Permission == 'not set') && {'color':'rgb(119, 116, 116)'})">
                                                <option value="yes" style="color:green">&#xf111; Yes</option>
                                                <option value="no" style="color:red">&#xf111; No</option>
                                                <option value="not set" style="color:rgb(119, 116, 116)">&#xf111; Not Set</option>
                                         </select>
    
                                        </td>									
                                        <!-- <td>
                                        <i class="fa fa-circle" aria-hidden="true" style="color:#ccc"></i>
                                        </td>	 -->								
                                        <td nowrap> 
                                                <i style="font-weight:700" class="fa fa-expand cursorPointer attrIcon"  ng-click="(permission.U && RoleID != 'Super Admin' && dataContain.Status != 'ACTIVE-WAITFORAPPROVAL' && dataContain.Status != 'DELETED')?getResourceAttributes($index,resource.ResourceName,RoleID,$event):'';(permission.U && RoleID != 'Super Admin' && dataContain.Status != 'ACTIVE-WAITFORAPPROVAL' && dataContain.Status != 'DELETED')?detailExpanded = !detailExpanded:''" attr="{{detailExpanded}}" ng-style="(permission.U && RoleID != 'Super Admin' && dataContain.Status != 'ACTIVE-WAITFORAPPROVAL' && dataContain.Status != 'DELETED')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"  tooltip="{{(permission.U && RoleID!= 'Super Admin' && dataContain.Status != 'ACTIVE-WAITFORAPPROVAL' && dataContain.Status != 'DELETED')?'Edit':'You don&lsquo;t have permission'}}"  ><span style="font-family:'Open Sans',sans-serif;font-weight:200"> Attribute</span></i> 
                                            </td>
                                     </tr>
                                      <tr id ="{{$index}}" class="expandRow"   ng-repeat-end="" style="display: none;">
                                    <td colspan="{{resourcePermission[0].PermissionList.length+2}}" style="border:1px solid #ddd !important; text-align:left;padding:15px 5px !important;">
    
        <span style="padding:5px;font-weight:700">{{resource.ResourceName}} Attribute</span>
        <button class="pull-right" style="margin-bottom:5px;" name="attributeEdit" ng-click="editAllAttribute(action123,buttonStatus)">Edit All Attributes</button>
        <div class="row">        
            <div class="col-md-12">	
            
                <div class="alert1 alert-info1" style="padding-top:0px !important">
                    <table class="fixedWidthTable" width="100%"  id="attributeTable" cellpadding="5" cellspacing="5">
                        <tr>
                            <th align="center" bgcolor="#eee" width="100px;">Actions</th>
                            <th align="center" bgcolor="#eee">Attribute</th>
                            <th align="center" bgcolor="#eee">Operator</th>
                            <th align="center" bgcolor="#eee">Value</th>
                            <th align="center" bgcolor="#eee">Permissions</th>
                        </tr>
                        
                        
                        <!--  <ul ng-repeat="(key, prop) in trial">
                <li>{{key}}</li>
                <ul ng-repeat="val in prop">
                    <ul ng-repeat="(o, values) in val">
                    <li>{{o}}</li>
                         <ul ng-repeat="i in values">
                              <li>{{i}}</li>
                          </ul
                     </ul>
                </ul>
            </ul> -->				
                        
                        <!-- {{trial}} -->
                        <tr ng-repeat="(key, prop) in trial.Attributes" id="aa_{{$index}}">
                        
                            <td style="border-right:0px !important">												
                            <i class="fa fa-pencil" style="cursor:pointer;" ng-click="editRow(key)" aria-hidden="true" tooltip="Edit"></i> | <i class="fa fa-times-circle" style="cursor:pointer;" aria-hidden="true" tooltip="Delete" data-toggle="modal" data-target='#delPopup' ng-click="setKey(key,trial,resource.ResourceName,RoleID)"></i>
                            </td>
                            <td style="border-right:0px !important">						
                            <span ng-if="!(action123||Obj[key])">{{trial.Attributes[key].AttributeName}}</span>
                            <!-- <input ng-if="action123" class="form-control" type="text" name="asdsad" value="Branch Code"> -->
                            <select ng-if="(action123||Obj[key])" ng-model="trial.Attributes[key].AttributeName" class="form-control" ng-options="p.AttributeName as p.AttributeName for p in attributes">
                                <option value="" selected>Select Attribute Name</option>
                            </select>	
                            
                            </td>
                            <td>
                            <span ng-if="!(action123||Obj[key])">{{trial.Attributes[key].Operator}}</span>
                            <!-- <input ng-if="action123" class="form-control" type="text" name="asdsad" value="="> -->
                            <select  ng-if="(action123||Obj[key])" ng-model="trial.Attributes[key].Operator" class="form-control">
                                <option ng-repeat="operator in operators" value="{{operator}}">{{operator}}</option>
                            </select>
                            
                            </td>
                            <td>
                            <span ng-if="!(action123||Obj[key])">{{trial.Attributes[key].AttributeValue}}</span>
                            <input ng-if="(action123||Obj[key])" class="form-control" ng-model="trial.Attributes[key].AttributeValue" type="text" value="">
                            
                            </td>
                            <td>
    
                                
    
                                <select class="form-control js-select2-multiple" data-placeholder="Select an option" ng-init="trial.Attributes[key].Permissions123=test111[$index].value" name="select_{{resource.ResourceName|removeSpace}}_{{$index}}" ng-model="trial.Attributes[key].Permissions123"  multiple="multiple"  style="width: 100%" ng-if="RoleType!='Approver'" ng-disabled="!(action123||Obj[key])">
                                    <option ng-repeat="option in operationlist.Operations" value="{{option.Operation}}">{{option.Operation}}</option>
                                </select>
                                
                                <select class="form-control js-select2-multiple" data-placeholder="Select an option" ng-init="trial.Attributes[key].Permissions123=test111[$index].value" name="select_{{resource.ResourceName|removeSpace}}_{{$index}}" ng-model="trial.Attributes[key].Permissions123"  multiple="multiple"  style="width: 100%" ng-if="RoleType=='Approver'" ng-disabled="!(action123||Obj[key])">
                                    <option ng-repeat="option in ['approve1','approve2','approve3','approve4','approve5']" value="{{option}}">{{option}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                        <td colspan="5">
                        
                        <button class="pull-right" style="margin-top:5px;" name="attributeEdit" value="Edit Attributes" ng-click="addAttribute(action123,buttonStatus,resource.ResourceName,RoleID,trial.Attributes.length)"> Add New</button>
                        </td>
                        </tr>					
                    </table>
                </div>
            </div>
        </div>
                            <div style="padding-top:10px;" ng-show="trial.Attributes.length"> 
                                    <button type="button" ng-click="submitAllAttribute(trial, resource.ResourceName,RoleID);">Submit </button>
                                    <button type="button" class="rstBnt" ng-click="cancelClear() " style="margin-left:7px;">Cancel </button> 
                             </div>
                            </td>
                                    
                            </tr>	
                                  </tbody>
                               </table>
                             
                               <table class="table table-bordered" id="rolesTable" ng-if="CurrentTab=='Payment Module'">
                                <tr>
                                    <th>{{rG}}</th>
                                    <th class="txtCenter" ng-repeat="ss in actionHeader123">{{ss|camelCaseFormatter | firstCapital}}</th>
                                        <th class="txtCenter fixedWidth">
                                           Attributes
                                        </th>
                                </tr>
                                
                                <tr ng-repeat-start="resource in resourcePermission">
                                    <td style="text-align:left" nowrap> {{resource.ResourceName}}</td>
                                    <td style="text-align:center" nowrap ng-repeat="ss in actionHeader123">
                                    
                                    <!-- <span ng-if="getActionValue123(ss,resource.PermissionList)?'true':''">{{ss|ucwords}}</span> -->
                                    
                                    
                                     <!-- ng-repeat="dd in resource.PermissionList">{{actionHeader123[$index]}} {{dd}}
                                        <span ng-if="actionHeader123[$index]==dd.Operation">jj</span> -->
                                    
                                    <span ng-if="((resourceDetail.Permission == '#ccc')||(!checkBoxChecked))&& getActionValue123(ss,resource.PermissionList).check" style="display:inline-block;">
                                             <i class="fa fa-circle" aria-hidden="true" ng-style="((getActionValue123(ss,resource.PermissionList).Permission == 'yes') && {'color':'green'}) || ((getActionValue123(ss,resource.PermissionList).Permission == 'no') && {'color':'red'}) || ((getActionValue123(ss,resource.PermissionList).Permission == 'not set') && {'color':'rgb(119, 116, 116)'})"></i>
                                            </span>
                                        <select id="" style="font-family: 'FontAwesome', Helvetica; width:90px;" class="btn-group form-control" ng-model="getActionValue123(ss,resource.PermissionList).Permission" ng-if="!(getActionValue123(ss,resource.PermissionList).Permission == '#ccc')&& checkBoxChecked && getActionValue123(ss,resource.PermissionList)" ng-style="((getActionValue123(ss,resource.PermissionList).Permission == 'yes') && {'color':'green'}) || ((getActionValue123(ss,resource.PermissionList).Permission == 'no') && {'color':'red'}) || ((getActionValue123(ss,resource.PermissionList).Permission == 'not set') && {'color':'rgb(119, 116, 116)'});">
                                                <option value="yes" style="color:green">&#xf111; Yes</option>
                                                <option value="no" style="color:red">&#xf111; No</option>
                                                <option value="not set" style="color:rgb(119, 116, 116)">&#xf111; Not Set</option>
                                            </select>
                                    
                                    
                                    </td>
                                    <!-- <td>
                                        <i class="fa fa-circle" aria-hidden="true" style="color:#ccc"></i>
                                        </td> -->									
                                        <td nowrap>
                                        <i style="font-weight:700" class="fa fa-expand cursorPointer attrIcon "  ng-click="(permission.U && RoleID != 'Super Admin' && dataContain.Status != 'ACTIVE-WAITFORAPPROVAL' && dataContain.Status != 'DELETED')?getResourceAttributes($index,resource.ResourceName,RoleID,$event):'';(permission.U && RoleID != 'Super Admin' && dataContain.Status != 'ACTIVE-WAITFORAPPROVAL' && dataContain.Status != 'DELETED')?detailExpanded = !detailExpanded:''" ng-style="(permission.U && RoleID != 'Super Admin' && dataContain.Status != 'ACTIVE-WAITFORAPPROVAL' && dataContain.Status != 'DELETED')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"><span style="font-family:'Open Sans',sans-serif;font-weight:200"> Attribute</span></i> 
                                        </td>
                                </tr>
                               <tr id ="{{$index}}" class="expandRow"   ng-repeat-end="" style="display: none;">
                                    <td colspan="{{actionHeader123.length+2}}" style="border:1px solid #ddd !important; text-align:left;padding:15px 5px !important;">
    
        <span style="padding:5px;font-weight:700">{{resource.ResourceName}} Attribute</span>
        <button class="pull-right" style="margin-bottom:5px;" name="attributeEdit" ng-click="editAllAttribute(action123,buttonStatus)">Edit All Attributes</button>
        <div class="row">        
            <div class="col-md-12">	
            
                <div class="alert1 alert-info1" style="padding-top:0px !important">
                    <table class="fixedWidthTable" width="100%" id="attributeTable" cellpadding="5" cellspacing="5">
                        <tr>
                            <th align="center" bgcolor="#eee" width="100px;">Actions</th>
                            <th align="center" bgcolor="#eee">Attribute</th>
                            <th align="center" bgcolor="#eee">Operator</th>
                            <th align="center" bgcolor="#eee">Value</th>
                            <th align="center" bgcolor="#eee">Permissions</th>
                        </tr>
                        
                        <tr ng-repeat="(key, prop) in trial.Attributes" id="aa_{{$index}}">
                        
                    
                        
                            <td style="border-right:0px !important">												
                            <i class="fa fa-pencil cursorPointer" ng-click="editRow(key)" aria-hidden="true" tooltip="Edit"></i> | <i class="fa fa-times-circle cursorPointer" aria-hidden="true" data-toggle="modal" data-target='#delPopup' ng-click="setKey(key,trial,resource.ResourceName,RoleID)"tooltip="Delete"></i>
                            </td>
                            <td style="border-right:0px !important">						
                            <span ng-if="!(action123||Obj[key])">{{trial.Attributes[key].AttributeName}}</span>
                            <!-- <input ng-if="action123" class="form-control" type="text" name="asdsad" value="Branch Code"> -->
                            <select ng-if="(action123||Obj[key])" ng-model="trial.Attributes[key].AttributeName" class="form-control" ng-require="true" ng-options="p.AttributeName as p.AttributeName for p in attributes">
                                <option value="" selected>Select Attribute Name</option>
                            </select>	
                            
                            </td>
                            <td>
                            <span ng-if="!(action123||Obj[key])">{{trial.Attributes[key].Operator}}</span>
                            
                            <select  ng-if="(action123||Obj[key])" ng-model="trial.Attributes[key].Operator" class="form-control">
                                <option ng-repeat="operator in operators" value="{{operator}}">{{operator}}</option>
                            </select>
                             
                            </td>
                            <td>
                            <span ng-if="!(action123||Obj[key])">{{trial.Attributes[key].AttributeValue}}</span>
                            <input ng-if="(action123||Obj[key])" class="form-control" ng-model="trial.Attributes[key].AttributeValue" type="text" value="">
                            
                            </td>
                            <td>
                            <select class="form-control js-select2-multiple" data-placeholder="Select an option" ng-init="trial.Attributes[key].Permissions123=trial.Attributes[key].Permissions" name="select_{{resource.ResourceName|removeSpace}}_{{$index}}" ng-model="trial.Attributes[key].Permissions123"  multiple="multiple"  style="width: 100%" ng-if="RoleType == 'Operator'" ng-disabled="!(action123||Obj[key])">							
                                <option ng-repeat="option in operationlist.Operations" value="{{option.Operation}}">{{option.Operation}}</option>
                            </select>
                           
                            
                            <select class="form-control js-select2-multiple" data-placeholder="Select an option" ng-init="trial.Attributes[key].Permissions123=test111[$index].value" name="select_{{resource.ResourceName|removeSpace}}_{{$index}}" ng-model="trial.Attributes[key].Permissions123"  multiple="multiple"  style="width: 100%" ng-if="RoleType != 'Operator'" ng-disabled="!(action123||Obj[key])">							
                                    <option ng-repeat="option in ['approve1','approve2','approve3','approve4','approve5']" value="{{option}}">{{option}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                        <td colspan="5">
                        
                        <button class="pull-right" style="margin-top:5px;" name="attributeEdit" value="Edit Attributes" ng-click="addAttribute(action123,buttonStatus,resource.ResourceName,RoleID,trial.Attributes.length)"> Add New</button>
                        </td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
                            <div style="padding-top:10px;" ng-show="trial.Attributes.length">
                                    <button type="button" ng-click="submitAllAttribute(trial, resource.ResourceName,RoleID);">Submit </button>
                                    <button type="button" ng-click="cancelClear() " style="margin-left:7px;">Cancel</button> 
                             </div>
                             
    
    
                                    </td>
                                    </tr>
                                
                               </table>
                               
                               
                            </div>
                             <button type="button" class="btn btnStyle" ng-click="saveAll(resourcePermission,RoleID,$index)" ng-if="checkBoxChecked">Update </button>
                             <button type="button" class="btn btnStyle" ng-click="keepOriginal()" ng-if="checkBoxChecked" style="margin-left:7px;">Cancel</button>
    
                         </div>
                         
    </form>      
          </div>
                   </div>
                </div>
    </div>
        
        <div class="row" ng-if="editedLog.length">
         <div class="col-md-12">
            <div class="panel-group">
                 <div class="row" style="margin:0;line-height:30px;">
                    <div class="row" style="margin:0;margin-top:10px;margin-bottom:34px;padding-left:0px;">
                        <div class="row" ng-repeat="(key,val) in data" style="margin:0;" ng-style="($index%2 == 0)?{'background-color': 'rgb(245, 245, 245)'}:{'background-color': '#fff'}" ng-if="key != 'View'">
                            <label class="control-label bold col-md-3 col-sm-3"><span class="col-md-8 ng-binding">{{key | camelCaseFormatter}}</span> <span class="col-md-1">:</span> </label>
                            <div class="control-label col-md-9 col-sm-9 ng-binding subserviceInfo">
                                <span class="ng-binding">{{val}}</span>
                            </div>
    
                        </div>
                    </div>
                </div> 
    
            <div class="row" style="margin: 5px 15px 20px 15px;border:1px solid #ccc;background: #fff;" ng-if="editedLog.length">
    
            <div class="editHead" style="border-bottom: 1px solid #dddddd;">
            <h4 style="padding: 0px 15px;">EDIT LOG</h4>
            </div>
    
             <div class="editBody" style="max-height: 200px; overflow-y: auto;">
                <ul style="line-height:35px;display: inline-block;">
                    <li ng-repeat="log in editedLog |orderBy: '-userAuditTimeStamp'" style="padding: 0px 15px;">
                        <div style="display:block;word-break: break-all;">
                        <span style="float: left; width: 100%; padding: 0px 15px;"> <i class="fa fa-circle" aria-hidden="true" style="margin-right: 12px; font-size: 12px;line-height: 12px;"></i> <u style="cursor:pointer;font-weight: bolder;" ng-click="showaudit(log)" tooltip="Click to view details">{{log.action}}</u> on {{log.userAuditTimeStamp| date:'yyyy-MM-dd HH:mm:ss Z'}} by {{log.UserId}}.</span>
                        </div>
                    </li>
                </ul>
             </div>
    
    
            </div>
    
    
            <div class="modal fade" tabindex="-1" id="auditModel" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content" style="padding: 10px 20px;overflow:auto">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <div class="modal-header" style="padding: 10px 0px;border: 0px !important;text-align: left;">
                                <b>{{commentVal ? commentVal[0] : auditLogDetails.action}} on {{auditLogDetails.userAuditTimeStamp| date:'yyyy-MM-dd HH:mm:ss'}} by {{auditLogDetails.UserId}}</b>
                            </div>
                            <div class="modal-body table-responsive" style="padding: 0px !important; border: 0px !important">
                                <table class="table table-bordered">
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer" style="text-align: left;padding:0" ng-if="commentVal">				
                                <p><b>Notes: </b>{{commentVal[1]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div> 
        </div>
        </div>
    
    </div>
    
    </div>
    
    
    