<style>
.buttonn {
  transition: all 0.5s;
  margin: 5px;
}

.buttonn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonn .cncl:after {
  content: 'x';
}

.buttonn:hover span {
  padding-right: 25px;
}

.buttonn:hover span:after {
  opacity: 1;
  right: 0;
}
.profileHeader
{
    background-color: #4c679a;
    color: #fff;
}
.btn {
    color: #FFFFFF !important;
    background-color: #2e4269 !important;
    border: none;
}
.portlet.light {
    padding: 0;
    background-color: #fff;
    border: 1px solid #1a305a;
}
.main-header, .main-footer {
    background-color: #16243e;
}
.footertext1, .footertext2 {
    color: #d6d8dc;
}
.fixedfooter 
{
  background-color: rgb(54, 65, 80);
    margin-left: 0px;
}
.nonbtndisable {
    cursor: not-allowed !important;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}  

</style>
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="logo" style="margin-bottom:10px;margin-bottom: 10px;
    margin-left: 7px;
    margin-top: 0px !important;
    padding: 10px;" ng-style="{'background-color':(configData.ThemeName == 'volante')?'#364150':'#fff'}">
        <a href="index.html">
            <img src="themes/{{configData.ThemeName}}/logo.png" alt="">
        </a>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="col-md-2 col-sm-0 col-xs-0">
	</div>
<div class="col-md-8 col-sm-12 col-xs-12">
<div class="pageTitle">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" >
            <div class="title__container" ng-if="!profileSetup">
                    <h2 translate>Forgot password</h2>
                    <!--<p translate>Edit of Profile password</p>-->
            </div>

        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <small translate>Edit of Profile password. </small>
        </div>
    </div>-->
</div>


<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		
                            <div class="portlet-title cursorPointer">
                    <div class="row" ng-click="fwReset = !fwReset">
                       
                        <div class="col-md-9">
                          <i class="fa fa-key" aria-hidden="true"></i>
                        <span class="caption">Reset Password</span>
                        </div>
                        <div class="col-md-3">
                        <i class="bold fa fa-chevron-circle-right pull-right" style="font-size: 20px;padding-top:2px;" ng-class="{'fa-chevron-circle-down': !fwReset, 'fa-chevron-circle-right': fwReset}"></i>
                    
                        </div>
                        <div class="clearfix"></div>
                        </div>
                        </div>

			
			<div class="portlet-body tab-content" collapse="fwReset">
			
			<div class="animated bounce bold" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" ng-repeat="alert in alerts">
				<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{alert.msg}}
			</div>
				
				<form autocomplete="off" class="form-horizontal" role="form" ng-submit="forgotPassword(fgpassword)">
				<input type="text" name="DummyUserId"  style="display:none">
				<input type="password"  style="display:none" name="DummyPass" />
                    <div class="row fade-in-up">
                       <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;">
                           <label class="control-label bold col-md-4 col-sm-4">User Id:<span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>

                           <div class="col-md-8 col-sm-8">
                           <input type="text" name="UserId" ng-model="fgpassword.UserId" class="form-control" placeholder="Enter User Id" ng-blur="multipleEmptySpace($event)" required ng-disabled="resp>=1"/>
                           </div>
                       </div>

                       <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;">
                           <label class="control-label bold col-md-4 col-sm-4">Email Id:<span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                           <div class="col-md-8 col-sm-8">
                           <input type="email" name="EmailId"  ng-model="fgpassword.EmailId" class="form-control" placeholder="Enter Email Id" required ng-disabled="resp>=1"/>
                           </div>
                       </div>
					</div>
					<div class="row fade-in-up">	
                       <div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;" ng-if="resp>=1">
                           <label class="control-label bold col-md-4 col-sm-4">OTP:<span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                           <div class="col-md-8 col-sm-8">
                           <input type="text" name="OTP"  ng-model="fgpassword.OTP" class="form-control" placeholder="Enter OTP" required onkeydown="return spaceNotAllowed(event)" ng-disabled="resp>=2"/>
                           </div>
                       </div>
                    </div>

					<div class="row fade-in-up" ng-if="resp >= 2">
						<div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;">
                           <label class="control-label bold col-md-4 col-sm-4">New Password:<span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                           <div class="col-md-6 col-sm-7">
                           <input type="text" id="password" name="Password"  ng-model="fgpassword.Password" class="form-control passField" placeholder="Enter New Password" ng-blur="validatePW(fgpassword.Password,fgpassword.UserId, $event)" ng-click="hidePassword()" ng-focus="PasswordFocus()" required/>
                           </div>
                            <div class="col-md-2 col-sm-1">
                                <button type="button" id="pwInfoBtn" tabindex="-1" style="border-radius:20px !important;" class="btn" data-container="body" data-toggle="popover" data-placement="right" data-content="Please ensure the password entered is between 8 and 14 characters long, and include 3 out of 4 of the following: lower case, uppercase, numbers or special characters ! &quot; # $ % &amp; ' ( ) * + , - . / : ; < = > ? @ [ \ ] ^ _ ` { | } ~  " data-original-title="" title=""><span class="questionMark">?</span></button>

                            </div>
						</div>

						<div class="form-group col-md-6 col-sm-6" style="margin-top:10px;margin-bottom:34px;">
                           <label class="control-label bold col-md-4 col-sm-4">Confirm Password<span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                           <div class="col-md-8 col-sm-8">
                           <input type="password" id="ConfirmPassword" name="ConfirmPassword"  ng-model="fgpassword.ConfirmPassword" class="form-control passField" placeholder="Enter Confirm Password" ng-click="hideConfirmPassword()" ng-focus="ConfirmPasswordFocus()" required/>
                           </div>
						</div>
					</div>
                    <div class="fade-in-up form-group col-md-12 col-sm-12 col-xs-12" style="margin:0">
                        <div class="col-md-12 col-sm-12 col-xs-12 txtCenter">
                            <button type="submit" class="buttonn btn btnStyle" ng-class="clicked ? 'nonbtndisable' : ''"><span class="submt">Submit</span></button>
                            <button type="reset" class="buttonn btn btnStyle" ng-click="pwCancel()"><span class="cncl">Cancel</span></button>
                        </div>
                    </div>
<div style="clear:both"></div>
                </form>
			</div>
		</div>
	</div>
</div>
</div>
	<div class="col-md-2 col-sm-0 col-xs-0">
	</div>
</div>

<script>
    $('[data-toggle="tooltip"]').tooltip();


 $('[data-toggle="popover"]').popover();

 $('body').bind('click',function(e){
 $('[data-toggle="popover"]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
 });


	/*$('body').on('click', function (e) {

    $('[data-toggle="popover"]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});*/




</script>