
    <div class="page-bar breadCrumb" ng-controller="activeController">
    <div class="row">
    <div class="col-md-8">
    <ul class="page-breadcrumb">
        <!--<h2>{{incomeObj}}</h2>-->
        <li>
             <i class="fa fa-cog"></i>
            <a href="javascript:void(0);" translate class="removeCursor">Sidebar.PaymentModule</a>
            <i class="fa fa-angle-right"></i>
        </li>

        <span ng-if="incomeObj.from == 'allpayments'">
            <li>
                <a translate>All Payments</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li style="font-weight:normal;">
                <a ng-click="clickReferenceID(incomeObj.nav.UIR,incomeObj.nav.PID)" translate>{{incomeObj.nav.PID}}</a>
                <i class="fa fa-angle-right"></i>
            </li>

        </span>

        <span ng-if="incomeObj.from == 'filedetail'">
            <li>
                <a translate>Received Instructions</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a ng-click="gotoFiledetail(incomeObj.nav.UIR)" translate>{{incomeObj.nav.UIR}}</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li style="font-weight:normal;">
                <a ng-click="clickReferenceID(incomeObj.nav.UIR,incomeObj.nav.PID)" translate>{{incomeObj.nav.PID}}</a>
                <i class="fa fa-angle-right"></i>
            </li>

        </span>
        <span ng-if="incomeObj.from == 'output' || incomeObj.from == 'distributedinstructions'">

            <li style="font-weight:normal;">
                <a ui-sref="app.distributedinstructions" translate>Sidebar.DistributedInstructions</a>
                <i class="fa fa-angle-right"></i>
            </li>
        </span>

		 <li>
            <a href="javascript:void(0);">{{incomeObj.uor}}</a>
            <!--<i class="fa fa-angle-right"></i>-->
        </li>

		
        <!--<li class="cursorPointer">
            <span onclick="sidebarMenuControl('PaymentModule', 'AllInstructions')" translate>Payment Summary</span>
        </li>-->
        

    </ul>
    </div>
    
   <div class="col-md-4 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

    </div>
    </div>
   
</div>

<div>
<div class="contentContainer">
        <div class="pageTitle alertWidthonResize">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title__container">
                        <h2 translate>Payment Summary</h2>
                        <!--<p translate>DistributedInstructions.SubTitle</p>-->
                    </div>
                </div>
            </div>
        </div>

        <div ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class="animated bounce autoAdjustAlert bold" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" ng-repeat="alert in alerts">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{alert.msg}}
        </div>
            
       <div style="padding: 5px;background: #fff;">
        <div class="tobeFixed">
          <div class="row" style="margin:0;">
              <div class="countbar-title" style="margin-bottom: 10px;">
            <div class="col-md-6 col-sm-4 col-xs-12 ng-binding caption">
                <span class="highlight">{{datas.length}}</span> records shown
            </div>

            <div class="col-md-6 col-sm-8 col-xs-12" style="padding:0;">
                <!--<div class="btn-group" style="float:right;box-sizing: border-box;">
                  
                    <button style="border: 1px solid #fff;box-sizing: border-box;border-right:0px;margin-left:5px" class="btn-trans" id="btn_1" ng-class="changeViewFlag?'cmmonBtnColors':'disabledBtnColor'" ng-click="changeViewFlag = !changeViewFlag" tooltip="List View"><i class="fa fa-list fa-fs14"></i></button>
                    <button style="border: 1px solid #fff;box-sizing: border-box;border-left:0px" class="btn-trans" id="btn_2" ng-class="!changeViewFlag?'cmmonBtnColors':'disabledBtnColor'" ng-click="changeViewFlag = !changeViewFlag" tooltip="Grid View"><i class="fa fa-table fa-fs14"></i></button>

                  
                </div>-->


                <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" tooltip="Print">
                    <button class="btn-trans" ng-click="printFLpage()"><i class="fa fa-print fa-fs14"></i></button>
                </div>

                <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" tooltip="Export to Excel">
                    <button class="btn-trans"  ng-click="exportToExcel()"><i class="fa fa-file-excel-o fa-fs14"></i></button>
                </div>

                <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;"
                     tooltip="Refresh">
                    <button class="btn-trans" ng-click="initCall($event)"><i class="fa fa-refresh fa-fs14"></i></button>
                </div>

                

            </div>
            <div class="clearfix"></div>
              </div>
        </div>
        </div>
 
     
       

       

       

       <div class="alert alert-warning" ng-show="!datas.length">
    <strong><h4  style="margin:0;text-align:center;"><i class="fa fa-warning"></i> No Records Found</h4></strong>
</div>
         <div ng-if="datas.length">
            <div class="listView FixHead dataGroupsScroll" style="margin:0px;overflow-x:auto !important;margin-bottom:20px;max-height:525px !important;" ng-show="!changeViewFlag">

               
                 <table class="table table-striped table-bordered table-hover" ng-show="!alertMsg ">
                    <thead>
                        <tr>
                            <th>Office Code</th>
                            <th>Unique Output Reference</th>
                            <th>Payment ID</th>
                            <th>Relation</th>
							 <th> Message Function</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursorPointer" ng-repeat="val in datas" ng-click="details(val)">
                            <td>{{val.OfficeCode}}</td>
                            <td>{{val.UniqueOutputReference}}</td>
                            <td>{{val.PaymentID}}</td>
                            <td>{{val.Relation}}</td>
							<td>{{val.MessageFunction}}</td>
                        </tr>
                     
                    </tbody>
                </table>
                
            </div>


        <div style='clear: both;'></div>

    

        </div>


        </div>
    </div>

</div>

