<style> 
/*.select2-container .select2-search__field {
    width: 100% !important;
}*/
 .info-row {
        padding: 15px 0;
        background: #e8e9eb;
        margin-bottom: 10px;
        box-shadow: 3px 3px 2px lightgrey;
        border-left: 4px solid #2d4063;
    }
    .field-info
    {
        padding: 5px 0px;
    }
      .input-group .form-control{
          //  z-index: 0 !important;
    }

   
</style>
    <div class="page-bar breadCrumb" ng-controller="activeController">
    <div class="row">
    <div class="col-md-6 ">
    <ul class="page-breadcrumb">
        
        <li>
             <i class="fa fa-cog"></i>
            <a href="javascript:void(0);" translate class="removeCursor">Sidebar.PaymentModule</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li class="cursorPointer">
            <span class="removeCursor" translate>Sidebar.DistributedInstructions</span>
        </li>
        
        

    </ul>
    </div>
    
   <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

    </div>
    </div>
   
</div>

<div>
<div class="contentContainer">
        <div class="pageTitle alertWidthonResize">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title__container">
                        <h2 translate>DistributedInstructions.PageTitle</h2>
                        <p translate>DistributedInstructions.SubTitle</p>
                    </div>
                </div>
            </div>
        </div> 
        
        <div ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class="animated bounce autoAdjustAlert bold" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" ng-repeat="alert in alerts" ng-if="alert.msg != 'Payment not found'">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{alert.msg}}
        </div>
       
    <div class="searchholder">
        <div class="row">
            
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" ng-model="uorVal" placeholder="Unique Output Reference" class="searchBox ng-pristine ng-valid ng-touched" ng-keyup="getExistVal($event)">

                            <span class="input-group-addon search-addon" ng-click="uorSearch()" tooltip="Search" style="cursor:pointer;background-color:#fff;border:none;">
                                    <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>

                </form>
            </div>
             <div class="col-lg-2 col-md-2 col-sm-6">
                <div class="dropdown" style="width: 100%;">
                    <button class="btn btn-block btnStyle dropdown-toggle mega-dropdown1" type="button" id="DropId" data-toggle="dropdown" translate>BtnGroup.SavedSearch
    </button>

                    <ul class="dropdown-menu mega-dropdown-menu1 customDropDown1 savedScroll" role="menu" aria-labelledby="menu1">
                        <li ng-repeat="data in lskey">
                            <div class="row" style="margin:0;margin-top:5px;margin-bottom:5px;">
                                <div class="col-md-10" ng-click="selectSearch(data,$event,$index)">
                                    <span style="margin-left:10px;display:inline-block;margin-top:3px;">{{data}}</span>
                                </div>
                                <div class="col-md-2" ng-if="data != 'New Search'">
                                    <div class="cancel"><i style="border:1px solid #DE2F2B;background-color:#D05450;border-radius:10px;color:#F5E6E6;font-size:13px;"
                                            class="fa fa-times cursorPointer" ng-click="confirmationAlert($index)" data-toggle="modal" data-target="#alertBox"></i></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
              <div class="col-lg-2 col-md-3 col-sm-6">
                <button type="button" class="btn btnStyle" ng-init="distSearch=true;" ng-click="distSearch=!distSearch;setDateRange();"
                    style="width:100%;">
                            <span ng-if="distSearch" style="color:#fff !important;"><span translate>BtnGroup.ShowAdvancedSearch</span> &nbsp;<i style="padding-top:2px;" class="bold fa fa-angle-right circle-o"></i>{{aaa()}}</span>
                            <span ng-if="!distSearch" style="color:#fff !important;"><span translate>BtnGroup.HideAdvancedSearch</span> &nbsp;<i style="padding-top:2px;" class="bold fa fa-angle-down circle-o"></i></span>
                  </button>
            </div>
          </div>
    </div>

    <div class="modal fade" tabindex="-1" id="alertBox" role="dialog">
        <div class="modal-dialog modal-md" style="top: 200px;">
            <div class="modal-content modalbdy animated tada">
                <div class="modal-header" style="padding: 0px !important; border: 0px !important">
                    <div class="iconBox"><i class="exclaLine"></i><i class="exclaDot"></i></div>
                </div>
                <div class="modal-body" style="padding: 0px !important; border: 0px !important">
                    <h1>Are you sure?</h1>
                    <h4>You will not be able to recover this Data!</h4>
                </div>
                <div class="modal-footer modalftr">
                    <button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
                    <button tabindex="0" type="button" class="buton yess" ng-click="deleteSelectedSearch($event)">Yes, delete it!</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="myModal1" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header modalHeaderColor">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="line-height:0.5 !important;">Save Search </h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="saveSearch()">
                        <div class="form-group" style="padding:10px;margin:0">
                            <label>Search Name <span ng-hide="false" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                            <input class="form-control" type="text" name="searchname" required ng-model="searchname" placeholder="Enter the search name"
                            />
                        </div>
                        <p ng-show="isSearchNameFilled" style="color:red;margin-left:10px;">*Please enter the search name</p>

                        <div ng-show="searchNameDuplicated" class="alert alert-warning form-group fade-in-up" style="text-align:center;">
                            <b>Search name already exists. Do you want to overwrite?</b><br/><br/>

                            <button type="submit" class="btn btn-warning btn-sm" ng-click="saveSearch1()">Yes</button>
                            <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">No</button>
                        </div>

                        <div ng-show="isAnyFieldFilled" class="alert alert-warning form-group fade-in-up" style="text-align:center;">

                            <b>Please select any of the fields to save the search</b><br/><br/>
                            <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">OK</button>
                        </div>

                        <div class="form-group" style="float:right;padding:10px;margin:0">

                            <button type="submit" class="btn btnStyle btn-sm">Save</button>
                            <button type="button" class="btn btnStyle btn-sm" data-dismiss="modal">Cancel</button>
                        </div>



                        <div style="clear:both"></div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div collapse="distSearch" class="row searchContainer" style="margin:0;margin-bottom:8px;padding:20px;">
        <div class="row" style="padding: 10px 4px 10px 4px;margin-bottom:20px;">
            <div class="col-md-5" style="font-size:22px;">Search Filters</div>
            <div class="col-md-7 col-sm-6 col-xs-12" style="float:right">
                 <ul class="pull-right">
                    <li class="dropdown mega-dropdown">
                      <a href="javascript:void(0);" class="dropdown-toggle">
                        <button class="btn btnStyle dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><i class="fa fa-filter"></i> <span translate>BtnGroup.AddRemoveFilters</span></button>
                    </a>

                        <ul class="dropdown-menu mega-dropdown-menu" style="min-width:217px !important;">
							<li ng-repeat="data in sortMenu" ng-if="data.fieldName != 'OutputMessage' && data.label != 'Action'">
							
								<div class="row" style="margin:0;margin-top:5px;margin-right: 5px;">
                                    <div class="col-md-9">
                                        <span style="display:inline-block;margin-top:3px;">{{data.label}}</span>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="checkbox" style="margin:0;">
                                            <span class="green switch green ng-valid ng-pristine ng-untouched" style="width:34px !important; height:14px !important; border-radius:20px !important;margin-top:5px;"
                                                ng-init="active = data.searchVisible" ng-click="active=!active;SelectValue($index);"
                                                ng-class="{checked:active}" ng-model="active" ng-keydown="toggleFocus($event, $index, true)">
                                    <small style="width:12px !important;height:12px !important;" tabindex="0" ></small>
                                    <input type="checkbox" style="opacity:0;display:none;" ng-model="UIRSelect" class="ng-pristine ng-untouched ng-valid"/>
                                    <span class="switch-text"> </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

                 <button class="btn pull-right btnStyle" id="ResetFilter" value="Reset Filter" ng-click="resetFilter()" style="margin-right:5px;" ng-focus="focusOutfn()"><i class="fa fa-refresh"></i> <span translate>BtnGroup.ResetFilter</span>  </button>

                <button value="SaveSearch" class="btn pull-right btnStyle" style="margin-right:5px;" id="saveSearchBtn" data-keyboard="true"
                    data-toggle="modal" data-target="#myModal1" ng-click="ClearAlert()" style="margin-top:5px;"><i class="fa fa-floppy-o"></i> <span translate>BtnGroup.SaveSearch</span>  </button>

            </div>
        </div> 
        
          <div class="row" style="margin:0;" ng-if="showSearchWarning && !buildSearchClicked">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-info  bold" style="text-align:center;">
                    <a class="close" aria-label="close" data-dismiss="alert" ng-click="retainAlert($event)">&times;</a> Please select any of the fields to perform search
                </div>
            </div>

            
        </div>

<div class="row">
    <div class="col-md-12">
        
        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-6 fade-in-up" ng-repeat="fields in sortMenu" ng-if="fields.searchVisible">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label" style="text-align:left;">{{fields.label}}</label>
                        </div>
                        <div class="col-md-6" ng-if="fields.type == 'text'">
                            <input type="text" class="form-control" name="{{fields.fieldName}}" ng-model="search[fields.fieldName]" placeholder="{{fields.label}}" ng-keypress="(fields.allow == 'number') ? allowOnlyNumbersAlone($event,fields.label) : ''"
                            />
                        </div>
                        <div class="col-md-6" ng-if="fields.type == 'dropdown'">
                            <select class="form-control appendSelect2" multiple name="{{fields.fieldName}}" ng-model="search[fields.fieldName]">
                                   <!-- <option value="">Select</option>    -->
                                 <option value="{{val.actualvalue}}" ng-repeat="val in OfficeCode">{{val.displayvalue}}</option> 

                            </select>    
                        </div>

                        <div class="col-md-8" ng-if="fields.type=='dateRange'">
                            <div class="row">
                                <div class="col-md-12 col-sm-9">
                                    <div class="input-group date" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">
                                        <input type="text" class="form-control DatePicker dateTypeKey" placeholder="From  (TimeZone - {{profileName}})" id="{{fields.fieldName+'Start'}}" ng-model="search[fields.fieldName].Start"
                                            onpaste="return false">
                                        <span class="input-group-addon" ng-click="focusInfn(fields.fieldName+'Start')"><span class="glyphicon glyphicon-calendar"></span></span>

                                        <span class="input-group-addon" style="border:none;background-color:transparent;">To</span>
                                        <input type="text" class="form-control DatePicker dateTypeKey" placeholder="To  ( TimeZone - {{profileName}} )" id="{{fields.fieldName+'End'}}" ng-model="search[fields.fieldName].End"
                                            style="text-align:start;" onpaste="return false">
                                        <span class="input-group-addon" ng-click="focusInfn(fields.fieldName+'End')"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-color:#ccc;" />
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="pull-right" style="margin-right:15px;">
                <button value="Search" id="AdSearchBtn" class="btn btnStyle" ng-click="buildSearchClicked = false;buildSearch();"> <i class="fa fa-search"></i> <span translate>BtnGroup.Search</span> </button>
                <button value="Cancel" class="btn btnStyle" ng-click="rstAdvancedSearchFlag();showSearchWarning =false;"><i class="fa fa-times"></i> <span translate>BtnGroup.Cancel</span> </button>
            </div>
        </div>
    </div>
        </form>
    </div>
</div>


    </div>

       <div style="padding: 5px;background: #fff;">
        <div class="tobeFixed">
          <div class="row" style="margin:0;">
              <div class="countbar-title" style="margin-bottom: 10px;">
            <div class="col-md-8 col-sm-4 col-xs-4 ng-binding caption">
                <span class="highlight">{{datas.length}}</span> records shown
            </div>

            <div class="col-md-4 col-sm-8 col-xs-8" style="padding:0;">
                <div class="btn-group" style="float:right;box-sizing: border-box;">
                  
                    <button style="border: 1px solid #fff;box-sizing: border-box;border-right:0px;margin-left:5px" class="btn-trans" id="btn_1" ng-class="changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="List View"><i class="fa fa-list fa-fs14"></i></button>
                    <button style="border: 1px solid #fff;box-sizing: border-box;border-left:0px" class="btn-trans" id="btn_2" ng-class="!changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="Grid View"><i class="fa fa-table fa-fs14"></i></button>

                  
                </div>
				<div class="dwnBtn" style="float:right;">

                <!-- <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" ng-click="setHeight($event)" aria-expanded="true" tooltip="{{'Export'}}"> <i class="fa fa-download" aria-hidden="true"></i></button> -->
                
                <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="{{(datas.length)?'dropdown':''}}" ng-click="setHeight($event)" tooltip="{{(datas.length)?'Export':'No records to export'}}" ng-style="{'opacity':(datas.length)?'1':'0.5'}"> <i class="fa fa-download" aria-hidden="true"></i></button> 

				
				<ul class="download-window dropdown-menu dropdown-menu-excel pull-right" style="z-index: 10000; ">
					<li>							
						<span><input type="radio" name="excelVal" value="Current" checked class="radiobtns"> Current Screen </span>
						  
						  <span><input type="radio" name="excelVal" value="All" class="radiobtns"> All Matching Filter</span>
					</li>
					
					<li tooltip="{{'Excel'}}" class="excelprint" style="margin-left:40px;" ng-click="exportToExcel($event)"><i class="fa fa-file-excel-o fa-fs14" aria-hidden="true"></i>
					</li>
					<li data-toggle="tooltip" tooltip-placement="top" tooltip="{{'Print'}}" class="excelprint" ng-click="printFLpage()"><i class="fa fa-print fa-fs14" aria-hidden="true"></i>
					</li>
					
					
				</ul>
			</div> 

               <!--  <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" tooltip="Print">
                    <button class="btn-trans" ng-click="printFLpage()"><i class="fa fa-print fa-fs14"></i></button>
                </div>

                <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" tooltip="Export to Excel">
                    <button class="btn-trans"  ng-click="exportToExcel()"><i class="fa fa-file-excel-o fa-fs14"></i></button>
                </div> -->

                <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;"
                     tooltip="Refresh">
                    <button class="btn-trans" ng-click="refresh()"><i class="fa fa-refresh fa-fs14"></i></button>
                </div>

                <div class="btn-group" style="float:right;box-sizing: border-box;margin-left:10px;">
                        <div class="dropdown customDropdown" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left:10px;">
                            <button class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="Select Dates"><span id="dropTxt" style="font-size:15px;">All</span>
                    <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-default pull-right" style="font-size:13px !important">
                                <li class="menuClass" ng-click="FilterByDate('all',$event)"><a translate>SelectDates.All</a></li>
                                <li class="menuClass" ng-click="FilterByDate('today',$event)"><a translate>SelectDates.Today</a></li>
                                <li class="menuClass" ng-click="FilterByDate('week',$event)"><a translate>SelectDates.Week</a></li>
                                <li class="menuClass" ng-click="FilterByDate('month',$event)"><a translate>SelectDates.Month</a></li>
                                <li class="menuClass" data-toggle="modal" data-target="#customDate"
                                    data-keyboard="true"><a translate>SelectDates.Custom</a>
                                </li>
                                <li style="pointer-events:none" ng-if="customDate.startDate && customDate.endDate">
                                    <P style="text-align:center;color:#000;">From - <b>{{customDate.startDate}}</b> <br/>to - <b>{{customDate.endDate}}</b></P>
                                </li>
                            </ul>
                        </div>
                    </div>


                

            </div>
            <div class="clearfix"></div>
              </div>
        </div>
        </div>


        <div class="modal fade" id="customDate" role="dialog" tabindex="-1" data-backdrop="static" ng-keydown="dummy($event)">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modalHeaderColor">
                        <button type="button" class="close" data-dismiss="modal" ng-click="filterCancel()">&times;</button>
                        <h4 class="modal-title">Select the Dates</h4>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="FilterByDate('custom')">
                            <div class="col-md-12" style="padding:15px;">
                                <div class="input-group date" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input type="text" class="form-control DatePicker dateTypeKey" ng-model="customDate.startDate" id="CstartDate" style="width:100%" placeholder="From (TimeZone - {{profileName}})" ng-blur="removeFn()"
                                        onpaste="return false" required>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

                                    <span class="input-group-addon" style="border:none;background-color:transparent;">To</span>
                                    <input type="text" class="form-control DatePicker dateTypeKey" ng-model="customDate.endDate" id="CendDate" style="width:100%" placeholder="To  ( TimeZone - {{profileName}} )" ng-blur="removeFn()"
                                        onkeypress="return tabOrder(event)" onpaste="return false" required>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                            <div class="col-md-12 txtCenter" style="padding:15px;">
                                <button type="submit" id="okBtn" class="btn btnStyle" ng-disabled="!(customDate.startDate&&customDate.endDate)">OK</button>
                                <button type="reset" class="btn btnStyle" data-dismiss="modal" ng-click="CustomDatesReset()">Cancel</button>
                                <button type="reset" class="btn btnStyle" ng-click="CustomDatesReset()">Reset</button>
                            </div>
                            <div style="clear:both"></div>
                        </form>



                    </div>
                    
                </div>

            </div>
        </div>


  <div class="alert alert-info alert-dismissable" ng-if="fieldArr.params.length">
        <p ng-if="uorFound"><strong>Search By Unique Output Reference</strong> - {{uorFound}}</p>
       
        <p ng-repeat="(x,y) in dateFilter" ng-if="y && x != 'all'" style="margin:0;word-wrap:break-word;">
           <b>Select Criteria</b>  - <span class="leftAlign">{{x | ucwords}}</span> 
            <span ng-repeat="date in dateArr">
                <span ng-if="!$first" class="leftAlign"> To </span> 
                <span class="leftAlign"> ({{date.ColumnValue}}) </span>
            </span>
        </p>

         <span style="font-size:13px;word-wrap:break-word;" ng-repeat="(x,y) in dSearch">

            <span class="searchValContainer" ng-if="x != 'GeneratedDate'"><strong>
                {{x | camelCaseFormatter}}</strong> - {{y | cleanItem}}
               

                <span class="bold closeIcon cursorPointer" ng-click="spliceSearchArr(x)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
            </span>
            <span class="searchValContainer" ng-if="x == 'GeneratedDate' && y.Start && y.End">
                <strong>{{x | camelCaseFormatter}}</strong>  - {{y.Start}} &nbsp;To&nbsp; {{y.End}}

                <span class="bold closeIcon cursorPointer" ng-click="spliceSearchArr(x)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>

            </span>
        </span>

      

        <div class='button-wrapper' style="vertical-align:middle;">
             <input type="button" id="searchBtn" class="btn btn-sm btnStyle" value="Clear" ng-click="clearSearch()" style="display:block;float:right;"/>
        </div>
        <div class="clearfix"></div>

</div>


<div class="alert alert-warning" ng-show="!datas.length">
    <strong><h4  style="margin:0;text-align:center;"><i class="fa fa-warning"></i> No Records Found</h4></strong>
</div>

<div class="listView" style="margin:0;" ng-show="changeViewFlag">
    <div ng-repeat="data in datas">
        <div class="info-row" style="cursor:pointer" >
            <div class="col-md-12" ng-click="detail(data,$event)"> 
                 
                    <div class="col-md-4" ng-repeat="val in sortMenu" ng-if="val.visible" >
                          <div class="field-info" ng-if="data[val.fieldName]">
                         
                                <span class="bold">{{val.label}} :</span>
                                     <span ng-if="(val.fieldName != 'OutputMessage') && (val.fieldName != 'GeneratedDate')">{{data[val.fieldName]}}</span>

                                 <span ng-if="val.fieldName == 'GeneratedDate'">{{data[val.fieldName] | dateFormat}}</span>

                                 <span ng-if="val.fieldName == 'OutputMessage'"><span class="bold cursorPointer" style="text-decoration:underline;" tooltip="Download" ng-click="textDocDownload(data,$event)"><i class="fa fa-download" aria-hidden="true" style="padding: 0 13px;"></i></span></span>
                           
                            </div>

                    </div>
                   
            </div>
                <div class="clearfix"></div>    
        </div>
    </div>
</div>

 <div class="listView FixHead dataGroupsScroll" style="margin:0px;overflow-x:auto !important;margin-bottom:20px;max-height:525px !important;" ng-show="!changeViewFlag">

           <!--  <div class="table-responsive" ng-show="datas.length"> -->
                 <table class="table table-striped table-bordered table-hover" ng-show="datas.length">
                    <thead>
                        <tr>
                            <th ng-class="{'cursorPointer':(val.fieldName != 'OutputMessage' || val.fieldName != 'Action')}" ng-repeat="val in sortMenu" ng-if="val.visible" ng-click="(val.fieldName != 'OutputMessage' && val.fieldName != 'Action')?gotoSorting(val,$index,$event):''" ng-style="(val.fieldName == 'Action')?{'text-align':'center'} : '' "> {{val.label}} 

                                <span id="{{val.fieldName}}_Icon" class=""></span>
                            </th>
                           
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursorPointer" ng-repeat="data in datas" >
                            <td ng-repeat="val in sortMenu" ng-if="val.visible" ng-click="(val.fieldName != 'OutputMessage' && val.fieldName != 'Action' )?detail(data,$event):''" ng-style="(val.fieldName == 'Action')?{'text-align':'center'} : '' ">
                                <span ng-if="val.fieldName == 'GeneratedDate'"> {{data[val.fieldName] | dateFormat}} </span>
                                <span ng-if="(val.fieldName != 'OutputMessage') && (val.fieldName != 'GeneratedDate')"> {{data[val.fieldName]}} </span>
                                <span ng-if="val.fieldName == 'OutputMessage'"> 
                                     <span class="bold cursorPointer" style="text-decoration:underline" ng-click="textDocDownload(data,$event)"><i class="fa fa-download" aria-hidden="true"></i> Download</span>
                                </span>
                            <input ng-if="val.fieldName == 'Action'" type="button" value="Resend" class="btn btnStyle" ng-click="resendDist(data.UniqueOutputReference)" style="padding:4px;"/></td>    
                           
                        </tr>
                     
                    </tbody>
                </table>
           <!--  </div> -->
</div>


        <div style='clear: both;'></div>

    

        </div>
    </div>

</div>

<script>
    $(document).ready(function(){
        var showFlag = false;
        customDateRangePicker('CstartDate','CendDate')
        customDateRangePicker("GeneratedDateStart","GeneratedDateEnd")
        //customDateRangePicker

        $('.input-group-addon').on('click focus', function(e){
                $(this).prev().focus().click()
                
        })


                 $('li.dropdown.mega-dropdown a').on('click', function (event) {
                $(this).parent().addClass("open");
                });

                $('li.dropdown.mega-dropdown1 a').on('click', function (event) {
                $(this).parent().toggleClass("open");
                });

                $('li.dropdown.mega-dropdown a').focus(function(event){
                $(this).parent().addClass("open");
                });

        $('body').click(function(e){

                  if($(e.target).attr('id') == 'DropId')
                {
                     if(!showFlag)
                     {$('.customDropDown1').show()}
                     else
                     {$('.customDropDown1').hide()}
                }
                else
                {
                    if($(e.target).parent().hasClass('cancel'))
                    {$('.customDropDown1').show()}
                    else
                    { $('.customDropDown1').hide()}
                 }

             if (!$('li.dropdown.mega-dropdown').is(e.target) && $('li.dropdown.mega-dropdown').has(e.target).length === 0 && $('.open').has(e.target).length === 0) {
                    $('li.dropdown.mega-dropdown').removeClass('open');
                }
        })
    })
</script>