.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/* File List Page Styles */

.searchBox
{
width:100%;
padding:6px;
//font-size:10px;
outline:none;
border:none;
}
.topmenu
{
margin-left:-5px !important;
}
.searchFile
{
    //text-align:right;
    font-weight:600;
    font-size:15px;
    padding:3px;
    margin-top:3px;
}
.searchholder
{
//margin:0;
padding:12px 12px 0;
//background-color:#F7F7F7;
margin-bottom:8px;
margin-left: 3px;
margin-right: 3px;
}
.marginTop3
{
    margin-top:3px;
}
.searchIcon
{
padding:3px;
margin-left:-36px;
margin-top:5px;
}
.advancedSearch
{
    padding:3px;
    margin-top:3px;
    text-align:right;
}
.cursorPointer
{
cursor:pointer;
}
.clearBoth
{
clear:both !important;
}
.minwidth40
{
min-width:40px;
}

/* File Details (page3) Page Styles */
.marginTop18
{
margin-top:18px;!important
}
.padding20
{
padding:20px;
}
.uirstyles
{
font-size:16px;
display:inline-block;
}
.navStyles
{
border-right:1px solid #ccc !important;
border-top:1px solid #ccc !important;
}
.gearfont
{
color:#fff;
font-size:70px !important;
height:110px;
line-height:80px !important;
}
.btnStyles
{
margin-right:0.5% !important;
padding-top:9px !important;
}
.txtCenter
{
text-align:center;
}
.txtRight
{
text-align:right;
}


/* Payment Details (page4) Page */
.padding1515
{padding:15px 15px
}
.marginTop12
{margin-top:12px;
}
.captionStyle
{
line-height:35px;
border-right:1px solid #eee;
}
.colStyle
{
line-height:35px;
border-right:1px solid #eee;
}
.lineHeight35
{
line-height:35px;
}
.page4Head
{
margin-bottom:40px;
top:30px;
}
.margin0
{
margin:0;
}
.page4Status
{
margin:0;
margin-bottom:7px;
}
.colorBlue
{
color:blue;
}
.spacing
{
//border:1px solid;
}
.tt{
border-collapse:inherit !important;
border-spacing:5px;
}
.customrow
{
margin-left:-20px;
}
.modalHead
{
background-color:#1CAF9A;
color:#fff
}
.modaltitle
{
line-height:0.5 !important;
}

.customRow
{
display:table;
}

.fileListStyle:hover
{
opacity:1;
cursor:pointer;
//   text-decoration:underline;
}




.inside {
  margin-top: 20px;
  margin-bottom: 20px;
}
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}


/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    /*display: table-cell;
    float: none;*/
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}

@media(min-width : 720px){
    .ForAddNewScroll {
       //  max-height: 60vh;
    }
}

@media(min-width : 1080px){
    .ForAddNewScroll {
        // max-height: 67vh;
    }
}
.advancedSearch1
{
    color:#337ab7;
    padding:3px;
    margin-top:3px;
    text-align:center;
    cursor:pointer;
}
.searchContainer
{
  background-color:#e7e9eb;
  height:400px;
}
.leftAlign
{
margin-left:10px;
}
.searchRow
{
margin:0;
margin-top:10px;
margin-bottom:10px;
}

.calenderIcon
{
position: absolute;
top: 7px;
left: 152px;
z-index: 10;
color: #bbb;
}
.searchOption
{
    background-color: #FFD100;
    border: none;
    outline: none;
    /*padding: 7px 15px 7px 15px;*/
}
.customDropDown:hover{

    /*background-color:#B7EAE7;*/
}

.pre_success_color{
background-color: #E7F4E2 !important;
border: 1px solid #d6e9c6 !important;
color:#3C763D;
}
.pre_waring_color{
background-color: #FDFAEA !important;
border: 1px solid #faebcc !important;
color:#8a6d3b;
}
.pre_dancer_color{
background-color: #F5E6E6 !important;
border: 1px solid #ebccd1 !important;
color:#A94442;
}
.pre_primary_color{
background-color: #71A8D7 !important;
}

.panelLabel_Primary
{
border:3px solid #337ab7;background-color:#337ab7;
}
.panelLabel_Success
{
border:3px solid #3c763d;background-color:#3c763d;
}
.panelLabel_Warning
{
border:3px solid #8a6d3b;background-color:#8a6d3b;
}
.panelLabel_Danger
{
border:3px solid #a94442;background-color:#a94442;
}


.allPaymentsLabel
{
width:70px;
height:70px;
float:left;
border-radius:35px !important;
text-align:center;
font-size:50px;
font-weight:bold;
line-height:1.3;
color:#fff;
}

.oddClas{
	background-color: #F9F9F9 !important
}




/*		Delete popup window Start		*/
.makemeCenter {
	position: fixed; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.iconBox{
	width: 80px;
    height: 80px;
    border: 4px solid #F8BB86;
    -webkit-border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}
.exclaLine{
	text-align: center;
	position: absolute;
    width: 5px;
    height: 47px;
    left: 50%;
    top: 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #F8BB86;
}
.exclaDot{
    text-align: center;
	position: absolute;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: -3px;
    left: 50%;
    bottom: 10px;
    background-color: #F8BB86;
}
.buton{
	display: inline-block;
	background-color: #AEDEF4;
    color: #fff;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 0px 5px 0;
    cursor: pointer;
}
.yess{
    box-shadow: rgba(221, 107, 85, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset;
    background-color: rgb(221, 107, 85);
}
.yess:hover{
	background-color: rgb(212, 103, 82);
}
.cancl{
	background-color: #D0D0D0;
}
.cancl:hover{
	background-color: #c8c8c8;
}
.modalbdy{
	text-align:center;
	width: 75%;
	background-color: #C9ECE2;
}
.modalftr{
	text-align:center;
	border: 0px !important;
	background-color: #1CAF9A;
}
/*		Delete popup window End		*/

/*		Button Custom styles start	*/
.btnStyle {
  box-shadow: 1.18px 2px 1px 1px rgba(0,0,0,0.2) !important;
  border-radius: 5px !important;
}
.btnStyle:hover,
.btnStyle.hover {
  box-shadow: 1.18px 2px 1px 1px rgba(0,0,0,0.20) !important;
}
.btnStyle:active,
.btnStyle.active {
  box-shadow: 0 0px #305F5B !important;
  transform: translateY(2px) !important;
}

.clr{
	color: #FFFFFF;
    background-color: #44b6ae;
}
.clr:hover,.clr.hover,
.clr:focus,.clr.focus{
	color: #FFFFFF;
    background-color: #3a9c95;
}


.Iclr1{
	color: #000;
}

.trHilght{
	position: relative;
    box-shadow: 0px 0px 3px 4px rgba(0,0,0,0.30);
    box-sizing: border-box;
}

/*		Button Custom styles End	*/

.cmmonBtnColors
{
    background: transparent;
    color: #000;
    pointer-events: auto;
}

.allPaymentsListSpacing
{padding: 6px 0px 6px 12px;}

.mega-dropdown-menu li .row
{
color:#000;
}

.mega-dropdown-menu1 li .row {
    color: #000;
}

.btn-info
{
color: #fff;
background-color: #89C4F4;
border-color: #72b8f2;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
      color: #fff;
      background-color: #68b4f1;
      border-color: #43a1ed;
}

.payment_Pink
{
    background-color: #578ebe;
    color:#fff;
}
.payment_Orange
{
    background-color: #e35b5a;
    color:#fff;
}
.payment_Violet
{
    background-color: #8775a7;
    color:#fff;
}
.payment_Green
{
    background-color: #6D9B5B;
    color:#fff;
}
.payment_Green
{
    background-color: #6D9B5B;
    color:#fff;
}
.payment_lightOrange
{
background-color: #ab7019;
    color:#fff;
}
.payment_grey
{
background-color: #777;
    color:#fff;
}
.panelHeading
{
background-color:#E1F5FE !important;
}
.listViewLabel
{
    font-size: 13px;
    height: 16px;
    line-height: 19px;
    /* text-transform: uppercase; */
    opacity: 0.5;
}
.listViewValue
{
    margin: 0;
    padding: 0;
    //width: 100%;
    line-height: 16px;
    font-size: 14px;
    word-wrap:break-word;
}

.actionIcons{
    border: 1px solid #CFDCEA;
    padding: 6px 10px 6px 11px;
    border-radius: 6px !important;
    background-color: #FFF;
	
}
.actionIcons:hover
{
   border: 1px solid #CFDCEA;
    padding: 6px 10px 6px 11px;
    border-radius: 6px !important;
    background-color: #FFF;
}
.overflowYClass
{
    max-height: 220px;
    overflow-y: scroll;
}

.dataGroups .row .col-md-6 span
{
display:inline-block;
}
.dataGroups .row .col-md-12 span {
    //display: inline-block;
    display:block;
}


.dataGroups .row{
    margin-top: 7px !important;
    /*margin-bottom: 8px !important;*/
}
.icon-white
{
color:#fff !important;
}
.colorWhite
{
color:#fff !important;
}
/*.batchHeight
{
height: 21px;
width:110px;
text-align:left
}*/

/*** Onboard Page ***/

.onBoardsubHeadStyle
{
font-size:17px;
padding: 6px 0px 6px 0px;
background-color:#ddd;
}
.onBoardActionBtn
{
 padding-right:0px;
 margin-top:4px;
}

.requestNo
{text-align: center;background-color: #A9A9A9;font-size: 22px;padding-top: 25px;padding-bottom: 25px;padding-left:10px;}
.clientName
{
font-size: 22px;padding-top: 8px;padding-bottom: 8px;
}
.requestStatus
{
font-size: 20px;color: #aaa;padding-top: 25px;padding-bottom: 25px;
}
.paddingLeft10
{
padding-left:10px;
}

.onBoardRequestDelete
{
display: inline-block;
//border: 1px solid red;
width: 20px;
height: 20px;
border-radius: 25px !important;
text-align: center;
margin-top: 4px;
color:red;
cursor:pointer;
background-image:url('../../layout/img/deleteIcon.png');
background-size:100% 100%;
background-repeat:no-repeat;
}
.commonBorder
{border:1px solid #ddd;border-bottom:none;border-right:none;padding: 6px 3px 7px 6px;}

.request-page-title
{
    font-size: 21px !important;
    color: #000 !important;
}
.detailBox
{
width: 32%;
margin-left:30px;
border:1px solid #aaa;
}
.reqFormHead
{
font-size:18px;
border-bottom:1px solid #aaa;
}
.customFormCtrl
{
    margin-top: 20px;
}
.paddingLeftNone
{
padding-left:0px;
}
.notes
{
font-size: 13px;
color: red;
display: inline-block;
padding: 5px;
}
.onboardBtn
{
    font-size: 14px;
    float: left;
    padding: 6px 12px;
    cursor:pointer;
}
.userMgmtSearch
{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
}
.serviceHeader
{
    font-weight: bold;
    font-size: 14px;
}
.serviceDataContainer
{
      margin: 0;
      margin-top: 7px;
      border: 1px solid #ddd;
      padding:13px 25px 13px 25px;
}
.serviceLabel
{color: #A7A1A0;}
.serviceVal
{
font-size:14px;
}
.serviceContinerInnerRow
{
margin: 0;
border-bottom: 1px solid #000;
padding-top: 10px;
padding-bottom: 14px;
}
.addServiceFooter
{
    margin: 0;
    border-top: 1px solid #000;
    margin-top: 40px;
    margin-bottom: 20px;
}

.affix {

     // width: 86%;
      z-index: 9999 !important;
  }

 .tableHeader
  {
  vertical-align:middle !important;
  }

.liAnchor
{
display:inline-block !important;
padding-left:0px; !important;
}
.listGroupList
{
margin-bottom:0px !important;
margin-right:8px;
padding-left:12px;
margin-right: 10px !important;
}
/*.liAnchor:hover
{
background:transparent !important;
}
*/
#rolesTable th{

background-color:transparent !important;
color:#000 !important;

}

.greenClass {
     background-color: green;
 }
 .redClass {
     background-color: red;
 }
 .ashClass {
     background-color: #ccc;
 }
 .visible {
     float: left;
     margin-left: 40%;
     border-radius: 6px !important;
 }
  #rolesTable
  {
  border-collapse:separate;
  //table-layout: fixed;
  }
 #rolesTable td{
 border:none;
 border-right:1px solid #ddd;
 text-align:center;
 padding:12px 12px;
 }
 #rolesTable th{
     border: none;
     border-bottom: 1px solid #ddd;
     border-right: 1px solid #ddd;
 }

 #rolesTable .btn{
background-color: transparent !important;
color: #000 !important;
border: 1px solid #ddd;
padding: 4px 12px 2px 12px;
 }
 .checkedDropdown
 {
 width:13px;
 height:13px;
 display:inline-block;
 border-radius:20px !important;
 margin-right: 5px;
 }

.customAlert
{
display:block !important;
}

/*Onboarding form starts here*/

.cgrpPadding{
	padding: 5px 15px 5px 15px;
	margin-top:15px;	
}

.highlightOnError{
	background-color:#FCEFE3;
	border:1px solid #FBD8BC;
}
#Or{
       display : block;
   }
   
@media (max-width : 991px){
   #Or{
       display : none;
   }
}

/*Onboarding form ends here*/

.legend
{
float: left;
    //margin-left: 40%;
    border-radius: 6px !important;
}
.fixedWidth
{
width:230px;
}



.alpaca-wizard-nav .alpaca-wizard-back {
    background-color: #fcfcfc;
}

 .chevron {
    position: absolute;
    top: 0;
    right: -14px;
    display: block;
    border: 27px solid transparent;
    border-right: 0;
    border-left: 14px solid #d4d4d4;
}
.alpaca-wizard-nav li.active div.holder div.title {
    color: #206199;
}
.alpaca-wizard-nav li.active div.holder div.description {
    color: #206199;
        font-size: 12px;
}
 div.holder {
    padding-left: 30px;
    padding-right: 20px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.alpaca-wizard-nav li:first-child div.holder {
    padding-left: 10px;
}

/* Payment Details Breadcrumb starts here */

.pagination>li {
    display: inline-block;
}
.pagination>li>button {
	//background-color:#F7F7F7;
	position: relative;
	float: left;
	padding: 5px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	border: 1px solid #ddd;
}
.pagination>li>button:hover {
  // background-color:#D2CECE;
}
.pagination>li>button:focus{
	//background: #ffffff !important;
}

.pagination>li>button>i {
   color: #000;
}
.pagination>li>button>i:focus, .pagination>li>button>i:hover {
   color: #000;
}


.drop{
	display: block;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;	
}

/* Payment Details Breadcrumb Ends here */


.fileSize{
    font-size: 15px;
    margin-top: 1px;
    display:inherit;
  }

.cmmonBtnColors
{
box-sizing:border-box;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group
{
margin-left:0px;
}


/*for all grid views*/
tr td span{
	word-break: break-all;
}




.tooltipBox
{
width:12px;
height:12px;
display:inline-block;
}
.dashboard-stat
{
cursor:pointer;
}
.legendHolder
{
min-height:123px;
max-height:123px;
overflow:auto;
overflow-x:hidden;
//border-top:1px solid #44b6ae;
}

#sankey
{
overflow-y:hidden;
overflow-x:auto;
}
.customLegendIcon
{
width:15px;
height:15px;
border:1px solid;

}
/*ul.dropdown-menu.mylist::after
{
left:26px;
}
ul.dropdown-menu.mylist::before
{
left:96px;
}*/
.custPanel{

font-size:13px;
}
.cust-Panel
{
border:none;
}
.cust-Panel > .panel-heading
{
background-color:transparent;
padding:0;
}
.channelName {
    padding:0;
    word-wrap:break-word;
    -ms-word-wrap:break-word;
}
.channelLegend,.channelLegendAmt
{
cursor:pointer;
opacity: 1;
}
.channelLegendNotSelected
{
    opacity: 0.4;
}
.approvalCount
{
    font-size: 15px;


}

.approvalCount .alert
{
background-color: rgb(238, 238, 238);
 border:2px solid #ddd;
  border-radius:15px !important;
  margin-bottom:0px;
}


svg rect, svg path
{
cursor:pointer;
}

.scroller
{
    height: 293px;
    overflow: hidden;
    overflow-y: scroll;
}
.scroller::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	//background-color: #F5F5F5;
	background-color: #3f4f62;
}

.scroller::-webkit-scrollbar
{
	width: 7px;
    background-color: #3f4f62;
}

.scroller::-webkit-scrollbar-thumb
{

	//background-color: #67c6bf;
	background-color: #3f4f62;
	border: 1px solid #555555;
	//border-radius:30px;
}

.overflowYClass
{
    max-height: 220px;
    overflow: hidden;
    overflow-y: scroll;
}


.dupClick
{
text-decoration: underline;
}

.PointerAuto
{
pointer-events:auto;
}
.PointerNone
{
pointer-events:none;
}

.dispNone
{
display:none;
position:absolute;
}
.displayBlock
{
display:block;
position:absolute;


   top: 95%;
    left: 0;
    z-index: 1000;

    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0px;
    background-color: #ffffff;
    margin: 10px 0px 0px 0px;
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    border: 1px solid #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/*.cstmScrollBar
{
    overflow-y: auto;
}
.cstmScrollBar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.cstmScrollBar::-moz-scrollbar-track
{
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.cstmScrollBar::-ms-scrollbar-track
{
	-ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.cstmScrollBar::-webkit-scrollbar
{
	width: 7px;
	height: 7px;
	background-color: #3f4f62;
}
.cstmScrollBar::-moz-scrollbar
{
	width: 7px;
	height: 7px;
	background-color: #3f4f62;
}
.cstmScrollBar::-ms-scrollbar
{
	width: 7px;
	height: 7px;
	background-color: #3f4f62;
}

.cstmScrollBar::-webkit-scrollbar-thumb	
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.cstmScrollBar::-moz-scrollbar-thumb	
{
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.cstmScrollBar::-ms-scrollbar-thumb	
{
	-ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}*/
/* 
.scroller
{
background-color:#3f4f62;
} */
.row.sTrack {
    margin-top: 10px !important;
}
.statusBox
{
//padding-left:5px;
//padding-right:5px;
padding:5px;
}
.droppable{
    padding: 0;
}
/* .droppable:nth-child(2n+1)
{
padding-right:10px;
} */

/*.loginButton{
	//background-color:#a29060 !important;
}

.ManualFooter{
	//background-color:#f4bd0c !important;
}

.page-header.navbar{
	//background-color:#fff !important;
}*/

.dropdown-menu li:hover:not(.dropdown-menu-excel * li)
{
background-color:#f6f6f6;
}
.hovercls:hover{
    background-color:#f6f6f6;
}
.dropdown-extended li:hover
{
background-color:#4f5f73;
}
.pieChartSelected div, .donutChartSelected  div
{
cursor:pointer;
}
.modalHt
{
border-top:1px solid #44b6ae;
}
.serviceHeading
{
font-size: 21px;
padding-left:0px;
}

.seriveActionIcons
{
text-align:right;
}
.subserviceInfo
{
text-align:left;
word-wrap: break-word;
}

.dataGroups
{
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

/* .dataGroup
{
    max-height: 150px;
    overflow: hidden;
    overflow-y: auto;
} */

.editHere .form-group
{
   // max-height: 300px;
    //overflow: hidden;
    //overflow-y: auto;
}
.editHere .form-group::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}

.editHere .form-group::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.editHere .form-group::-webkit-scrollbar-thumb
{
    background-color: #67c6bf;
    border: 1px solid #555555;
	border-radius:30px;
}

.searchContainer .form-group
{
max-height:300px;
overflow:hidden;
//overflow-y:auto;
}
/*.searchContainer .form-group::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}

.searchContainer .form-group::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.searchContainer .form-group::-webkit-scrollbar-thumb
{
    background-color: #67c6bf;
    border: 1px solid #555555;
	border-radius:30px;
}*/

#exportTable
{
	overflow:hidden;
	overflow-y:auto;
	overflow-x:auto;
}
#exportTable::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

/*#exportTable::-webkit-scrollbar
{
	width: 7px;
	height:7px;
	background-color: #F5F5F5;
}*/

#exportTable::-webkit-scrollbar-thumb
{
    background-color: #67c6bf;
    border: 1px solid #555555;
	border-radius:30px;
}
.ForAddNewScroll {
    max-height: 350px;
    overflow: hidden;
    overflow-y: auto;
}
.ForAddNewScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.ForAddNewScroll::-webkit-scrollbar
{
	width: 7px;
	height:7px;
	background-color: #F5F5F5;
}

.ForAddNewScroll::-webkit-scrollbar-thumb
{
   /*  background-color: #67c6bf; */
    background-color: rgba(54, 89, 154, 0.75);
    border: 1px solid #555555;
	border-radius:30px;
}


.paymentGroup
{
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
}


.paymentGroup::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}

.paymentGroup::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.paymentGroup::-webkit-scrollbar-thumb
{
    background-color: #67c6bf;
    border: 1px solid #555555;
	border-radius:30px;
}

.debitGroupClass,.creditorGroupClass
{
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
}

.overflowSection
{
    max-height:350px;
    overflow:hidden;
    overflow-y:auto;
}
.overflowSection::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}

.overflowSection::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.overflowSection::-webkit-scrollbar-thumb
{
    background-color: #67c6bf;
    border: 1px solid #555555;
	border-radius:30px;
}

.fileDetailOverflow
{
    max-height: 450px;
    /*overflow: hidden;*/
    overflow-y: auto;
    overflow-x: auto;
}

.rstRoleBtn
{
    display: inline-block;
    margin-left: 3px;
    padding: 2px 10px 6px 10px;
    border-radius: 10px !important;
    background-color :  rgba(54, 89, 154, 0.75) !important;
    color: #fff;
    margin-left:20px;
    border:none;
    margin-right: 50px;
    margin-left: 20px;
}
.customCharts::after,.customCharts::before
{
left:197px !important;
}

#pymtCurDisChart,#inbndChart,#MOPDist,#paymentStatusDist
{
//border:5px solid red;
}

.labVal
{
//border-bottom:1px solid #AAAEB3;
background-color:#ddd;
}
.tableCell{
display:inline-block;
width:49%;
word-break:break-word;
padding:10px;
//border:1px solid;
}

.tableCell1
{
    background-color: #f9f9f9;
    border-right: 1px solid;
    font-weight: bold;
}
.disabledBtnColor
{
pointer-events:none;
opacity:0.5;
}
.cmmonBtnColors
 {
 //background-color : #44b6ae;
 pointer-events : auto;
// opacity:0.5;
 }

.toggleOn
 {
 background-color : #44b6ae;
 }
 .toggleOff
 {
 background-color : #86D0CA !important;
 }
 .date-picker .input-group-addon
 {
 cursor:pointer;
 }

.loaderStyle
{
//margin:0;
position:absolute;
//top:50%;
//left:50%;
z-index:10;
}

/*
.unlocked_inactive,.locked_inactive
{
background-color:#eee;
color:#000 !important;
}*/
.separateicon
{
  margin-left:4px;	
}
.fa-sm
{
    font-size: 10px !important;
}













