/*** Dashboard Styles ***/
.inbndDroplist i
{
    color: #555;
}

.dashboardWidget {
  
    display: block;
    
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px !important;
}
.dashboardWidget .widgetVisual {
    /*width: 80px;
    
    height: 45px;
    display: block;*/
    float: left;
    /*padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;*/
}
.dashboardWidget .dashboardWidget > i {
    /*margin-left: -10px;
    font-size: 80px;
    line-height: 86px;*/
}
.dashboardWidget .details {
        width: 88%;
    /*position: absolute;
    right: 15px;*/
    /*padding-right: 15px;*/
}
.temp-details .count {  
    text-align: left !important;
}
.temp-details .payStatus {  
    text-align: left !important;
}
.dashboardWidget .details .count {
    
    text-align: center;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: 300;
    color: #fff;
}
.dashboardWidget .details .payStatus {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 300;
    

}
/*** Dashboard Styles End***/
/*.legendHolder
{
    height: auto;
    padding: 0px;
    min-height: 117px;
    max-height: 117px;
    display: block;
}*/
.width25{
    width: 25%;
     float: left;
}
.width50{
    width: 50%;
     float: left;
}
.width33{
    width: 33.33%;
     float: left;
}
.width16{
    width: 16.66%;
     float: left;
}
.width20{
    width: 20%;
     float: left;
}
.width100{
    width: 100%;
    float: left;
}
@media (max-width: 767px){
    .width100_xs{
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1200px){
    .width50_sm{
        width: 50%;
    }
}
@media (min-width: 1201px) and (max-width: 1420px){
   .width25_md{
       width: 33.33333%;
   }
}
@media (min-width: 1420px) and (max-width: 1710px){
 .dashboardWidget .details{
     width: 84%;
 }
 .dashboardWidget .details .count{
     font-size: 30px;
 }
 .dashboardWidget .details .payStatus{
     font-size: 14px;
 }
}