/* Vocalink Login Screen */

html {
    background-image: linear-gradient(0deg, #141413 0%,	#353531 100%) !important;
}

.logIn {
    margin: 50px
}

.logo a img {
    display: none;
}

.logo a {
    display: block;
    height: 53px;
    max-width: 190px;
    margin: 0 auto 15px auto;
    background: no-repeat url(https://www.vocalink.com/SiteAssets/MC/mc_logo.svg);
}

.portal {
    background-color: #f1efe9 !important;
}

@media (min-width: 1200px) {
    .col-lg-11 {
        width: 100%;
    }
}

.portal input:focus {
    border-color: #ffbd94;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #fde4ba;
}

.portal input {
    border-color: #ffbd94;
    padding: 20px 12px !important;
}

.portal .loginButton {
    background-color: #ff5c1a !important;
    font-weight: bold;
    padding: 12px 36px;
    position: relative;
    left: -8px !important;
}

.portal .logindata div:nth-child(5) a {
    color: #ff731e !important;
    position: relative;
    top: 5px;
    font-size: 14px;
}

.portal .input-group-addon {
    background-color:#fbc46e;
    border-color: #fbc46e;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    font-size:16px;
}

.portal .input-group-addon i {
    position: relative;
    left: 2px; top: 1px;
}

.fixedfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    padding: 8px 20px 5px 20px;
    font-size: 12px;
    background: #141413 !important;
}

.footertext1, .footertext2 {
    color: #737373;
}

.alert-danger {
    color: #ec4e00;
    background-color: #ffdfab;
    border: none !important;
    border-radius: 10px !important;
}

.alert-success {
    border: none !important;
    border-radius: 10px !important;
}

.alert .close {
    padding: 4px 10px;
    position: absolute;
    right: 0px;
    top: 3px;
    float: none !important;
    font-size: 34px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: none;
    filter: alpha(opacity=20);
    opacity: .2;
}