<style>
  button{
    margin-left: 2%;
  }
  .radio{
    margin-left: 7% !important;
  }
   .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background-color: transparent !important;
    
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: transparent !important;
}
.bg-wt{
    background-color:white !important;
}
.txAlignRt{
text-align: right;
}
.pg-range{
  border-bottom:3px solid lightgray;
  padding:10px 10px 10px 10px;
  color:black !important
}
.floatRt{
  float: right;
}
.btnsize50{
  font-size: 50%;
}
.btnsize100{
  width:10%;
font-size: 100%;
}
.padbt2{
  padding-bottom: 2%;
  padding-top: 2%;
}
.pagefontCol{
  color: black;
}
.minht40{
  min-height: 40px
}
</style>
<div class="ui-wrapper">
  <div class="breadCrumb" ng-controller="activeController">
    <div class="row">
      <div class="col-md-6 ">
       <ul class="page-breadcrumb">
        <li>
          <i class="fa fa-file"></i>
          <a href="javascript:void(0);" tabindex="1" aria-label="bps ui"  translate class="removeCursor">Sidebar.bpsui</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <span translate class="removeCursor" tabindex="1" aria-label="files">bpsui.unwindmaker</span>
        </li>
       </ul> 
      </div>
      <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
      </div>
    </div>   
  </div>
  <div class="contentContainer" id="container">
    <div class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{alert.msg}}
    </div>
    <!-- title -->
    <div class="pageTitle alertWidthonResize">
     <div class="row">
      <div class="col-md-6">
        <div class="title__container">
         <h2 translate tabindex="1" aria-label="Files">bpsui.unwindmaker</h2>  
         <p translate></p>
        </div>
      </div>
      <div class="col-md-6 txAlignRt">
        <button class="btn btnStyle btn-sm btnsize50" ng-click="reverseUnwind()" aria-label='Reverse or Unwind Button'>Reverse / Unwind</button>
        <button class="btn btnStyle btn-sm btnsize50" ng-click="intial()" aria-label='Cancel Button' >Cancel</button>
      </div>
     </div>
    </div>
    <div class="countbar-title counterPad padbt2" >
      
      <form name="form1" ng-submit="reversalAdd()">
      <div class="row minht40">
        <div class="form-group col-md-6 ">
          <div class="col-md-3 ">
            <label class="control-label bold floatRt" tabindex="1"  >Scheme</label>
          </div>
          <div class="col-md-9">
            <div class="radio radio-primary radio-inline" ng-init="value.Scheme='cheque'">
              <input  type="radio"  ng-model="value.Scheme" value="cheque" id="cheque" ng-change="schemeRadio(value.Scheme)" >
              <label for="cheque" tabindex="1" aria-label="cheque radio" >Cheque</label>
            </div>
            <div class="radio radio-primary radio-inline">
              <input  type="radio"  ng-model="value.Scheme" value="bulk" id="bulk" ng-change="schemeRadio(value.Scheme)">
              <label for="bulk" tabindex="1" aria-label="Bulk Radio" >Credit/Bulk transfer</label>
            </div>    
          </div>
        </div>
      </div>
        <div class="row">
          <div ng-repeat="dropfield in fields" class="form-group col-md-6">
            <div class="col-md-3" >
              <label class="control-label bold floatRt" tabindex="1" aria-label="{{dropfield.label}}">{{dropfield.label}}</label>  
            </div>
            <div class="col-md-9 minht40" >
            <select required='true' ng-if="dropfield.type=='select' && dropfield.field_name=='SettlementDate'" class="form-control" tabindex="1" aria-label="value for schedule {{date.displayvalue}}"  ng-model="value.SettlementDate" ng-options="date as date.displayvalue for date in date track by date.actualvalue" >
            <option value="" selected="true" >select</option></select>

            <select required='true' ng-if="dropfield.type=='select' && dropfield.field_name=='SettlementSession'" class="form-control" tabindex="1" aria-label="value for schedule {{sessions.displayvalue}}"  ng-model="value.SettlementSession" ng-options="sessions as sessions.displayvalue for sessions in sessions track by sessions.actualvalue" ng-disabled="value.Scheme=='cheque' ? true:false"> 
            <option ng-if="value.Scheme!='cheque'" value="" selected="true">select</option></select>

              <select class="form-control" ng-if="dropfield.type=='select' && value.Scheme=='cheque' && dropfield.field_name=='Participant'"  required name="Participant" id="Participant" ng-model="value.Participant"  ng-class="{true : 'error'}[submitted && form1.Participant.$invalid]" >
              <option value="" selected="true" >select</option>
              </select>
              <select class="form-control" ng-if="dropfield.type=='select' && value.Scheme=='bulk' &&  dropfield.field_name=='Participant'"  required name="Participant1" id="Participant1" ng-model="value.Participant"  ng-class="{true : 'error'}[submitted && form1.Participant.$invalid]" >
              <option value="" selected="true" >select</option>
              </select>
                                    

              <div ng-if="dropfield.type=='radio' ">
                <div  class="radio radio-primary radio-inline" ng-init="value.Currency='SOL'">
                  <input type="radio"  ng-model="value.Currency"  value="SOL" id="SOL">
                  <label for="SOL" tabindex="1" aria-label="Currency SOL radio" >SOL</label>
                </div>
                <div class="radio radio-primary radio-inline">
                  <input type="radio"  ng-model="value.Currency" value="USD" id="USD" >
                  <label for="USD" tabindex="1"  aria-label="Currency USD radio">USD</label>
                </div>
              </div>
            </div>
          </div>
        </div >
        <div class="row"> 
          <div class="col-md-12 txAlignRt" >
            <button class="btn btnStyle btn-sm btnsize100" type="submit" aria-label='Add Button' tabindex="1" >Add</button>
            <button class="btn btnStyle btn-sm btnsize100" type="button" ng-click="reversalRemove()" aria-label='Remove Button' tabindex="1" >Remove</button>
          </div>
        </div>
      </form>
    </div>
    <div ng-if="tableDisp" >
    <div class=" FixHead dataGroupsScroll tablesize">
      <table class="table table-bordered floatThead stickyheader  table-responsive"  >
        <thead class="stickythead" >
          <tr class="b-n">
            <th ng-repeat="field in tableFields" class="cursorPointer mw-100"  >{{field.Label}}<span id="{{field.FieldName}}_Icon" class=""></span></th>
          </tr>
        </thead>
        <tbody  ng-repeat="tabledata in tableData | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" class="bg-wt">
          <tr   ng-class="{'oddClas': $index%2 == 0,'active':toggle[$index]==true}" ng-click="gotoapproval(tabledata.ID)">
            <td ng-repeat="field in tableFields" ng-if="field.FieldName!=''">
            <span ng-if="field.FieldName=='SettlementDate'||field.FieldName=='SettlementSession'   ">{{tabledata[field.FieldName].displayvalue}}</span>

            <span ng-if="field.FieldName=='Currency' || field.FieldName=='Scheme' || field.FieldName=='Participant'">{{tabledata[field.FieldName]}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center clrblk">
      <div class="pagination">
        <span ng-class="prevPageDisabled()">
          <a href class="pagefontCol" tabindex="1" aria-label="previous page" ng-click="prevPage()"><</a>
        </span>
        <span ng-repeat="n in range()"  class="pg-range"  ng-class="{active: n == currentPage}" ng-click="setPage(n)" ng-hide="n<0">
          <a class="pagefontCol" href="" tabindex="1" aria-label="current page" ng-click="navigate(n+1)">{{n+1}}</a>
        </span>
        <span>
        </span>
        <span  ng-class="nextPageDisabled()">
          <a tabindex="1" aria-label="next page" href class="pagefontCol" ng-click="nextPage()">></a>
        </span>
        
      </div>
    </div>
  </div>
  </div>
</div>