<style> 
.bootstrap-datetimepicker-widget{
	display: block;
	background: #9E9E9E;
	color:#000
}
.bootstrap-datetimepicker-widget:hover{
	background: #9E9E9E;
}
.bootstrap-datetimepicker-widget .datepicker-days{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-months{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-years{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-decades{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-days,.datepicker-months,.datepicker-years:hover{
	background: #9E9E9E;
}
    
#keywordSearchbtn:focus,#keywordSearchbtn:active{
	outline:none;
}
#searchBox:focus,#searchBox:active{
	box-shadow: none;
}
.nonbtndisable{
	cursor: not-allowed !important;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
	pointer-events: none;
}
table > tbody > tr > th {
    background: #cad5eb;
    color: #1d2e50;
}
.hrClass
{
	margin-top : 0 !important;
}
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar breadCrumb" ng-controller="activeController">
    <div class="row">
    <div class="col-md-6 ">
    <ul class="page-breadcrumb">
        
        <li>
             <i class="fa fa-user"></i>
            <a href="javascript:void(0);" translate class="removeCursor">Sidebar.AdminPanel</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span translate class="removeCursor">Sidebar.RolesPermissions</span>
        </li>
    </ul>
    </div>
    <!--<div style="clear:both">    </div>-->
   <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

    </div>
    </div>
   
</div>


<div class="contentContainer">
<div class="pageTitle alertWidthonResize">
   <div class="row">
      <div class="col-sm-12">
          <div class="title__container">
         <h2 translate>RolesPermissions.PageTitle</h2> 
           <p translate>  RolesPermissions.SubTitle</p>
           </div>
      </div>
      <!-- <div class="col-sm-4">
         <div class="text-right">
            <a class="btn btn-md btnStyle clr pull-right" style="margin-left: 5px" tooltip="{{(permission.C)?'':'You don&lsquo;t have permission'}}" ng-click="(permission.C)?AddNewRole():''" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp; <span>Add Role</span></a>
         </div>
      </div> -->
   </div>

</div>



<div class ="animated bounce autoAdjustAlert bold" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-repeat="alert in alerts" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
   <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
   {{alert.msg}}
</div>

<!-- Delete popup Window Start-->
	<div class="modal fade" tabindex="-1" id="delPopup" role="dialog">
			<div class="modal-dialog modal-md" style="top: 200px;">
				<div class="modal-content modalbdy animated tada">
					<div class="modal-header" style="padding: 0px !important; border: 0px !important">
						<div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
					</div>
					<div class="modal-body" style="padding: 0px !important; border: 0px !important">
						<h1>Are you sure?</h1>
						<h4>You will not be able to recover this Data!</h4>
					</div>
					<div class="modal-footer modalftr">
						<button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
						<button tabindex="0" type="button" class="buton yess" ng-click="takeDeldata(deleteDisRole)">Yes, delete it!</button>
					</div>
				</div>
			</div>
		</div>
<!-- Delete popup Window End-->

<!-- Drafts Popup Starts -->
 <div class="modal fade" id="DraftListModal" role="dialog" tabindex="-1">
				  <div class="modal-dialog">

					 <div class="modal-content">
					  <!-- <h4>Saved Drafts - </h4> -->
						<div class="modal-body draft__modal-saved table-responsive" style="border:5px solid rgb(150, 156, 195) !important">
						<h4 class="col-md-11">Saved Drafts - Roles & Permissions</h4>


			<div class="clearfix"></div>

						<hr class="hrClass"/>

						<div class="draftViewCls FixHeadDraft">
						<table class="table table-bordered drafttable" ng-show="draftdatas.length">
                            <thead>
					
							<tr style=" font-size: 14px;">
								<th>Business Primary Key</th>
                                <th>Last Updated</th>
								<th class="text-center">Action</th>	
							</tr>

                            </thead>
                           	<tbody>
							<tr ng-repeat="value in draftdatas" ng-class="{oddClas:($index%2)== 1}" >
								<td style="font-weight: bolder;word-wrap: break-word;">
								{{value.BPK}}
								</td>
                                <td style="font-weight: bolder;word-wrap: break-word;">
								{{value.LastUpdated | dateFormat}}
								</td>
								<td class="text-center" style="font-size: 16px;min-width:120px;">
									<!--<i class="fa fa-eye Iclr" style="cursor:pointer;" ng-click="gotoEditDraft('View',$index,value)"></i>&nbsp;&nbsp;|&nbsp;-->
									<!--listviewLog();userDataFn(userData,$index,true);gotoView(userData,true)-->
									<i class="fa fa-pencil-square-o Iclr" style="cursor:pointer;" ng-click="gotoEditDraft('Edit',$index,value)" tooltip="Edit"></i>&nbsp;&nbsp;|&nbsp;
									
									<i class="fa fa-trash-o Iclr" style="cursor:pointer;" data-toggle="modal" data-target="#delPopupDraft" ng-click="takeDelDraftdata(value,$index)" tooltip="Delete"></i>
								</td>
							</tr>
							
							
						</tbody>
							
						</table>
						</div>
                        
						   <div class="alert-warning" ng-show="draftdatas.length <= 0" style="padding: 15px 15px 15px 15px;">
									<strong><h4  style="margin:0;text-align:center;"> No Records Found</h4></strong>
								</div>
								
						<button type="button" class="btn btnStyle pull-right CanclPopup" data-dismiss="modal" ng-click="cancelChanges()">Close</button>
						</div>
					 </div>
					 	
				  </div>
			   </div>

<!--Draft Popup Ends-->

<!-- Draft popup Window Start-->
<div class="modal fade" tabindex="-1" id="delPopupDraft" role="dialog" style="z-index: 1150;">
	<div class="modal-dialog modal-md" style="top: 200px;">
		<div class="modal-content modalbdy animated tada">
			<div class="modal-header" style="padding: 0px !important; border: 0px !important">
				<div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
			</div>
			<div class="modal-body" style="padding: 0px !important; border: 0px !important">
				<h1>Are you sure?</h1>
				<h4>You will not be able to recover this Draft!</h4>
			</div>
			<div class="modal-footer modalftr">
				<button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
				<button tabindex="0" type="button" class="buton yess" ng-click="gotodeleteDraft()">Yes, delete it!</button>
			</div>
		</div>
	</div>
</div>
<!-- Draft popup Window End-->



<!-- Count Bar Starts -->
<div class="countbar-title">
        <div class="col-md-3 col-sm-3 col-xs-12  ng-binding" style="padding: 0;">
            <div class="caption">
                    <!-- <span class="highlight">{{(userRoles.length-1 && totalForCountBar) ? userRoles.length-1 + ' out of '+ totalForCountBar : ''}}</span>{{(userRoles.length-1 && totalForCountBar) ? ' records shown' : 'Fetching Data...'}} -->

                    <span ng-if="userRoles.length>1"><span class="highlight">{{(totalForCountBar && userRoles.length-1)? userRoles.length-1 + ' out of '+totalForCountBar : (userRoles.length-1)?userRoles.length-1:'' }} </span> <span >records shown</span></span>


                    <span ng-if="userRoles.length == 1"> <span  class="highlight">0 </span>  <span >records shown</span></span> 
               </div>
        </div>
    
    
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="btn-group" style="float:right;">
        

            <button ng-show="!changeViewFlag" style="border: 1px solid #fff;box-sizing: border-box;border-right:0px;" ng-click="(permission.C)? getCurrentDrafts() : '' " class="btn-trans" tooltip="{{(permission.C)?'Show Drafts' : 'You don&lsquo;t have permission'}}" data-toggle="modal" data-target="{{(permission.C)? '#DraftListModal' : ''}}" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"><i class="fa fa-sticky-note"></i></button>

            
            <button style="border: 1px solid #fff;box-sizing: border-box;border-right:0px;" class="btn-trans" id="btn_1" ng-class="changeViewFlag?'disabledBtnColor':'cmmonBtnColors'"
            ng-click="changeViewFlag = !changeViewFlag" tooltip="List View"><i class="fa fa-list fa-fs14"></i></button>

         <button style="border: 1px solid #fff;box-sizing: border-box;border-left:0px" class="btn-trans" id="btn_2"  ng-class="!changeViewFlag?'disabledBtnColor':'cmmonBtnColors'"
            ng-click="changeViewFlag = !changeViewFlag" tooltip="Grid View"><i class="fa fa-table fa-fs14"></i></button> 
            
            
            <button style="border: 1px solid #fff;box-sizing: border-box;margin-left:5px;float:left;" ng-if="!changeViewFlag" class="btn-trans viewbtn" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.3','cursor': 'not-allowed'}" tooltip="{{(permission.C)?'Add New':'You don&lsquo;t have permission'}}" ng-click="(permission.C)?AddNewRole():''"><i class="fa fa-plus-square fa-fs14"></i></button>
            <button style="border: 1px solid #fff;box-sizing: border-box;margin-left:5px;float:left;" ng-click="loadData()" class="btn-trans" tooltip="{{'Refresh'}}"><i class="fa fa-refresh fa-fs14"></i></button>

            <div id = "sortBy" class="dropdown customDropdown" style="float: left;" ng-show="changeViewFlag">
                        <button style="border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="{{'Sort'}}" ng-click="setHeight($event)">
                            <i class="fa fa-sort-amount-desc fa-fs14"></i>
                        </button>
                        
                        <ul class="dropdown-menu dropdown-menu-default pull-right" style="min-width: 300px;padding:10px 0px;">
                            <form ng-submit="searchFilter(filterParams)">
                            <li id="sortBy" class="dropdown-header">SORT BY <i> (Click to Sort) </i> <i style="float: right; cursor: pointer; color: #9e9e9e; font-weight: bolder;" ng-click="clearSort('#sort')"><u>Reset All</u></i></li>
                            <div id="sort" class="dataGroups" style="padding: 0px 15px;margin:0;width:100%;float: left;max-height: 300px;overflow: auto;">
                                <div ng-repeat="x in sortMenu" style="color:#fff;display: table;width: 100%;margin-bottom: 2px;">
                                    <div id="sort_{{$index}}" style="margin-bottom: 2px;display: table-row;width: 100%;">
                                    <span style="display: table-cell;background: #9e9e9e;padding: 5px 8px;border-right: 1px solid #fff;width: 90%;">{{x.label}}</span>
                                    <a tooltip-placement="top" style="display: table-cell;background: #9e9e9e;padding: 6px;text-align: center;vertical-align: middle;width: 10%;" ng-click="gotoSorting(x)"><i id="{{x.FieldName}}_icon" class='fa fa-minus fa-sm' style="color:#2b3643 !important"></i></a>
                                    </div>	
                                </div>
                            </div>
                            </form>
                        </ul>				
                    </div>
            
                    <div id="Filter" class="dropdown customDropdown" style="float: left;">
                    <button style="border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="{{'Filter'}}">
                        <i class="fa fa-filter"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-default pull-right xyz" style="min-width: 600px;padding:10px 0px;">
                        <form ng-submit="searchFilter(filterParams)" ng-init="parsed = filterParams.SearchSelect">
                            <li id="Filter" class="dropdown-header" style="padding: 8px 14px 2px 14px;margin: 0;">APPLY FILTER:</li>
                             <div id="Filter" class="row input-group parent" style="padding: 8px 0px 2px 14px;margin: 0;display: inline-block;width: 50%;float: left;">
                                <select id="SearchSelect" name="SearchSelect" class="form-control appendSelect2" ng-model="filterParams.SearchSelect" style="cursor:pointer" ng-change="parsed = (filterParams.SearchSelect | jsonparse); filterParams.keywordSearch = ''">
                                    <option value="">Select</option>
                                    <option ng-repeat="x in fields" value="{{x}}" ng-if="x.type != 'DateOnly' && x.name != 'Status'">{{x.label}}</option>
                                </select>
                            </div> 
                            <div id="Filter" class="row input-group" style="padding: 8px 14px 2px 0px;margin: 0;display: inline-block;width: 50%;" >
                                <div ng-if="parsed.type == 'string' || !parsed" >
                             <span class="cstmDrop" style="display:inline-block;color:#000;cursor: pointer;position: relative;box-sizing: border-box; width: 90%;" ng-init="parsedSearchSelect = (filterParams.SearchSelect ? (filterParams.SearchSelect | jsonparse) : false)">
                                    <input name="keywordSearch" style="color: #000;" type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="filterParams.keywordSearch" placeholder="{{parsed ? 'Search '+ (parsed.label): 'Keyword Search'}}" ng-required="showCustom || filterParams.keywordSearch || filterParams.Status.length ? false : true">
                                </span>
                                <span class="input-group-addon" style="cursor:pointer;float: left;width: 10%;height: 100%;padding: 9px;" ng-click="searchFilter(filterParams)" ng-class="filterParams.keywordSearch ? '' : 'nonbtndisable'"><i class="fa fa-search"></i></span>
                                </div>
                                <select ng-if="parsed.type == 'select'" name="keywordSearch" class="form-control" ng-model="filterParams.keywordSearch">
                                    <option value="">Select</option>
                                    <option ng-repeat="k in parsed.value" value="{{k.actualvalue}}">{{k.displayvalue}}</option>
                                </select>
                            </div>
                            {{status}}
                            <div ng-repeat="y in fields" ng-if="status = (y.name === 'Status') ? y.value : ''">
                                <li id="Filter" class="dropdown-header">FILTER BY {{y.label | uppercase }}</li>
                                <div id="Filter" style="padding: 8px 10px 2px 10px;">
                                    
                                    <button type="button" class="filterBystatus" ng-repeat="x in Status" ng-click="setStatusvalue(x.displayvalue,filterParams)" id="{{x.displayvalue}}" ng-init="getCountbyStatus(x)" ng-class ="x.TotalCount ? '' : 'nonbtndisable'">

                                         <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                                        <div style="clear:both;" ng-if="$index % 2 == 0"></div>
                                        <div style="padding: 0px 5px;float: left;">
                                            <span class="fa-wrapper">
                                                <i class="fa fa-circle" ng-style="{'color':(x.displayvalue | chooseStatus)}"></i></span>
                                            <span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue  +' ('+x.TotalCount+') '}}</span>
                                            
                                        </div>
                                        <div style="clear:both;"></div>
                                    </button>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                            <li id="Filter" class="dropdown-header">FILTER BY EFFECTIVE DATE</li>
                            <div id="Filter" style="padding: 8px 10px 2px 10px;">
                                <button type="button" class="filterBydate" ng-repeat="x in filterBydate" ng-click="setEffectivedate(x,filterParams)" id="{{x.displayvalue|removeSpace}}">
                                    <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                                    <div style="clear:both;" ng-if="$index % 2 == 0"></div>
                                    <div style="padding: 0px 5px;float: left;">
                                        <span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue}}</span>
                                        <i class="fa fa-calendar"></i>
                                    </div>

                                    
                                </button>
                                <div style="clear:both;"></div>
                                <div id="customPicker" class="row fade-in-up" ng-show="showCustom" style="padding: 10px 0px 0px 0px;">
                                    <div class="input-group date" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months" style="width: 100%">
                                        <div class="input-group col-md-12" style="padding: 0px 0px 0px 20px; width: 46%; float: left;">
                                            <input type="text" class="form-control DatePicker" ng-model="filterParams.startDate" id="startDate" name="startDate" style="width:100%" placeholder="From" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
                                            <span class="input-group-addon" ng-click="focusInfn('startDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <span class="input-group-addon" style="border:none; background-color:transparent; width: 6%; float: left; padding: 10px;">To</span>
                                        <div class="input-group col-md-12" style="width: 46%">
                                            <input type="text" class="form-control DatePicker" ng-model="filterParams.endDate" id="endDate" style="width:100%" placeholder="To" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
                                            <span class="input-group-addon" ng-click="focusInfn('endDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="row input-group pull-right" style="padding: 8px 14px 2px 14px;margin: 0;">
                                <button type="Button" class="btn-trans btnStyle" tooltip="Cancel" style="margin-right: 10px;" ng-click="clearFilter()"><i class="fa fa-times"></i></button>
                                <button type="Submit" class="btn-trans btnStyle" tooltip="Search" style="cursor: pointer;" ng-class="(filterParams.EffectiveDate.displayvalue == 'Custom' ? filterParams.startDate && filterParams.endDate && showCustom : showCustom)|| filterParams.keywordSearch || filterParams.Status.length ? 'cmmonBtnColors' : 'disabledBtnColor'">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </ul>
                    </div>
            
                    <div class="dwnBtn" style="float:left;margin-left:5px;">
                        <!-- <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" ng-click="setHeight($event)" aria-expanded="true"tooltip="{{'Export'}}"> <i class="fa fa-download" aria-hidden="true"></i></button>				 -->

                        <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="{{(userRoles.length > 1)?'dropdown':''}}" tooltip="{{(userRoles.length > 1)?'Export':'No records to export'}}" ng-style="{'opacity':(userRoles.length > 1)?'1':'0.5'}"> <i class="fa fa-download" aria-hidden="true"></i></button> 


                        <ul class="download-window dropdown-menu dropdown-menu-excel pull-right" style="z-index: 10000;">
                            <li>							
                                <span><input type="radio" name="excelVal" value="Current" checked class="radiobtns"> Current Screen </span>
                                  
                                  <span><input type="radio" name="excelVal" value="All" class="radiobtns"> All Matching Filter</span>
                            </li>
                            
                            <li tooltip="{{'Excel'}}" class="excelprint" style="margin-left:40px;" ng-click="exportAsExcel($event)"><i class="fa fa-file-excel-o fa-fs14" aria-hidden="true"></i>
                            </li>
                            <li data-toggle="tooltip" data-placement="top" title="{{'Print'}}" class="excelprint" ng-click="printFn()"><i class="fa fa-print fa-fs14" aria-hidden="true"></i>
                            </li>
                            
                            
                        </ul>
                    </div>
           
            <!-- <button style="border: 1px solid #fff;box-sizing: border-box;border-right:0px;margin-left:5px" class="btn-trans" id="btn_1" ng-class="!changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="List View"><i class="fa fa-list fa-fs14"></i></button>
            <button style="border: 1px solid #fff;box-sizing: border-box;border-left:0px" class="btn-trans " id="btn_2" ng-class="changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="Grid View"><i class="fa fa-table fa-fs14"></i></button>  -->

           
    
    
          </div>
        </div>
        <div class="clearfix"></div>
      </div>


<!--Count Bar Ends -->

<div class="alert alert-warning" ng-if="userRoles.length <= 1">
        <strong><h4  style="margin:0;text-align:center;"> <i class="fa fa-warning"></i> No Records Found</h4></strong>
 </div>

  <div class="row">
	<div class="col-md-12">
    
        <div class="listView FixHead dataGroupsScroll" style="overflow-x: auto !important;" ng-show="userRoles.length && !changeViewFlag">
            <table class="table table-bordered smallTable floatThead stickyheader maintable" ng-show="userRoles.length>1">
                <thead>
                <tr>
                    <th class="cursorPointer" ng-repeat="val in sortMenu" ng-if="val.visible" ng-click="gotoSorting(val,$index,$event)">
                        {{val.label}}
                        <span id="{{val.FieldName}}_Icon" class=""></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr id = {{'displayingWindow_'+$index}} class="displayWindow collapse in" ng-repeat="data in userRoles" ng-class="{oddClas:($index%2)== 1}" ng-click="getAccordion(resourceGroup[0].ResourceGroupName,data.RoleID,$index,data.RoleType,data.Status,data.EffectiveFromDate,data.EffectiveTillDate)" style="cursor:pointer;" ng-if="(!$first)">
                    
                    <td ng-repeat="val in sortMenu" ng-if="val.visible">
                        <span ng-if="val.FieldName == 'Status'" ng-style="{'color':(data.Status | chooseStatus)}"><i style="font-size: 20px;line-height:20px" class="fa fa-circle" tooltip="{{data.Status}}" tooltip-placement="bottom"></i></span>
                        <span ng-if="val.FieldName != 'Status'">{{data[val.FieldName]}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
            </div> 

	<div class="listView" ng-show="changeViewFlag">
	
        <div class="panel-group" id="accordion">
            <div class="col-md-12" style="margin-top:10px;margin-bottom: 15px;padding: 0;">
                <div ng-repeat="data in userRoles" ng-init="colIndexx = $index">
                    <div class="clearfix" style="background-color: transparent;" ng-if="$index % 4 == 0"> </div>
                    <div style="clear:both" ng-if="$index%4 == 0"></div>

                    <div ng-if="$first" class="panel paneltrans col-md-3 addToolTip">
                            <!--<div style="background: rgb(158, 158, 158); text-align: center; min-height: 140px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center;height: 210px;" ng-style="{'height':callStyle()}" ng-click="(permission.C)?AddNewRole():''">
                                <div style="display: inline-block;font-size: 20px;color: #fff;">
                                    <i class="fa fa-plus-square" style="font-size: 70px; line-height: 70px;"></i><br>
                                    <span class="ng-binding">Add Role</span>
                                </div>
                            </div>-->
                        

                      	<div style="background: #9e9e9e;min-height: 200px;color:#fff;" ng-style="{'height':callStyle()}" >
                        <div class="row">
						
						
						<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="add-holder" title="{{(permission.C)?'':'You don&lsquo;t have permission'}}" data-toggle="tooltip" data-placement="bottom">
						<i class="fa fa-plus-square" style="font-size: 70px; line-height: 70px;" ng-click="(permission.C)?AddNewRole():''" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"></i><br/>
						<p style="font-size:15px;" class="bold">Add Role</p>
						</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="show__drafts-holder" title="{{(permission.C)?'':'You don&lsquo;t have permission'}}" data-toggle="tooltip" data-placement="bottom">
						<i class="fa fa-sticky-note" style="font-size: 70px; line-height: 70px;" data-toggle="modal" data-target="{{(permission.C)? '#DraftListModal' : ''}}" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.C)?getCurrentDrafts() : '' "></i>
						<p style="font-size:15px;" class="bold">Show Drafts</p>
						</div>
						</div>
						<div class="clearfix"></div>
                        </div>
					</div>

                </div>    


                        
                <div ng-if="(!$first)" class="panel paneltrans col-md-3">
                    <div class="panel-heading listViewPanelHeading" id="listViewPanelHeading_{{$index}}" style="padding-bottom:0px;padding-right:15px;">
                        <div class="row dataGroups" id="dataGroup_{{$index}}" ng-click="getAccordion(resourceGroup[0].ResourceGroupName,data.RoleID,$index,data.RoleType,data.Status,data.EffectiveFromDate,data.EffectiveTillDate)" style="cursor:pointer;min-height:160px;max-height:160px;">
                                    <div class="col-md-12" style="padding:5px 15px;position: relative;">
                                        <div class="panel-wrapper-inside">
                                            <div class="ruleHead pull-left" style="font-size: 19px;" ng-style="{'color':(data.Status | chooseStatus)}">
                                               <span  tooltip="Role ID" tooltip-placement="bottom"> {{data.RoleID+' -'}}</span>
											   <span tooltip="Role Type" tooltip-placement="bottom">{{data.RoleType}}</span>
                                            </div>
                                            
                                <div class="pull-right" data-toggle="tooltip" data-placement="bottom" data-original-title="{{data['Status']}}" ng-style="{'color':(data.Status | chooseStatus)}">
                                    <i style="font-size: 20px;line-height:27px" class="fa fa-circle" ng-if="data['Status']"></i>
                                </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                            <div class="col-md-12" ng-repeat="val in sortMenu" ng-if="(val.visible && val.FieldName !='Status' && val.FieldName !='RoleID' && val.FieldName !='RoleType' )"
                                        style="padding:5px 15px">
                                        <div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;" ng-if="data[val.FieldName]">
                                            {{val.label}} :
                                        </div>
                                        <div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;" ng-if="data[val.FieldName]">
                                            <span>{{data[val.FieldName]}}</span>
                                            
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                            </div>

                        <div class="row">
                            <div class="actionRow col-md-12">

                                

                                 <a ng-init="showEditWin = true" class="actionIcons" ng-style="(permission.C && data.RoleID != 'Super Admin' && data.Status != 'DELETED')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.C && data.RoleID != 'Super Admin' && data.Status != 'DELETED')?gotoEdit(resourceGroup[0].ResourceGroupName,data.RoleID,'Clone' ):''" tooltip="{{(permission.C && data.RoleID != 'Super Admin' && data.Status != 'DELETED')?'Clone':'You don&lsquo;t have permission'}}" style="cursor: pointer;"><i class="fa fa-clone Iclr1"></i></a>
                                 
                                 <a ng-init="showEditWin = true" class="actionIcons" ng-style="(permission.U && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' && data.RoleID != 'Super Admin' && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.U && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' && data.RoleID != 'Super Admin' && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL')?gotoEdit(resourceGroup[0].ResourceGroupName,data.RoleID,'Edit' ):''" tooltip="{{(permission.U && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' && data.RoleID != 'Super Admin' && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL')?'Edit':'You don&lsquo;t have permission'}}"><i class="fa fa-pencil-square-o Iclr1"></i></a>

                                 <a class="actionIcons" data-toggle="modal" data-target="{{(permission.D && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' && data.RoleID != 'Super Admin' && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL')?'#delPopup':''}}" ng-click="(permission.D && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' && data.RoleID != 'Super Admin' && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL')?gotoDeleteFn(resourceGroup[0].ResourceGroupName,data.RoleID):''"  ng-style="(permission.D && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' && data.RoleID != 'Super Admin' && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" tooltip="{{(permission.D && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' && data.RoleID != 'Super Admin' && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL')?'Delete':'You don&lsquo;t have permission'}}"><i class="fa fa-trash-o Iclr1"></i></a>

                            </div>

                           
                            <!-- <a class="actionIcons" data-toggle="modal" data-target="{{(permission.D)?'#delPopup':''}}" ng-style="(permission.D)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.D)?takeDeldata(data,$index):''" tooltip="{{(permission.D)?'Delete':'You don&lsquo;t have permission'}}"><i class="fa fa-trash-o Iclr1"></i></a> ng-click="(permission.U)? getAccordion1(resourceGroup[0].ResourceGroupName,RoleID) :''"-->
                        <div class="clearfix"></div>
                        </div>


                    </div>
                    </div>
                </div>
            </div>    
        </div>
<!-- <div class="panel-group" id="accordion">

   <div class="modal fade" id="roleEdit" role="dialog" tabindex="-1">
        <div class="modal-dialog">


           <div class="modal-content" style="border:2px solid #44b6ae">
              <div class="modal-body">
                 <h4>Current changes will be lost. Do you wish to continue?</h4>
              </div>
              <div class="modal-footer">
                 <button type="button" class="btn btnStyle" ng-click="looseChanges()">Yes</button>
                 <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="cancelChanges()">No</button>
              </div>
           </div>

        </div>
     </div>

   <div class="modal fade" id="roleEdit1" role="dialog" tabindex="-1">
      <div class="modal-dialog">


         <div class="modal-content" style="border:2px solid #44b6ae">
            <div class="modal-body">
               <h4>Current changes will be lost. Do you wish to continue?</h4>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btnStyle" ng-click="looseChanges1()">Yes</button>
               <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="cancelChanges()">No</button>
            </div>
         </div>

      </div>
   </div>

   <div class="modal fade" id="resetRoleBox" role="dialog" tabindex="-1">
      <div class="modal-dialog">


         <div class="modal-content" style="border:2px solid #44b6ae">
            <div class="modal-body">
               <h4>Are you sure you want to reset?</h4>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btnStyle" ng-click="setDefault()">Yes</button>
               <button type="button" class="btn btnStyle" data-dismiss="modal">No</button>
            </div>
         </div>

      </div>
   </div>


   
   
   <div class="panel rolesPanel" ng-if="!showAlert" ng-repeat="uRoles in userRoles">
      <div class="panel-heading">
         <div class="panel-title">

            <a style="display:inline-block;margin-top:7px;" class="accordion-toggle" data-parent="#accordion"  ng-click="getAccordion(resourceGroup[0].ResourceGroupName,uRoles.RoleID,$index,uRoles.RoleType)" data-target="#collapse{{$index}}">
            {{uRoles.RoleName}} <small ng-if="uRoles.RoleName=='Operator'">| Has access to view, add, edit almost everything except approve...</small>
            <i class="indicator glyphicon  glyphicon-triangle-right pull-left" style="color:#1D69BB;padding-top:3px;"></i> </a>

            <a style="float:right" ng-init="showRoles=false" ng-style="(permission.U && uRoles.Status != 'ACTIVE-WAITFORAPPROVAL')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"  ng-click="(permission.U && uRoles.Status != 'ACTIVE-WAITFORAPPROVAL')?getAccordion1(resourceGroup[0].ResourceGroupName,uRoles.RoleID,$index,uRoles.RoleType):''"  class="accordion-toggle actionIcons" tooltip="{{(permission.U && uRoles.Status != 'ACTIVE-WAITFORAPPROVAL')?'Edit':'You don&lsquo;t have permission'}}" data-parent="#accordion"><i class="fa fa-pencil-square-o Iclr1" data-target="#+{{(permission.U && uRoles.Status != 'ACTIVE-WAITFORAPPROVAL')?collapse($index):''}}"></i></a>
            
            <div style="clear:both"></div>

         </div>
      </div>





      <div id="collapse{{$index}}" class="panel-collapse collapse">
         <div class="panel-body">
            <div class="portlet-body">
               <div ng-if="showRoles1">

                  <form class="form-horizontal" role="form" ng-submit="updateExistingRoles(role)">
                     <div class="form-group col-md-6" style="margin-top:10px;margin-bottom:34px;">
                        <label class="control-label bold col-md-3">Role ID <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                        <div class="col-md-9">
                           <input type="text" class="form-control" name="RoleID" ng-model="role.RoleID" ng-blur="multipleEmptySpace($event)" required ng-disabled="true">
                        </div>
                     </div>
                     <div class="form-group col-md-6" style="margin-top:10px;margin-bottom:34px;">
                        <label class="control-label bold col-md-3">Role Name <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                        <div class="col-md-9">
                           <input type="text" class="form-control"  placeholder="Enter Role Name" name="RoleName" ng-model="role.RoleName" ng-blur="multipleEmptySpace($event)" required>
                        </div>
                     </div>

                    
                      <div class="form-group col-md-6" style="margin-top:10px;margin-bottom:34px;">
                        <label class="control-label bold col-md-3">Role Type <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                        <div class="col-md-9">
                           <select class="form-control" name="Status" ng-model="role.RoleType" required ng-disabled="true">
                              <option value="">--Select--</option>
                              <option value="Approver">Approver</option>
                              <option value="Operator">Operator</option>
                           </select>
                        </div>
                     </div>

                     <div class="form-group col-md-6" style="margin-top:10px;margin-bottom:34px;">
                        <label class="control-label bold col-md-3">Status <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                        <div class="col-md-9">
                           <select class="form-control" name="Status" ng-model="role.Status" required>
                              <option value="">--Select--</option>
                              <option value="ACTIVE">ACTIVE</option>
                              <option value="INACTIVE">INACTIVE</option>
                              <option value="SUSPENDED">SUSPENDED</option>
                           </select>
                        </div>
                     </div>

                     

                     <div style="clear:both"></div>


                     <div class="form-group" style="margin-top:25px;margin-right:12px;">
                        <div class="row">
                           <div class="col-md-6"></div>

                           <div class="col-md-6" style="width:46%;float:right;">
                              <div class="col-md-offset-8">
                                 <button type="submit" class="btn btnStyle">Update Role</button>
                                 <button type="button" class="btn btnStyle" ng-click="GoBackFromRole($index)" style="margin-left:10px;">Cancel</button></div>
                           </div>
                        </div>
                     </div>
                  </form>

               </div>

               <div ng-if="showRoles2" class="tabbable-custom">


                  <ul class="nav nav-tabs listGroup" style="border-bottom:3px solid black;">
                     <li class="listGroupList" id="listGroupListID_{{uRoles.RoleID | nospace }}_{{$parent.$index}}" ng-repeat="rGroup in resourceGroup" ng-click="getGroupPermission(rGroup.ResourceGroupName,uRoles.RoleID,$parent.$index,$index)" ng-if="rGroup.ResourceGroupName != 'Reference Data' && rGroup.ResourceGroupName!='Security' && rGroup.ResourceGroupName != 'Utility' && rGroup.ResourceGroupName != 'Home'" ng-class="{'active': ($index == 1)}">
                      
                        <a data-target="#tab_{{uRoles.RoleID | nospace }}_{{$parent.$index}}" data-toggle="tab" aria-expanded="false" class="liAnchor" ng-click="enableStatus(rGroup.ResourceGroupName)">
                        {{rGroup.ResourceGroupName}}</a>
                     </li>
                  </ul>
                  <div class="tab-content" style="padding-bottom:58px;">

                  <div class="tab-pane" id="tab_{{$index}}">
<form>
				  <div class="row" style="margin: 3px 0px 12px;">
                           <div class="col-md-5" style="padding:0">Set permission for all bank related settings based on the assigned role.</div>
                           <div class="col-md-7 pull-right" style="display:inline-block;">




                              <div style="display:inline-block;margin-left:15px;float: right;"><span class="ashClass legend" style="width:13px;height:13px;display:inline-block;margin-top:3px;"></span> <span class="bold" style="margin-left:3px;">- Not Set</span></div>
                              <div style="display:inline-block;margin-left:15px;float: right;"><span class="redClass legend" style="width:13px;height:13px;display:inline-block;margin-top:3px;"></span> <span class="bold" style="margin-left:3px;">- No</span></div>
                              <div style="display:inline-block;margin-left:15px;float: right;"><span class="greenClass legend" style="width:13px;height:13px;display:inline-block;margin-top:3px;"></span> <span class="bold" style="margin-left:3px;">- Yes</span></div>
                              <div class="rstRoleBtn cursorPointer" data-toggle="modal" data-target="#resetRoleBox" ng-click="getGroupName($event)" style="float:right;margin-top:3px;" tooltip="Reset All">
                                 <span style="float:left;margin-top:2px;">Reset All</span>
                              </div>
							  <div class="yesAll cursorPointer" ng-show="changevalue" ng-click="changeValue('no',resourcePermission)"  style="float:right;margin-top:3px; margin-right: 3px;" tooltip="No All">
                                 <span style="float:left;margin-top:2px;">No All</span>
					  </div>
							  
							<div class="yesAll cursorPointer" ng-show="changevalue" ng-click="changeValue('yes',resourcePermission)"  style="float:right;margin-top:3px; margin-right: 3px;" tooltip="Yes All">
                                 <span style="float:left;margin-top:2px;">Yes All</span>
					  </div> 


                              <div style="display:inline-block;margin-left:3px;float:right;" class="roundedbox" id="editall">
                                 <span style="float:left;margin-top:9px;" class="bold">Edit All</span>
                                 <div class="checkbox" style="margin:0;display:inline-block;margin-left:14px;" tooltip="{{(permission.U)?'Edit All':'You don&lsquo;t have permission'}}">
                                    <span class="checkedcolor green switch green ng-valid ng-pristine ng-untouched checkClass"  ng-style="(permission.U)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"  style="width:40px !important; height:20px !important; border-radius:20px !important;margin-top:8px;" ng-click="(permission.U)?checkBox($event,active):''" ng-class="{checked:active,'':!active}"> 
                                    <small style="width:18px !important;height:19px !important;"></small>
                                    <input type="checkbox" style="opacity:0;display:none;" class="check ng-pristine ng-untouched ng-valid"/>
                                    <span class="switch-text"> </span>
                                    </span>
                                 </div>
                                 <div style="clear:both"></div>

                              </div>
							 
							 
							
                           </div>
                        </div>
                        <div class="table-responsive">
					        <table class="table table-bordered" id="rolesTable" ng-if="CurrentTab!='Payment Module'">
                              <thead>
                                 <tr>
                                    <th>
                                    </th>
                                    <th class="text-center fixedWidth" ng-repeat="actionheader in resourcePermission[0].PermissionList">
                                       {{actionheader.Operation|ucwords}}
                                    </th>
                                   
                                    <th class="text-center fixedWidth" ng-show="uRoles.RoleType!='Approver'">
                                      Attributes
                                    </th>
                                 </tr>
                              </thead> 
                              <tbody>	
					  
                                 <tr ng-repeat-start="resource in resourcePermission">

                                    <td style="text-align:left" nowrap> {{resource.ResourceName}}
									
									</td>
                                    <td ng-repeat="resourceDetail in resource.PermissionList">

                                      <span ng-if="(resourceDetail.Permission == '#ccc')||(!checkBoxChecked)" style="display:inline-block;">
                                         <i class="fa fa-circle" aria-hidden="true" ng-style="((resourceDetail.Permission == 'yes') && {'color':'green'}) || ((resourceDetail.Permission == 'no') && {'color':'red'}) || ((resourceDetail.Permission == 'not set') && {'color':'rgb(119, 116, 116)'})"></i>
									  </span>
									 
									 <select id="" style="font-family: 'FontAwesome', Helvetica;" class="btn-group form-control" ng-model="resourceDetail.Permission" ng-if="!(resourceDetail.Permission == '#ccc')&& checkBoxChecked" ng-style="((resourceDetail.Permission == 'yes') && {'color':'green'}) || ((resourceDetail.Permission == 'no') && {'color':'red'}) || ((resourceDetail.Permission == 'not set') && {'color':'rgb(119, 116, 116)'})">
											<option value="yes" style="color:green">&#xf111; Yes</option>
											<option value="no" style="color:red">&#xf111; No</option>
											<option value="not set" style="color:rgb(119, 116, 116)">&#xf111; Not Set</option>
									 </select>

                                    </td>									
																	
									<td nowrap ng-show="uRoles.RoleType!='Approver'">
									<i style="font-weight:700" class="fa fa-plus-circle cursorPointer" ng-class="{'fa fa-compress': detailExpanded, 'fa fa-expand': !detailExpanded}" ng-click="getResourceAttributes(resource.ResourceName,uRoles.RoleID);detailExpanded = !detailExpanded"><span style="font-family:'Open Sans',sans-serif;font-weight:200"> Attribute</span></i> 
									</td>
                                 </tr>
								 <tr ng-show="detailExpanded" ng-repeat-end="">
								<td colspan="{{resourcePermission[0].PermissionList.length+2}}" style="border:1px solid #ddd !important; text-align:left;padding:15px 5px !important;">

    <span style="padding:5px;font-weight:700">{{resource.ResourceName}} Attribute</span>
	<button class="pull-right" style="margin-bottom:5px;" name="attributeEdit" ng-click="editAllAttribute(action123,buttonStatus)">Edit All Attributes</button>
    <div class="row">        
        <div class="col-md-12">	
		
			<div class="alert1 alert-info1" style="padding-top:0px !important">
                <table width="100%" id="attributeTable" cellpadding="5" cellspacing="5">
					<tr>
						<th align="center" bgcolor="#eee" width="100px;">Actions</th>
						<th align="center" bgcolor="#eee">Attribute</th>
						<th align="center" bgcolor="#eee">Operator</th>
						<th align="center" bgcolor="#eee">Value</th>
						<th align="center" bgcolor="#eee">Permissions</th>
					</tr>
					
					
				
					<tr ng-repeat="(key, prop) in trial.Attributes" id="aa_{{$index}}">
					
						<td style="border-right:0px !important">												
						<i class="fa fa-pencil" style="cursor:pointer;" ng-click="editRow(key)" aria-hidden="true"></i> | <i class="fa fa-times-circle" style="cursor:pointer;" aria-hidden="true" ng-click="deleteRow(key)"></i>
						</td>
						<td style="border-right:0px !important">						
						<span ng-if="!(action123||Obj[key])">{{trial.Attributes[key].AttributeName}}</span>
					
						<select ng-if="(action123||Obj[key])" ng-model="trial.Attributes[key].AttributeName" class="form-control" ng-options="p.AttributeName as p.AttributeName for p in attributes">
                            <option value="" selected>Select Attribute Name</option>
                        </select>	
						
						</td>
						<td>
						<span ng-if="!(action123||Obj[key])">{{trial.Attributes[key].Operator}}</span>
					
						<select  ng-if="(action123||Obj[key])" ng-model="trial.Attributes[key].Operator" class="form-control">
							<option ng-repeat="operator in operators" value="{{operator}}">{{operator}}</option>
						</select>
						
						</td>
						<td>
						<span ng-if="!(action123||Obj[key])">{{trial.Attributes[key].AttributeValue}}</span>
						<input ng-if="(action123||Obj[key])" class="form-control" ng-model="trial.Attributes[key].AttributeValue" type="text" value="">
						
						</td>
						<td>
						
							<select class="form-control js-select2-multiple" data-placeholder="Select an option" ng-init="trial.Attributes[key].Permissions123=trial.Attributes[key].Permissions" name="select_{{resource.ResourceName|removeSpace}}_{{$index}}" ng-model="trial.Attributes[key].Permissions123"  multiple="multiple"  style="width: 100%">
							
							<option ng-repeat="option in operationlist.Operations" value="{{option.Operation}}">{{option.Operation}}</option>
							</select>
						</td>
					</tr>
					<tr>
					<td colspan="5">
					
					<button class="pull-right" style="margin-top:5px;" name="attributeEdit" value="Edit Attributes" ng-click="addAttribute(action123,buttonStatus,resource.ResourceName,uRoles.RoleID,trial.Attributes.length)"> Add New</button>
					</td>
					</tr>					
				</table>
            </div>
        </div>
    </div>
						<div style="padding-top:10px;">
								<button type="button" ng-click="submitAllAttribute(trial, resource.ResourceName,uRoles.RoleID)">Submit </button>
						        <button type="button" ng-click="detailExpanded = false;" style="margin-left:7px;">Cancel</button> 
						 </div>
								</td>
								</tr>	
                              </tbody>
                           </table>
						 
						   <table class="table table-bordered" id="rolesTable" ng-if="CurrentTab=='Payment Module'">
							<tr>
								<th></th>
								<th class="txtCenter" ng-repeat="ss in actionHeader123">{{ss|camelCaseFormatter | firstCapital}}</th>
								   <th class="fixedWidth" ng-show="uRoles.RoleType!='Approver'">
                                       Attributes
                                    </th>
							</tr>
							
							<tr ng-repeat-start="resource in resourcePermission">
                                <td style="text-align:left" nowrap> {{resource.ResourceName}}</td>
                                <td style="text-align:center" nowrap ng-repeat="ss in actionHeader123">
								
								<span ng-if="((resourceDetail.Permission == '#ccc')||(!checkBoxChecked))&& getActionValue123(ss,resource.PermissionList).check" style="display:inline-block;">
                                         <i class="fa fa-circle" aria-hidden="true" ng-style="((getActionValue123(ss,resource.PermissionList).Permission == 'yes') && {'color':'green'}) || ((getActionValue123(ss,resource.PermissionList).Permission == 'no') && {'color':'red'}) || ((getActionValue123(ss,resource.PermissionList).Permission == 'not set') && {'color':'rgb(119, 116, 116)'})"></i>
										</span>
									<select id="" style="font-family: 'FontAwesome', Helvetica; width:90px;" class="btn-group form-control" ng-model="getActionValue123(ss,resource.PermissionList).Permission" ng-if="!(getActionValue123(ss,resource.PermissionList).Permission == '#ccc')&& checkBoxChecked && getActionValue123(ss,resource.PermissionList)" ng-style="((getActionValue123(ss,resource.PermissionList).Permission == 'yes') && {'color':'green'}) || ((getActionValue123(ss,resource.PermissionList).Permission == 'no') && {'color':'red'}) || ((getActionValue123(ss,resource.PermissionList).Permission == 'not set') && {'color':'rgb(119, 116, 116)'});">
											<option value="yes" style="color:green">&#xf111; Yes</option>
											<option value="no" style="color:red">&#xf111; No</option>
											<option value="not set" style="color:rgb(119, 116, 116)">&#xf111; Not Set</option>
										</select>
								
								
								</td>
																
									<td nowrap ng-show="uRoles.RoleType!='Approver'">
									<i style="font-weight:700" class="fa fa-plus-circle cursorPointer" ng-class="{'fa fa-compress': detailExpanded, 'fa fa-expand': !detailExpanded}" ng-click="getResourceAttributes(resource.ResourceName,uRoles.RoleID);detailExpanded = !detailExpanded"><span style="font-family:'Open Sans',sans-serif;font-weight:200"> Attribute</span></i> 
									</td>
							</tr>
							<tr ng-show="detailExpanded" ng-repeat-end="">
								<td colspan="{{actionHeader123.length+2}}" style="border:1px solid #ddd !important; text-align:left;padding:15px 5px !important;">

    <span style="padding:5px;font-weight:700">{{resource.ResourceName}} Attribute</span>
	<button class="pull-right" style="margin-bottom:5px;" name="attributeEdit" ng-click="editAllAttribute(action123,buttonStatus)">Edit All Attributes</button>
    <div class="row">        
        <div class="col-md-12">	
		
			<div class="alert1 alert-info1" style="padding-top:0px !important">
                <table width="100%" id="attributeTable" cellpadding="5" cellspacing="5">
					<tr>
						<th align="center" bgcolor="#eee" width="100px;">Actions</th>
						<th align="center" bgcolor="#eee">Attribute</th>
						<th align="center" bgcolor="#eee">Operator</th>
						<th align="center" bgcolor="#eee">Value</th>
						<th align="center" bgcolor="#eee">Permissions</th>
					</tr>
					
					<tr ng-repeat="(key, prop) in trial.Attributes" id="aa_{{$index}}">
					
				
					
						<td style="border-right:0px !important">												
						<i class="fa fa-pencil" ng-click="editRow(key)" aria-hidden="true"></i> | <i class="fa fa-times-circle" aria-hidden="true" ng-click="deleteRow(key)"></i>
						</td>
						<td style="border-right:0px !important">						
						<span ng-if="!(action123||Obj[key])">{{trial.Attributes[key].AttributeName}}</span>
						
						<select ng-if="(action123||Obj[key])" ng-model="trial.Attributes[key].AttributeName" class="form-control" ng-require="true" ng-options="p.AttributeName as p.AttributeName for p in attributes">
                            <option value="" selected>Select Attribute Name</option>
                        </select>	
						
						</td>
						<td>
						<span ng-if="!(action123||Obj[key])">{{trial.Attributes[key].Operator}}</span>
					
						<select  ng-if="(action123||Obj[key])" ng-model="trial.Attributes[key].Operator" class="form-control">
							<option ng-repeat="operator in operators" value="{{operator}}">{{operator}}</option>
						</select>
						
						</td>
						<td>
						<span ng-if="!(action123||Obj[key])">{{trial.Attributes[key].AttributeValue}}</span>
						<input ng-if="(action123||Obj[key])" class="form-control" ng-model="trial.Attributes[key].AttributeValue" type="text" value="">
						
						</td>
						<td>
												
						<select class="form-control js-select2-multiple" data-placeholder="Select an option" ng-init="trial.Attributes[key].Permissions123=trial.Attributes[key].Permissions" name="select_{{resource.ResourceName|removeSpace}}_{{$index}}" ng-model="trial.Attributes[key].Permissions123"  multiple="multiple"  style="width: 100%">							
							<option ng-repeat="option in operationlist.Operations" value="{{option.Operation}}">{{option.Operation}}</option>
						</select>
						
						</td>
					</tr>
					<tr>
					<td colspan="5">
					
					<button class="pull-right" style="margin-top:5px;" name="attributeEdit" value="Edit Attributes" ng-click="addAttribute(action123,buttonStatus,resource.ResourceName,uRoles.RoleID,trial.Attributes.length)"> Add New</button>
					</td>
					</tr>
					
				</table>
            </div>
        </div>
    </div>
						<div style="padding-top:10px;">
								<button type="button" ng-click="submitAllAttribute(trial, resource.ResourceName,uRoles.RoleID)">Submit </button>
						        <button type="button" ng-click="detailExpanded = false;" style="margin-left:7px;">Cancel</button> 
						 </div>
								</td>
								</tr>
							
						   </table>
						   
						   
                        </div>
						 <button type="button" class="btn btnStyle" ng-click="saveAll(resourcePermission,RoleID,$index)" ng-if="checkBoxChecked">Update </button>
						 <button type="button" class="btn btnStyle" ng-click="keepOriginal()" ng-if="checkBoxChecked" style="margin-left:7px;">Cancel</button>

                     </div>
                     
</form>      
	  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
</div> -->

</div>
</div>
</div>




</div>

<script>
   $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();

    $('.input-group-addon').on('click focus', function(e){
                $(this).prev().focus().click()
                
        })

        $('#Filter button:first-child').click(function(){
            setTimeout(function(){
			 var parentElement = $(".parent");
                $('select[name=SearchSelect]').select2({
                    allowClear:true,
						placeholder:'Select',
						dropdownParent: parentElement
                })
            },500)
            
        })

        var isIE = /*@cc_on!@*/false || !!document.documentMode;
	//console.log('isIE',isIE)
        if(isIE){
            var _placeholder;
            $('input[name=keywordSearch]'). mouseenter(function(e){	
                _placeholder = $(this).attr('placeholder');	
                $(this).attr('placeholder', '' ) 
            }).mouseleave(function(){
                $(this).attr('placeholder', _placeholder) 
            })
        }
        

   });

</script>