/*** Dashboard Styles ***/
.inbndDroplist i
{
    color: #555;
}

.dashboardWidget {
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
}
.dashboardWidget .widgetVisual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}
.dashboardWidget .dashboardWidget > i {
    margin-left: -10px;
    font-size: 80px;
    line-height: 86px;
}
.dashboardWidget .details {
    position: absolute;
    right: 15px;
    padding-right: 15px;
}
.dashboardWidget .details .count {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: 300;
    color: #fff;
}
.dashboardWidget .details .payStatus {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 300;
}


/*** Dashboard Styles End***/
/*.legendHolder
{
    height: auto;
    padding: 0px;
    min-height: 117px;
    max-height: 117px;
    display: block;
}*/