/*vb*/
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
        z-index: 3;

        color: #FF671B;

        cursor: default;

        padding:0px 4px 10px 4px;

        background-color: white;

        border-bottom: 3px solid #FF671B;
    }
.table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active{
        /*background: rgba(54, 89, 154, 0.75) !important;*/
        background-color: #FF671B !important;
    }

    .expcls{
        color:#FF671B;
        font-size:15px;
    }
    a:hover {
        color: #FF671B;
    }
.pre-loader-circle  div
{background: #ff731e;}

/*** Header Styles ***/
.main-header,
.main-footer {
    background-color: #16243e;
}
.main-header i {
    color: #b4bcc8;
}

@media (max-width: 767px) {
    .topMenuIcons
    {/*
    		background-color: #30405f;*/
    }
}

/*** Sidebar Styles ****/
.main-sidebar {
    background-color: #353432;
}
.sidebarSideToggle i,
.headerSideToggle i {
    font-size: 20px;
    color: #b4bcc8;
    border: none !important;
    top: -2px;
    position: relative;
}
.sidebarSubMenu li:hover {
    /* background: #4c679a; */
//
color: #fff;
}
.sidebarSubMenu li:hover a {
// color: #fff;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    background-color: #1c2e50;
}
.sidebar-menu .activeli {
    background-color: #5E6B7B !important
}
.sidebar-menu .activeli:hover {
    background-color: #5E6B7B !important
}
.sidebar-search {
    background: #16243e;
    border-bottom: 1px solid #435060;
    color: #435060;
}
.sidebarSubMenuSelected {
    /* color: #fff !important; */
}

.portlet > .portlet-body.green-haze,
.portlet.green-haze {
    background-color: #4c679a;
}
.listSelected {
    background-color: transparent !important;
    color: #fff;
}

.table thead tr th {
    font-size: 14px;
    font-weight: 600;
}
/*.table.table-bordered thead > tr > th {
       background: #cad5eb;
    color: #1d2e50;
}*/
.legendHolder {
// border-top: 1px solid #4c679a;
//border-top: none;
// background: #fff;
}

.dashboard-stat.green-haze {
    background-color: #4c679a;
    color: #fff;
}
.portlet.light {
    padding: 0;
    background-color: #fff;
    border: 1px solid #1a305a;
}
.profileHeader {
    background-color: #4c679a;
    color: #fff;
}
.progress > .progress-bar-success {
// background-color: #45B6AF;
}
.profileHeaderCollapse {
    border: 1px solid #4c679a;
    border-top: none;
}
.profile-usertitle-name {
    color: #ff731e;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 7px;
}
.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #E8DFDE;
    position: relative;
}
/*.myProfileSaveSearchList {
    background-color: #2e4269;
}*/
/*.listViewPanelHeading {
    border: 2px solid #4c679a;
    background-color: #FFF;
    color: #000;
}*/
.displayWindow .text-center .viewediticon {
    color: #4c679a !important;
}
.roundedbox .checkedcolor.checked {
    background: #4c679a !important;
}
.tabbable-custom > .listGroup > li.active > a {
    background-color: #333333;
    color: #E6E6E6;
}
.tabbable-custom > .listGroup > li.active {
    background-color: #333333;
}
.tabbable-custom > .listGroup > li > a {
    color: #656464;
}
.tabbable-custom > .nav-tabs > li {
    background-color: #eee;
}
.tabbable-custom > .tab-content {
    background-color: #fff;
}
/*.actionRow {
    background-color: #4c679a !important;
}*/
.Iclr {
    color: rgba(54, 89, 154, 0.75); !important;
}
.form-wizard .steps {
    padding: 10px 0;
    background-color: #fff;
    background-image: none;
    filter: none;
    border: 0px;
    box-shadow: none;
}
.initcolordanger:focus, .initcolordanger:active, .initcolordanger.active {
    background-color: #f1353d;
}
.initcolorsuc:hover, .initcolorsuc:focus, .initcolorsuc:active, .initcolorsuc.active {
    background-color: #3b9c96;
    border-color: #307f7a;
}
.page-container-bg-solid .pageTitle small {
    color: #666;
}

.anchor i {
    color: #79869a;
}
.open > a{
    /* box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 0px, rgba(255, 255, 255, 0.156863) 0px 1px 0px inset; */
}
.open .sidebarSubMenu a{color: #fff;line-height: 1.6;border-bottom: 1px solid rgba(255,255,255,.06);}
.sidebarSubMenu li{/* border-left: 5px solid transparent; */background-color: hsla(24, 4%, 29%, 1);}
.sidebarSubMenu .sideMenuSelected
{/* border-left: 5px solid #e61b24; */background-color: #F8F7F5;/* color: #333 !important; */}
.sideMenuSelected {
//background-color: #4c679a;
}
.fixedfooter,.main-footer
{
    background-color: #f9f8f6 !important;
}
.footertext1,.footertext2
{
    color:#d6d8dc;
}
.sidebar-menu li > a
{
    color: hsla(37, 32%, 90%, 1);
}
.CountBar{
    background-color:#4c679a !important;
}

.dataGroups::-webkit-scrollbar-thumb
{
    background-color:  rgba(54, 89, 154, 0.75) !important;
    border: none;
    border-radius:30px;
}
.overflowPaymentSection::-webkit-scrollbar-thumb
{
    background-color: #2f4265;
    border: 1px solid #555555;
    border-radius:30px;
}

.progress > .progress-bar-success {
    background-color: rgb(70, 97, 148);
}
.tab_li.active .step .number {
    background-color: #4c679a;
}

.form-wizard .steps > li.done > a.step .number {
    background-color: #4c679a;
    color: #fff;
}
.rstRoleBtn {
    background-color: rgba(54, 89, 154, 0.75) !important;
    color: #fff;
    border: none;
}
.listViewPanelHeading {
    border: 2px solid #ff7e20 !important;
    background-color: #FFF;
    color: #000;
}
.outerCrcle{
    background-color: #ff8924 !important;
    border-color: transparent !important;
}
.ForAddNewScroll::-webkit-scrollbar-thumb {
    background-color: #4c679a;
}

#exportTable::-webkit-scrollbar-thumb {
    background-color: #4c679a;
}
.sidebar-toggle .toggleClr
{
    border: 5px solid #2d4869 !important;
}

.modalbdy{
    background-color: #8e9aaf;
}
.yess{
    box-shadow: rgb(8, 35, 82) 0px 0px 2px, rgb(8, 35, 82) 0px 0px 0px 1px inset;
    background-color: rgb(8, 35, 82);
}
.yess:hover{
    background-color: #162c42;
}
.cancl{
    background-color: #758494;
}
.cancl:hover{
    background-color: #8794a0;
}
.modalftr{
    background-color: #31456b;
}
.delNotific
{
    color:#284273;
}
.iconBox{
    border: 4px solid rgb(8, 35, 82);
}
.exclaLine{
    background-color: rgb(8, 35, 82);
}
.exclaDot{
    background-color: rgb(8, 35, 82);
}
.CountBar{
    background-color:#082352;
}

.pagination>li>button>i {
    color: #fff !important;
}

.btn.disabled .fa {

    color:lightgrey !important;
}
/*.logoutList {
    border: 1px solid #50647b !important;
}*/
.pagination>li>button:hover {
    background-color: #3c63ad !important;
}
.alertHighlight{
    background: #4979ce;
}



.cstmDrop{
    color: #000;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 85%;
    float: left;
}
.cstmDrop-content{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #c9c9c9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    max-height:300px;
    overflow-y:scroll;

}
.cstmDrop-content li{
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}
.cstmDrop-content li:hover{
    background-color: #989494;
}

.download-window{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #ccc;
//border-top: none;
    /*width: 100%;*/
}

.download-window li:nth-child(1){
    padding: 0px;
    margin: 0;
    border: none;
    text-align: center;
//padding-bottom: 10px;
// width: 65%;
    float: left;
}

.download-window li:nth-child(1) span{
    text-align: center;
    float: left;
    width: auto;
    padding: 0px 5px 5px 10px;
}

.download-window li{
    padding: 3px;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #fff;
    margin-left: 7px;
    color: #000;
    cursor: pointer;
}
.dwnBtn:hover > button{
    border-bottom: none !important;
}

/*.dwnBtn:hover .download-window{
   display: block;
}*/
.listViewPanel .listViewPanelHeading,.panel-collapse
{
    border: 2px solid #2e4269;
}

.logo {
    margin: 20px 0 10px 0;
    /* background: #333; */
    padding: 16px;
    border-radius: 10px !important;
}

.sidebarSubMenu .sideMenuSelected a {
    color: #333;
    font-weight: bold;
}

.listView {
    max-height: calc(100vh - 260px) !important;
}

button.dropdown-toggle > span {
    /* font-size: 20px !important; */
}

.menuClass {
    font-size: 16px !important;
}

.dwnBtn button i {
    font-size: 30px !important;
}

.subTypeHeader > div {
    background-color: transparent !important;
}

.control-label {
    font-size: 15px !important;
    font-weight: 600;
    color: #8e8e8e !important;
}

.sidebarSideToggle {
    padding: 10px 11px 10px 14px !important;
}

.header-row ul li span {
    font-size: 17px !important;
    margin: 2px 0px 10px 5px !important;
    display: inline-block;
}

.info-row {
    background-color: #F1EFEB !important;
    box-shadow: none !important;
    font-size: 15px;
    margin-bottom: 3px !important;
}

header-row {
    background-color: #F1EFEB !important;
}

.chartBorder {
    border: none !important;
    box-shadow: none !important;
}

/* styles.css */

.portal {
    background-color: hsla(40, 23%, 93%, 1) !important;
}

.menuli.open {
    border: 2px solid #FF671B;
    border-right: 0;
    border-left: 0;
}

.menuli.open > a {
    background-color: #FF671B;
    color: #fff;
}

.logo > a {
    display: block;
    max-width: 190px;
    margin: 0 auto;
}

a.ParentMenu i:last-child {
    display: none;
}


ul.sidebarSubMenu li:last-child a {border-bottom: 0;}

.topMenuIcons > div > ul {position: relative;top: 3px;}

.logo a img {
    display: none;
}.logo {
     margin: 20px 0 10px 0;
     /* background: #333; */
     padding: 16px;
     border-radius: 10px !important;
 }

.sidebarSubMenu .sideMenuSelected a {
    color: #333;
    font-weight: bold;
}

.menuli.open {
    border: 2px solid #FF671B;
    border-right: 0;
    border-left: 0;
}

.menuli.open > a {
    background-color: #FF671B;
    color: #fff;
    font-size: 16px;
}

.logo > a {
    display: block;
    max-width: 190px;
    margin: 0 auto;
}

a.ParentMenu i:last-child {
    display: none;
}


ul.sidebarSubMenu li:last-child a {border-bottom: 0;}

.logo a {
    display: block;
    height: 53px;
    background: no-repeat url(https://www.vocalink.com/SiteAssets/MC/mc_logo.svg);
}

.logindata div:nth-child(5) a {color: #ff731e !important;position: relative;top: 8px;font-size: 14px;}

.actions > .dropdown {
    /* margin-right: 10px; */
}

.myhead .dropdown .fa {position:relative;/* top:-5px; */}

.appLogo img {
    display: none;
}

.appLogo {
    height: 40px;
    width: 100%;
    background: no-repeat url(https://www.vocalink.com/SiteAssets/MC/mc_logo.svg);
}

.ruleHead {
    color: #ff7e20 !important;
    font-weight: 600;
    font-size: 20px !important;
}

a.actionIcons .fa {
    font-size: 20px;
    position: relative;
    top: 2px;
}

.bar__icons i {
    font-size: 26px;
}

.bar__icons {
    position: relative;
    top: 13px;
    left: -10px;
}

.smallLogo {
    display: none;
}

.all-payments-widget {
    font-size: 17px !important;
    margin-left: 0px !important;
    margin-bottom: 4px !important;
    box-shadow: none !important;
}

.field-info > span span:last-child {
    font-size: 16px !important;
}

ul.list-inline span {}

ul.list-inline li > span {
}

.header-row .list-inline li {
    padding: 19px 0 0px 0;
}

.panel.paneltrans > div {
}

.panel.paneltrans.addToolTip > div {
    background: #FF7632 !important;
}

.fixedfooter
{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    padding: 8px 30px 0px 5px;
    font-size: 12px;
}

svg.nvd3-svg {
    box-shadow: none !Important;
}

@media (min-width: 1420px) and (max-width: 1710px){
    .dashboardWidget .details{
        /* width: 84%; */
    }
    .dashboardWidget .details .count{
        font-size: 30px;
    }
    .dashboardWidget .details .payStatus{
        font-size: 14px;
    }
}

.dashboardWidget .details .payStatus {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
    margin-top: 3px;
}

.dashboardWidget .details .count {
    text-align: center;
    font-size: 36px;
    line-height: 39px;
    letter-spacing: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #fff;
}

.dashboardWidget .widgetVisual {
    /*width: 80px;

    height: 45px;
    display: block;*/
    float: left;
    /*padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;*/
    position: absolute;
    right: 15px;
    top: 9px;
}

.searchBox
{width:100%;padding: 8px 4px 8px 10px;font-size: 16px;font-weight: bold;outline:none;border:none;}

.searchholder
{
//margin:0;padding: 16px 12px 0 12px;
//background-color:#F7F7F7;/* margin-bottom:8px; *//* margin-left: 3px; *//* margin-right: 3px; */}

.searchContainer
{
    background-color: #F1EFEB;
    height:400px;
}

.btnStyle {
    /* box-shadow: 1.18px 2px 1px 1px rgba(0,0,0,0.2) !important; */
    border-radius: 5px !important;
}
.btnStyle:hover,
.btnStyle.hover {
    /* box-shadow: 1.18px 2px 1px 1px rgba(0,0,0,0.20) !important; */
}

.btn-info
{color: #fff;background-color: #89C4F4;/* border-color: #72b8f2; */}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
    color: #fff;
    /* background-color: #68b4f1; */
    /* border-color: #43a1ed; */
}

.listViewValue
{
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-size: 15px;
    word-wrap:break-word;
}

.actionIcons{
    /* border: 1px solid #CFDCEA; */
    padding: 11px 15px 9px 16px;
    border-radius: 6px !important;
    background-color: #FFF;
}

.droppable{
    padding: 0;
    /* padding-right: 25px !important; */
}

.dataGroups
{
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 100% !important;
    min-height: 300px !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: hsla(23, 100%, 79%, 1);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px hsla(38, 94%, 86%, 1);
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    /* display: block!important; */
    position: absolute;
    width: 180px;
    left: 50px;
}

.sidebar-menu > li > a {
    padding: 10px 18px 10px 12px;
    display: block;
    font-weight: 600;
    font-size: 14px;
}

.sidebar i{
    font-size: 19px;
    margin-right: 6px;
}

.sidebar i{
    font-size: 19px;
    margin-right: 6px;
}

.sidebarSubMenu li a
{
    margin: 0;
    padding: 6px 15px 6px 42px;
    display:block;
}

.main-sidebar li a{font-size: 13px;//color:#b4bcc8;}

/*** pre-loader ***/
.pre-loader-circle {
    position: fixed;
    z-index: 10000;
    width: 101px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    text-align: center;
}

.pre-loader-circle  div {
    margin: 0 5px;
    width: 25px;
    height: 25px;
    border-radius: 100% !important;
    display: inline-block;
    -webkit-animation: boundAnimate 1.4s infinite ease-in-out;
    animation: boundAnimate 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.pre-loader-circle .circle3 {
    -webkit-animation-delay: -0.15s;
    animation-delay: 0s;
}

html {
    background-color: #3a3a3a !important;
    background-image: linear-gradient(0deg, #141413 0%, hsla(60, 3%, 20%, 1) 100%) !important;
}

.content-wrapper,
.right-side {
    min-height: 100%;
    z-index: 800;
    /*margin-top: 60px;*/
    min-height: 600px;
    background-color: #E3DFD7;
    /*padding: 0px 10px 13px;*/
    background-color: #F8F7F5;
    min-height: 100vh;
}

.logIn {
    /* float: right; */
    /* margin-top: 15%; */
    /* width: 100%; */
    /* max-width: 300px; */
    /* margin: 0 auto; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* max-width: 450px; */
}

.breadCrumb .page-breadcrumb {
    padding: 12px 15px 10px 24px;
    display: inline-block;
    float: left;
    margin: 0;
    list-style: none;
    font-size: 17px;
}

.breadCrumb .page-breadcrumb li i {
    color: #aaa;
    text-shadow: none;
    line-height: 14px;
    display: inline-block;
    width: 1.25em;
    font-size: 19px;
}

.form-control {
    font-size: 15px;
    font-weight: normal;
    /* color: #ff731e !important; */
    background-color: #fff;
    border: 1px solid hsla(38, 94%, 80%, 1);
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.portlet {
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    /* box-shadow: 0 0 9px #eee; */
}

.portlet-title {
    padding: 5px;
    background: #fff;
    /* border: 1px solid #ccc; */
    border-bottom: 0px;
    /*cursor: pointer;*/
    background-color: white;
}

.portlet-title .caption {
    color: #6c6c6c !important;
    font-weight: 600;
    padding: 10px 0;
    /*float: left;*/
    display: inline-block;
    font-size: 19px;
    /* line-height: 36px; */
    padding-left: 5px;
    /*padding: 8px 0 9px 0;*/
}

.portlet-title .actions {
    padding-top: 10px;
    float: right;
    margin-right: 4px;
    /* position: absolute; */
    display: inline-block;
    /*padding: 7px 0 5px 0;*/
}

.portlet.box .portlet-body {
//
box-shadow: inset 0px 13px 3px -10px #fff, inset 0px -11px 8px -10px #CCC;
    padding: 20px 0 0px 0;
    background: hsl(0, 0%, 100%);
    height: auto;
    border-top: 2px solid #f9f8f6;
    /* border: 0px; */
}

.portlet.box .portlet-body {
//
box-shadow: inset 0px 13px 3px -10px #fff, inset 0px -11px 8px -10px #CCC;
    padding: 20px 0 0px 0;
    background: hsl(0, 0%, 100%);
    height: auto;
    border-top: 2px solid #f9f8f6;
    /* border: 0px; */
}

/*style for count bar*/
.countbar-title .fa-fs14{
    font-size: 28px;
}

.countbar-title {
    padding: 12px;
    background: #fff;
    border: 1px solid #ccc;
    /*border-bottom: 0px;*/
    margin: 7px 8px 11px 8px;
}

.countbar-title .caption {
    color: #6c6c6c;
    font-weight: 600;
    /* float: left; */
    display: inline-block;
    font-size: 18px;
    line-height: 38px;
    padding-left: 5px;
    /*padding: 8px 0 9px 0;*/
}

.badge
{
    font-weight:300;
    /* height: 24px !Important; */
    padding: 3px 6px 2px 4px;
    border-radius: 12px !important;
    font-size: 12px;
}

.actionRow {
    text-align: right;
    padding: 15px 7px 14px 0px;
//
margin-right:-6px;
}

.listView{
    /* max-height: 600px !important; */
    overflow: hidden;
    overflow-y: auto;
    padding: 0px 10px 0px 0px;
    overflow-x: auto !important;
}

.triangleLeft
{
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 10px solid #07ffe3;
    border-bottom: 13px solid transparent;
    display: inline-block;
    float: right;
    display:none;
}

@media (min-width: 767px)
{
    .sideMenuSelected .triangleLeft
    {
        display: none;
    }
}

#FileDetailsDonutChart, #lineChart, #barChart{
    background: #fff;
    box-shadow: none !important;
    border: none !important;
}

.contentContainer
{
    padding: 4px 25px 30px;
    /* height: calc(100vh - 320px) !important; */
    /* overflow: auto; */
}

.title__container h2{
    font-size: 37px;
    color: #333;
    margin: 4px 0 6px;
    font-weight: 600;
    line-height: 1.4;
}

.btn-trans{
    background: transparent;
    font-size: 18px;
    border: transparent;
    color: #777;
    padding: 0 5px;
}

button.btn-transdashbrd
{
    background: #f9f8f6;
    font-size: 25px;
    border: transparent;
    color: #777;
    padding: 0 5px;
}

.btn-link span i {
//
font-size: 27px;
    font-size: 26px;
    text-decoration: none;
    background-color: #fff;
}

.dropdown i.fa.fa-line-chart,.dropdown i.fa.fa-usd,.dropdown i.fa.fa-angle-down,.dropdown  i.fa.fa-list-ol {
    font-size: 23px;
}

.dropdown i.fa.fa-angle-down {
    /* border-right: 1px solid #777; */
    padding-right: 8px;
    position: relative;
    top: -5px;
}

.menu-drop i{
    /* border-right: 1px solid; */
    padding-right: 14px;
}

.collapse-arrow {
    /* position: relative; */
    display: inline-block;
}

.round-corner i.fa.fa-arrow-circle-down,
.round-corner i.fa.fa-arrow-circle-right{
    font-size: 24px;
}

.statusbar__wrapper{
    /*box-shadow:
      inset 0px 13px 3px -10px #fff,
      inset 0px -11px 8px -10px #CCC; */
    /* padding: 5px; */
    /* background: #dcdde0; */
    /* border: 1px solid #ccc; */
    border-top: 0px;
    position: relative;
    left: -4px;
}

.bar__icons button{
    color: hsla(24, 4%, 55%, 1);
}

.statusbar__widget{
    padding: 15px 15px;
    position: relative;
}

.widgetVisual i{
    font-size: 31px;
    opacity: 0.5;
}

i.DboardFont.fa.fa-hand-paper-o {
    /* font-size: 22px; */
}

.dropdown .fa-angle-down{
    position: relative;
    left: 6px;
    color: #ccc;
    /* top: -5px; */
}

.portlet-body{
    background: #ffffff;
    /* border: 1px solid #ccc; */
    /* padding: 10px; */
}

.portlet-title i.fa.fa-user,
.portlet-title i.fa.fa-key,
.portlet-title i.fa.fa-wrench,
.portlet-title i.fa.fa-pie-chart{
    font-size: 25px;
    color: #6c6c6c;
    margin: 0px 2px 0 10px;
    position: relative;
    top: 2px;
}

.btn {
    color: #fff!important;
    background-color: rgb(255, 115, 30) !important;
    border:none;
    font-weight: 600;
    padding: 9px 18px;
    font-size: 15px;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
    background-color: rgb(255, 115, 30);
    border-color: rgb(255, 115, 30);
}

.radio-primary input[type="radio"] + label::after {
    background-color: rgb(255, 115, 30);
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: rgb(255, 115, 30);
}
.radio-primary input[type="radio"]:checked + label::after {
    background-color: rgb(255, 115, 30);
}

.switch.checked {
    background: rgb(255, 126, 32) !important;
}
.modalHeaderColor {
    background-color: #FF671B !important;
    color: #fff;
}
.InboundTotal{font: bold 16px Arial;text-align:center;padding-top:15px;background: #fff;}

.file-detail-widget{
    background: #F1EFEB;
    margin-bottom: 4px;
    box-shadow: none !important;
}

.detailed-row{
    background: #F1EFEB;
    margin: 0;
    padding: 10px 0;
}

.searchholder {
    background-color: #FDE8CC;
}

.actionRow {
    background-color: rgba(255, 115, 30, 0.69) !important;
}

.rolesPanel .panel-heading
{
    background: #B3B0A9;
    color: #FFF;
    font-size: 18px;
}

.customPanel
{
    margin-top: 7px;
    border-bottom: none !important;
    /* box-shadow:4px -2px 10px #ccc; */
}

@media (max-width: 991px) {} .dropdown {
                                 position: relative;
                                 display: inline-block;
                                 /* position: relative; */
                             }

.anchor i {
    font-size: 31px;
    top: 1px;
    position: relative;
    display: inline-block;
    width: 1.25em;
    text-align: center;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    color: #808080;
}

.anchor .badge {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 3px;
    left: 30px;
    font-size: 13px;
    font-weight: 600;
    padding: 3px 6px;
}

.dropdown .anchor .badge-default {
    background-color: #f2f2f2;
    color: #808080;
    border: 2px solid #808080;
}

.dropdown .anchor .badge-default {
    background-color: #f2f2f2;
    color: #808080;
    border: 2px solid #808080;
}

.headDropdownList>a {
    margin: 0px;
    padding: 14px 14px 12px 10px;
    line-height: 13px;
    position: relative;
    display: block;
    right: 0px;
}

.userImg {
    border-radius: 50% !important;
    height: 29px;
    display: inline-block;
    margin-top: -9px;
    margin-right: 5px;
    float:left;
    filter: saturate(0.2);
    display: none;
}

.namecls
{
    display:inline-block;
    /* margin-top:-2px; */
    /* margin-left:3px; */
    font-size: 15px;
    position: relative;
    top: -8px;
    font-weight: 600;
}

.dashboardWidget .details {
    width: 100%;
    /*position: absolute;
right: 15px;*/
    /*padding-right: 15px;*/
}

.dashboardWidget .dashboardWidget > i {
    /*margin-left: -10px;
    font-size: 80px;
    line-height: 86px;*/
}


.sidebar-menu > li > a {
    padding: 10px 11px !important;
    display: block;
}

.statusbar__wrapper {
    background: none !important;
    border: none !important;
}

.portlet-title {
    border: none !important;
}

.portlet-body {
    border: none !important;
    border-top: 2px solid #f9f8f6 !important;
}

i.fa {
    border-right: none !important;
}

.details.pull-left {
    width: 100% !important;
}

.number.count.ng-binding {
    font-weight: 600 !important;
}

.desc.payStatus.ng-binding {
    font-weight: 600 !important;
}

a {}

.sidebar i {
    font-size: 18px !important;
}

.alert-warning {
    color: #DB5559 !important;
    background-color: #FBEAEB !important;
    border-color: transparent !important;
}

.alert-info {
    color: #3FA48D !important;
    background-color: #DCF5EF !important;
    border-color: transparent !important;
}

.header-row {
    background-color: #F1EFEB !important;

}

.fixedfooter {
    margin-left: 0 !important;
}


.title__container h2 {
    font-size: 37px;
    color: #333;
    margin: 4px 0 6px;
    font-weight: 600;
    line-height: 1.4;
}

.breadCrumb .page-breadcrumb {
    padding: 12px 15px 10px 24px;
    display: inline-block;
    float: left;
    margin: 0;
    list-style: none;
    font-size: 17px;
}

.namecls {
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: -8px;
    font-weight: 600;
}

.breadCrumb .page-breadcrumb li i {
    color: #aaa;
    text-shadow: none;
    line-height: 14px;
    display: inline-block;
    width: 1.25em;
    font-size: 19px;
}

.countbar-title {
    padding: 12px;
    background: #fff;
    border: 1px solid #ccc;
    margin: 7px 0px 11px 0px;
}

.countbar-title .caption {
    color: #6c6c6c;
    font-weight: 600;
    display: inline-block;
    font-size: 18px;
    line-height: 38px;
    padding-left: 5px;
}

.panel.paneltrans.addToolTip > div {
    background: #FF7632 !important;
}

.field-info span {
    word-break: break-all !important;
}

.header-row .list-inline li {
    padding:0;
}

.btn {
    overflow: hidden !important;
    color: #fff!important;
    background-color: rgb(255, 115, 30) !important;
    border: none;
    font-weight: 600;
    padding: 9px 18px;
    font-size: 15px;
    box-shadow: none !important;
}

.btn:hover {
    box-shadow: none !important;
}


/*i[tooltip="ACTIVE"] {*/
/*color: #FF671B !important;*/
/*}*/

button[tooltip="Clear Entity Cache"] {
    position: relative !important;
    left:-6px !important;
    top: -1px !important;
}


.serviceHeading, .serviceHeading div, .serviceHeading span {
    color: #FF671B !important;
    font-weight: 600;
}

.panel-heading {
    background-color: #FFF0E9 !important;
}

.panel-heading div {
    font-weight: bold;
    font-size:14px;
}

.panel-heading div[class="ng-binding"] {
    color: rgb(255, 115, 30) !important;
}

.serviceHeading span {
    font-size: 18px;
}

.panel-heading div[title="ACTIVE"] {
    color: #FF671B !important;
}

.panel-heading img {
    height: auto !important;
}

.myhead .dropdown-toggle img {
    display: none !important;
}

.listViewPanelHeading {
    border: 2px solid #ff7e20 !important;
    background-color: #FFF;
    color: #000;
}

.actionRow {
    background-color: rgba(255, 115, 30, 0.69) !important;
    text-align: right;
    padding: 15px 7px 14px 0px;
}

.listView {
    max-height: calc(100vh - 260px) !important;
    overflow: hidden;
    overflow-y: auto;
    padding: 0px 1px 0px 0px;
    overflow-x: auto !important;
}

.actionIcons{
    border: none;
    padding: 11px 15px 9px 16px;
    border-radius: 6px !important;
    background-color: #FFF;
}

.actionIcons:hover {
    border: none;
    padding: 11px 15px 9px 16px;
    border-radius: 6px !important;
    background-color: #FFF;
}

.countbar-title button {
    position: relative;
    top: 4px;
}

.countbar-title button i {
    font-size: 28px !important;
}

.dataGroups {
    overflow: hidden;
    overflow-y: auto;
    max-height: 100% !important;
    min-height: 300px !important;
}

/* table */

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #FFD2BB;
}

.table.table-bordered thead > tr > th {
    background: #FFD2BB;
    color: #1d2e50;
}

.panel-group .row {
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.countbar-title .btn-group > button:first-child {

}

.countbar-title .btn-group[tooltip="Refresh"] {
    position: relative;
    top: -1px;
    left: -1px;
}

.fileListStyle {
    color: #333 !important;
}

.dashboard-stat.green-haze {
    background-color: #ff7e20;
    color: #fff;
}

.customPanel .panel-heading {
    background: #ffe4cc !important;
}

.customPanel {
    box-shadow: none !important;
}

.tabbable-custom > .nav-tabs > li > a {
    color: #333 !important;
}

.tabbable-custom > .nav-tabs > li.active {
    border-top: 3px solid #ff8923;
}

.open .sidebarSubMenu a {
    font-size: 13px;
    padding-left: 42px;
}

.title__container p {
    font-size: 13px;
    margin-left: 2px;
}

.content-wrapper, .right-side {}