
/*.sidebar-menu > li
{
  border-bottom: 1px solid #16243e;
}*/
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
        z-index: 3;

        color: #1d2e50;

        cursor: default;

        padding:0px 4px 10px 4px;

        background-color: white;

        border-bottom: 3px solid #1d2e50;
    }
.table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active{
        background: rgba(54, 89, 154, 0.75) !important;
        
    }
    .expcls{
        color:#1d2e50;
        font-size:15px;
    }
    a:hover {
        color: #1d2e50;
    }


.pre-loader-circle  div
{
background: #4c679a;
}

/*** Header Styles ***/
.main-header,
.main-footer {
    background-color: #16243e;
}
.main-header i {
    color: #b4bcc8;
}

@media (max-width: 767px) {
    .topMenuIcons
    	{/*
    		background-color: #30405f;*/
    	}
}

/*** Sidebar Styles ****/
.main-sidebar {
    background-color: #2d4063;
}
.sidebarSideToggle i,
.headerSideToggle i {
    font-size: 20px;
    color: #b4bcc8;
}
.sidebarSubMenu li:hover {
    background: #4c679a;
   // color: #fff;
}
.sidebarSubMenu li:hover a {
   // color: #fff;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    background-color: #1c2e50;
}
.sidebar-menu .activeli {
    background-color: #5E6B7B !important
}
.sidebar-menu .activeli:hover {
    background-color: #5E6B7B !important
}
.sidebar-search {
    background: #16243e;
    border-bottom: 1px solid #435060;
    color: #435060;
}
.sidebarSubMenuSelected {
    color: #fff !important;
    background-color: #16243e;
}

.portlet > .portlet-body.green-haze,
.portlet.green-haze {
    background-color: #4c679a;
}
.listSelected {
    background-color: #b7cbf3;
    color: #fff;
}

.table thead tr th {
    font-size: 14px;
    font-weight: 600;
}

/*.table.table-bordered thead > tr > th {
       background: #cad5eb;
    color: #1d2e50;
}*/
.legendHolder {
   // border-top: 1px solid #4c679a;
    //border-top: none;
       // background: #fff;
}

.dashboard-stat.green-haze {
    background-color: #4c679a;
	color: #fff;
}
.portlet.light {
    padding: 0;
    background-color: #fff;
    border: 1px solid #1a305a;
}
.profileHeader {
    background-color: #4c679a;
    color: #fff;
}
.progress > .progress-bar-success {
   // background-color: #45B6AF;
}
.profileHeaderCollapse {
    border: 1px solid #4c679a;
    border-top: none;
}
.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}
.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #E8DFDE;
    position: relative;
}
/*.myProfileSaveSearchList {
    background-color: #2e4269;
}*/
/*.listViewPanelHeading {
    border: 2px solid #4c679a;
    background-color: #FFF;
    color: #000;
}*/
.displayWindow .text-center .viewediticon {
    color: #4c679a !important;
}
.roundedbox .checkedcolor.checked {
    background: #4c679a !important;
}
.tabbable-custom > .listGroup > li.active > a {
    background-color: #333333;
    color: #E6E6E6;
}
.tabbable-custom > .listGroup > li.active {
    background-color: #333333;
}
.tabbable-custom > .listGroup > li > a {
    color: #656464;
}
.tabbable-custom > .nav-tabs > li {
    background-color: #eee;
}
.tabbable-custom > .tab-content {
    background-color: #fff;
}
/*.actionRow {
    background-color: #4c679a !important;
}*/
.Iclr {
    color: rgba(54, 89, 154, 0.75); !important;
}
.form-wizard .steps {
    padding: 10px 0;
    background-color: #fff;
    background-image: none;
    filter: none;
    border: 0px;
    box-shadow: none;
}
.initcolordanger:focus, .initcolordanger:active, .initcolordanger.active {
    background-color: #f1353d;
}
.initcolorsuc:hover, .initcolorsuc:focus, .initcolorsuc:active, .initcolorsuc.active {
    background-color: #3b9c96;
	 border-color: #307f7a;
}
.page-container-bg-solid .pageTitle small {
    color: #666;
}

.anchor i {
    color: #79869a;
}
.open > a{
	box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 0px, rgba(255, 255, 255, 0.156863) 0px 1px 0px inset;
}
.open .sidebarSubMenu a{
color:#daa77a;
}
.sidebarSubMenu li{border-left: 5px solid transparent;}
.sidebarSubMenu .sideMenuSelected
{border-left: 5px solid #e61b24;}
.sideMenuSelected {
   //background-color: #4c679a;
}
.fixedfooter,.main-footer
{
  	background-color: #16243e !important;
}
.footertext1,.footertext2
{
	color:#d6d8dc;
}
.sidebar-menu li > a
{
	color:#c3d0e0;
}
.CountBar{
background-color:#4c679a !important;
}

 .dataGroups::-webkit-scrollbar-thumb
 {
     background-color:  rgba(54, 89, 154, 0.75) !important;
     border: none;
     border-radius:30px;
 }
.overflowPaymentSection::-webkit-scrollbar-thumb
{
    background-color: #2f4265;
    border: 1px solid #555555;
	border-radius:30px;
}

.progress > .progress-bar-success {
    background-color: rgb(70, 97, 148);
}
.tab_li.active .step .number {
    background-color: #4c679a;
}

.form-wizard .steps > li.done > a.step .number {
    background-color: #4c679a;
    color: #fff;
}
.rstRoleBtn {
    background-color: rgba(54, 89, 154, 0.75) !important;
    color: #fff;
    border: none;
}
.listViewPanelHeading {
    border: 2px solid #4c679a !important;
    background-color: #FFF;
    color: #000;
}
 .outerCrcle{
    background-color: rgba(54, 89, 154, 0.75) !important;
}
.ForAddNewScroll::-webkit-scrollbar-thumb {
    background-color: #4c679a;
}

#exportTable::-webkit-scrollbar-thumb {
    background-color: #4c679a;
}
.sidebar-toggle .toggleClr
{
	border: 5px solid #2d4869 !important;
}

.modalbdy{  
	background-color: #8e9aaf;
}
.yess{
    box-shadow: rgb(8, 35, 82) 0px 0px 2px, rgb(8, 35, 82) 0px 0px 0px 1px inset;
    background-color: rgb(8, 35, 82);
}
.yess:hover{
	background-color: #162c42;
}
.cancl{
	background-color: #758494;
}
.cancl:hover{
	background-color: #8794a0;
}
.modalftr{
	background-color: #31456b;
}
.delNotific
{
	color:#284273;
}
.iconBox{
    border: 4px solid rgb(8, 35, 82);
}
.exclaLine{
    background-color: rgb(8, 35, 82);
}
.exclaDot{
    background-color: rgb(8, 35, 82);
}
.CountBar{
background-color:#082352;
}

.pagination>li>button>i {
    color: #fff !important;
}

.btn.disabled .fa {

    color:lightgrey !important;
}
/*.logoutList {
    border: 1px solid #50647b !important;
}*/
.pagination>li>button:hover {
    background-color: #3c63ad !important;
}
.alertHighlight{
	background: #4979ce;
}



.cstmDrop{
    color: #000;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 85%;
    float: left;
}
 .cstmDrop-content{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #c9c9c9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    max-height:300px;
    overflow-y:scroll;

 }
 .cstmDrop-content li{
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    font-size: 14px;
 }
 .cstmDrop-content li:hover{
    background-color: #989494;
 }
 
 .download-window{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #ccc;
    //border-top: none;
    /*width: 100%;*/
 }

 .download-window li:nth-child(1){
    padding: 0px;
    margin: 0;
    border: none;
    text-align: center;
    //padding-bottom: 10px;
   // width: 65%;
    float: left;
 }

 .download-window li:nth-child(1) span{
    text-align: center;
    float: left;
    width: auto;
    padding: 0px 5px 5px 10px;
 }

.download-window li{
    padding: 3px;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #fff;
    margin-left: 7px;
    color: #000;
    cursor: pointer;
 }
 .dwnBtn:hover > button{
    border-bottom: none !important;
 }

 /*.dwnBtn:hover .download-window{
    display: block;
 }*/
 .listViewPanel .listViewPanelHeading,.panel-collapse
 {
     border: 2px solid #2e4269;
 }
