<style>
        .modifiedClass{
            background-color: #ffffb8;
        }
        
        td > pre{
            background: transparent;
            max-height:125px;
            overflow:auto
        }
        
        table > tbody > tr > th {
            background: #cad5eb;color: #1d2e50;
        }
        .formDataGroup {
            margin: 5px 0;
        }
        .bootstrap-datetimepicker-widget{
        display: block;
    }
    .bootstrap-datetimepicker-widget .datepicker-days{
        display: block;
    }
    .input-group-addon{
      padding: 0px 5px;
    }
    .glyphicon{
        padding:9px 10px;
    }
    .addAdditionalFields
    { 	
        /*color: #333;*/
        background-color: #f5f5f5;
        border:1px solid #ddd;
        padding: 10px;
    }
    .addBorder
    { 
        border:1px solid #ddd;
        padding: 10px;
    }
    .close
    {
        opacity: 1;
    }
    .DatePicker, .TimePicker{
        z-index:0 !important
    }
 </style>
<div class="breadCrumb" ng-controller="activeController">
    <div class="col-md-6">
    <ul class="page-breadcrumb">
       <li>
            <i class="fa fa-user"></i>
            <a href="javascript:void(0);" translate class="removeCursor">Sidebar.AdminPanel</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);" ng-click="gotoShowAlert()" translate>Sidebar.UserManagement</a>
            <i class="fa fa-angle-right"></i>

        </li>
        <li>
            {{data.View ?  'View' : 'Edit'}}
        </li>
    </ul>
    </div>
     <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
    </div>
</div>
<div class="contentContainer">

     <!--<div ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{alert.msg}}
            </div>-->
        
        <!-- Delete popup Window Start-->
	<div class="modal fade" tabindex="-1" id="delPopup" role="dialog">
			<div class="modal-dialog modal-md" style="top: 200px;">
				<div class="modal-content modalbdy animated tada">
					<div class="modal-header" style="padding: 0px !important; border: 0px !important">
						<div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
					</div>
					<div class="modal-body" style="padding: 0px !important; border: 0px !important">
						<h1>Are you sure?</h1>
						<h4>You will not be able to recover this Data!</h4>
					</div>
					<div class="modal-footer modalftr">
						<button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
						<button tabindex="0" type="button" class="buton yess" ng-click="deleteData();">Yes, delete it!</button>
					</div>
				</div>
			</div>
		</div>
<!-- Delete popup Window End-->

<!-- Draft popup Window Start-->
<div class="modal fade" tabindex="-1" id="delPopupDraft" role="dialog" style="z-index: 1150;">
	<div class="modal-dialog modal-md" style="top: 200px;">
		<div class="modal-content modalbdy animated tada">
			<div class="modal-header" style="padding: 0px !important; border: 0px !important">
				<div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
			</div>
			<div class="modal-body" style="padding: 0px !important; border: 0px !important">
				<h1>Are you sure?</h1>
				<h4>You will not be able to recover this Draft!</h4>
			</div>
			<div class="modal-footer modalftr">
				<button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
				<button tabindex="0" type="button" class="buton yess" ng-click="gotodeleteDraft()">Yes, delete it!</button>
			</div>
		</div>
	</div>
</div>
<!-- Draft popup Window End-->

     <!--Alert Pop-up Window-->
        <div class="modal fade" id="changesLostModal" role="dialog" tabindex="-1">
            <div class="modal-dialog">


                <div class="modal-content" style="border:2px solid #243250a6;" ng-if="madeChanges">
                    <div class="modal-body">
                    <h4>Current changes will be lost. Do you wish to continue?</h4>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btnStyle" ng-click="gotoClickedPage();">Yes</button>
                    <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="cancelChanges()">No</button>
                    </div>
                </div>
                <div class="modal-content" style="border:2px solid #243250a6;" ng-if="!madeChanges">
                    <div class="modal-body">
                    <h4 style="font-size:17px;">Primary key fields are missing.UUID will be autogenerated.<br>Do you wish to continue?</h4>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btnStyle clr" ng-click="SaveAsModalDraft()" ><span translate> Yes</span></button>

                    <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="cancelChanges()">No</button>
                    </div>
         </div>

            </div>
        </div>

   <div class="modal fade" id="draftOverWriteModal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
			<div class="modal-content" style="border:2px solid #243250a6;">
            <div class="modal-body">
               <h4>Draft Already Exists. Do you want to Overwrite?</h4>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btnStyle" ng-click="forceSaveDraft();">Yes</button>
               <button type="button" class="btn btnStyle" data-dismiss="modal">No</button>
			   
            </div>
         </div>
      </div>
   </div>




        <div class="modal fade" tabindex="-1" id="auditModel" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="padding: 10px 20px;overflow:auto">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-header" style="padding: 10px 0px;border: 0px !important;text-align: left;">
                            <b>{{commentVal ? commentVal[0] : auditLogDetails.action}} on {{auditLogDetails.userAuditTimeStamp| date:'yyyy-MM-dd HH:mm:ss'}} by {{auditLogDetails.UserId}}</b>
                        </div>
                        <div class="modal-body table-responsive" style="padding: 0px !important; border: 0px !important">
                            <table class="table table-bordered">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer" style="text-align: left;padding:0" ng-if="commentVal">				
                            <p><b>Notes: </b>{{commentVal[1]}}</p>
                        </div>
                    </div>
                </div>
            </div>
    <div class="row" ng-show="data.View">

        <div class="col-md-12">
            <div class="panel panel-default" style="margin-top:40px;">
                <div ng-if="!entityDraft.draftdata.BPK">
                    <div class="panel-heading" style="padding:9px 15px;background-color:#f9f9f9">
                        <div class="col-md-8 serviceHeading" style="padding-left:0px;">
                            <span class="ng-binding" ng-style="{'color':(data.Status | chooseStatus)}" ><span tooltip="First Name">{{data.FirstName}}</span> - <span tooltip="Last Name">{{data.LastName}}</span></span>
                        </div>
                       
                        <div class="col-md-4 serviceHeading" style="color:#666;padding: 0;text-align: right;" ng-if="data.Status"><i style="font-size: 20px;line-height:20px;margin-right: 10px;" ng-style="{'color':(data.Status | chooseStatus)}" class="fa fa-circle" ng-if="data.Status" tooltip="{{data.Status}}" tooltip-placement="bottom"></i><span style="font-size:20px">{{data.Status}}</span>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="panel-body ng-scope" style="padding:9px 15px;background-color:transparent;">
                        <div class="col-md-10" style="padding-left:0px;">
                            Effective Date : 
                            <span class="ng-binding">{{data.EffectiveFromDate}} 
							{{((data.EffectiveFromDate)&&(data.EffectiveTillDate))?' to ':''}}	
						{{data.EffectiveTillDate}}</span>
                        </div>
                        <div class="col-md-2" style="color:#666;padding: 0;text-align: right;">
                            

                            <!-- <a style="display: inline-block; cursor: pointer;" class="actionIcons" ng-click="(permission.U &amp;&amp; StatusFromRole != 'DELETED' &amp;&amp; StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' &amp;&amp;  RoleID != 'Super Admin')? gotoEdit(resourceGroup[0].ResourceGroupName,RoleID) :''" tooltip="Edit" ng-style="(permission.U &amp;&amp; StatusFromRole != 'DELETED' &amp;&amp; StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' &amp;&amp; RoleID != 'Super Admin')?{'opacity':'','cursor': 'pointer'}:{'opacity':'0.3','cursor': 'not-allowed'}"><i class="fa fa-pencil-square-o Iclr1"></i></a>

                            <a class="actionIcons" data-toggle="modal" data-target="#delPopup" ng-style="(permission.D &amp;&amp; StatusFromRole != 'DELETED' &amp;&amp; StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' &amp;&amp; RoleID != 'Super Admin')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.D &amp;&amp; StatusFromRole != 'DELETED' &amp;&amp; StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' &amp;&amp; RoleID != 'Super Admin')?gotoDeleteFn(resourceGroup[0].ResourceGroupName,RoleID):''" tooltip="Delete" style="cursor: pointer;"><i class="fa fa-trash-o Iclr1"></i></a>
                                
                            (permission.D &amp;&amp; StatusFromRole != 'DELETED' &amp;&amp; StatusFromRole != 'ACTIVE-WAITFORAPPROVAL' &amp;&amp; data.RoleID != 'Super Admin')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}
                        
                        -->
                        <!-- isSuperAdmin == 'Super Admin' ? {'opacity':'','cursor': 'pointer'}: (permission.D && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' &&  data.RoleID != 'Super Admin') ? {'opacity':'','cursor': 'pointer'} : {'opacity':'0.2','cursor': 'not-allowed'}
                    
                        (permission.D && data.Status != 'ACTIVE-WAITFORAPPROVAL' && data.Status != 'DELETED' && data.RoleID != 'Super Admin')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'} -->
                        

                            <a style="display: inline-block; cursor: pointer;" class="actionIcons" ng-click="(isSuperAdmin == 'Super Admin' && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL' )? gotoEdit(resourceGroup[0].ResourceGroupName,data.RoleID): (permission.U && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' &&  data.RoleID != 'Super Admin' && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL') ? gotoEdit(resourceGroup[0].ResourceGroupName,data.RoleID) : ''" tooltip="{{(isSuperAdmin == 'Super Admin' && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL') ? 'Edit': (permission.U && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' &&  data.RoleID != 'Super Admin' && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL') ? 'Edit' : 'You don&lsquo;t have permission'}}" ng-style="(isSuperAdmin == 'Super Admin' && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL') ? {'opacity':'','cursor': 'pointer'}: (permission.U && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' &&  data.RoleID != 'Super Admin' && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL') ? {'opacity':'','cursor': 'pointer'} : {'opacity':'0.2','cursor': 'not-allowed'}"><i class="fa fa-pencil-square-o Iclr1"></i></a>
                            
                            <a class="actionIcons" data-toggle="modal" data-target="{{(permission.D && data.Status != 'ACTIVE-WAITFORAPPROVAL' && data.Status != 'DELETED' && data.RoleID != 'Super Admin' && userId != data.UserID && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL')?'#delPopup':''}}"  ng-style=" (permission.D && data.Status != 'ACTIVE-WAITFORAPPROVAL' && data.Status != 'DELETED' && data.RoleID != 'Super Admin' && userId != data.UserID && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="isSuperAdmin == 'Super Admin' ? gotoDeleteFn(resourceGroup[0].ResourceGroupName,data.RoleID): (permission.D && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' &&  data.RoleID != 'Super Admin' && userId != data.UserID && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL') ? gotoDeleteFn(resourceGroup[0].ResourceGroupName,data.RoleID) : ''" tooltip=" {{(permission.D && data.Status != 'DELETED' && data.Status != 'ACTIVE-WAITFORAPPROVAL' &&  data.RoleID != 'Super Admin' && userId != data.UserID && data.Status != 'INACTIVE-WAITFORAPPROVAL' && data.Status != 'SUSPENDED-WAITFORAPPROVAL') ? 'Delete' : 'You don&lsquo;t have permission'}}" style="cursor: pointer;"><i class="fa fa-trash-o Iclr1"></i></a>
                           

                        </div>
                       
                       <div class="clearfix"></div>
                    </div>
                    </div>
               
                <div ng-if="entityDraft.draftdata.BPK">
		
                    <div class="panel-heading col-xl-12 col-lg-12  col-md-12 col-sm-12" style="background-color:#fff;">
                        <div class="col-xl-10 col-lg-11 col-md-6 col-sm-12 serviceHeading">
                        <span tooltip="Business Primary Key">{{entityDraft.draftdata.BPK}}</span>
                        <br>
                        </div>
                        <div class=" col-xl-2 col-lg-1 col-md-4 col-sm-12 pull-right">
                        <a style="display: inline-block; cursor: pointer;" class="actionIcons" ng-click="(!deletedData)? gotoEdit(resourceGroup[0].ResourceGroupName,data.RoleID) : ''" tooltip="{{(!deletedData) ? 'Edit':  'You don&lsquo;t have permission' }}" ng-style="(!deletedData) ? {'opacity':'','cursor': 'pointer'}: {'opacity':'0.2','cursor': 'not-allowed'}"><i class="fa fa-pencil-square-o Iclr1"></i></a>
                            
                            <a class="actionIcons" data-toggle="modal" data-target="{{(!deletedData)?'#delPopupDraft':''}}"  ng-style=" (!deletedData)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(!deletedData) ? takeDeldata(entityDraft.draftdata,$index) : '' " tooltip=" {{(!deletedData) ? 'Delete' : 'You don&lsquo;t have permission'}}" style="cursor: pointer;"><i class="fa fa-trash-o Iclr1"></i></a>


                    </div>
                    </div>
                    <div class="clearfix"></div>
	
	            </div>
                 </div>
        </div>
        
       

    <div class="col-md-12">
        <div class="panel-group" style="border:1px solid #ccc;">
            <div class="row" style="margin:0;line-height:30px;">
                <div class="row" style="margin:0;margin-top:10px;margin-bottom:34px;padding-left:0px;">
                    <div class="row" ng-repeat="(key,val) in data" style="margin:0;" ng-style="($index%2 == 0)?{'background-color': 'rgb(245, 245, 245)'}:{'background-color': '#fff'}" ng-if="key != 'View' && key != 'RoleID1' ">
                        <label class="control-label bold col-md-3 col-sm-3"><span class="col-md-8 ng-binding">{{key | camelCaseFormatter}}</span> <span class="col-md-1">:</span> </label>
                        <div class="control-label col-md-9 col-sm-9 ng-binding subserviceInfo">
                            <span ng-if="key != 'UserRoleAssociation'" class="ng-binding">{{val}}</span>
                            <span ng-if="key == 'UserRoleAssociation'" class="ng-binding"><pre>{{val}}</pre></span>

                        </div>

                    </div>
                </div>
            </div>

        <!-- <div class="row" style="margin:0;" ng-if="editedLog.length">
            <div class="col-md-12 bold control-label" style="margin:0;font-size:16px;">EDIT LOG</div>
            <ul style="line-height:35px;margin-top:30px">
                <li ng-repeat="log in editedLog |orderBy: '-userAuditTimeStamp'" style="padding: 0px 15px;">
                    <div style="display:block;word-break: break-all;">
                    <span style="float: left; width: 100%; padding: 0px 15px;"> <i class="fa fa-circle" aria-hidden="true" style="margin-right: 12px; font-size: 12px;line-height: 12px;"></i> <u style="cursor:pointer;font-weight: bolder;" ng-click="showaudit(log)" tooltip="Click to view details">{{log.action}}</u> on {{log.userAuditTimeStamp| date:'yyyy-MM-dd HH:mm:ss Z'}} by {{log.UserId}}.</span>
                    </div>
                </li>
            </ul>
        </div> -->

        

    </div> 
    </div>
</div>

<div class="row" style="margin: 5px 0px 20px 0px;border:1px solid #ccc;background: #fff;" ng-show="data.View && editedLog.length" >
        <div class="editHead" style="border-bottom: 1px solid #dddddd;">
        <h4 style="padding: 0px 15px;">EDIT LOG</h4>
        </div>
        
        <div class="editBody" style="max-height: 200px; overflow-y: auto;">
            <ul style="line-height:35px;display: inline-block;">
                <li ng-repeat="log in editedLog |orderBy: '-userAuditTimeStamp'" style="padding: 0px 15px;float: left;width: 100%;">
                    <div style="display:block;word-break: break-all;">
                    <span style="float: left; width: 100%; padding: 0px 15px;"> <i class="fa fa-circle" aria-hidden="true" style="margin-right: 12px; font-size: 12px;line-height: 12px;"></i> <u style="cursor:pointer;font-weight: bolder;" ng-click="showaudit(log)" tooltip="Click to view details">{{log.action}}</u> on {{log.userAuditTimeStamp| date:'yyyy-MM-dd HH:mm:ss Z'}} by {{log.UserId}}.</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<div class="row" ng-show="!data.View">
    <div class="col-md-12">
        <div class="pageTitle alertWidthonResize">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title__container">
                        <h2 translate ng-style="{'color':(data.Status | chooseStatus)}">Edit User Detail</h2>
                         <p translate> Branch.ForMandatory</p>
                         </div>
                    </div>
                </div>
         </div>
         <div ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{alert.msg}}
            </div>

        <form role="form" class="simple-form form-horizontal" name="userForm" ng-submit="updateData(data); updatesubmitted=false;">
            <div class="ForAddNewScroll" style="margin:0; max-height:600px; min-height:600px;">
                <div class="control-group" style="margin-top: 5px;">
                    <div class="form-group">
                        <label for="UserID" class="control-label col-md-2" style='font-weight:bold;'>User ID
                                <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && userForm.UserID.$invalid]">
                            <input class="form-control" type="text" name="UserID" ng-model="data.UserID" placeholder="Please Enter User ID" required ng-blur="multipleEmptySpace($event)" ng-disabled="(entityDraft.FromDraft) ? false : true">
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && userForm.UserID.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                    </div> 
                    <div class="form-group">
                        <label for="UserID" class="control-label col-md-2" style='font-weight:bold;'>First Name
                                <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && userForm.FirstName.$invalid]">
                            <input class="form-control" type="text" name="FirstName" ng-model="data.FirstName" placeholder="Please Enter First Name" required ng-blur="multipleEmptySpace($event)" >
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && userForm.FirstName.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                     </div>
                     <div class="form-group">
                        <label for="UserID" class="control-label col-md-2" style='font-weight:bold;'>Last Name
                                <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && userForm.LastName.$invalid]">
                            <input class="form-control" type="text" name="LastName" ng-model="data.LastName" placeholder="Please Enter First Name" required ng-blur="multipleEmptySpace($event)">
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && userForm.LastName.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                     </div>
                     <div class="form-group">
                        <label for="UserID" class="control-label col-md-2" style='font-weight:bold;'>Email Address
                                <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && userForm.EmailAddress.$invalid]">
                            <input class="form-control" type="email" name="EmailAddress" ng-model="data.EmailAddress" placeholder="Please Enter First Name" required ng-blur="multipleEmptySpace($event)">
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && userForm.EmailAddress.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                     </div>
                     <div class="form-group">
                        <label for="RoleID" class="control-label col-md-2" style='font-weight:bold;'>Role ID
                                <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        </label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && userForm.RoleID.$invalid]"> 
                                <select class="form-control appendRoleId js-select2-multiple" ng-model="data.RoleID1" name="RoleID" ng-required="true" ng-if="data.RoleID1 != 'Super Admin'" multiple ng-change="createDynamicSubsection(data.RoleID1)" id="myRoleId">
                                        <option ng-repeat="option in selectOptions" value="{{option.RoleID}}">
                                            {{option.RoleName ? option.RoleName+'('+option.RoleID+')' : option.RoleID}}</option>
                                </select>

                                <input class="form-control" type="text" name="RoleID" ng-model="data.RoleID" ng-disabled="true" required ng-if="data.RoleID == 'Super Admin'">
                        </div>
                        <span class="help-inline" ng-show="updatesubmitted && userForm.RoleID.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>
                    </div>
                    <div class="form-group">
                        <label class="bold control-label col-md-2">Status <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && userForm.Status.$invalid]">    <select class="form-control appendSelect2" ng-model="data.Status" required ng-disabled="(userId == data.UserID)?true:false">
                                <option value="ACTIVE">ACTIVE</option>

                                <option value="ACTIVE-WAITFORAPPROVAL" ng-if="data.Status == 'ACTIVE-WAITFORAPPROVAL'">ACTIVE-WAITFORAPPROVAL</option>
                                <option value="INACTIVE-WAITFORAPPROVAL" ng-if="data.Status == 'INACTIVE-WAITFORAPPROVAL'">INACTIVE-WAITFORAPPROVAL</option>

                                <option value="DELETED" ng-if="data.Status == 'DELETED'">DELETED</option>
                                <option value="INACTIVE">INACTIVE</option>
                                <option value="SUSPENDED">SUSPENDED</option>

                            </select>
                        </div> 
                        <span class="help-inline" ng-show="updatesubmitted && userForm.Status.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>   
                    </div>
                    <div class="form-group">
                        <label class="bold control-label col-md-2">Is Force Reset <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && userForm.IsForceReset.$invalid]">    <select class="form-control" ng-model="data.IsForceReset" required ng-disabled="viewMe">
                                    <option value="">Select</option>    
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                               </select>
                        </div> 
                        <span class="help-inline" ng-show="updatesubmitted && userForm.IsForceReset.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>   
                    </div>
                    <div class="form-group">
                        <label class="bold control-label col-md-2">Time Zone <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                        <div class="col-md-3" ng-class="{true: 'error'}[updatesubmitted && userForm.TimeZone.$invalid]">   
                             <select class="form-control" ng-model="data.TimeZone" required id="userFormTimeZone">
                            <option value="">--Select--</option>
                            <option ng-repeat="val in tZoneOptions" value="{{val}}">{{val}}</option>
                          </select>
                        </div> 
                        <span class="help-inline" ng-show="updatesubmitted && userForm.TimeZone.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>   
                    </div>
                    <div class="form-group">
                        <label class="bold control-label col-md-2">Effective From Date <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
                        <div class="col-md-3 " ng-class="{true: 'error'}[updatesubmitted && userForm.EffectiveFromDate.$invalid]">  
                               <div class="input-group input-append">
                                <input type="text" class="form-control DatePicker dateTypeKey" roledateattr="EffectiveFromDate" name="EffectiveFromDate" placeholder="Please Enter Effective From Date" onpaste="return false" onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)" id="EffectiveFromDate" ng-model="data.EffectiveFromDate" ng-required="true"  style="margin-bottom:0 !important;" ng-disabled="(data.RoleID == 'Super Admin' || userId == data.UserID)?true:viewMe"/>
                                <span class="input-group-addon" style="cursor:pointer" ng-click="triggerPicker($event)"><span class="glyphicon glyphicon-calendar date-set"></span>
                            </span>
                        </div>
                           
                        </div> 
                        <span class="help-inline" ng-show="updatesubmitted && userForm.EffectiveFromDate.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>   
                    </div>
                    <div class="form-group">
                            <label class="bold control-label col-md-2">Effective Till Date </label>
                            <div class="col-md-3 " ng-class="{true: 'error'}[updatesubmitted && userForm.EffectiveTillDate.$invalid]">  
                                   <div class="input-group input-append">
                                    <input type="text" class="form-control DatePicker dateTypeKey" roledateattr="EffectiveTillDate" name="EffectiveTillDate" placeholder="Please Enter Effective Till Date" onpaste="return false" onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)" id="EffectiveTillDate" ng-model="data.EffectiveTillDate"  style="margin-bottom:0 !important;" ng-disabled="(data.RoleID == 'Super Admin' || userId == data.UserID)?true:viewMe"/>
                                    <span class="input-group-addon" style="cursor:pointer" ng-click="triggerPicker($event)"><span class="glyphicon glyphicon-calendar date-set"></span>
                                </span>
                            </div>
                               
                            </div> 
                            <span class="help-inline" ng-show="updatesubmitted && userForm.EffectiveTillDate.$error.required" style="display:block;margin:0;color:#EF1C1C !important">Required</span>   
                        </div>

                <div><h5 class="bold col-md-12">User Role Association
                        <span style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span>
                        <span> : </span><span>(This field will be displayed based on Role ID selection)</span>
                    </h5></div>


                <div  class="col-md-12">
                    <!--<form>-->
                      <table class="table table-bordered" ng-if="data.UserRoleAssociation.length > 0" style="table-layout:fixed;">
                         <tr>
                                <th>Action</th>
                                <th>Role ID</th>
                                <th>Status</th>
                                <th>Effective From Date</th>
                                <th>Effective Till Date</th>
                            </tr>

                     <!--<div  class="form-group" style="margin: 0px; padding-top:10px" ng-repeat="val in data.UserRoleAssociation track by $index" id="{{$index}}">-->
                         <!--{{$index}}-->

                         <!--<div class="col-md-1 col-sm-12 col-xs-12 pull-right" ng-if="data.UserRoleAssociation[$index].RoleID != 'Super Admin' && (data.UserID != cUser)">

                            <a id="AddSection_{{$index}}" tooltip="Add New Section" tooltip-placement="bottom" style="line-height: 24px; cursor: pointer; text-decoration: none; color: rgb(130, 127, 127); font-size: 24px !important; opacity: 0.3;pointer-events: none;" class="fa fa-plus-circle ng-scope" aria-hidden="true" ng-click="addNewRoleSection($index,$event)" ng-style="($last)  ? {'opacity':'1','cursor':'pointer', 'pointer-events': ''}:{'opacity':'0.3', 'pointer-events': 'none'}"></a>


                            <a id="RemoveSection_{{$index}}" tooltip="Remove Section" tooltip-placement="bottom" style="line-height: 24px; cursor: pointer; text-decoration: none; color: rgb(130, 127, 127); margin-left: 10px; font-size: 24px !important; opacity: 1;" class="fa fa-minus-circle" aria-hidden="true" ng-click="removeCurrentRoleSection($index)" ng-style="( data.UserRoleAssociation.length > 1 && data.UserRoleAssociation[$index].RoleID != 'Super Admin') ? {'opacity':'1','cursor':'pointer', 'pointer-events': ''}:{'opacity':'0.3', 'pointer-events': 'none'}"></a>

                        </div>-->
                        
                            
                           
                            <tr ng-repeat="val in data.UserRoleAssociation track by $index" id="{{$index}}">
                                <td class="radioGroups" style="text-align:center">
                                    <input type="radio" name="SubSec_Action" id="SubSec_Action_ID{{$index}}" value="{{data.UserRoleAssociation[$index].RoleID}}" ng-checked="(data.RoleID == data.UserRoleAssociation[$index].RoleID)" class="radiobtns" ng-required="true">
                                </td>
                                <td>
                                    <select class="form-control appendRoleId" required="true" name="Subsec_RoleID{{$index}}" id="RoleId{{$index}}" ng-model="data.UserRoleAssociation[$index].RoleID" ng-class="{true : 'error'}[updatesubmitted && userForm.Subsec_RoleID{{$index}}.$invalid]" ng-required="true" required ng-if="data.UserRoleAssociation[$index].RoleID != 'Super Admin'" ng-disabled="(data.UserID != cUser)?false : true">
                                            <option value="">--Select--</option>
                                            <option ng-repeat="option in selectMultOptions" value="{{option.RoleID}}">{{option.RoleName ? option.RoleName+'('+option.RoleID+')' : option.RoleID}}</option>
                                            </select>

                                            <input class="form-control" type="text" name="Subsec_RoleID{{$index}}" ng-model="data.UserRoleAssociation[$index].RoleID" ng-disabled="true" required ng-if="data.UserRoleAssociation[$index].RoleID == 'Super Admin'">

                                            <span class="help-inline" ng-show="updatesubmitted && userForm.Subsec_RoleID{{$index}}.$error.required && !data.UserRoleAssociation[$index].RoleID" style="margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                </td>
                                <td>
                                     <select class="form-control select2drop" required name="Subsec_Status" id="Subsec_Status{{$index}}" ng-model="data.UserRoleAssociation[$index].Status" ng-required="true" ng-disabled="(data.UserID != cUser)?false : true">
                                            <option value="">--Select--</option>
                                            <option value="ACTIVE">ACTIVE</option>
                                            <option value="INACTIVE">INACTIVE</option>
                                            <option value="SUSPENDED">SUSPENDED</option>
                                        </select>

                                        <span class="help-inline" ng-show="updatesubmitted && userForm.Subsec_Status.$error.required && !data.UserRoleAssociation[$index].Status " style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                </td>
                                <td>
                                    <div class="input-group input-append">
                                                <input type="text" class="form-control DatePicker dateTypeKey" name="EffectiveFromDate{{$index}}" roleattr="EffectiveFromDate" placeholder="Please Enter Effective From Date" onpaste="return false" onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)" id="Subsec_EffectiveFromDate{{$index}}" ng-model="data.UserRoleAssociation[$index].EffectiveFromDate" ng-required="true" ng-focus="activatePickerSubsec($event,$index)" style="margin-bottom:0 !important;" ng-disabled="(data.UserID != cUser)?false : true"/>
                                                <span class="input-group-addon" style="cursor:pointer" ng-click="triggerPickerSubSec($event,$index)"><span class="glyphicon glyphicon-calendar date-set"></span>
                                                    </span>
                                            </div>

                                              <span class="help-inline" ng-show="updatesubmitted && userForm.EffectiveFromDate{{$index}}.$error.required && !data.UserRoleAssociation[$index].EffectiveFromDate" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;">Required</span>
                                </td>
                                <td>
                                     <div class="input-group input-append">


                                         <input type="text" class="form-control DatePicker dateTypeKey" name="EffectiveTillDate{{$index}}" roleattr="EffectiveTillDate" placeholder="Please Enter Effective Till Date" onpaste="return false" onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)" id="Subsec_EffectiveTillDate{{$index}}" ng-model="data.UserRoleAssociation[$index].EffectiveTillDate" ng-focus="activatePickerSubsec($event,$index)"  ng-disabled="(data.UserID != cUser)?false : true"/>
                                        <span class="input-group-addon input-group-date" style="cursor:pointer" ng-click="triggerPickerSubSec($event,$index)"><span class="glyphicon glyphicon-calendar date-set"></span>

                                        </div>
                                </td>
                            </tr>

                        

                        <!--</div>-->
                        </table>

                         <div class="alert-warning" style="padding: 15px;margin-bottom: 5px;background-color: #c2c1bb75 !important" ng-if="data.UserRoleAssociation.length <= 0 || !data.UserRoleAssociation.length">
									<strong><h4  style="margin:0;text-align:center;"> <i class="fa fa-warning"></i> No associated roles found</h4></strong>
								</div>
                </div>









                </div>   
            </div>  
            
            <div class="col-xs-12" style="padding:15px;margin-top:15px;border-top:1px solid">
                    <button type="submit" class="btn btnStyle clr" ng-click="updatesubmitted=true" tooltip="Submit"><span class="ng-binding">Save Changes</span></button>
                     <button type="button" class="btn btnStyle green" ng-click="SaveAsDraft(data);takeBackupData(data)" tooltip="Save as Draft" ng-if="(data.RoleID != 'Super Admin')">Save as Draft </button>

                    <button type="button" class="btn btnStyle clr" data-toggle="modal" data-target="{{madeChanges ?'#changesLostModal':''}}" ng-click="updatesubmitted=false;gotoCancelFn()" tooltip="Cancel"><span translate="" class="ng-scope">Cancel</span></button>
                </div>
        </form>    
    </div>
</div>

</div class="col-md-9"></div>
</div>

</div>
    


</div>

<script>
    //$('.appendSelect2').select2()

    $(document).ready(function(){
        // $('.DatePicker').datetimepicker({ 
		// 	 format:"YYYY-MM-DD", 
		// 	 useCurrent: false, 
		// 	 showClear: true, 
			
        //  }) 
			setTimeout(function(){
				$('.input-group-addon').on('click focus', function(e){
			        $(this).prev().focus().click()
                 });
			},1000)
    })
    
</script>