<style>
.bootstrap-datetimepicker-widget{
	display: block;
	background: #9E9E9E;
	color:#000
}
.bootstrap-datetimepicker-widget:hover{
	background: #9E9E9E;
}
.bootstrap-datetimepicker-widget .datepicker-days{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-months{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-years{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-decades{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-days,.datepicker-months,.datepicker-years:hover{
	background: #9E9E9E;
}
    
#keywordSearchbtn:focus,#keywordSearchbtn:active{
	outline:none;
}
#searchBox:focus,#searchBox:active{
	box-shadow: none;
}
.nonbtndisable{
	cursor: not-allowed !important;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
	pointer-events: none;
}
tr td span {
    word-break: break-all;
    display: inline-block;
}
</style>
<!-- BEGIN PAGE HEADER-->
<!--<div class="breadCrumb" set-class-when-at-top="fix-to-top" ng-controller="activeController">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa {{IconName}}"></i>
			<a href="javascript:void(0);" translate>{{'Sidebar.'+ulName|nospace}}</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="javascript:void(0);" translate class="bold">{{showPageTitle}}</a>
		</li>
	</ul>
</div>-->
<div class="page-bar breadCrumb" set-class-when-at-top="fix-to-top" ng-controller="activeController">
    <div class="row">
    <div class="col-md-6 ">
    <ul class="page-breadcrumb">
        
        <li>
           <i class="fa {{ParentIconName}}"></i>
			<a href="javascript:void(0);" translate class="removeCursor">{{ulName}}</a>
			<i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span translate class="removeCursor">{{Title|camelCaseFormatter}}</span>
        </li>
    </ul>
    </div>
    <!--<div style="clear:both">    </div>-->
   <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

    </div>
    </div>
   
</div>
<div class="contentContainer">
<div class="pageTitle">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="title__container">
			<h2>{{Title|camelCaseFormatter}}</h2> 
			<p>{{' - View '+Title+', Edit '+Title+' Detail'}}</p>
			</div>
		</div>
	</div>
</div>

<!--<div id="loaderContainer" httploader>
    <img src="themes/images/preloader.gif" class="httpLoader"/>
</div>-->

<!--<div class="row" style="margin:0;padding: 5px;box-sizing: border-box;color: white;margin-bottom: 0px;border: 1px solid #9E9E9E;border-bottom: none;">
	<div class="row CountBar" style="padding: 5px 0px; margin: 0;">
		<div class="col-md-8 col-sm-8 col-xs-12" style="padding: 5px; font-size: 17px; padding-left: 25px;">
			{{readData.length-1 +' records shown'}}
		</div>		-->
<div style="padding: 5px;">
<div class="row" style="margin: 0;">
    <div class="countbar-title">
    <div class="col-md-3 col-sm-3 col-xs-12  ng-binding" style="padding: 0;">
        <div class="caption">
			<!-- <span class="highlight">{{readData.length-1}} out of {{totalForCountBar}} </span>records shown -->
			<span class="highlight">{{(readData.length && totalForCountBar) ? readData.length-1 + ' out of '+ totalForCountBar : (readData.length && !totalForCountBar) ? readData.length-1 : '' }}</span>{{(readData.length && totalForCountBar) || (readData.length && !totalForCountBar) ? ' records shown' : (!readData.length && !totalForCountBar) ? 'Fetching Data...' : ''}}
        </div>
    </div>




		<div class="col-md-9 col-sm-9 col-xs-12">
			<div class="btn-group" style="float:right;">
				<button style="border: 1px solid #fff;box-sizing: border-box;margin-left:5px; float: left" ng-if="!changeViewFlag" class="btn-trans viewbtn" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.3','cursor': 'not-allowed'}" tooltip="{{(permission.C)?'Add New':'You don&lsquo;t have permission'}}" ng-click="(permission.C)?gotoState({'Operation':'Add','fieldData':''}):''"><i class="fa fa-plus-square"></i></button>
				<button style="border: 1px solid #fff;box-sizing: border-box;margin-left:5px; float: left" ng-click="loadData()" class="btn-trans" tooltip="{{'Refresh'}}"><i class="fa fa-refresh"></i></button>
				<div ng-show="changeViewFlag"  id = "sortBy" class="dropdown customDropdown" style="float: left;">
					<button style="border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="{{'Sort'}}" ng-click="setHeight($event)">
						<i class="fa fa-sort-amount-desc"></i>
					</button>
					
					<ul class="dropdown-menu dropdown-menu-default pull-right" style="min-width: 300px;padding:10px 0px;">
						<form ng-submit="searchFilter(filterParams)">
						<li id="sortBy" class="dropdown-header">SORT BY <i> (Click to Sort) </i> <i style="float: right; cursor: pointer; color: #9e9e9e; font-weight: bolder;" ng-click="clearSort('#sort')"><u>Reset All</u></i></li>
						<div id="sort" class="dataGroups" style="padding: 0px 15px;margin:0;width:100%;float: left;max-height: 300px;overflow: auto;">
							
							<div ng-if = "truetag"  ng-repeat="x in fieldDetails.Section" style="color:#fff;display: table;width: 100%;margin-bottom: 2px;">
								<div id="sort_{{$index}}" style="margin-bottom: 2px;display: table-row;width: 100%;" ng-hide="(Title == 'Business Rules') && ((x.Label == 'Rule') || (x.Label == 'Rule Structure'))">
								<span style="display: table-cell;background: #9e9e9e;padding: 5px 8px;border-right: 1px solid #fff;width: 90%;">{{x.Label}} </span>
								<a tooltip-placement="top" style="display: table-cell;background: #9e9e9e;padding: 6px;text-align: center;vertical-align: middle;width: 10%;" ng-click="gotoSorting(x.FieldName)"><i id="{{x.FieldName}}_icon" class='fa fa-minus fa-sm' style="color:#2b3643 !important"></i></a>
								</div>	
							</div>
							<div ng-if = "!truetag"  ng-repeat="x in MOPdata" style="color:#fff;display: table;width: 100%;margin-bottom: 2px;">
								<div id="sort_{{$index}}" style="margin-bottom: 2px;display: table-row;width: 100%;">
								<span style="display: table-cell;background: #9e9e9e;padding: 5px 8px;border-right: 1px solid #fff;width: 90%;">{{x.label}}</span>
								<a tooltip-placement="top" style="display: table-cell;background: #9e9e9e;padding: 6px;text-align: center;vertical-align: middle;width: 10%;" ng-click="gotoSorting(x.name)"><i id="{{x.name}}_icon" class='fa fa-minus fa-sm' style="color:#2b3643 !important"></i></a>
								</div>	
							</div>
						</div>
						</form>
					</ul>				
				</div>
				<div id = "Filter" class="dropdown customDropdown" style="float: left;">
				<button style="border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="{{'Filter'}}">
					<i class="fa fa-filter"></i>
				</button>
				
				<ul class="dropdown-menu dropdown-menu-default pull-right xyz" style="min-width: 600px;padding:10px 0px;">
					<form ng-submit="searchFilter(filterParams)">
					<li id="Filter" class="dropdown-header" style="padding: 8px 14px 2px 14px;margin: 0;">APPLY FILTER:</li>
					<div id="Filter" class="row input-group" style="padding: 8px 0px 2px 14px;margin: 0;display: inline-block;width: 50%;float: left;">
						
						<select id = "SearchSelect" name="SearchSelect" class="form-control appendSelect2"  ng-model="filterParams.SearchSelect">
							<option value="">Select</option>
							<option ng-repeat="x in fieldDetails.Section" value="{{x.FieldName}}" ng-if="truetag && x.Type != 'DateOnly' && x.Type != 'DateTime' && x.Type != 'TimeOnly' && x.FieldName != 'Status' && x.Type == 'String' && x.FieldName != 'Rule' && x.FieldName != 'RulePhase'">{{x.Label}}</option>
							<option ng-repeat="x in MOPdata" value="{{x.name}}" ng-if="x.type != 'DateOnly' && x.type != 'DateTime' && x.type != 'TimeOnly' && x.name != 'Status' && x.type == 'String'">{{x.label}}</option>
						</select>
					</div>
					<div id="Filter" class="row input-group" style="padding: 8px 14px 2px 0px;margin: 0;display: inline-block;width: 50%;">
						<span class="cstmDrop" style="display:inline-block;color:#000;cursor: pointer;position: relative;box-sizing: border-box; width: 90%;">
							<input name="keywordSearch" style="color: #000;" type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="filterParams.keywordSearch" placeholder="{{filterParams.SearchSelect ? 'Search '+ (filterParams.SearchSelect | camelCaseFormatter): 'Keyword Search'}}" ng-required="showCustom || filterParams.keywordSearch || filterParams.Status.length ? false : true">
						</span>						
						<span class="input-group-addon" style="cursor:pointer;float: left;width: 10%;height: 100%;padding: 9px;" ng-click="searchFilter(filterParams)" ng-class="filterParams.keywordSearch ? '' : 'nonbtndisable'"><i class="fa fa-search"></i></span>
					</div>
					<div ng-repeat="y in fieldDetails.Section" ng-if="status = (truetag && y.FieldName === 'Status') ? y : ''">
					<li id="Filter" class="dropdown-header">FILTER BY STATUS</li>
					<div id="Filter" style="padding: 8px 10px 2px 10px;" ng-if="status.Type == 'String' && status.InputType == 'Choice'">
						<button type="button" class="filterBystatus" ng-repeat="x in status.ChoiceOptions" ng-init="getCountbyStatus(x)" ng-click="setStatusvalue(x.displayvalue,filterParams)"  id="{{x.displayvalue}}" ng-class ="x.TotalCount ? '' : 'nonbtndisable'">
							<div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
							<div style="clear:both;" ng-if="$index % 2 == 0"></div>
							<div style="padding: 0px 5px;float: left;">
								<span class="fa-wrapper">
								<i class="fa fa-circle" ng-style="{'color':(x.displayvalue | chooseStatus)}"></i></span>
								<span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue  +' ('+x.TotalCount+') '}}</span>
							</div>
							<div style="clear:both;"></div>
						</button>
						<div style="clear:both;"></div>
					</div>
					</div>
					<div ng-repeat="y in MOPdata" ng-if="status = (!truetag && y.name === 'Status') ? y : ''">
					<li id="Filter" class="dropdown-header">FILTER BY STATUS</li>
					<div id="Filter" style="padding: 8px 10px 2px 10px;" ng-if="status.type == 'String' && status.renderer.Choice">
						<button type="button" class="filterBystatus" ng-repeat="x in status.renderer.Choice.choiceOptions" ng-init="getCountbyStatus(x)" ng-click="setStatusvalue(x.displayvalue,filterParams)"  id="{{x.displayvalue}}" ng-class ="x.TotalCount ? '' : 'nonbtndisable'">
							<div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
							<div style="clear:both;" ng-if="$index % 2 == 0"></div>
							<div style="padding: 0px 5px;float: left;" >
								<span class="fa-wrapper">
								<i class="fa fa-circle" ng-style="{'color':(x.displayvalue | chooseStatus)}"></i></span>
								<span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue  +' ('+x.TotalCount+') '}}</span>
							</div>
							<div style="clear:both;"></div>
						</button>
						<div style="clear:both;"></div>
					</div>
					</div>
					<div style="clear:both"></div>
					<li id="Filter" class="dropdown-header" ng-if="!isLogCong">FILTER BY EFFECTIVE DATE</li>
					<div id="Filter"  style="padding: 8px 10px 2px 10px;" ng-if="!isLogCong">
						<button type="button" class="filterBydate" ng-repeat="x in filterBydate" ng-click="setEffectivedate(x,filterParams)"  id="{{x.displayvalue|removeSpace}}">
							<div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
							<div style="clear:both;" ng-if="$index % 2 == 0"></div>
							<div style="padding: 0px 5px;float: left;">
								<span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue}}</span>
								<i class="fa fa-calendar"></i>
							</div>
							
							<!-- <div style="clear:both;"></div> -->
						</button>
						<div style="clear:both;"></div>
						<div id = "customPicker" class="row fade-in-up" ng-show="showCustom" style="padding: 10px 0px 0px 0px;">
							<div class="input-group date" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months" style="width: 100%">
								<div class="input-group col-md-12" style="padding: 0px 0px 0px 20px; width: 46%; float: left;">
									<input type="text" class="form-control DatePicker" ng-model="filterParams.startDate" id="startDate" name="startDate" style="width:100%" placeholder="From" ng-blur="removeFn()"  onkeypress="return tabOrder(event)" onpaste="return false">
									<span class="input-group-addon" ng-click="focusInfn('startDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
								<span class="input-group-addon" style="border:none; background-color:transparent; width: 6%; float: left; padding: 10px;">To</span>
								<div class="input-group col-md-12" style="width: 46%">
									<input type="text" class="form-control DatePicker" ng-model="filterParams.endDate" id="endDate" style="width:100%" placeholder="To" ng-blur="removeFn()"  onkeypress="return tabOrder(event)" onpaste="return false">
									<span class="input-group-addon" ng-click="focusInfn('endDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>
						</div>
					</div>
					<div style="clear:both"></div>
					<!--<li id="Filter" class="dropdown-header">ASSOCIATED SERVICE</li>
					<div id="Filter" class="row input-group" style="padding: 8px 14px 2px 14px;margin: 0;">
						<input style="color: #000;" type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="filterParams.assService" placeholder="Start typing the service name">
						<span class="input-group-addon" style="cursor:pointer"><i class="fa fa-search"></i></span>
					</div> -->
					<div style="clear:both"></div>
					<div class="row input-group pull-right" style="padding: 8px 14px 2px 14px;margin: 0;">
						<button type="Button" class="btn-trans btnStyle" tooltip="Cancel" style="margin-right: 10px;" ng-click="clearFilter()"><i class="fa fa-times"></i></button>
						<button type="Submit" class="btn-trans btnStyle" tooltip="Search" style="cursor: pointer;" ng-class="((filterParams.EffectiveDate.displayvalue == 'Custom' ? filterParams.startDate && filterParams.endDate && showCustom : showCustom)|| filterParams.keywordSearch || filterParams.Status.length) && (filterParams.SearchSelect ? filterParams.keywordSearch ? true : false : true ) ?'cmmonBtnColors':'disabledBtnColor'">
								<i class="fa fa-search"></i>
						</button>
					</div>
					</form>
				</ul>				
			</div>
				<div class="dwnBtn" style="float:left;margin-left:5px;">
					<button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" ng-click="setHeight($event)" aria-expanded="true"tooltip="{{'Export'}}"> <i class="fa fa-download" aria-hidden="true"></i></button>				
					<ul class="download-window dropdown-menu dropdown-menu-excel pull-right" style="z-index: 10000;">
						<li>							
							<span class="hovercls"><input type="radio" name="excelVal" value="Current" checked class="radiobtns"> Current Screen </span>
  							<!--<span  ng-class="(readData.length > 19)?'':'disabledBtnColor'">All<br><input type="radio" name="excelVal" value="All"></span>-->
  							<span class="hovercls"><input type="radio" name="excelVal" value="All" class="radiobtns"> All Matching Filter</span>
						</li>
						<!--<li tooltip="{{'PDF'}}" style="float:left" class="disabledBtnColor"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></li>-->
						<li tooltip="{{'Excel'}}" class="excelprint" style="margin-left:40px;" ng-click="exportAsExcel($event)"><i class="fa fa-file-excel-o fa-fs14" aria-hidden="true"></i>
						</li>
						<li data-toggle="tooltip" data-placement="top" title="{{'Print'}}" class="excelprint" ng-click="printFn()"><i class="fa fa-print fa-fs14" aria-hidden="true"></i>
						</li>
						
						
					</ul>
				</div>
				<button style="border: 1px solid #fff;box-sizing: border-box;border-right:0px;margin-left:5px" class="btn-trans" id="btn_1" ng-class="changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="List View"><i class="fa fa-list"></i></button>
				<button style="border: 1px solid #fff;box-sizing: border-box;border-left:0px" class="btn-trans" id="btn_2" ng-class="!changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="Grid View"><i class="fa fa-table"></i></button>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>



<div id="statusBox" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger','alert alert-info':alert.type == 'info'}">
	<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
	{{alert.msg}}
</div>



<div class="alert alert-warning" ng-show="readData.length <= 1">
	<strong><h4  style="margin:0;text-align:center;"> No Records Found</h4></strong>
</div>

<!-- Delete popup Window Start-->
<div class="modal fade" tabindex="-1" id="delPopup" role="dialog">
	<div class="modal-dialog modal-md" style="top: 200px;">
		<div class="modal-content modalbdy animated tada">
			<div class="modal-header" style="padding: 0px !important; border: 0px !important">
				<div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
			</div>
			<div class="modal-body" style="padding: 0px !important; border: 0px !important">
				<h1>Are you sure?</h1>
				<h4>You will not be able to recover this Data!</h4>
			</div>
			<div class="modal-footer modalftr">
				<button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
				<button tabindex="0" type="button" class="buton yess" ng-click="deleteData()">Yes, delete it!</button>
			</div>
		</div>
	</div>
</div>
<!-- Delete popup Window End-->


<!--div ng-show="!dataFound" style="position:relative;margin:0;" class="row" infinite-scroll={{feedMore}} infinite-scroll-disabled='busy' infinite-scroll-distance='0' infinite-scroll-immediate-check="false"-->
<div ng-show="truetag" style="position:relative;padding-right: 5px; border-top: none;" class="row">
	
		<div class="col-md-12">
<div id="searchBoxModel" ng-style="{'width':alertWidth+'px'}" class ="animated bounce autoAdjustAlert bold alert alert-info" ng-if="restInputData.QueryOrder.length || restInputData.Queryfield.length">
	<a href="javascript:void(0)" ng-click="clearfromSearch($index,'QueryOrder',true)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<div class="" style="padding: 0;margin: 0;display: table;width: 100%;">
		<div class="" style="padding: 0;margin: 0;display: table-row;width: 100%">
			<div class="" style="padding: 0;margin:0;display: table-cell;">
				<label style="border: none;color: black;padding: 8px;outline: none;float: left;font-weight: bolder;">Search Name : </label>
				<input type="text" ng-model="saveSearch.Name" style="border: none;color: black;background: transparent;padding: 8px;outline: none;float: left;border-bottom: 1px solid #31708f;" placeholder="Enter the Search Name...">
				<button type="button" style="border: none;cursor:pointer;background: transparent;padding: 8px 10px;box-sizing: border-box;outline: none;float: left;border-bottom: 1px solid #31708f;"><i ng-if="!saveSearch.Name" class="fa fa-pencil" ng-class="saveSearch.Name?'fa-times':'fa-pencil'" style="color: #31708f;"></i><i ng-if="saveSearch.Name" class="fa fa-times" ng-click="saveSearch.Name = ''" style="color: #31708f;"></i></button>

				<button type="button" style="border: none;cursor:pointer;background: #d9edf7;box-sizing: border-box;outline: none;float: left;margin: 0px 10px;"><i class="fa fa-floppy-o" style="color: #31708f;font-size: 25px;line-height: 25px;padding: 5px;"></i></button>
				<!-- <button type="button" tooltip="Search" style="border: none;cursor:pointer;background: #d9edf7;box-sizing: border-box;outline: none;float: left;margin: 0px 10px;"><i class="fa fa-times" style="color: #31708f;font-size: 25px;line-height: 25px;padding: 5px;"></i></button> -->		
			</div>
		</div>		
		<div style="padding: 0;margin: 0;display: table-row;width: 100%">
			<div class="" style="padding:10px 5px;margin:0;display: table-cell;">
				<div ng-repeat="order in restInputData.QueryOrder" style="margin-right: 5px;margin-bottom: 5px;float:left;box-shadow: 0 8px 16px 0px rgb(172, 211, 230),0 8px 16px 0px rgb(172, 211, 230);">
					<span class="searchedItem">
						<li>{{order.ColumnName}} : {{order.ColumnOrder}}</li>
						<a href="javascript:void(0);" ng-click="clearfromSearch($index,'QueryOrder')"><i class="fa fa-times" aria-hidden="true"></i></a>
					</span>
				</div>
				<div ng-repeat="field in restInputData.Queryfield" style="margin-right: 5px;margin-bottom: 5px;float:left;box-shadow: 0 8px 16px 0px rgb(172, 211, 230),0 8px 16px 0px rgb(172, 211, 230);">
					<span class="searchedItem">
						<li>{{field.ColumnName}} : {{field.ColumnValue}}</li>
						<a href="javascript:void(0);" ng-click="clearfromSearch($index,'Queryfield')"><i class="fa fa-times" aria-hidden="true"></i></a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<div style="clear:both"></div>-->
</div>
<div class="col-md-12">
<div ng-show="readData.length && !changeViewFlag" class="listView FixHead dataGroupsScroll" style="overflow-x: auto !important;">
	
	<table class="table table-bordered floatThead stickyheader" ng-show="readData.length > 1">
		<thead>
			<tr style="border:none">
				<th ng-repeat="field in fieldDetails.Section" ng-class="{'cursorPointer':(field.FieldName != 'Rule')}" ng-click="(Title == 'Business Rules' && field.FieldName == 'Rule')?'':gotoSorting(field.FieldName)" style="min-width:100px; vertical-align: middle;" attr="{{field}}" ng-hide="(Title == 'Business Rules') && (field.Label == 'Rule Structure')">{{field.Label}}<span id="{{field.FieldName}}_Icon" class="" ></span></th>
			</tr>
			<!--<tr style="border:none">
				<th ng-repeat-start="field in fieldDetails.Section" ng-if=" (!$first && !$last) ? insertSlider($index) : splitData(fieldDetails.Section,colLimit)" class="cursorPointer" ng-click="gotoSorting(field);" style="min-width:100px">{{field.Label}}<span id="{{field.FieldName}}_Icon" class=""></span></th>
				<th ng-repeat-end ng-if="$index % 6 == 0 && $index >= 6 && !$last" class="cursorPointer" style="min-width:100px">Hello</th>
			</tr>-->
		</thead>
		<tbody>
			<tr ng-init="rowIndex = $index;" id = {{'displayingWindow_'+$index}} class="displayWindow collapse in" ng-repeat="office in readData" ng-if="(!$first)" ng-class="{oddClas:($index%2)== 1}" style="cursor:pointer" >
				<td ng-repeat="field in fieldDetails.Section" id="{{field.FieldName+'_'+rowIndex}}" ng-style="(field.FieldName === 'Status')?{'text-align':'center'}:''" style="height:38px" ng-click="gotoView({'Operation':'View','fieldData':office,'Permission':permission})" ng-hide="(Title == 'Business Rules') && (field.Label == 'Rule Structure')">
					<!--<span ng-if="field.FieldName !== 'Status'" ng-init="varData = getDisplayValue(field,office[field.FieldName]);"> {{field.ChoiceOptions?varData:office[field.FieldName]}}</span>-->
					<span ng-if="field.FieldName !== 'Status'"> {{office[field.FieldName]}}</span>
					<span ng-if="field.FieldName === 'Status'" ng-style="{'color':(office.Status | chooseStatus)}"><i style="font-size: 20px;line-height:20px" class="fa fa-circle" tooltip="{{office['Status']}}" tooltip-placement="bottom"></i></span>
				</td>	
			</tr>
			<!--<tr ng-init="rowIndex = $index;" id = {{'displayingWindow_'+$index}} class="displayWindow collapse in" ng-repeat="office in readData" ng-if="(!$first)" ng-class="{oddClas:($index%2)== 1}" style="cursor:pointer" >
				<td ng-repeat-start="field in fieldDetails.Section" ng-if=" (!$first && !$last) ? insertSlider($index) : splitData(fieldDetails.Section,colLimit)" id="{{field.FieldName+'_'+rowIndex}}" ng-style="(field.FieldName === 'Status')?{'text-align':'center'}:''" style="height:38px" ng-click="gotoView({'Operation':'View','fieldData':office,'Permission':permission})">
					<span ng-if="field.FieldName !== 'Status'" ng-init="varData = getDisplayValue(field,office[field.FieldName]);"> {{field.ChoiceOptions?varData:office[field.FieldName]}}</span>
					<span ng-if="field.FieldName === 'Status'" ng-style="{'color':(office.Status | chooseStatus)}"><i style="font-size: 20px;line-height:20px" class="fa fa-circle" tooltip="{{office['Status']}}" tooltip-placement="bottom"></i></span>
				</td>			
				<td  ng-repeat-end ng-if="$index % 6 == 0 && $index >= 6 && !$last" class="cursorPointer" style="min-width:100px">Hello</td>			
			</tr>-->
		</tbody>
	</table>
	</div>
	<div class="clearfix"></div>
	</div>
	<div class="listView" ng-show="changeViewFlag" style="max-height:600px;">
	<div class="panel-group" >
		<div id="accordion" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;margin: 0;">
		<div ng-repeat="office in readData" ng-init="colIndexx = $index">
		
		
			<div class="clearfix" style="background-color: transparent;" ng-if="$index % 4 == 0"></div>
			<div style="clear:both;" ng-if="$index % 4 == 0"></div>
			<div ng-if="(!$first)" class="panel paneltrans col-md-3">
				<div class="panel-heading listViewPanelHeading" id="listViewPanelHeading_{{$index}}" style="padding-bottom:0px;">
					<div class="row dataGroups" id="dataGroup_{{$index}}" style="margin: 0;min-height: 150px;max-height: 150px;cursor:pointer;" ng-click="gotoView({'Operation':'View','fieldData':office,'Permission':permission})">
						<div ng-repeat="field in fieldDetails.Section" ng-if="(field.FieldName != 'Status' ? true : ($index != 1) ? false : true)" ng-click="">
							<div ng-if="$index == 1" class="col-md-12" style="margin:0;padding:5px 0px;min-height: 75px;" ng-style="{'color':(office.Status | chooseStatus)}">
	 							<div style="margin:0;padding:0;font-size: 20px;word-wrap: break-word;width:85%;float:left;">
								{{(office[field.FieldName])}}{{((primarykey1 ? office[primarykey1] : office[fieldDetails.Section[0].FieldName])&&(office[field.FieldName]))?' - ' : ''}}{{(primarykey1 ? office[primarykey1] : office[fieldDetails.Section[0].FieldName])}}
								</div>
								<div style="margin:0;padding:5px;text-align: center;float:left;width:15%;" title="{{office['Status']}}" data-toggle="tooltip" data-placement="bottom" ng-style="{'color':(office.Status | chooseStatus)}">
									<i style="font-size: 20px;line-height:20px" class="fa fa-circle" ng-if="office['Status']"></i>
								</div>
							</div>
							
							<div ng-if="(($index > 1) && (field.Visible == 'true')&&(field.FieldName != 'Status'))" style="margin:0;padding:5px 0px">
								<div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;">
								{{field.Label+' : '}}
								</div>  
								<div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;">
								{{office[field.FieldName]}}
								</div>
							<div style="clear:both"></div>
							</div>
						</div>	
						<div style="clear:both"></div> 
					</div>
					<div style="clear:both"></div>
					<div class="row" style="margin-right: -15px;">
					<div class="actionRow" ng-init = "_permission = office['Status'] ? callforPermission(permission,office['Status']) : permission">						
						<a class="actionIcons" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.3','cursor': 'not-allowed'}" ng-click="(permission.C)?gotoState({'Operation':'Clone','fieldData':office}):''" tooltip="{{(permission.C)?'Clone':'You don&lsquo;t have permission'}}"><i class="fa fa-clone Iclr1"></i></a>
						<a class="actionIcons" ng-style="(_permission.U)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.3','cursor': 'not-allowed'}" ng-click="(_permission.U)?gotoState({'Operation':'Edit','fieldData':office}):''" tooltip="{{(_permission.U)?'Edit':'You don&lsquo;t have permission'}}"><i class="fa fa-pencil-square-o Iclr1"></i></a>
						<!--<a class="actionIcons" ng-click="exportAsExcel($event)" tooltip="Export as Excel"><i class="fa fa-file-excel-o Iclr1"></i></a>-->
						<a class="actionIcons" ng-style="(_permission.D)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.3','cursor': 'not-allowed'}" data-toggle="modal" data-target="{{(_permission.D)?'#delPopup':''}}" tooltip="{{(_permission.D)?'Delete':'You don&lsquo;t have permission'}}" ng-click="(_permission.D)? takeDeldata(office,$index):''"><i class="fa fa-trash-o Iclr1"></i></a>
					</div>
					</div>
					<div style="clear:both"></div>
				</div>		
			</div>
			
			<div ng-if="$first" class="panel paneltrans col-md-3 addToolTip" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" title="{{(permission.C)?'':'You don&lsquo;t have permission'}}" data-toggle="tooltip" data-placement="bottom">
				<div style="background: #9e9e9e;text-align: center;min-height: 200px;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items : center;-moz-box-align : center;-ms-flex-align : center;align-items : center;-webkit-box-pack: center;-moz-box-pack : center;-ms-flex-pack : center;-webkit-justify-content : center;justify-content : center; " ng-style="{'height':callStyle()}" ng-click="(permission.C)?gotoState({'Operation':'Add','fieldData':''}):''">
					<div style="display: inline-block;font-size: 20px;color: #fff;">
						<i class="fa fa-plus-square" style="font-size: 70px; line-height: 70px;"></i><br/>
						<span>{{'Add '+Title}}</span>
					</div>
				</div>		
			</div>
		</div>
		</div>
		<div style="clear:both;"></div>
		</div>
	</div>
</div>
<div ng-show="!truetag" style="position:relative;padding-right: 5px; border-top: none;" class="row">
	<div ng-show="!dataFound" class="listView dataGroupsScroll FixHead col-md-12" style="overflow-x: auto !important;max-height:600px;">
	<table ng-show="!changeViewFlag" class="table table-bordered" >
		<thead class="OrigHeader">		
			<tr style="border:none">
				<th ng-repeat="field in MOPdata" rowspan="{{field.FieldSet?'1':'2'}}" colspan="{{field.cstmcolumnspan}}" ng-if="field.cstmcolumnspan != false || !field.FieldSet" class="cursorPointer" style="text-align: center" ng-click="field.cstmcolumnspan ? '' : gotoSorting(field.name)">{{field.FieldSet?field.FieldSet.sectionheader:field.label}}{{spanVal}}<span id="{{field.name}}_Icon" class=""></span></th>
			</tr>
			<tr style="border:none">
				<th ng-repeat="field in MOPdata" ng-if="field.FieldSet" class="cursorPointer" ng-click="gotoSorting(field.name)">{{field.label}}<span id="{{field.name}}_Icon" class=""></span></th></th>
			</tr>
		</thead>
		<thead class="FakeHeader">
			<tr style="border:none">
				<th ng-repeat="field in MOPdata" rowspan="{{field.FieldSet?'1':'2'}}" colspan="{{field.cstmcolumnspan}}" ng-if="field.cstmcolumnspan != false || !field.FieldSet" class="cursorPointer" style="text-align: center" ng-click="field.cstmcolumnspan ? '' : gotoSorting(field.name)">{{field.FieldSet?field.FieldSet.sectionheader:field.label}}{{spanVal}}<span id="{{field.name}}_Icon" class=""></span></th>
			</tr>
			<tr style="border:none">
				<th ng-repeat="field in MOPdata" ng-if="field.FieldSet" class="cursorPointer" ng-click="gotoSorting(field.name)">{{field.label}}<span id="{{field.name}}_Icon" class=""></span></th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-init="rowIndex = $index;" id = {{'displayingWindow_'+$index}} class="displayWindow collapse in" ng-repeat="office in readData" ng-if="(!$first)" ng-class="{oddClas:($index%2)== 1}" style="cursor:pointer" >
				<td ng-repeat="field in MOPdata" id="{{field.name+'_'+rowIndex}}" ng-style="(field.name === 'Status')?{'text-align':'center'}:''" style="height:38px" ng-click="gotoView({'Operation':'View','fieldData':office,'Permission':permission})">
					<span ng-if="field.name !== 'Status'"> {{office[field.name]}}</span>
					<span ng-if="field.name === 'Status'" ng-style="{'color':(office.Status | chooseStatus)}"><i style="font-size: 20px;line-height:20px" class="fa fa-circle" tooltip="{{office['Status']}}" tooltip-placement="bottom"></i></span>
				</td>	
			</tr>
		</tbody>
	</table>
 </div>

 <div class="listView" ng-show="changeViewFlag">
	<div class="panel-group">
		<div id="accordion" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;margin: 0;">
		<div ng-repeat="office in readData" ng-init="colIndexx = $index">
			<div class="clearfix" style="background-color: transparent;" ng-if="$index % 4 == 0"></div>
			<div style="clear:both;" ng-if="$index % 4 == 0"></div>
			<div ng-if="(!$first)" class="panel paneltrans col-md-3">
				<div class="panel-heading listViewPanelHeading" id="listViewPanelHeading_{{$index}}" style="padding-bottom:0px;">
					<div class="row dataGroups" id="dataGroup_{{$index}}" style="margin: 0;min-height: 150px;max-height: 150px;cursor:pointer;" ng-click="gotoView({'Operation':'View','fieldData':office,'Permission':permission})">
						<div ng-repeat="field in MOPdata" ng-if="(field.name != 'Status')" ng-click="">
							<div ng-if="$index == 1" class="col-md-12" style="margin:0;padding:5px 0px;min-height: 75px;" ng-style="{'color':(office.Status | chooseStatus)}">
								<div style="margin:0;padding:0;font-size: 20px;word-wrap: break-word;width:85%;float:left;">

								{{(office[field.name])}}{{((office[primarykey1])&&(office[field.name]))?' - ' : ''}}{{office[primarykey1]}}
								</div>
								<div style="margin:0;padding:5px;text-align: center;float:left;width:15%;" title="{{office['Status']}}" data-toggle="tooltip" data-placement="bottom" ng-style="{'color':(office.Status | chooseStatus)}">
									<i style="font-size: 20px;line-height:20px" class="fa fa-circle" ng-if="office['Status']" ></i>
								</div>
							</div>
							<div ng-if="(($index > 1) && (field.WebFormExcerptView)&&(field.name != 'Status'))" style="margin:0;padding:5px 0px">
								<div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;">
								{{field.label+' : '}}
								</div>  
								<div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;">
								{{office[field.name]}}
								</div>
							<div style="clear:both"></div>
							</div>
						</div>	
						<div style="clear:both"></div> 
					</div>
					<div style="clear:both"></div>
					<div class="row" style="margin-right: -15px;">
					<div class="actionRow" ng-init = "_permission = office['Status'] ? callforPermission(permission,office['Status']) : permission">
						<a class="actionIcons" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.3','cursor': 'not-allowed'}" ng-click="(permission.C)?gotoState({'Operation':'Clone','fieldData':office}):''" tooltip="{{(permission.C)?'Clone':'You don&lsquo;t have permission'}}"><i class="fa fa-clone Iclr1"></i></a>
						<a class="actionIcons" ng-style="(_permission.U)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.3','cursor': 'not-allowed'}" ng-click="(_permission.U)?gotoState({'Operation':'Edit','fieldData':office}):''" tooltip="{{(_permission.U)?'Edit':'You don&lsquo;t have permission'}}"><i class="fa fa-pencil-square-o Iclr1"></i></a>
						<!--<a class="actionIcons" ng-click="exportAsExcel($event)" tooltip="Export as Excel"><i class="fa fa-file-excel-o Iclr1"></i></a>-->
						<a class="actionIcons" ng-style="(_permission.D)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.3','cursor': 'not-allowed'}" data-toggle="modal" data-target="{{(_permission.D)?'#delPopup':''}}" tooltip="{{(_permission.D)?'Delete':'You don&lsquo;t have permission'}}" ng-click="(_permission.D)? takeDeldata(office,$index):''"><i class="fa fa-trash-o Iclr1"></i></a>
					</div>
					</div>
					<div style="clear:both"></div>
				</div>		
			</div>
			
			<div ng-if="$first" class="panel paneltrans col-md-3" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" tooltip="{{(permission.C)?'':'You don&lsquo;t have permission'}}">
				<div style="background: #9e9e9e;text-align: center;min-height: 200px;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items : center;-moz-box-align : center;-ms-flex-align : center;align-items : center;-webkit-box-pack: center;-moz-box-pack : center;-ms-flex-pack : center;-webkit-justify-content : center;justify-content : center; " ng-style="{'height':callStyle()}" ng-click="(permission.C)?gotoState({'Operation':'Add','fieldData':''}):''">
					<div style="display: inline-block;font-size: 20px;color: #fff;">
						<i class="fa fa-plus-square" style="font-size: 70px; line-height: 70px;"></i><br/>
						<span>{{'Add '+Title}}</span>
					</div>
				</div>		
			</div>
		</div>
		</div>
		<div style="clear:both;"></div>
		</div>
	</div>
</div>
</div>
</div>
<script>
$(document).ready(function() {
    $('body').tooltip({
        selector: "[data-toggle=tooltip]"
	});
	
	$('.input-group-addon').on('click focus', function (e) {
		$(this).prev().focus().click()
	});
	var isIE = /*@cc_on!@*/false || !!document.documentMode;
	//console.log('isIE',isIE)
	if(isIE){
		var _placeholder;
		$('input[name=keywordSearch]'). mouseenter(function(e){	
			_placeholder = $(this).attr('placeholder');	
			$(this).attr('placeholder', '' ) 
		}).mouseleave(function(){
			$(this).attr('placeholder', _placeholder) 
		})
	}
	
	/*window.setTimeout(function(){
	$('[data-toggle="tooltip"]').click(function(){
            $(this).trigger('mouseleave');
        })   
	},100)*/

});
</script>
