	html
	{
	font-family:sans-serif;
	-webkit-text-size-adjust:100%
	}
	body{
	margin:0;
	padding:0;
	line-height:0;
	}
	small
	{
	font-size:80%
	}
	body,html
	{
	width:100%;
	height:100%;
	background-color:#ffffff;
	}
	body
	{
	color:#fff;
	text-align:center;
	text-shadow:0 2px 4px rgba(0,0,0,.5);
	padding:0;min-height:100%;
	display:table;
	font-family:"Open Sans",Arial,sans-serif;
	}
	h1{
	font-family:inherit;
	font-weight:500;
	line-height:1.1;
	color:black;
	font-size:36px
	}
	h1 small{
	font-size:68%;
	font-weight:400;
	line-height:1;
	color:brown;
	}
	
	.sub
	{
	color:#795548;
	font-size:21px;
	line-height:1.4
	}
	.maindiv
	{
	display:table-cell;
	vertical-align:middle;
	padding:0 20px
	} 
.main
 {
    width:370px;
	height:200px;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
	border-radius: 10px;
	line-height:300%
 }
 .main p
 {
	line-height: 90%;
    font-size: 70px;
    font-weight: 200;
    text-align: center;
	color: dimgray;
	
 }