.ManualFooter,.main-footer {
    background: #f4bd0c !important;
	padding: 8px 20px 5px 20px !important;
	font-size: 12px !important;
}
.page-footer {
    padding: 8px 20px 5px 20px;
    font-size: 12px;
    height: 33px;
}

.main-header
{
	background:#fff !important;
}
.appLogo
{
	margin-top:20px;
}

.content-wrapper
{
padding-bottom:100px;
}

.loginButton
{
background-color:#a29060 !important;
border-color:#a29060 !important;
}


