<style>
	.editHere .form-control {
		/*margin-top: 7px;*/
		margin-bottom: 8px !important;
		width:100%;
	}
	.formDataGroup {
		margin: 5px 0;
	}
	.bootstrap-datetimepicker-widget{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-days{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-months{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-years{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-decades{
	display: block;
}
.input-group-addon{
  padding: 0px 5px;
}
.glyphicon{
    padding:9px 10px;
}
.addAdditionalFields
{ 	
	/*color: #333;*/
    background-color: #f5f5f5;
    border:1px solid #ddd;
	padding: 10px;
}
.addBorder
{ 
	border:1px solid #ddd;
	padding: 10px;
}
.close
{
	opacity: 1;
}



.modifiedClass{
	background-color: #ffffb8;
}

td > pre{
	background: transparent;
	max-height:125px;
	overflow:auto
}

table > tbody > tr > th {
	background: #cad5eb;color: #1d2e50;
}
.hrClass
{
	margin-top : 0 !important;
}
#tContainer .select2-container
{
	width: 333px !important;
}
.select2-container .select2-selection--single
{
	height:33px;
}
.bootstrap-datetimepicker-widget{
	display: block;
	background: #9E9E9E;
	color:#000
}
.bootstrap-datetimepicker-widget:hover{
	background: #9E9E9E;
}
.bootstrap-datetimepicker-widget .datepicker-days{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-days,.datepicker-months,.datepicker-years:hover{
	background: #9E9E9E;
}
    
#keywordSearchbtn:focus,#keywordSearchbtn:active{
	outline:none;
}
#searchBox:focus,#searchBox:active{
	box-shadow: none;
}
.nonbtndisable{
	cursor: not-allowed !important;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
	pointer-events: none;
}


</style>
<!-- BEGIN PAGE HEADER-->

<div class="page-bar breadCrumb" ng-controller="activeController">
	<div class="row">
		<div class="col-md-6 ">
			<ul class="page-breadcrumb">

				<li>
					<i class="fa fa-user"></i>
					<a href="javascript:void(0);" translate class="removeCursor">Sidebar.AdminPanel</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<span translate class="removeCursor">Sidebar.UserManagement</span>
				</li>
			</ul>
		</div>
		<div class="col-md-6 headerVals">
			<div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

		</div>
	</div>

</div>
<div class="contentContainer">
	<div class="pageTitle">
		<div class="row">
			<div class="col-sm-5">
				<div class="title__container">
					<h2 translate>UserManagement.PageTitle</h2>
					<p translate>UserManagement.SubTitle</p>
				</div>
			</div>
		</div>
</div>

<div class="animated bounce bold" ng-repeat="alert in alerts" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}">
<a class="close" data-dismiss="alert" aria-label="close">&times;</a> {{alert.msg}}
</div>

<!-- Delete popup Window Start-->
	<div class="modal fade" tabindex="-1" id="delPopup" role="dialog">
			<div class="modal-dialog modal-md" style="top: 200px;">
				<div class="modal-content modalbdy animated tada">
					<div class="modal-header" style="padding: 0px !important; border: 0px !important">
						<div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
					</div>
					<div class="modal-body" style="padding: 0px !important; border: 0px !important">
						<h1>Are you sure?</h1>
						<h4>You will not be able to recover this Data!</h4>
					</div>
					<div class="modal-footer modalftr">
						<button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
						<button tabindex="0" type="button" class="buton yess" ng-click="deleteData();">Yes, delete it!</button>
					</div>
				</div>
			</div>
		</div>
<!-- Delete popup Window End-->

<!-- Draft popup Window Start-->
<div class="modal fade" tabindex="-1" id="delPopupDraft" role="dialog" style="z-index: 1150;">
	<div class="modal-dialog modal-md" style="top: 200px;">
		<div class="modal-content modalbdy animated tada">
			<div class="modal-header" style="padding: 0px !important; border: 0px !important">
				<div class="iconBox"><i class ="exclaLine"></i><i class ="exclaDot"></i></div>
			</div>
			<div class="modal-body" style="padding: 0px !important; border: 0px !important">
				<h1>Are you sure?</h1>
				<h4>You will not be able to recover this Draft!</h4>
			</div>
			<div class="modal-footer modalftr">
				<button tabindex="0" type="button" class="buton cancl" data-dismiss="modal">Cancel</button>
				<button tabindex="0" type="button" class="buton yess" ng-click="gotodeleteDraft()">Yes, delete it!</button>
			</div>
		</div>
	</div>
</div>
<!-- Draft popup Window End-->



 <div class="modal fade" id="DraftListModal" role="dialog" tabindex="-1">
				  <div class="modal-dialog">

					 <div class="modal-content">
					  <!-- <h4>Saved Drafts - </h4> -->
						<div class="modal-body draft__modal-saved table-responsive" style="border:5px solid rgb(150, 156, 195) !important">
						<h4 class="col-md-11">Saved Drafts - User Management</h4>


			<div class="clearfix"></div>

						<hr class="hrClass"/>

						<div class="draftViewCls FixHeadDraft">
						<table class="table table-bordered drafttable" ng-show="draftdatas.length">
						<thead>
							<tr style=" font-size: 14px;">
								<th>Business Primary Key</th>
								<th>Last Updated</th>
								<th class="text-center">Action</th>	
							</tr>

						</thead>


							<tbody>
							<tr ng-repeat="value in draftdatas" ng-class="{oddClas:($index%2)== 1}" >
								<td style="font-weight: bolder;word-wrap: break-word;">
								{{value.BPK}}
								</td>
								<td style="font-weight: bolder;word-wrap: break-word;">
								{{value.LastUpdated | dateFormat}}
								</td>
								<td class="text-center" style="font-size: 16px;min-width:120px;">
									<!--<i class="fa fa-eye Iclr" style="cursor:pointer;" ng-click="gotoEditDraft('View',$index,value)"></i>&nbsp;&nbsp;|&nbsp;-->
									<!--listviewLog();userDataFn(userData,$index,true);gotoView(userData,true)-->
									<i class="fa fa-pencil-square-o Iclr" style="cursor:pointer;" ng-click="gotoEditDraft('Edit',$index,value)" tooltip="Edit"></i>&nbsp;&nbsp;|&nbsp;
									
									<i class="fa fa-trash-o Iclr" style="cursor:pointer;" data-toggle="modal" data-target="#delPopupDraft" ng-click="takeDeldata(value,$index)" tooltip="Delete"></i>
								</td>
							</tr>
							
							
						</tbody>
							
						</table>
						</div>
						   <div class="alert-warning" ng-show="!draftdatas.length" style="padding: 15px 15px 15px 15px;">
									<strong><h4  style="margin:0;text-align:center;"> No Records Found</h4></strong>
								</div>
								
						<button type="button" class="btn btnStyle pull-right CanclPopup" data-dismiss="modal" ng-click="cancelChanges()">Close</button>
						</div>
					 </div>
					 	
				  </div>
			   </div>




<!-- Count Bar Starts -->
<div class="countbar-title">
        <div class="col-md-3 col-sm-3 col-xs-12  ng-binding" style="padding: 0;">
            <div class="caption">
					<!-- <span><span class="highlight">{{(restVal.length-1 && totalForCountBar) ? restVal.length-1 + ' out of '+ totalForCountBar : ''}}</span>{{(restVal.length-1 && totalForCountBar) ? ' records shown' : 'Fetching Data...'}}</span> -->


					<span class="highlight" ng-if="restVal.length>1"><span>{{(totalForCountBar && restVal.length-1)? restVal.length-1 + ' out of '+totalForCountBar : (restVal.length-1)?restVal.length-1:'' }} </span> <span ng-if="restVal.length>1">records shown</span></span>

					 <span ng-if="restVal.length == 1"> <span  class="highlight">0 </span>  <span >records shown</span></span>

               </div>
        </div>
    
    
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="btn-group" style="float:right;">
        	 <button style="box-sizing: border-box;" class=" btn-trans pull-left ng-scope" ng-init="creatingWindow=true" tooltip="{{(permission.C)?'Add New':'You don&lsquo;t have permission'}}"
					 ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.C)?goToCreateUser():''" ng-if="!changeViewFlag"><i class="fa fa-plus-square fa-fs14"></i></button>

            <button style="border: 1px solid #fff;box-sizing: border-box;margin-left:5px;float:left;" ng-click="loadData()" class="btn-trans" tooltip="{{'Refresh'}}"><i class="fa fa-refresh fa-fs14"></i></button>
            
            
            <div id = "sortBy" class="dropdown customDropdown" style="float: left;" ng-show="changeViewFlag">
                        <button style="border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="{{'Sort'}}" ng-click="setHeight($event)">
                            <i class="fa fa-sort-amount-desc fa-fs14"></i>
                        </button>
                        
                        <ul class="dropdown-menu dropdown-menu-default pull-right" style="min-width: 300px;padding:10px 0px;">
                            <form ng-submit="searchFilter(filterParams)">
                            <li id="sortBy" class="dropdown-header">SORT BY <i> (Click to Sort) </i> <i style="float: right; cursor: pointer; color: #9e9e9e; font-weight: bolder;" ng-click="clearSort('#sort')"><u>Reset All</u></i></li>
                            <div id="sort" class="dataGroups" style="padding: 0px 15px;margin:0;width:100%;float: left;max-height: 300px;overflow: auto;">
                                <div ng-repeat="x in FieldsValues" style="color:#fff;display: table;width: 100%;margin-bottom: 2px;">
                                    <div id="sort_{{$index}}" style="margin-bottom: 2px;display: table-row;width: 100%;">
                                    <span style="display: table-cell;background: #9e9e9e;padding: 5px 8px;border-right: 1px solid #fff;width: 90%;">{{x.label}}</span>
                                    <a tooltip-placement="top" style="display: table-cell;background: #9e9e9e;padding: 6px;text-align: center;vertical-align: middle;width: 10%;" ng-click="gotoSorting(x)"><i id="{{x.value}}_icon" class='fa fa-minus fa-sm' style="color:#2b3643 !important"></i></a>
                                    </div>	
                                </div>
                            </div>
                            </form>
                        </ul>				
                    </div>
            
                    <div id="Filter" class="dropdown customDropdown" style="float: left;">
                    <button style="border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="{{'Filter'}}">
                        <i class="fa fa-filter"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-default pull-right xyz" style="min-width: 600px;padding:10px 0px;">
						
                        <form ng-submit="searchFilter(filterParams)" ng-init="parsed = filterParams.SearchSelect">
                            <li id="Filter" class="dropdown-header" style="padding: 8px 14px 2px 14px;margin: 0;">APPLY FILTER:</li>
                             <div id="Filter" class="row input-group parent" style="padding: 8px 0px 2px 14px;margin: 0;display: inline-block;width: 50%;float: left;">
                                <select id="SearchSelect" name="SearchSelect" class="form-control appendSelect2" ng-model="filterParams.SearchSelect" style="cursor:pointer" ng-change="parsed = (filterParams.SearchSelect | jsonparse); filterParams.keywordSearch = '';triggerSelect(parsed)">
                                    <option value="">Select</option>
                                    <option ng-repeat="x in fields" value="{{x}}" ng-if="x.type != 'DateOnly' && x.name != 'Status'">{{x.label}}</option>
                                </select>
                            </div> 
                            <div id="Filter" class="row input-group" style="padding: 8px 14px 2px 0px;margin: 0;display: inline-block;width: 50%;" >
                                <div ng-if="parsed.type == 'string' || !parsed" >
                             <span class="cstmDrop" style="display:inline-block;color:#000;cursor: pointer;position: relative;box-sizing: border-box; width: 90%;" ng-init="parsedSearchSelect = (filterParams.SearchSelect ? (filterParams.SearchSelect | jsonparse) : false)">
                                    <input name="keywordSearch" style="color: #000;" type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="filterParams.keywordSearch" placeholder="{{parsed ? 'Search '+ (parsed.label): 'Keyword Search'}}" ng-required="showCustom || filterParams.keywordSearch || filterParams.Status.length ? false : true">
                                </span>
                                <span class="input-group-addon" style="cursor:pointer;float: left;width: 10%;height: 100%;padding: 9px;" ng-click="searchFilter(filterParams)" ng-class="filterParams.keywordSearch ? '' : 'nonbtndisable'"><i class="fa fa-search"></i></span>
                                </div>
                                <select ng-if="parsed.type == 'select'" name="keywordSearch" class="form-control" ng-model="filterParams.keywordSearch">
                                    <option value="">Select</option>
									<option ng-if="parsed.name == 'TimeZone'" ng-repeat="k in parsed.value" value="{{k.TimeZoneId}}">{{k.TimeZoneId}}</option>
									<option ng-if="parsed.name == 'RoleID'" ng-repeat="k in parsed.value" value="{{k.RoleID}}">{{k.RoleName}}</option>
                                </select>
                            </div>
                            
                            <div ng-repeat="y in fields" ng-if="status = (y.name === 'Status') ? y.value : ''">
                                <li id="Filter" class="dropdown-header">FILTER BY {{y.label | uppercase }}</li>
                                <div id="Filter" style="padding: 8px 10px 2px 10px;">
                                    
                                    <button type="button" class="filterBystatus" ng-repeat="x in Status" ng-init="getCountbyStatus(x)" ng-click="setStatusvalue(x.displayvalue,filterParams)" id="{{x.displayvalue}}" ng-class ="x.TotalCount ? '' : 'nonbtndisable'">

                                         <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                                        <div style="clear:both;" ng-if="$index % 2 == 0"></div>
                                        <div style="padding: 0px 5px;float: left;">
                                            <span class="fa-wrapper">
                                                <i class="fa fa-circle" ng-style="{'color':(x.displayvalue | chooseStatus)}"></i></span>
                                            <span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue  +' ('+x.TotalCount+') '}}</span>
                                            
                                        </div>
                                        <div style="clear:both;"></div>
                                    </button>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                            <li id="Filter" class="dropdown-header">FILTER BY EFFECTIVE DATE</li>
                            <div id="Filter" style="padding: 8px 10px 2px 10px;">
                                <button type="button" class="filterBydate" ng-repeat="x in filterBydate" ng-click="setEffectivedate(x,filterParams)" id="{{x.displayvalue|removeSpace}}">
                                    <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                                    <div style="clear:both;" ng-if="$index % 2 == 0"></div>
                                    <div style="padding: 0px 5px;float: left;">
                                        <span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue}}</span>
                                        <i class="fa fa-calendar"></i>
                                    </div>

                                    
                                </button>
                                <div style="clear:both;"></div>
                                <div id="customPicker" class="row fade-in-up" ng-show="showCustom" style="padding: 10px 0px 0px 0px;">
                                    <div class="input-group date" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months" style="width: 100%">
                                        <div class="input-group col-md-12" style="padding: 0px 0px 0px 20px; width: 46%; float: left;">
                                            <input type="text" class="form-control DatePicker" ng-model="filterParams.startDate" id="startDate" name="startDate" style="width:100%" placeholder="From" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
                                            <span class="input-group-addon" ng-click="focusInfn('startDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <span class="input-group-addon" style="border:none; background-color:transparent; width: 6%; float: left; padding: 10px;">To</span>
                                        <div class="input-group col-md-12" style="width: 46%">
                                            <input type="text" class="form-control DatePicker" ng-model="filterParams.endDate" id="endDate" style="width:100%" placeholder="To" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
                                            <span class="input-group-addon" ng-click="focusInfn('endDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
							<div style="clear:both"></div>
							
							<div class="row input-group pull-right" style="padding: 8px 14px 2px 14px;margin: 0;">

                                <button type="Button" class="btn-trans btnStyle" tooltip="Cancel" style="margin-right: 10px;" ng-click="clearFilter()"><i class="fa fa-times"></i></button>
                                <button type="Submit" class="btn-trans btnStyle" tooltip="Search" style="cursor: pointer;" ng-class="(filterParams.EffectiveDate.displayvalue == 'Custom' ? filterParams.startDate && filterParams.endDate && showCustom : showCustom)|| filterParams.keywordSearch || filterParams.Status.length ? 'cmmonBtnColors' : 'disabledBtnColor'">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </ul>
                    </div>
            
            <div class="dwnBtn" style="float:left;margin-left:5px;">
						<!-- <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" ng-click="setHeight($event)" aria-expanded="true"tooltip="{{'Export'}}"> <i class="fa fa-download" aria-hidden="true"></i></button>	 -->

						<button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="{{(restVal.length > 1)?'dropdown':''}}" tooltip="{{(restVal.length > 1)?'Export':'No records to export'}}" ng-style="{'opacity':(restVal.length > 1)?'1':'0.5'}"> <i class="fa fa-download" aria-hidden="true"></i></button> 

									
                        <ul class="download-window dropdown-menu dropdown-menu-excel pull-right" style="z-index: 10000;">
                            <li>							
                                <span><input type="radio" name="excelVal" value="Current" checked class="radiobtns"> Current Screen </span>
                                  
                                  <span><input type="radio" name="excelVal" value="All" class="radiobtns"> All Matching Filter</span>
                            </li>
                            
                            <li tooltip="{{'Excel'}}" class="excelprint" style="margin-left:40px;" ng-click="exportAsExcel($event)"><i class="fa fa-file-excel-o fa-fs14" aria-hidden="true"></i>
                            </li>
                            <li data-toggle="tooltip" data-placement="top" title="{{'Print'}}" class="excelprint" ng-click="printFn()"><i class="fa fa-print fa-fs14" aria-hidden="true"></i>
                            </li>
                            
                            
                        </ul>
                    </div>
           
			 <button ng-show="!changeViewFlag" style="border: 1px solid #fff;box-sizing: border-box;margin-left:5px; float: left" ng-click="(permission.C)? getCurrentDrafts() : '' " class="btn-trans" tooltip="{{(permission.C)?'Show Drafts' : 'You don&lsquo;t have permission'}}" data-toggle="modal" data-target="{{(permission.C)? '#DraftListModal' : ''}}" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}"><i class="fa fa-sticky-note"></i></button>

            <button style="border: 1px solid #fff;box-sizing: border-box;border-right:0px;margin-left:5px" class="btn-trans" id="btn_1" ng-class="changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="List View"><i class="fa fa-list fa-fs14"></i></button>
            <button style="border: 1px solid #fff;box-sizing: border-box;border-left:0px" class="btn-trans " id="btn_2" ng-class="!changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="Grid View"><i class="fa fa-table fa-fs14"></i></button>
    
    
          </div>
        </div>
        <div class="clearfix"></div>
      </div>


<!--Count Bar Ends -->

<div class="modal fade" id="customDate" role="dialog" tabindex="-1" data-backdrop="static" ng-keydown="dummy($event)">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modalHeaderColor">
				<button type="button" class="close" data-dismiss="modal" ng-click="filterCancel()">&times;</button>
				<h4 class="modal-title">Select the Dates</h4>
			</div>
			<div class="modal-body">
				<form ng-submit="FilterByDate('custom')">
					<div class="col-md-12" style="padding:15px;">
						<div class="input-group date" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">
							<input type="text" class="form-control" ng-model="customDate.startDate" id="CstartDate" style="width:100%" placeholder="From (TimeZone - {{profileName}})" ng-blur="removeFn()"
								onkeypress="return tabOrder(event)" onpaste="return false" required>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

							<span class="input-group-addon" style="border:none;background-color:transparent;">To</span>
							<input type="text" class="form-control" ng-model="customDate.endDate" id="CendDate" style="width:100%" placeholder="To  ( TimeZone - {{profileName}} )" ng-blur="removeFn()"
								onkeypress="return tabOrder(event)" onpaste="return false" required>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>
					<div class="col-md-12 txtCenter" style="padding:15px;">
						<button type="submit" id="okBtn" class="btn btnStyle">OK</button>
						<button type="reset" class="btn btnStyle" data-dismiss="modal" ng-click="CustomDatesReset()">Cancel</button>
						<button type="reset" class="btn btnStyle" ng-click="CustomDatesReset()">Reset</button>
					</div>
					<div style="clear:both"></div>
				</form>



			</div>
			
		</div>

	</div>
</div>
	
<div style="position:relative;">
		<div class="row">
				
			<div class="col-md-12">

					<div class="alert alert-warning" ng-show="restVal.length <= 1">
							<strong><h4  style="margin:0;text-align:center;"><i class="fa fa-warning"></i> No Records Found</h4></strong>
						</div>

				<div class="listView FixHead dataGroupsScroll" id="lflag" ng-show="!changeViewFlag && restVal.length">

					<table class="table table-bordered maintable" ng-if="restVal.length > 1">
						<thead>
							<tr>
								<th class="cursorPointer" ng-repeat="val in FieldsValues" ng-if="val.visible" ng-click="gotoSorting(val,$index,$event)">
									{{val.label}}
									<span id="{{val.value}}_Icon" class=""></span>
								</th>
						</thead>
						<tbody>
								<tr ng-repeat="userData in restVal" ng-class="{oddClas:($index%2)== 1}" ng-click="userDataFn(userData,$index,true);gotoView(userData,true)" style="cursor:pointer;" ng-if="(!$first)">
										
									<td ng-repeat="val in FieldsValues" ng-if="val.visible">
										<span ng-if="val.value == 'Status'" ng-style="{'color':(userData.Status | chooseStatus)}"><i style="font-size: 20px;line-height:20px" class="fa fa-circle" tooltip="{{userData.Status}}" tooltip-placement="bottom"></i></span>
										<span ng-if="val.value != 'Status'">{{userData[val.value]}}</span>
									</td>
								</tr>
							</tbody>
					</table>
				</div>
			</div>
		</div>
		<div>

				

			<div class="row listView" ng-show="changeViewFlag" >
				<!-- <div class="col-md-2 col-sm-6" ng-repeat="userData in restVal" id="listViewPanelHeadingListview_{{$index}}">
					<div class="formDataGroup txtCenter" id="dataGroup_{{$index}}" style="height:240px;">
						<div class="col-md-12" style="margin-right:0;">
							<a data-toggle="modal" data-target="{{(permission.D && userData.Status != 'ACTIVE-WAITFORAPPROVAL' && userData.Status != 'DELETED' && userData.RoleID != 'Super Admin')?'#delPopup':''}}" ng-click="(permission.D && userData.Status != 'ACTIVE-WAITFORAPPROVAL' && userData.Status != 'DELETED' && userData.RoleID != 'Super Admin')?takeDeldata(userData,$index):''" style="cursor: pointer;float:right;"><i class="fa fa-trash-o Iclr closeIcons" data-toggle="tooltip" data-placement="bottom" title="{{(permission.D && userData.Status != 'ACTIVE-WAITFORAPPROVAL' && userData.Status != 'DELETED' && userData.RoleID != 'Super Admin')?'Delete':'You don&lsquo;t have permission'}}"  ng-style="(permission.D && userData.Status != 'ACTIVE-WAITFORAPPROVAL' && userData.Status != 'DELETED' && userData.RoleID != 'Super Admin')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ></i></a>
						</div>
						
						<img src="themes/images/user.png" style="height: 80px;" alt="" class="img-circle img-responsive userProfileImg dsf">

						<div>
						<h3 class="firstuser" style="word-break:break-all;font-size:18px;">{{userData.FirstName}} {{userData.LastName}}</h3>
						<h4 class="firstuser_role">{{userData.RoleID}}</h4>
						</div>
						
						<div ng-click="viewMe = true">
							<button type="button" class="btn btnStyle btn-xs" data-keyboard="true" data-toggle="modal" ng-click="listviewLog();userDataFn(userData,$index,true);gotoView(userData)"
							 style="border-radius:25px !important;padding : 5px 10px;">
										 View Profile
									</button>
						</div>
						
					</div>
				</div> -->

		<div class="panel-group">
			<div class="col-md-12" style="margin-top:10px;margin-bottom: 15px;padding: 0;">
					<div ng-repeat="userData in restVal" ng-init="colIndexx = $index">
						<div class="clearfix" style="background-color: transparent;" ng-if="$index % 4 == 0"> </div>
						<div style="clear:both" ng-if="$index%4 == 0"></div>
						
						<div ng-if="$first" class="panel paneltrans col-md-3 addToolTip" >
								<!--<div style="background: rgb(158, 158, 158); text-align: center; min-height: 140px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center;height: 210px;" ng-style="{'height':callStyle()}" ng-click="(permission.C)?goToCreateUser():''">
									<div style="display: inline-block;font-size: 20px;color: #fff;">
										<i class="fa fa-plus-square" style="font-size: 70px; line-height: 70px;"></i><br>
										<span class="ng-binding">Add User</span>
									</div>
								</div>-->
								<div style="background: #9e9e9e;min-height: 200px;color:#fff;" ng-style="{'height':callStyle()}" >
                        <div class="row">
						
						
						<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="add-holder" title="{{(permission.C)?'':'You don&lsquo;t have permission'}}" data-toggle="tooltip" data-placement="bottom">
						<i class="fa fa-plus-square" style="font-size: 70px; line-height: 70px;" ng-click="(permission.C)?goToCreateUser():''" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ></i><br/>
						<p style="font-size:15px;" class="bold">Add User</p>
						</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="show__drafts-holder" title="{{(permission.C)?'':'You don&lsquo;t have permission'}}" data-toggle="tooltip" data-placement="bottom">
						<i class="fa fa-sticky-note" style="font-size: 70px; line-height: 70px;" data-toggle="modal" data-target="{{(permission.C)? '#DraftListModal' : ''}}" ng-style="(permission.C)? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(permission.C)? getCurrentDrafts() : '' "></i>
						<p style="font-size:15px;" class="bold">Show Drafts</p>
						</div>
						</div>
						<div class="clearfix"></div>
                        </div>
					</div>



						</div>
						<div ng-if="(!$first)" class="panel paneltrans col-md-3">
							<div class="panel-heading listViewPanelHeading" id="listViewPanelHeading_{{$index}}" style="padding-bottom:0px;">
								<div class="row dataGroups" id="dataGroup_{{$index}}" ng-click="listviewLog();userDataFn(userData,$index,true);gotoView(userData,true)" style="cursor:pointer;min-height:160px;max-height:160px;">
									<div class="col-md-12" style="padding:5px 15px;position: relative;">
										<div class="panel-wrapper-inside">
											<div class="ruleHead pull-left" title="User ID" data-toggle="tooltip" data-placement ="bottom" style="font-size: 19px; word-break: break-all;" ng-style="{'color':(userData.Status | chooseStatus)}">
												{{userData.UserID}}
											</div>
											
										<div class="pull-right" title="{{userData['Status']}}" data-toggle="tooltip" data-placement ="bottom" ng-style="{'color':(userData.Status | chooseStatus)}">
										<i style="font-size: 20px;line-height:27px" class="fa fa-circle" ng-if="userData['Status']"></i>
										</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div class="row">
											<div class="col-md-8 col-sm-6 col-xs-6">
													<div ng-repeat="val in FieldsValues" ng-if="(val.visible && val.value !='Status' && val.value !='UserID')"
													style="padding:5px 15px">
														<div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-break: break-all;float: left;">
															{{val.label}} :
														</div>
														<div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;float: left; word-break: break-all;">
															<span>{{userData[val.value]}}</span>
															
														</div>
														<div class="clearfix"></div>
													</div>
											</div>
											<div class="col-md-4 col-sm-6 col-xs-6">
													<img src="themes/images/user.png" style="height: 87px;" alt="" class="img-circle img-responsive userProfileImg dsf">
											</div>
											
											
									</div>
									



								</div>
								
								<div class="row">
										<div class="actionRow col-md-12">
											<a ng-init="showEditWin = true" class="actionIcons" ng-style="(isSuperAdmin == 'Super Admin' && userData.Status != 'DELETED' && userData.Status != 'ACTIVE-WAITFORAPPROVAL' && userData.Status != 'INACTIVE-WAITFORAPPROVAL' && userData.Status != 'SUSPENDED-WAITFORAPPROVAL')? {'opacity':'','cursor': 'pointer'}: (permission.U && userData.Status != 'DELETED' && userData.Status != 'ACTIVE-WAITFORAPPROVAL' && userData.Status != 'INACTIVE-WAITFORAPPROVAL' &&  userData.RoleID != 'Super Admin' && userData.Status != 'SUSPENDED-WAITFORAPPROVAL') ? {'opacity':'','cursor': 'pointer'} : {'opacity':'0.2','cursor': 'not-allowed'}" ng-click="(isSuperAdmin == 'Super Admin' && userData.Status != 'DELETED' && userData.Status != 'ACTIVE-WAITFORAPPROVAL' && userData.Status != 'INACTIVE-WAITFORAPPROVAL' && userData.Status != 'SUSPENDED-WAITFORAPPROVAL')? gotoEdit(userData,false): (permission.U && userData.Status != 'DELETED' && userData.Status != 'ACTIVE-WAITFORAPPROVAL' &&  userData.RoleID != 'Super Admin' && userData.Status != 'INACTIVE-WAITFORAPPROVAL' && userData.Status != 'SUSPENDED-WAITFORAPPROVAL') ? gotoEdit(userData,false) : '';isSuperAdmin == 'Super Admin' ? userDataFn(userData,$index,true): (permission.U && userData.Status != 'DELETED' && userData.Status != 'ACTIVE-WAITFORAPPROVAL' &&  userData.RoleID != 'Super Admin' && userData.Status != 'INACTIVE-WAITFORAPPROVAL' && userData.Status != 'SUSPENDED-WAITFORAPPROVAL') ? userDataFn(userData,$index,true) : ''" tooltip="{{(isSuperAdmin == 'Super Admin' && userData.Status != 'DELETED' && userData.Status != 'ACTIVE-WAITFORAPPROVAL' && userData.Status != 'INACTIVE-WAITFORAPPROVAL' && userData.Status != 'SUSPENDED-WAITFORAPPROVAL')? 'Edit': (permission.U && userData.Status != 'DELETED' && userData.Status != 'ACTIVE-WAITFORAPPROVAL' &&  userData.RoleID != 'Super Admin' && userData.Status != 'INACTIVE-WAITFORAPPROVAL' && userData.Status != 'SUSPENDED-WAITFORAPPROVAL') ? 'Edit' : 'You don&lsquo;t have permission'}}"><i class="fa fa-pencil-square-o Iclr1"></i></a>
			
											 <a class="actionIcons" data-toggle="modal" data-target="{{(permission.D && userData.Status != 'ACTIVE-WAITFORAPPROVAL' && userData.Status != 'DELETED' && userData.RoleID != 'Super Admin' && userData.UserID != cUser && userData.Status != 'INACTIVE-WAITFORAPPROVAL' && userData.Status != 'SUSPENDED-WAITFORAPPROVAL')?'#delPopup':''}}" ng-click="(permission.D && userData.Status != 'ACTIVE-WAITFORAPPROVAL' && userData.Status != 'DELETED' && userData.RoleID != 'Super Admin' && userData.UserID != cUser && userData.Status != 'INACTIVE-WAITFORAPPROVAL' && userData.Status != 'SUSPENDED-WAITFORAPPROVAL')?takeDeldata(userData,$index):''"  ng-style="(permission.D && userData.Status != 'ACTIVE-WAITFORAPPROVAL' && userData.Status != 'DELETED' && userData.RoleID != 'Super Admin' && userData.UserID != cUser && userData.Status != 'INACTIVE-WAITFORAPPROVAL' && userData.Status != 'SUSPENDED-WAITFORAPPROVAL')? {'opacity':'','cursor': 'pointer'}:{'opacity':'0.2','cursor': 'not-allowed'}" tooltip="{{(permission.D && userData.Status != 'ACTIVE-WAITFORAPPROVAL' && userData.Status != 'DELETED' && userData.RoleID != 'Super Admin' && userData.UserID != cUser && userData.Status != 'INACTIVE-WAITFORAPPROVAL' && userData.Status != 'SUSPENDED-WAITFORAPPROVAL')?'Delete':'You don&lsquo;t have permission'}}"><i class="fa fa-trash-o Iclr1"></i></a>
			
										</div>
			
									   
									<div class="clearfix"></div>
									</div>
							</div>	
						</div>	
					</div>	
			</div>	
		</div>	

	</div>
	</div>
	</div>
	<script>
		$(document).ready(function(){
			setTimeout(function(){
				$('[data-toggle="tooltip"]').tooltip();
			},1000)
			$('[data-toggle="tooltip"]').tooltip();

			$('#Filter button:first-child').click(function(){
				setTimeout(function(){
				var parentElement = $(".parent");  
					$('select[name=SearchSelect]').select2({
						allowClear:true,
						placeholder:'Select',
						dropdownParent: parentElement
					})
				},500)
				
			})
			customDateRangePicker('CstartDate','CendDate')
			
		$('.DatePicker').datetimepicker({
			format:"YYYY-MM-DD",
			useCurrent: false,
			showClear: true,
			
        })
			setTimeout(function(){
				$('.input-group-addon').on('click focus', function(e){
			        $(this).prev().focus().click()
                 });
			},1000)


			$('li.dropdown.mega-dropdown a').on('click', function (event) {
                $(this).parent().addClass("open");
                });

                $('li.dropdown.mega-dropdown1 a').on('click', function (event) {
                $(this).parent().toggleClass("open");
                });

                $('li.dropdown.mega-dropdown a').focus(function(event){
                $(this).parent().addClass("open");
                });


                $('button').focus(function(event){
                    if(($(this).val() == 'Reset Filter') || ($(this).val() == 'Search'))
                    {$('li.dropdown.mega-dropdown').removeClass('open')
                    }
                });



            $('body').on('click', function (e) {
                if($(e.target).attr('id') == 'DropId')
                {
                     if(!showFlag)
                     {$('.customDropDown1').show()}
                     else
                     {$('.customDropDown1').hide()}
                }
                else
                {
                    if($(e.target).parent().hasClass('cancel'))
                    {$('.customDropDown1').show()}
                    else
                    { $('.customDropDown1').hide()}
                 }

                if (!$('li.dropdown.mega-dropdown').is(e.target) && $('li.dropdown.mega-dropdown').has(e.target).length === 0 && $('.open').has(e.target).length === 0) {
                    $('li.dropdown.mega-dropdown').removeClass('open');
                }


			})
			
			var selArr = ["TimeZone","Status"];
			for(var i in selArr)
			{
				$('select[name='+selArr[i]+']').select2()
			}
        	var isIE = /*@cc_on!@*/false || !!document.documentMode;
	//console.log('isIE',isIE)
	if(isIE){
		var _placeholder;
		$('input[name=keywordSearch]'). mouseenter(function(e){	
			_placeholder = $(this).attr('placeholder');	
			$(this).attr('placeholder', '' ) 
		}).mouseleave(function(){
			$(this).attr('placeholder', _placeholder) 
		})
	}
			
		})
		
	</script>