<style>
.customPretag {
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
	max-height: 700px; 
	background-color: #fff;
	overflow:auto;
}
</style>
<!-- BEGIN PAGE HEADER-->
<div class="breadCrumb" ng-controller="activeController">
    <div class="col-md-6">  
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-television"></i>
				<a href="javascript:void(0)" translate class="removeCursor"> Sidebar.SystemMonitoring</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li translate>
			   Sidebar.SystemDiagnosis
			</li>
		</ul>
    </div>
    <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
    </div>
</div>


<div class="contentContainer">
	<div class="pageTitle alertWidthonResize">
		<div class="row">
			<div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
				<div class="title__container">
					<h2 translate>SystemDiagnosisDet.PageTitle</h2> 
					<p translate>SystemDiagnosisDet.SubTitle</p>
				</div>
			</div>
			<div class="col-sm-1 col-md-1 col-lg-1 col-xl-1" style="text-align: right;">
				<div class="btn-group bar__icons">
					<button class="btn-transdashbrd" tooltip="Refresh" ng-click="initData()"><i class="fa fa-refresh fa-fs14"></i></button>
					<!-- <button ng-click="initData()" class="btn btnStyle ng-scope">Refresh</button> -->
				</div>
			</div>
		</div>
	</div>

	<div class ="animated bounce autoAdjustAlert bold" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-repeat="alert in alerts" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
		<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{alert.msg}}
	</div>

	<div class="alert alert-warning" ng-show="!getDta">
		<strong><h4  style="margin:0;text-align:center;">No Records Found</h4></strong>
	</div>

	<div class="row">    
		<div style="position:relative;margin:0;overflow:visible;">
			<div class="col-md-12" ng-show="getDta">
				<pre class="customPretag">{{getDta.data.Value}}</pre>
			</div>
		</div>
	</div>
</div>

<script>
      $('[data-toggle="tooltip"]').tooltip();      
</script>
