<style>
    .stickythead{
        position: -webkit-sticky !important;
        position: -moz-sticky !important;
        position: -ms-sticky !important;
        position: -o-sticky !important;
        position: sticky !important;
        top: 0;

    }
    .b-n{
        border:none;
    }
    .ptset{
        width:100%;
        margin-bottom:0;
        margin-top:5%
    }
    .zindex{
        z-index:2;
    }
    .pg-range{
        border-bottom:3px solid lightgray;
        padding:10px 10px 10px 10px;
        color:black !important
    }
    .pt-4{
        padding-top:4%;
    }
    .pt-2{
        padding-top:2%;
    }
    .pg-p{
        padding:20px;
    }
    .mt-2{
        margin-top:2%;
    }
    .mt-2{
        margin-top:3%;
    }
    .mw100{
        min-width:100px;
    }
    .bgwhite{
        background-color:white !important;
    }
    .cr{
        font-size:13px;padding-top:20px;
    }
    .dashtext{
        font-size:14px;
        color:black;
        padding:0% 3% 0% 0%;
    }
    .dashtext1
    {
        font-size:16px;
        color:gray;
    }
    .alert-center{
        margin:0;
        text-align:center;
    }
    /*a:hover {
        color: yellow;
    }*/
    .excs{
        color:#1d2e50;
        font-size:15px;
        margin-left:0%;
        padding-top:3%;
    }
    .line{
        border:1px solid lightgray;
    }
    .divstyle{
        margin:0;
        overflow:auto;
        max-height:500px;
    }
    .partwd{
        width:100%;
        margin-bottom:0;
        margin-top:2%;
    }
    .schewd{
        width:100%;
        margin-bottom:0;
    }

    .d-height{
        margin:0;
        overflow:auto;
        max-height:450px;
        padding:2% 0% 4% 0%;
    }
    .divset{
        margin:0;
        overflow:auto;
        max-height:500px;
    }
    .tablesize{
        height:260px;
        overflow:auto;
        padding-left:20px;
        padding-right:20px
    }
    .h2color{
        color: gray;
    }
    a{
        color:black;
        font-size: 14px;
    }
    .borderless td, .borderless th {
        border: none !important;
    }
    
    .borderless td, .borderless th {
        border: none;
    }

    text {
        font: 12px sans-serif
    }
    .testBlock {
        display: block
    }
    .nvtooltip {
        z-index: 100000
    }
    .modaltestBlock {
        display: block;
        height: 400px
    }


    .test{
        background-color: white !important;
    }

    .nvd3 text {
        font: normal 10.8px sans-serif !important;
    }
    .package-table  tr:nth-child(odd){background:#F1EFEB;}
    .package-table td{border-top:0px !important; border-right:1px solid #fff !important;}
    .package-table  tr:nth-child(even){background:white; }
    tr.active {color: white !important}
</style>
<!-- BEGIN PAGE HEADER-->
<div class="ui-wrapper">
    <div class="page-bar breadCrumb zindex" ng-controller="activeController" >
        <div class="row">
            <div class="col-md-6 ">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa fa-cog"></i>
                        <a href="javascript:void(0);" tabindex="1" aria-label="click go to bps ui" translate class="removeCursor">Sidebar.bpsui</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <span class="removeCursor" translate>bpsui.ParticipantDashboard</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 headerVals">
                <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
            </div>
        </div>
    </div>
    <div class="contentContainer" id="container">
        <div class="pageTitle  alertWidthonResize">
            <div class="row">
                <div class="col-lg-8 col-sm-8 col-xs-8">
                    <div class="title__container">

                        <h2 tabindex="1" aria-label="Participant Dashboard" translate>bpsui.ParticipantDashboard</h2>
                        
                    </div>
                </div>
              
            </div>
        </div>
        <div ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class="autoAdjustAlert bold" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" ng-repeat="alert in alerts">
            <a class="close" data-dismiss="alert" aria-label="close">
                &times;</a> {{alert.msg}}
            </div>
            <div class="portlet-title schewd"    >
                <div class="caption caption-md ProfileHeaderStyles">
                    <i class="fa fa-tachometer"></i>
                    <span tabindex="1"   aria-label="Bulk Section" class="caption-subject bold"  translate>Bulk</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-inner-box">
                    <div class="alert alert-warning" ng-if="!bulkData">
                        <strong><h4  class="alert-center">No Records Found</h4></strong>
                    </div>
                    <div class="row " ng-if="bulkData">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dashtext">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-4" >
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5 h2color"  tabindex="1">
                                    Schedule 
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7">
                                    <select class="form-control" tabindex="1" aria-label="value for schedule {{selectedSchedule.displayvalue}}"  ng-change="getBulk(selectedSchedule.actualvalue)" ng-model="selectedSchedule"    
                                    ng-options="item as item.displayvalue for item in BulkSchedule track by item.actualvalue" >  
                                    ></select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 listView FixHead dataGroupsScroll pt-2" >
                                <table class="table borderless ">
                                    <tr>
                                        <td></td>
                                        <td class="dashtext1" tabindex="1" aria-label="Submitted value is {{bulkData.Submitted}}">Submitted:</td>
                                        <td class="dashtext1"  tabindex="1" aria-label="Acknowledge value is {{bulkData.Acknowledge}}">Acknowledge:</td>
                                        <td class="dashtext1" tabindex="1" aria-label="Rejections value is {bulkData.Rejections}}">Rejections:</td>
                                    </tr>
                                    <tr class="h2color">
                                        <td ></td>
                                        <td ><h2>{{bulkData.Submitted}}</h2></td>
                                        <td ><h2>{{bulkData.Acknowledge}}</h2></td>
                                        <td ><h2>{{bulkData.Rejections}}</h2></td>
                                    </tr>
                                    <tr   ng-repeat="partkey in tableFields.partictionKey" >
                                        <td  class="cr">{{partkey.FieldName}}</td>
                                        <td>{{bulkData[partkey.FieldName].Submitted}}</td>
                                        <td>{{bulkData[partkey.FieldName].Acknowledged}}</td>
                                        <td>{{bulkData[partkey.FieldName].Rejections}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <hr  class="line">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" tabindex="1" aria-label="Current Schedule  is {bulkData.Current_Schedule}}">
                                <p class="dashtext1">Current Schedule</p>
                                <p>{{bulkData.Current_Schedule}}</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" tabindex="1" aria-label="Schedule Status is {bulkData.Schedule_status}}">
                                <p class="dashtext1">Schedule Status</p>
                                <p>{{bulkData.Schedule_status}}</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" tabindex="1" aria-label="Schedule Status is {bulkData.Next_Schedule}}">
                                <p class="dashtext1">Next  Schedule</p>
                                <p>
                                    {{bulkData.Next_Schedule}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-title ptset" >
                <div class="caption caption-md ProfileHeaderStyles">
                    <i class="fa fa-tachometer"></i>
                    <span class="caption-subject bold" tabindex="1" aria-label="Scheme Dashboard Cheque Section" translate>Cheque</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-inner-box">
                    <div class="alert alert-warning" ng-if="!chequeData">
                        <strong><h4  class="alert-center">No Records Found</h4></strong>
                    </div>

                    <div class="row "  ng-if="chequeData">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dashtext" >
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-4" >
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5"  tabindex="1" aria-label="Session">
                                    <p aria-disabled="true" class="h2color">Session </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7">

                                    <select class="form-control"  tabindex="1" aria-label="Session Value {{selectedSession.actualvalue}}"   ng-change="getCheque(selectedSession.actualvalue)" ng-model="selectedSession"   
                                    ng-options="item as item.displayvalue for item in ChequeSession track by item.actualvalue" >  
                                    ></select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 listView FixHead dataGroupsScroll pt-2" >
                                <table class="table borderless">
                                    <tr>
                                        <td></td>
                                        <td class="dashtext1" tabindex="1" aria-label="Submitted value is {{chequeData.Submitted}}">Submitted:</td>
                                        <td class="dashtext1" tabindex="1" aria-label="Acknowledge value is {{chequeData.Acknowledge}}">Acknowledge:</td>
                                        <td class="dashtext1" tabindex="1" aria-label="Rejections value is {{chequeData.Rejections}}">Rejections:</td>
                                    </tr>
                                    <tr class="h2color">
                                        <td></td>
                                        <td><h2>{{chequeData.Submitted}}</h2></td>
                                        <td><h2>{{chequeData.Acknowledge}}</h2></td>
                                        <td><h2>{{chequeData.Rejections}}</h2></td>
                                    </tr>
                                    <tr  ng-repeat="partkey in tableFields.partictionKey">
                                        <td class="cr">{{partkey.FieldName}}</td>
                                        <td>{{chequeData[partkey.FieldName].Submitted}}</td>
                                        <td>{{chequeData[partkey.FieldName].Acknowledged}}</td>
                                        <td>{{chequeData[partkey.FieldName].Rejections}}</td>
                                    </tr>


                                </table>


                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <hr  class="line">
                            <div tabindex="1"  class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <p class="dashtext1">Current Session</p>
                                <p>{{chequeData.Current_Schedule}}</p>
                            </div>
                            <div tabindex="1"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <p class="dashtext1">Session Status</p>
                                <p>{{chequeData.Schedule_status}}</p>
                            </div>
                            <div tabindex="1"  class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <p class="dashtext1">Next Session</p>
                                <p>
                                    {{chequeData.Next_Schedule}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('[data-toggle="tooltip"]').tooltip();



        var mq = window.matchMedia("(max-width: 991px)");

        if (mq.matches) {

            $('#resizeWindow').resizable({
                minHeight: 400,
                minWidth: 500
            });
        }
        else {


            $('#resizeWindow').resizable({
                minHeight: 800,
                minWidth: 830
            });
        }
        $('[data-toggle="tooltip"]').click(function(){
            $(this).trigger('mouseleave');
        })  
    </script>
<!-- BEGIN MAIN JS & CSS -->