.dataGroups{
	padding-bottom: 5px;
}
.listViewPanel{
	background: transparent;
}

.listViewPanelHeading{
	box-sizing: border-box;
	border-bottom: 2px solid #44B6AE;
}

.listViewPanel .listViewPanelHeading,.panel-collapse{
	border: 2px solid #44B6AE;
}

.outerCrcle{
	text-align: center;
    width: 50px;
    height: 25px;
    margin: 0 auto;
    background-color: #44B6AE;
    border: 5px solid gray;
    border-bottom: 0;
    border-radius: 50px 50px 0px 0px !important;
}

.innerCrcle{
	background: white;
    height: 8px;
    width: 8px;
    margin: 0 auto;
    margin-top: 20%;
    border-radius: 50% !important;
}

.flip{
	position:absolute;
	width:100%;
	height:auto;
	margin:0;
}

.hideMe{
	display:none;
}


/**/

.post {
   padding: 15px;
   position: relative;
   background-color: #fff;
   -webkit-box-shadow: 0 1px 3px rgba(137, 137, 137, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
   -moz-box-shadow: 0 1px 3px rgba(137, 137, 137, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
   box-shadow: 0 1px 3px rgba(137, 137, 137, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
}

.folded-corner {
   width: 0px;
   height: 0px;
   position: absolute;
   top: 2px;
   right: 2px;
   border-width: 0;
   border-style: solid;
   background: hsla(260,5%,60%,0.2);
   -webkit-box-shadow: 2px -2px 0px #fff, 0 1px 1px rgba(0,0,0,0.1), -1px 1px 1px rgba(0,0,0,0.1);
   -moz-box-shadow: 2px -2px 0px #fff, 0 1px 1px rgba(0,0,0,0.1), -1px 1px 1px rgba(0,0,0,0.1);
   box-shadow: 2px -2px 0px #fff, 0 1px 1px rgba(0,0,0,0.1), -1px 1px 1px rgba(0,0,0,0.1);
   -webkit-border-bottom-left-radius: 15px;
   -moz-border-radius: 0 0 0 15px;
   border-radius: 0 0 0 15px;
   border-color: #fff #fff transparent transparent;
   -webkit-transition: border-width 0.2s ease-out;
   -moz-transition: border-width 0.2s ease-out;
   -ms-transition: border-width 0.2s ease-out;
   -o-transition: border-width 0.2s ease-out;
   transition: border-width 0.2s ease-out;
}
.post:hover .folded-corner {border-width: 0 60px 60px 0;} 
.post:hover .folded-corner span {display: inline-block; position: relative; margin: 6px 35px; font-size: 20px;z-index: 1;} 
.folded-corner {background: hsla(260,5%,75%,0.5);}
.folded-corner span {display: none;z-index: -1;}


