<style>
.bootstrap-datetimepicker-widget{
	display: block;
	background: #9E9E9E;
	color:#000
}
.bootstrap-datetimepicker-widget:hover{
	background: #9E9E9E;
}
.bootstrap-datetimepicker-widget .datepicker-days{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-months{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-years{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-decades{
	display: block;
}
.bootstrap-datetimepicker-widget .datepicker-days,.datepicker-months,.datepicker-years:hover{
	background: #9E9E9E;
}
       
#keywordSearchbtn:focus,#keywordSearchbtn:active{
	outline:none;
}
#searchBox:focus,#searchBox:active{
	box-shadow: none;
}
.nonbtndisable{
	cursor: not-allowed !important;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
	pointer-events: none;
}
tr td span {
    word-break: break-all;
    display: inline-block;
}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.select2-container{
	width:90% !important;
	height:28px;
}
#Filter .select2-container{
	width:100% !important;
}
#Filter .select2-container .select2-selection--single{
	height:34px;
}
</style>
<!-- BEGIN PAGE HEADER-->
<!--<div class="breadCrumb" set-class-when-at-top="fix-to-top" ng-controller="activeController">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa {{IconName}}"></i>
			<a href="javascript:void(0);" translate>{{'Sidebar.'+ulName|nospace}}</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="javascript:void(0);" translate class="bold">{{showPageTitle}}</a>
		</li>
	</ul>
</div>-->
<div class="page-bar breadCrumb" set-class-when-at-top="fix-to-top" ng-controller="activeController">
    <div class="row">
    <div class="col-md-6 ">
    <ul class="page-breadcrumb">
        <li>
           <i class="fa fa-laptop"></i>
			<a href="javascript:void(0);" translate class="removeCursor">Sidebar.SystemMonitoring</a>
			<i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span translate class="removeCursor">Sidebar.RouteRegistry</span>
        </li>
    </ul>
    </div>
    <!--<div style="clear:both">    </div>-->
   <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

    </div>
    </div>
   
</div>
<div class="contentContainer">
<div class="pageTitle">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="title__container">
			<h2 translate>RouteRegistry.PageTitle</h2> 
			<p translate>RouteRegistry.SubTitle</p>
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin: 0;">
    <div class="countbar-title">
		<div class="col-md-3 col-sm-3 col-xs-12  ng-binding" style="padding: 0;">
			<div class="caption">
				<span class="highlight">{{(readData.length >= 0 && restResponse.totalCount >= 0) ? readData.length + ' out of '+ restResponse.totalCount : (readData.length && !restResponse.totalCount) ? readData.length : '' }}</span>{{(readData.length >= 0 && restResponse.totalCount >= 0) || (readData.length && !restResponse.totalCount) ? ' records shown' : (!readData.length && !restResponse.totalCount) ? 'Fetching Data...' : '0 out of 0'}}
			</div>
		</div>

		<div class="col-md-9 col-sm-9 col-xs-12">
			<div class="btn-group" style="float:right;">
				<button style="border: 1px solid #fff;box-sizing: border-box;margin-left:5px; float: left" ng-click="loadData()" class="btn-trans" tooltip="{{'Refresh'}}"><i class="fa fa-refresh"></i></button>
				<div id="Filter" class="dropdown customDropdown" style="float: left;">
				<button style="border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="{{'Filter'}}">
					<i class="fa fa-filter"></i>
				</button>

				<ul class="dropdown-menu dropdown-menu-default pull-right xyz" style="min-width: 600px;padding:10px 0px;">
					<form ng-submit="searchFilter(filterParams)" ng-init="parsed = filterParams.SearchSelect">
						<li id="Filter" class="dropdown-header" style="padding: 8px 14px 2px 14px;margin: 0;">APPLY FILTER:</li>
						<div id="Filter" class="row input-group parent" style="padding: 8px 0px 2px 14px;margin: 0;display: inline-block;width: 50%;float: left;">
							<select id="SearchSelect" name="SearchSelect" class="form-control" ng-model="filterParams.SearchSelect" style="cursor:pointer">
								<option value="">Select</option>
								<option ng-repeat="(key, value) in fields" value="{{key}}" ng-if="value.type == 'string'">{{value.label}}</option>
							</select>
						</div>
						<div id="Filter" class="row input-group" style="padding: 8px 14px 2px 0px;margin: 0;display: inline-block;width: 50%;">
							<span class="cstmDrop" style="display:inline-block;color:#000;cursor: pointer;position: relative;box-sizing: border-box; width: 90%;">
								<input name="keywordSearch" style="color: #000;" type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="filterParams.keywordSearch" placeholder="{{filterParams.SearchSelect ? 'Search '+ (filterParams.SearchSelect | camelCaseFormatter): 'Keyword Search'}}" ng-required="showCustom || filterParams.keywordSearch || filterParams.Status.length ? false : true">
							</span>						
							<span class="input-group-addon" style="cursor:pointer;float: left;width: 10%;height: 100%;padding: 9px;" ng-click="searchFilter(filterParams)" ng-class="filterParams.keywordSearch ? '' : 'nonbtndisable'"><i class="fa fa-search"></i></span>
						</div>
						<div ng-repeat="y in fields" ng-if="status = (y.label === 'Status') ? y.value : ''">
							<li id="Filter" class="dropdown-header">FILTER BY {{y.label | uppercase }}</li>
							<div id="Filter" style="padding: 8px 10px 2px 10px;">
								<button type="button" class="filterBystatus" ng-repeat="x in status" ng-init="getCountbyStatus(x)" ng-click="setStatusvalue(x.displayvalue,filterParams)"  id="{{x.displayvalue}}" ng-class ="x.TotalCount == 0 ? 'nonbtndisable' : ''">
									<div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
									<div style="clear:both;" ng-if="$index % 2 == 0"></div>
									<div style="padding: 0px 5px;float: left;">
										<span class="fa-wrapper">
										<i class="fa fa-circle" ng-style="{'color':(x.displayvalue | chooseStatus)}"></i></span>
										<span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue  +' ('+x.TotalCount+') '}}</span>
									</div>
									<div style="clear:both;"></div>
								</button>
								<div style="clear:both;"></div>
							</div>
						</div>
						<div style="clear:both"></div>
						<li id="Filter" class="dropdown-header">FILTER BY DATE</li>
						<div id="Filter" style="padding: 8px 10px 2px 10px;">
							<button type="button" class="filterBydate" ng-repeat="x in filterBydate" ng-click="setEffectivedate(x,filterParams)" id="{{x.displayvalue|removeSpace}}">
								<div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
								<div style="clear:both;" ng-if="$index % 2 == 0"></div>
								<div style="padding: 0px 5px;float: left;">
									<span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue}}</span>
									<i class="fa fa-calendar"></i>
								</div>

								<!-- <div style="clear:both;"></div> -->
							</button>
							<div style="clear:both;"></div>
							<div id="customPicker" class="row fade-in-up" ng-show="showCustom" style="padding: 10px 0px 0px 0px;">
							
								<div class="col-md-12">
									<div style="float: left;padding: 0px 5px;">
									<!-- {{filterParams}} -->
										<label>
											<input type="radio" ng-model="filterParams.DateAdded.Date" value="DateAdded">
											Date Added
										</label>
										<label>
											<input type="radio" ng-model="filterParams.DateAdded.Date" value="LastUpdated">
											Last Updated
										</label>
									</div>
								</div>
								<div class="input-group date" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months" style="width: 100%">
									<div class="input-group col-md-12" style="padding: 0px 0px 0px 20px; width: 46%; float: left;">
										<input type="text" class="form-control DatePicker" ng-model="filterParams.startDate" id="startDate" name="startDate" style="width:100%" placeholder="From" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
										<span class="input-group-addon" ng-click="focusInfn('startDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
									</div>
									<span class="input-group-addon" style="border:none; background-color:transparent; width: 6%; float: left; padding: 10px;">To</span>
									<div class="input-group col-md-12" style="width: 46%">
										<input type="text" class="form-control DatePicker" ng-model="filterParams.endDate" id="endDate" style="width:100%" placeholder="To" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
										<span class="input-group-addon" ng-click="focusInfn('endDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
									</div>
								</div>
							</div>
						</div>
						<div style="clear:both"></div>
						<div class="row input-group pull-right" style="padding: 8px 14px 2px 14px;margin: 0;">
							<button type="Button" class="btn-trans btnStyle" tooltip="Cancel" style="margin-right: 10px;" ng-click="clearFilter()"><i class="fa fa-times"></i></button>
							<button type="Submit" class="btn-trans btnStyle" tooltip="Search" style="cursor: pointer;" ng-class="(filterParams.DateAdded.displayvalue == 'Custom' ? filterParams.startDate && filterParams.endDate && showCustom : showCustom)|| filterParams.keywordSearch || filterParams.Status.length ? 'cmmonBtnColors' : 'disabledBtnColor'">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</form>
				</ul>
			</div>
			<div class="dwnBtn" style="float:left;margin-left:5px;">
				
					<!-- <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" ng-click="setHeight($event)" aria-expanded="true"tooltip="{{'Export'}}"> <i class="fa fa-download" aria-hidden="true"></i></button> -->

					<button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="{{(readData.length)?'dropdown':''}}" tooltip="{{(readData.length)?'Export':'No records to export'}}" ng-style="{'opacity':(readData.length)?'1':'0.5'}"> <i class="fa fa-download" aria-hidden="true"></i></button>


					<ul class="download-window dropdown-menu dropdown-menu-excel pull-right" style="z-index: 10000;">
						<li>							
							<span class="hovercls"><input type="radio" name="excelVal" value="Current" checked class="radiobtns"> Current Screen </span>
  							<!--<span  ng-class="(readData.length > 19)?'':'disabledBtnColor'">All<br><input type="radio" name="excelVal" value="All"></span>-->
  							<span class="hovercls"><input type="radio" name="excelVal" value="All" class="radiobtns"> All Matching Filter</span>
						</li>
						<!--<li tooltip="{{'PDF'}}" style="float:left" class="disabledBtnColor"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></li>-->
						<li tooltip="{{'Excel'}}" class="excelprint" style="margin-left:40px;" ng-click="exportAsExcel($event)"><i class="fa fa-file-excel-o fa-fs14" aria-hidden="true"></i>
						</li>
						<li data-toggle="tooltip" data-placement="top" title="{{'Print'}}" class="excelprint" ng-click="printFn()"><i class="fa fa-print fa-fs14" aria-hidden="true"></i>
						</li>
						
						
					</ul>
				</div>
				<!-- <button style="border: 1px solid #fff;box-sizing: border-box;border-right:0px;margin-left:5px" class="btn-trans" id="btn_1" ng-class="changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="List View"><i class="fa fa-list"></i></button> -->
				<!-- <button style="border: 1px solid #fff;box-sizing: border-box;border-left:0px" class="btn-trans" id="btn_2" ng-class="!changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="Grid View"><i class="fa fa-table"></i></button> -->
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>



<div id="statusBox" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger','alert alert-info':alert.type == 'info'}" style="word-break: break-all; max-height: 100px; overflow: auto;">
	<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
	{{alert.msg}}
</div>

 <div class="modal fade" id="changesLostModal" role="dialog" tabindex="-1">
            <div class="modal-dialog">


                <div class="modal-content" style="border:2px solid #243250a6;">
                    <div class="modal-body">
                    <h4>Current changes will be lost. Do you wish to continue?</h4>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btnStyle" ng-click="gotoClickedPage();">Yes</button>
                    <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="cancelChanges()">No</button>
                    </div>
                </div>

            </div>
        </div>


<div class="alert alert-warning" ng-show="!readData.length">
	<strong><h4  style="margin:0;text-align:center;">No Records Found</h4></strong>
</div>

<div ng-show="readData.length" style="position:relative;padding: 0px 15px; border-top: none;" class="row finddiv">
	<div class="row" style="margin: 0px 0px 10px 0px;border:1px solid #ccc; background: #fff; padding: 15px; max-height:200px; overflow-y:auto">
		<form role="form" class="simple-form" name="routeRegistry" ng-submit="initiateReload(registryData); submitRegistry = false" id="routeRegistryForm">
			<div ng-repeat="field in routeRegistryVal.field" >	
				<div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
				<div class="form-group col-lg-6 col-md-12 col-sm-12" >								
					<label class="control-label col-lg-3 col-md-3 col-sm-4" style='font-weight:bold;'>{{field.label}}<span ng-hide="{{field.notnull}}" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</span></label>
					<div class="col-lg-8 col-md-7 col-sm-6" ng-if="(field.type == 'String')&&(field.renderer.type == 'Choice')">
						<select name="{{field.name}}" class="form-control appendSelect2" id="{{field.name}}" ng-model="registryData[field.name]" ng-required="!(field.notnull)">
							<option ng-if="field.renderer.Choice.choiceOptions[field.renderer.Choice.choiceOptions.length-1].displayvalue !== 'MULTISELECT'" value="">Select</option>
							<option ng-if="field.ChoiceOptions" ng-repeat="x in field.ChoiceOptions" value="{{x.actualvalue}}">{{x.displayvalue}}</option>
						</select>
					</div>
					<span class="help-inline col-lg-1 col-md-2 col-sm-2" style="display:block;margin:0;color:#EF1C1C !important" ng-show="submitRegistry && (routeRegistry[field.name].$error.required || (field.name == 'RouteId' && registryData[field.name] == 0)) && !RouteIdreq" >Required</span>
					<span class="help-inline col-lg-1 col-md-2 col-sm-2" style="display:block;margin:0;color:#EF1C1C !important" ng-show="field.name == 'RouteId' && RouteIdreq" >Required</span>
					<div style="clear:both"></div>					
				</div>
			</div>
			<div class="col-xs-12" style="padding: 0px 30px;">
				<button type="submit" class="btn btnStyle clr" ng-click="submitRegistry=true" tooltip="Reload"><span translate> BtnGroup.Reload</span></button>
				<button type="reset" class="btn btnStyle clr" ng-click="submitRegistry=false;clearReload()" tooltip="Cancel" ><span translate> BtnGroup.Cancel</span></button>
			</div>
		</form>
	</div>	
	<div class="listView dataGroupsScroll FixHead col-md-12" style="overflow-x: auto !important;">
	<table class="table table-bordered" >
		<thead>		
			<tr style="border:none">
				<th ng-repeat="(key,value) in fields" ng-style="(key != 'RouteInfo' && key != 'Reloadable') ? {'text-align':'center','cursor': 'pointer'}:{'text-align':'center','cursor': 'default'}" ng-click="(key != 'RouteInfo' && key != 'Reloadable') ? gotoSorting(key) : ''">{{value.label}}<span id="{{key}}_Icon" class=""></span></th>
			</tr>
		</thead>
		<tbody>
			<!-- <tr ng-repeat="data in readData" ng-class="{'oddClas': ($index%2)== 1,'alert-danger':data.Status == 'ERROR'}" style="cursor:pointer" > -->
			<tr ng-repeat="data in readData" ng-class="{'alert-danger':data.Status == 'ERROR'}" style="cursor:pointer; background-color: #F9F9F9 !important;" >
				<td>
					{{data.Processor}}
				</td>
				<td>
					{{data.InstanceID}}
				</td>
				<td>
					{{data.RouteID}}
				</td>
				<td>
					<pre ng-class="{'alert-danger':data.Status == 'ERROR'}">{{(data.RouteInfo|hex2a)}}</pre>
				</td>
				<td>
					{{data.DateAdded | datetime}}
				</td>
				<td style="text-align:center" style="height:38px" ng-style="{'color':(data.Status | chooseStatus)}">
				<i style="font-size: 20px;line-height:20px" class="fa fa-circle" tooltip="{{data['Status']}}" tooltip-placement="bottom"></i>
				</td>				
				<td>
					{{data.LastUpdated | datetime}}
				</td>
				<td>
					<button ng-click="gotoReload(data)" ng-if="data.Reloadable" class="btn btnStyle">Reload</button>
				</td>
			</tr>
		</tbody>
	</table>
 </div>
</div>
</div>
<script>
$(document).ready(function() {
    $('body').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    });
	window.setTimeout(function(){
	$('[data-toggle="tooltip"]').click(function(){
            $(this).trigger('mouseleave');
        })   
	},100)
	setTimeout(function () {
		if ($(window).height() >= 760) {
			$('.listView').css({
				'max-height': (($(window).height() * 65) / 100)-100 + 'px'
			})
		} else {
			$('.listView').css({
				'max-height': (($(window).height() * 52) / 100)-77 + 'px'
			})
		}
	}, 100)
	
	var isIE = /*@cc_on!@*/false || !!document.documentMode;
	//console.log('isIE',isIE)
	if(isIE){
		var _placeholder;
		$('input[name=keywordSearch]'). mouseenter(function(e){	
			_placeholder = $(this).attr('placeholder');	
			$(this).attr('placeholder', '' ) 
		}).mouseleave(function(){
			$(this).attr('placeholder', _placeholder) 
		})
	}
	$('.input-group-addon').on('click focus', function (e) {
		$(this).prev().focus().click()
	});
});
</script>
