<style> 
    .bootstrap-datetimepicker-widget{
        display: block;
        background: #9E9E9E;
        color:#000
    }
    .bootstrap-datetimepicker-widget:hover{
        background: #9E9E9E;
    }
    .bootstrap-datetimepicker-widget .datepicker-days{
        display: block;
    }
	.bootstrap-datetimepicker-widget .datepicker-months{
		display: block;
	}
	.bootstrap-datetimepicker-widget .datepicker-years{
		display: block;
	}
	.bootstrap-datetimepicker-widget .datepicker-decades{
		display: block;
	}
    .bootstrap-datetimepicker-widget .datepicker-days,.datepicker-months,.datepicker-years:hover{
        background: #9E9E9E;
    }
        
    #keywordSearchbtn:focus,#keywordSearchbtn:active{
        outline:none;
    }
    #searchBox:focus,#searchBox:active{
        box-shadow: none;
    }
    .nonbtndisable{
        cursor: not-allowed !important;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
        pointer-events: none;
    }
    .nonbtndisable{
	cursor: not-allowed !important;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
	pointer-events: none;
}
.select2-container{
	width:90% !important;
	height:28px;
}
#Filter .select2-container{
	width:100% !important;
}
#Filter .select2-container .select2-selection--single{
	height:34px;
}
</style>
<!-- BEGIN PAGE HEADER-->
<div class="breadCrumb" ng-controller="activeController">
     <div class="row">
    <div class="col-md-6 ">
    <ul class="page-breadcrumb">
        <!--<li>
            <i class="fa fa-home"></i>
            <a href="javascript:void(0)" translate ng-click="goToHome()">Sidebar.Home</a>
            <i class="fa fa-angle-right"></i>
        </li>-->
        <li>
            <i class="fa fa-user-secret"></i>
            <a href="javascript:void(0)" translate class="removeCursor">Sidebar.Security</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li translate>
            Sidebar.Approvals
        </li>
    </ul>
     </div>
    <!--<div style="clear:both">    </div>-->
   <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

    </div>
    </div>
</div>
<div class="contentContainer">
<div class="pageTitle alertWidthonResize">
    <div class="row" style="margin:0">
        <div class="col-sm-12">
            <div class="title__container">
            <h2 translate>Approvals.PageTitle</h2> 
              <p translate> Approvals.SubTitle</p>
            </div>
        </div>
    </div>
</div>


<div style="padding: 5px;">
<div class="row" style="margin: 0;">
    <div class="countbar-title">
    <div class="col-md-3 col-sm-3 col-xs-5  ng-binding" style="padding: 0;">
        <div class="caption">
            <!-- <span class="highlight">{{restData.length}} out of {{totalData}}</span> records shown -->

            <!-- <span ng-if="restData.length && totalData"><span class="highlight">{{(totalData && restData.length)? restData.length + ' out of '+totalData : (restData.length)?restData.length:'' }} </span> <span >records shown</span></span>
            
            
            <span ng-if="!restData.length || !totalData"> <span  class="highlight">0 </span>  <span >records shown</span></span> -->  
		

		<span class="highlight">{{(restVal.length >= 0 && totalCount >= 0) ? restData.length + ' out of '+ totalCount : (restVal.length && !totalCount) ? restData.length-1 : '' }}</span>{{(restVal.length >= 0 && totalCount >= 0) || (restVal.length && !totalCount) ? ' records shown' : (!restVal.length && !totalCount) ? 'Fetching Data...' : '0 out of 0'}}
		

            </div>
    </div>



<!--<div class="row CountBar ng-scope" style="margin:0px 0px 20px 0px;padding: 5px;box-sizing: border-box;background-color: #44b6ae;color: white;">
    <div class="col-md-6 col-sm-8 col-xs-12 ng-binding" style="padding: 5px; font-size: 17px; padding-left: 25px;">
        {{restVal.length}} records shown
    </div>-->
    
<div class="col-md-9 col-sm-9 col-xs-7">
        <button style="float:right;border: 1px solid #fff;box-sizing: border-box;" class="btn-trans" id="btn_2" ng-class="!changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="Grid View"><i class="fa fa-table"></i></button>
    	<button style="float:right;border: 1px solid #fff;box-sizing: border-box;" class="btn-trans" id="btn_1" ng-class="changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" tooltip="List View"><i class="fa fa-list"></i></button>
       
        <!-- <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left:10px;">
            <button class="btn-trans" ng-click="printFn()" tooltip="Print"><i class="fa fa-print"></i></button>
        </div>

        <div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left:10px;">
            <button class="btn-trans"  ng-click="exportToExcel($event)" tooltip="Export to Excel"><i class="fa fa-file-excel-o"></i></button>
        </div> -->

        <div class="dwnBtn" style="float:right;margin-left:5px;">
               
            <!-- <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" ng-click="setHeight($event)" aria-expanded="true"tooltip="{{'Export'}}"> <i class="fa fa-download" aria-hidden="true"></i></button>	 -->

            <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="{{(restData.length)?'dropdown':''}}" tooltip="{{(restData.length)?'Export':'No records to export'}}" ng-style="{'opacity':(restData.length)?'1':'0.5'}"> <i class="fa fa-download" aria-hidden="true"></i></button> 


                <ul class="download-window dropdown-menu dropdown-menu-excel pull-right" style="z-index: 10000;">
                    <li>							
                        <span><input type="radio" name="excelVal" value="Current" checked class="radiobtns"> Current Screen </span>
                          
                          <span><input type="radio" name="excelVal" value="All" class="radiobtns"> All Matching Filter</span>
                    </li>
                    
                    <li tooltip="{{'Excel'}}" class="excelprint" style="margin-left:40px;" ng-click="exportAsExcel($event)"><i class="fa fa-file-excel-o fa-fs14" aria-hidden="true"></i>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="{{'Print'}}" class="excelprint" ng-click="printFn()"><i class="fa fa-print fa-fs14" aria-hidden="true"></i>
                    </li>
                    
                    
                </ul>
            </div>
    
            <div id="Filter" class="dropdown customDropdown" style="float: right;">
            <button style="border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="{{'Filter'}}">
                <i class="fa fa-filter"></i>
            </button>

            <ul class="dropdown-menu dropdown-menu-default pull-right xyz" style="min-width: 600px;padding:10px 0px;">
                <form ng-submit="searchFilter(filterParams)" ng-init="parsed = filterParams.SearchSelect">
                    <li id="Filter" class="dropdown-header" style="padding: 8px 14px 2px 14px;margin: 0;">APPLY FILTER:</li>
                     <div id="Filter" class="row input-group parent" style="padding: 8px 0px 2px 14px;margin: 0;display: inline-block;width: 50%;float: left;">
                        <select id="SearchSelect" name="SearchSelect" class="form-control appendSelect2" ng-model="filterParams.SearchSelect" style="cursor:pointer" ng-change="parsed = (filterParams.SearchSelect | jsonparse); filterParams.keywordSearch = ''">
                            <option value="">Select</option>
                            <option ng-repeat="x in fields" value="{{x}}" ng-if="x.type != 'DateOnly' && x.name != 'Status' && x.name != 'ApprovalCount' ">{{x.label}}</option>
                        </select>
                    </div> 
                    <div id="Filter" class="row input-group" style="padding: 8px 14px 2px 0px;margin: 0;display: inline-block;width: 50%;" >
                        <div ng-if="parsed.type == 'string' || !parsed" >
                     <span class="cstmDrop" style="display:inline-block;color:#000;cursor: pointer;position: relative;box-sizing: border-box; width: 90%;" ng-init="parsedSearchSelect = (filterParams.SearchSelect ? (filterParams.SearchSelect | jsonparse) : false)">
                            <input name="keywordSearch" style="color: #000;" type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="filterParams.keywordSearch" placeholder="{{parsed ? 'Search '+ (parsed.label): 'Keyword Search'}}" ng-required="showCustom || filterParams.keywordSearch || filterParams.Status.length ? false : true">
                        </span>
                        <span class="input-group-addon" style="cursor:pointer;float: left;width: 10%;height: 100%;padding: 9px;" ng-click="searchFilter(filterParams)" ng-class="filterParams.keywordSearch ? '' : 'nonbtndisable'"><i class="fa fa-search"></i></span>
                        </div>
                        <select ng-if="parsed.type == 'select'" name="keywordSearch" class="form-control" ng-model="filterParams.keywordSearch">
                            <option value="">Select</option>
                            <option ng-repeat="k in parsed.value" value="{{k.actualvalue}}">{{k.displayvalue}}</option>
                        </select>
                    </div>
                    {{status}}
                    <div ng-repeat="y in fields" ng-if="status = (y.name === 'Status') ? y.value : ''">
                        <li id="Filter" class="dropdown-header">FILTER BY {{y.label | uppercase }}</li>
                        <div id="Filter" style="padding: 8px 10px 2px 10px;">
                            
                            <button type="button" class="filterBystatus" ng-repeat="x in Status" ng-click="setStatusvalue(x.displayvalue,filterParams)" id="{{x.displayvalue}}" ng-init="getCountbyStatus(x)" ng-class ="x.TotalCount ? '' : 'nonbtndisable'">

                                 <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                                <div style="clear:both;" ng-if="$index % 2 == 0"></div>
                                <div style="padding: 0px 5px;float: left;">
                                    <span class="fa-wrapper">
                                        <i class="fa fa-circle" ng-style="{'color':(x.displayvalue | chooseStatus)}"></i></span>
                                    <span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue  +' ('+x.TotalCount+') '}}</span>
                                    
                                </div>
                                <div style="clear:both;"></div>
                            </button>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <li id="Filter" class="dropdown-header">FILTER BY PROCESSED DATE</li>
                    <div id="Filter" style="padding: 8px 10px 2px 10px;">
                        <button type="button" class="filterBydate" ng-repeat="x in filterBydate" ng-click="setEffectivedate(x,filterParams)" id="{{x.displayvalue|removeSpace}}">
                            <div class="clearfix" style="background-color: transparent;" ng-if="$index % 2 == 0"></div>
                            <div style="clear:both;" ng-if="$index % 2 == 0"></div>
                            <div style="padding: 0px 5px;float: left;">
                                <span style="display: inline-block;font-size: 10px;width: auto;text-align: left;line-height: 10px;padding: 2px;"> {{x.displayvalue}}</span>
                                <i class="fa fa-calendar"></i>
                            </div>
                        </button>
                        <div style="clear:both;"></div>
                        <div id="customPicker" class="row fade-in-up" ng-show="showCustom" style="padding: 10px 0px 0px 0px;">
                            <div class="input-group date" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months" style="width: 100%">
                                <div class="input-group col-md-12" style="padding: 0px 0px 0px 20px; width: 46%; float: left;">
                                    <input type="text" class="form-control DatePicker" ng-model="filterParams.startDate" id="startDate" name="startDate" style="width:100%" placeholder="From" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
                                    <span class="input-group-addon" ng-click="focusInfn('startDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <span class="input-group-addon" style="border:none; background-color:transparent; width: 6%; float: left; padding: 10px;">To</span>
                                <div class="input-group col-md-12" style="width: 46%">
                                    <input type="text" class="form-control DatePicker" ng-model="filterParams.endDate" id="endDate" style="width:100%" placeholder="To" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
                                    <span class="input-group-addon" ng-click="focusInfn('endDate')" style="border: 1px solid #eee"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="row input-group pull-right" style="padding: 8px 14px 2px 14px;margin: 0;">
                        <button type="Button" class="btn-trans btnStyle" tooltip="Cancel" style="margin-right: 10px;" ng-click="clearFilter()"><i class="fa fa-times"></i></button>
                        <button type="Submit" class="btn-trans btnStyle" tooltip="Search" style="cursor: pointer;" ng-class="((filterParams.EffectiveDate.displayvalue == 'Custom' ? filterParams.startDate && filterParams.endDate && showCustom : showCustom)|| filterParams.keywordSearch || filterParams.Status.length) && ( filterParams.SearchSelect ? filterParams.keywordSearch ? true : false : true ) ? 'cmmonBtnColors' : 'disabledBtnColor'">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </ul>
            </div>
            <div id = "sortBy" class="dropdown customDropdown" style="float: right;" ng-show="changeViewFlag">
                    <button style="border: 1px solid #fff;box-sizing: border-box;margin-left: 5px;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" tooltip="{{'Sort'}}" ng-click="setHeight($event)">
                        <i class="fa fa-sort-amount-desc fa-fs14"></i>
                    </button>
                    
                    <ul class="dropdown-menu dropdown-menu-default pull-right" style="min-width: 300px;padding:10px 0px;">
                        <form ng-submit="searchFilter(filterParams)">
                        <li id="sortBy" class="dropdown-header">SORT BY <i> (Click to Sort) </i> <i style="float: right; cursor: pointer; color: #9e9e9e; font-weight: bolder;" ng-click="clearSort('#sort')"><u>Reset All</u></i></li>
                        <div id="sort" class="dataGroups" style="padding: 0px 15px;margin:0;width:100%;float: left;max-height: 300px;overflow: auto;">
                            <div ng-repeat="x in sortMenu" style="color:#fff;display: table;width: 100%;margin-bottom: 2px;">
                                <div id="sort_{{$index}}" style="margin-bottom: 2px;display: table-row;width: 100%;">
                                <span style="display: table-cell;background: #9e9e9e;padding: 5px 8px;border-right: 1px solid #fff;width: 90%;">{{x.label}}</span>
                                <a tooltip-placement="top" style="display: table-cell;background: #9e9e9e;padding: 6px;text-align: center;vertical-align: middle;width: 10%;" ng-click="gotoSorting(x)"><i id="{{x.FieldName}}_icon" class='fa fa-minus fa-sm' style="color:#2b3643 !important"></i></a>
                                </div>	
                            </div>
                        </div>
                        </form>
                    </ul>				
                </div>

                
		
		<div class="btn-group" style="float:right;border: 1px solid #fff;box-sizing: border-box;margin-left:10px;">
            <button class="btn-trans"  ng-click="initData()" tooltip="Refresh"><i class="fa fa-refresh"></i></button>
        </div>
	
		
    </div>
    <div class="clearfix"></div>
</div>
</div>
<div class ="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" >
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alert.msg}}
</div>

<div class="alert alert-warning" ng-if="!restData.length">
    <strong><h4  style="margin:0;text-align:center;"><i class="fa fa-warning"></i> No Records Found</h4></strong>
</div>
  <!--<div class="row">-->
<div class="listView FixHead dataGroupsScroll" style="position:relative;margin:0;">

      
    
    <!--<div id="exportTable" class="table-responsive col-md-12">-->
        <table class="table table-bordered smallTable floatThead stickyheader" id="sample_2" ng-show="!changeViewFlag && restData.length">
            <thead>
            <tr>
                <th class="cursorPointer" ng-repeat="val in sortMenu" ng-if="val.visible" ng-click="gotoSorting(val,$index,$event)">
                        {{val.label}}
                        <span id="{{val.FieldName}}_Icon" class=""></span>
                </th>
                <!-- <th>
                    Approval ID
                </th>
                <th>
                    Changed by
                </th>
                <th>
                    Table Name
                </th>

                <th>
                    State
                </th>
                <th>
                    Processed On
                </th>
                <th>
                    Number of Levels Approved
                </th>
                <th>
                    Business Key
                </th> -->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in restData" ng-class="{oddClas:($index%2)== 1}" ng-click="viewData(data)" class="cursorPointer">
                <td ng-repeat="val in sortMenu" ng-if="val.visible">
                        <span ng-if="val.FieldName == 'ProcessedOn'">{{data[val.FieldName] | dateFormat}}</span>
                        <span ng-if="val.FieldName != 'ProcessedOn'">{{data[val.FieldName]}}</span>
                 </td>
                <!-- <td>
                    {{data.ApprovalID}}
                </td>
                <td>
                   {{data.UserID}}
                </td>
                <td>
                    {{data.TableName}}
                </td>
                <td>
                    {{data.State}}
                </td>
                <td>
                    {{data.ProcessedOn}}
                </td>
                <td>
                    {{data.NumberOfLevelsApproved}}
                </td>
                <td>
                    {{data.BusinessKey}}
                </td> -->
            </tr>
        </tbody>
        </table>
    <!--</div>-->
</div>


    <div ng-show="changeViewFlag" class="listView row">
        
        <div class="panel-group" id="accordion">
           
            
                <div ng-repeat="data in restData" ng-init="colIndexx = $index">
                    <div class="clearfix" style="background-color: transparent;" ng-if="$index % 3 == 0"> </div>
                    <!--<div style="clear:both" ng-if="$index%3 == 0"></div>-->

                    <div class="panel col-md-4 paneltrans">

                        <div class="panel-heading listViewPanelHeading" id="listViewPanelHeading_{{$index}}" style="padding-bottom:0px;">
                          <div class="row dataGroups" id="dataGroup_{{$index}}" ng-click="viewData(data)" style="cursor:pointer;min-height:170px;max-height:170px;">

                         <div class="col-md-12" ng-repeat="val in sortMenu" ng-if="val.visible"
                            style="padding:5px 15px">
                                <div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;" >
                                    {{val.label}} :
                                </div>
                                <div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;" >
                                    <span ng-if="val.FieldName != 'ProcessedOn'">{{data[val.FieldName]}}</span>
                                    <span ng-if="val.FieldName == 'ProcessedOn'">{{data[val.FieldName] | dateFormat}}</span>
                                </div>
                        </div>
                        <div class="clearfix"></div>

                                <!-- <div class="col-md-12" style="padding:5px 15px">
                                    <div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;">
                                        Approval ID :</div>
                                    <div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;">{{data.ApprovalID}}</div>
                                </div><div class="col-md-12" style="padding:5px 15px">
                                <div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;">
                                    Changed By :</div>
                                <div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;">{{data.UserID}}</div>
                            </div><div class="col-md-12" style="padding:5px 15px">
                                <div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;">
                                    Table Name :</div>
                                <div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;">{{data.TableName}}</div>
                            </div><div class="col-md-12" style="padding:5px 15px">
                                <div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;">
                                    State :</div>
                                <div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;">{{data.State}}</div>
                            </div><div class="col-md-12" style="padding:5px 15px">
                                <div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;">
                                    Processed On :</div>
                                <div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;" >{{data.ProcessedOn  | dateFormat}}</div>
                            </div>
							<div class="col-md-12" style="padding:5px 15px">
                                <div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;">
                                    Number of Levels Approved :</div>
                                <div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;" >{{data.NumberOfLevelsApproved}}</div>
                            </div>
							<div class="col-md-12" style="padding:5px 15px">
                                <div class="bold" style="margin:0;padding: 0px 2px 0px 0px;word-wrap: break-word;float: left;">
                                    Business Key :</div>
                                <div class="listViewValue" style="margin:0;padding: 0px 0px 0px 2px;word-wrap: break-word;float: left;" >{{data.BusinessKey}}</div>
                            </div> -->
                           

                            </div>
                        </div>
                    </div>
                   
                </div>
            <div class="clearfix"></div>
            </div>
        </div>
             <div class="clearfix"></div>
       
    <!--</div>-->
</div>
</div>
</div>

<script>
$(document).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();

	$('.input-group-addon').on('click focus', function(e){
		 $(this).prev().focus().click()
	})
	var isIE = /*@cc_on!@*/false || !!document.documentMode;
	//console.log('isIE',isIE)
	if(isIE){
		var _placeholder;
		$('input[name=keywordSearch]'). mouseenter(function(e){	
			_placeholder = $(this).attr('placeholder');	
			$(this).attr('placeholder', '' ) 
		}).mouseleave(function(){
			$(this).attr('placeholder', _placeholder) 
		})
	}
});  
</script>